[2018-08-23 16:30] bdwain commented on #2732
Either way, this is a bug. The entire point of browserstack is to run on different browsers. There's no need for it if you're only going to run on the latest version of everything because that's what testcafe does by default.

I can't control what browsers my users visit my site in. It's unreasonable to expect that mobile users will always have the latest versions of their browsers. Some tablets d

[2018-08-23 23:52] efleming969 commented on #2201
The suggested code won't work because NodeList does not support "map"

[code]

[2018-08-24 07:43] #2735 closed

[2018-08-24 08:36] miherlosev commented on #2711
Fixed in https://github.com/DevExpress/testcafe/pull/2743

[2018-08-24 08:36] #2711 closed

[2018-08-24 08:37] miherlosev commented on #2717
Fixed in https://github.com/DevExpress/testcafe/pull/2743

[2018-08-24 08:37] #2717 closed

[2018-08-24 08:37] miherlosev commented on #2699
Fixed in https://github.com/DevExpress/testcafe/pull/2743

[2018-08-24 08:37] #2699 closed

[2018-08-24 08:37] miherlosev commented on #2707
Fixed in https://github.com/DevExpress/testcafe/pull/2743

[2018-08-24 08:37] #2707 closed

[2018-08-24 08:41] #2522 closed

[2018-08-24 09:29] #2712 closed

[2018-08-24 14:25] rafaelaazevedo opened #2773 "Testcafe docker container stuck when running in a docker network"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
test cafe is stuck and not running on Jenkins

### What is the expected behavior?
testcafe should run and finish the tests on Jenkins

### How would you reproduce the current behavior (if this is a bug)?
I create a docker container from a docker image that pulls the testcafe/testcafe docker image from docke

[2018-08-24 14:59] Lwdthe1 commented on #1188
Hmm, I'm running into this issue today. My tests work as expected in the chrome browser, but it fails with:

[code]

[2018-08-24 15:02] Lwdthe1 commented on #1188
^ I didn't mean to unassign someone. Not sure how that happened.

[2018-08-24 15:09] miherlosev commented on #934
Yes, TestCafe supports IE11 ([Officially supported browsers](https://devexpress.github.io/testcafe/documentation/using-testcafe/common-concepts/browsers/browser-support.html#officially-supported-browsers))

[2018-08-24 15:15] MichelleGuoFRB commented on #934
Thank you @miherlosev!!

I have another question, can the test take screenshot of a webpage?

[2018-08-24 15:17] miherlosev commented on #934
Yes, see [Take screenshot](https://devexpress.github.io/testcafe/documentation/test-api/actions/take-screenshot.html) documentation topic.

[2018-08-24 15:28] MichelleGuoFRB commented on #934
Thanks a lot @miherlosev , some more questions;

[2018-08-24 19:16] ghost opened #2774 "Waiting for 172.31.109.58"
### Are you requesting a feature or reporting a bug?
This behavior was encountered when I tried test.js (my first test from TestCafe page). I am sitting inside a firewall, so could be some configuration specification is needed. But I don't know.

### What is the current behavior?
I have replaced the URL with an URL inside the firewall and still the same behavior.
Chrome browser was launch but it i

[2018-08-25 16:17] Lwdthe1 commented on #1188
I found the issue using `t.debug()`. It was a problem with a library my site was loading.

[2018-08-25 16:26] Lwdthe1 commented on #2128
I have the same issue as @ivanzamoraarias . All works fine in `chrome` and `chrome:headless` locally, but fails immediately on CI. The test I'm running is to count the number of visible elements by a selector. It returns the right number locally, but it returns 0 on Heroku CI.

[2018-08-25 16:35] Lwdthe1 commented on #2128
I have the same issue as @ivanzamoraarias . All works fine in `chrome` and `chrome:headless` locally, but fails immediately on CI. The test I'm running is to count the number of visible elements by a selector. It returns the right number locally, but it returns 0 on Heroku CI.

[code]

[code]

[code]

[2018-08-25 16:50] Lwdthe1 commented on #2128
Hmmm, after looking closer, it looks like the test wasn't waiting for angular to render the view that I'm trying to count

[code]

[2018-08-25 17:46] davidcunha commented on #2477
Hello all,

I was about to create an issue about this situation too, but glad to see that it's on "Featured Proposals" 👏At this moment I'm not able to test a lot of features because I simply cannot get different responses from the same request, e.g, listing addresses -> deleting an address -> listing addresses to validate the diff.

[2018-08-27 06:30] Aniku2009 commented on #2758
Thank you Andrey for support.
Unfortunately, we could not solve the issue and applied workaround to disable authentication on server.
Good luck.

[2018-08-27 06:30] #2758 closed

[2018-08-27 08:04] miherlosev commented on #2477
Hi @davidcunha

Could you please clarify your scenario in more detail?

[2018-08-27 08:10] miherlosev commented on #2128
It's difficult to understand the cause of the problem without an example to reproduce.
Could you please provide a full example to reproduce (site + tests)?

[2018-08-27 09:09] annemarie35 commented on #2516
Thank you @MarinaRukavitsyna

[2018-08-27 10:15] DavidJRobertson commented on #1471
I have run into this today while trying to use testcafe to test an application which heavily uses PDF export functionality. I'm not expecting to be able to do assertions on the content of a PDF or anything like that, but it would be essential for my use case to be able to test that a PDF is generated and displayed in the browser.

[2018-08-27 10:55] miherlosev commented on #2477
@davidcunha
For your scenario, use 'RequesMock' with a callback function - it is a recommended way (it's not a workaround).
 

At present, we have only one precise criterion - a response mock call number. If you know another criterion, please let us know.
For 'some kind of parameter', you can use a separate variable.

[2018-08-27 10:57] miherlosev commented on #2765
It's a duplicate of https://github.com/DevExpress/testcafe/issues/1535

[2018-08-27 10:57] #2765 closed

[2018-08-27 11:13] miherlosev opened #2775 "Allow to setup 'skip-js-error' option only for specified pages."
Use case:
The tested site contains parts (ad blocks, external service pages and etc.) that have js errors and cannot be controlled by test writer.

We need a conditional behavior for this case:
* for uncontrolled pages need to skip js errors.
* for other pages need to handle js errors.

So, we need a  way to setup 'skip-js-error' option only for specified pages.

Based on https://stackoverflow.com

[2018-08-27 14:15] AlexKamaev opened #2777 "Drag action is executed on wrong element if element has float position value in IE"
Test page:
[code]

Test:
[code]
The test fails because of rounding in `#child3` and `#child4` elements only in IE

[2018-08-27 14:16] AlexKamaev commented on #2777
After this issues is fixed uncomment `skip: ie` in https://github.com/DevExpress/testcafe/issues/2080

[2018-08-27 18:45] andrzej-kodify commented on #2773
Could you leave the test running (hanging) e.g. overnight and see if you get OOM? :)

[2018-08-28 01:06] ljowen commented on #2775
Perhaps instead of at the page level it could be done using the test controller:
```t.ignoreJSErrors(true / false)```

[2018-08-28 07:22] raja1313 opened #2778 "Is it possible to get the code coverage report for E2E testing by using Testcafe?"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
I don't see any code coverage for my 32 scripts

### What is the expected behavior?
 I need a code coverage report for my 32 scripts. Let's say 70% coverage #0% yet to go

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* operati

[2018-08-28 08:06] AndreyBelym commented on #2773
Hi @rafaelaazevedo, have you tried to configure /dev/shm size as described in the [Testing Heavy Websites](https://devexpress.github.io/testcafe/documentation/using-testcafe/using-testcafe-docker-image.html#testing-heavy-websites) section?

[2018-08-28 08:16] AlexKamaev commented on #2777
One more failing test specific only for IE

[code]

[2018-08-28 09:17] edenadler commented on #2601
hi @AlexKamaev, since upgrading from version 0.20.5 to 0.21.1 I suddenly started experiencing the same issue as [#2450](https://github.com/DevExpress/testcafe/issues/2450). This seems to be a new issue as of the newer versions, because on version 0.20.5 this was not a problem. In 0.20.5, it would scroll to avoid the fixed element, but I don't see that same scrolling behavior happening in 0.21.1.

[2018-08-28 09:39] AlexKamaev commented on #2601
Hi @edenadler
Would you please share your test page and test file? Could you also clarify in which browser you can reproduce the issue?

[2018-08-28 09:49] ricovitch commented on #2692
Sorry for the delay. Back from holidays we had a fresh look at this on our side.
It seems this relates to a misunderstanding of us about "Smart Assertion Query Mechanism".

We where not waiting for logger.count() assertion to update before asserting on logger.requests property.

So for future understanding, this does not work
[code]

And this work
[code]

[2018-08-28 09:49] #2692 closed

[2018-08-28 12:01] miherlosev commented on #2639
Fixed in https://github.com/DevExpress/testcafe/pull/2779

[2018-08-28 12:01] #2639 closed

[2018-08-28 12:02] miherlosev commented on #2670
Fixed in https://github.com/DevExpress/testcafe/pull/2779

[2018-08-28 12:02] #2670 closed

[2018-08-28 13:41] darina-techery opened #2782 "If localStorage is populated via Role, it's empty when running parallel tests"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

WHEN tests are executed in parallel (concurrent runs OR multiple browsers)
AND test setup is performed via roles
AND each role populates localStorage to authenticate user
THEN some browser instances have empty localStorage
AND tests fail, because test user is not authorized without respective localStorage

[2018-08-29 14:58] miherlosev opened #2786 "Move parameters of `createTestCafe` to single `options` parameter"
`async createTestCafe([hostname], [port1], [port2], [sslOptions], [developmentMode])`
=>
`async createTestCafe({hostname, port1, port2, options})`

[2018-08-29 19:59] barretvasilchik opened #2787 "Mootools errors from testcafe seem to cause a button to not function after clicking it"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
I am unable to click a button, even if I pause the test and manually click the button. The test doesn't say the button can't be clicked but I can't progress in the application b/c clicking the button doesn't actually do anything. There are various mootools errors popping up in the console log that do not ha

[2018-08-29 20:15] chinjon commented on #1626
+1

[2018-08-29 20:18] chinjon commented on #1626
I found a way to handle this but it's not scalable. I use this solution to skip over tests that require window resize, but can't be performed due to devices the test is running on, IE: mobile device browsers.

I created a function that leverages clientFunctions and obtains the document width (or height if your test is dependent on height) and conditionally run test:

[code]

[2018-08-30 01:40] edimistra opened #2788 "Gauge Integration with Testcafe"
### Are you requesting a feature or reporting a bug?
A feature

### What is the current behavior?
Gauge is a test automation framework that focus on user acceptance testing.
https://www.gauge.org

Tests are written based on concepts, scenarios and steps using markdown’s syntax. Steps tests are then written on several programming languages including javascript.  Gauge can interact with several test

[2018-08-30 01:50] Sue1024 opened #2789 "websocket"
### Are you requesting a feature or reporting a bug?
Maybe a bug

### What is the current behavior?
The websocket url generated by testcafe is:
ws://localhost:1337/NKNUQbR8z!w!https%3A%2F%2Fuat.citivelocity.com/https://uatratesstreaming2.citivelocity.com:10444/RTTP-TYPE8
Always 404
![image](https://user-images.githubusercontent.com/22889718/44824766-ecc13b00-ac39-11e8-8414-59321fa13af8.png)

We us

[2018-08-30 07:14] AndreyBelym commented on #1626
Hi @ricwal-richa @hex0cter @chinjon, unfortunately there is a design flaw in our report system, which leads to reporting wrong number of runned and failed tests when canceling tests after test suite is started. So we need to redesign reporting plugins API and make a breaking change to properly support this feature.

Due to this complications, I should say that implementation for this feature will

[2018-08-30 07:46] miherlosev commented on #2787
Hi @barretvasilchik

I've reproduced the problem. We will fix it during the [next development sprint](https://github.com/DevExpress/testcafe/milestone/32).

[2018-08-30 08:02] #2080 closed

[2018-08-30 08:57] LavrovArtem commented on #2789
Hi @Sue1024,
Can it relate to the fact that the proxy subdomain is `uatratesstreaming2` but on the original page the subdomain is `uatratesstreaming1`?

[2018-08-30 10:31] AndreyBelym commented on #1520
Hi @marcin-chwedczuk-meow, thanks for feedback! You can automatically take screenshots on failures using [the corresponding option](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-s---screenshots-on-fails), but it will take only the visible part of a page? of course. Could you please explain, what useful or important things can be in the _invisible_

[2018-08-30 10:56] marcin-chwedczuk-meow commented on #1520
One use-case that comes to my mind is that captured area of the screen does not contain all useful information. Like e.g. let's say we have a page with all invoice data and for some reasons a particular test fails at the bottom of the page. I would appreciate if I see not only part of the page where test failed but also all other invoice data that may be on the screen (my test is concentrating on

[2018-08-30 12:27] AlexKamaev commented on #2782
Hi, @darina-techery
I've reproduced the issue and I need time to investigate it.
For now I recommend you use the `preserveUrl` option in the role constructor and remove `page(baseUrl)` because every test will start with preserved url.
 
Please see the passing test code below:

[code]

[2018-08-30 12:36] AlexKamaev commented on #2777
closed because of https://github.com/DevExpress/testcafe/pull/2760#discussion_r213273606

[2018-08-30 12:36] #2777 closed

[2018-08-30 14:03] AndreyBelym commented on #2515
It's blocked by #912. Please, use #912 to track progress in resolving this issue. I will inform you when a fix is available, feel free to reopen the issue after examining the fix in your environment.

[2018-08-30 14:03] #2515 closed

[2018-08-30 14:29] AndreyBelym commented on #2761
Hi @davidarce! You need to mount the directory with your script and override container's entrypoint.

E.g. if you use the following command to start TestCafe:
[code]
and your runner code is in the `${pwd}/runner.js` file, you can start using the following command:
[code]

But please note, that you will have to perform environment initialization steps from the [TestCafe Docker script](https://githu

[2018-08-30 14:29] #2761 closed

[2018-08-30 14:34] AndreyBelym commented on #2761
Or you can create your own base image based on [our Dockerfile](https://github.com/DevExpress/testcafe/blob/master/docker/Dockerfile) and replace [TestCafe installation step](https://github.com/DevExpress/testcafe/blob/master/docker/Dockerfile#L8) with a step installing your module.

[2018-08-30 14:42] darina-techery commented on #2475
This workaround didn't work for me.
In my tests user can only be authenticated via localStorage. It requires a special 'token' property.
I try to authenticate user by running POST /login request and inserting the result into localStorage:

[code]

All the checks say that localStorage is populated ok, and I even wait for 5 additional seconds, as suggested in a workaround.
In 50% cases the localStor

[2018-08-30 14:46] darina-techery commented on #2782
Hi @AlexKamaev ,

I've already tried that with preserveUrl option, and I can see now that the reason may be not in concurrent execution, but in some concurrency issue, because localStorage can appear empty even in a sequential run. I commented on this in another thread and provided a code sample with preserveUrl there: https://github.com/DevExpress/testcafe/issues/2475#issuecomment-417344521

[2018-08-30 14:46] AlexKamaev opened #2792 "Incorrect selector error highlighting"
### Are you requesting a feature or reporting a bug?
a bug

Test code

[code]
I expected to see an error on the string `.nth(500)`, but I see an error on the string `.filter('.filtered')`

[2018-08-30 15:34] AlexKamaev commented on #2782
In my test, I do not use `page` because it's not required with the roles mechanism and the `preserveUrl` option. Besides, I do navigation in the end of role initializer, because I need to navigate to the url, which will be saved in the inner `preserveUrl` state.

[2018-08-30 18:39] hex0cter commented on #1626
This is way I am using currently:

[code]
Then call it like below:
[code]

There is a similar for mobile. In our case I set a environment variable to distinguish the devices.

[2018-08-31 07:32] #2792 closed

[2018-08-31 08:04] miherlosev commented on #2742
I'm working on it.

[2018-08-31 10:32] darina-techery commented on #2782
Ok, I think I traced the source of this problem via debug output.
My authentication function looks like this (note the debug prints):
[code]

In some cases it works. Example of valid output:
[code]

But in some cases it results in:
[code]

This line `app_state is found: {"settings":{}}` is clearly indicating that the test it trying to access some wrong localStorage instance, because after `JSON.st

[2018-08-31 11:22] #2751 closed, assigned to AndreyBelym

[2018-08-31 12:46] AndreyBelym commented on #681
I'm working on it.

[2018-08-31 13:08] dineshpaduchuri commented on #1927
Hi,
When i run testcafe remote test.ts -e, i get a URL where i can run in remote browser in the network. But when i run the url in the remote browser, i am getting Page cannot be displayed.

Do i need to establish connection to the server in my test.ts file to run?

[2018-08-31 13:20] dineshpaduchuri opened #2795 "URL not running in remote browser in the network"
### Are you requesting a feature or reporting a bug?

### What is the current behavior?

I am getting url to run when i run testcafe remote test.ts -e but when i run the URL in browser in remote machine in the network i get Page Cannot be displayed error. but when i run the same url in my local machine browser it is running

Do i need to establish any connection to the remote server in my test.ts

[2018-08-31 13:52] AndreyBelym commented on #2795
Hi @dineshpaduchuri! Please specify your TestCafe, OS and Node.js versions. Likely you have to configure firewall on your machine to allow connections from your network.

[2018-08-31 13:53] AndreyBelym commented on #1927
Hi @dineshpaduchuri, let's keep the conversation in #2795.

[2018-08-31 14:12] #2742 closed

[2018-08-31 15:07] AndreyBelym commented on #2291
Hi @vigneshwar-v, thanks for sharing your problem. I close this because it's duplicated by https://github.com/DevExpress/testcafe-hammerhead/issues/1486. You can use https://github.com/DevExpress/testcafe-hammerhead/issues/1486 to track the progress in resolving this issue, and I will inform you when a fix is available on NPM.

[2018-08-31 15:07] #2291 closed

[2018-08-31 15:07] AndreyBelym commented on #2106
Hi @bramroop @SolaTest  @shiveshyadav, thanks for sharing your problems. I close this because it's duplicated by https://github.com/DevExpress/testcafe-hammerhead/issues/1486. You can use https://github.com/DevExpress/testcafe-hammerhead/issues/1486 to track the progress in resolving this issue, and I will inform you when a fix is available on NPM.

[2018-08-31 15:07] #2106 closed

[2018-08-31 15:10] AndreyBelym commented on #2399
I close the issue because it is a duplicate of https://github.com/DevExpress/testcafe-hammerhead/issues/1325. Use https://github.com/DevExpress/testcafe-hammerhead/issues/1325 to track progress in resolving the issue.

[2018-08-31 15:10] #2399 closed

[2018-08-31 15:34] Lupiano opened #2796 "Simulate drag and drop file"
### Are you requesting a feature or reporting a bug?
Requesting a feature.

### What is the current behavior?
Currently it is only possible to reproduce a drag action, but is it possible to make simulate the upload of a file through drag and drop?

### What is the expected behavior?
A file should be able to be chosen to simulate "drag and drop" on some element in the UI.

### How would you reprodu

[2018-09-01 14:57] dmjesus89 opened #2797 "Error SkipJSerror dont works when I use tester schedule with cron"
### Are you requesting a feature or reporting a bug?
reporting a bug

### What is the current behavior?
            skipJsErrors: true not works

### What is the expected behavior?
            skipJsErrors: true to works in my tests

### How would you reproduce the current behavior (if this is a bug)?
When I start my test for my server in 1338 he works,
But if I use cron time he dont recognizes sk

[2018-09-02 01:07] benjamin33 opened #2798 "File Upload - Click on dropzone selector doesn't open finder window"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Finder window won't open
[code]

*Note:*
Calling `click` method directly from browser console works:
[code]

### What is the expected behavior?

Calling `click` method on ".dropzone" should open Finder window

[code]

### Specify your
Please see attached code

import {Selector} from 'testcafe';

fixture`N

[2018-09-02 02:05] samuelsh opened #2799 ""The element that matches the specified selector is not visible" error on attempt to drag visible element"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?
Trying to drag "seekbar knob" selector raising:  "The element that matches the specified selector is not visible" error

### What is the expected behavior?

Should be able to perform drag operation

### How would you reproduce the current behavior (if this is a bug)?
#### Provide the test code and the test

[2018-09-02 13:47] dmjesus89 commented on #2797
I resolved,
I need put failOnJsErrors and remove skipJsErrors

[2018-09-03 05:10] TestAndunR commented on #2473
Have you guys fix this issue, Its available in  0.21.1 as well

[2018-09-03 06:53] PriyoBh commented on #2609
hi Any updates on this. We use some custom command line arguments. Wrapping them using gulp is quite useful.

[2018-09-03 07:14] dineshpaduchuri commented on #2795
TestCafe : 0.20.4
OS : Windows 10 64 bit
Ndoe.js : 8.11.2

How to configure firewall on my machine to allow connections. Any blog?

[2018-09-03 09:27] AndreyBelym commented on #2798
Hi @benjamin33, all native dialog windows are suppressed by TestCafe, because TestCafe can't control them through its HTML5 automation engine. If you need to upload a file, please try to call the [t.setFilesToUpload](https://devexpress.github.io/testcafe/documentation/test-api/actions/upload.html#populate-file-upload-input) for the file input, and then submit the corresponding form.

[2018-09-03 09:37] rafaelaazevedo commented on #2773
I have tested increasing the size with --shm-size=2g and added the param --disable-dev-shm-usage, but still hanging. I don't think it is a problem with chrome since I tested running on firefox browser and the container is still hanging. Unfortunatelly the logs are not helpful as it is just showing the "spinner" running: [G⠹

I also tried to debug when fail and it stops on the first interaction, bu

[2018-09-03 09:54] benjamin33 commented on #2798
I'm also tried that but didn't success

test('New Test', async t => {
    await t
        .maximizeWindow()
        .typeText(Selector('#email'), 'test@test.com')
        .typeText(Selector('#password'), '123456')
        .click(Selector('span').withText('Login'))
        .click(Selector('.menu-item.ng-star-inserted').nth(3).find('span').withText('Artists'))
        .click(Selector('#mat-checkbox-

[2018-09-03 10:05] dineshpaduchuri opened #2801 "How to find nth div label and span value when there are multiple div"
### Are you requesting a feature or reporting a bug?

### What is the current behavior?
There are multiple indexes for one of the div with Class = "d-flex flex-wrap pt-3".
parent Div  Class = "d-flex flex-wrap pt-3"
and child Div Class = "pt-2 mb-4 mr-4 wrapper-box"
and grandchild Div Class = "wrapper-content"
i need label and span tag values for each child Div class

And i need to find each

###

[2018-09-03 10:38] rafaelaazevedo commented on #2773
This is only happening on the job where the docker container is linked to a network to be able to access the other docker container services.

[2018-09-03 10:47] AndreyBelym commented on #2795
There is an article about configuring the Windows Firewall: https://www.online-tech-tips.com/windows-10/adjust-windows-10-firewall-settings/

Please note, if you use additional Anti-Virus software, it may come with its own firewall, and you'll need to configure it as well.

[2018-09-03 10:53] AndreyBelym commented on #2797
Hi @dmjesus89, looks like you use the Legacy TestCafe (`v15.x`). In this version you should use the `failOnJSError` options to disable uncaught JS exception handling, see the [docs](https://testcafe.devexpress.com/Documentation/API_Reference/Continuous_Integration_API/TestCafe_Methods/#runTests).

I highly recommend you to use more modern TestCafe Open Source version, that has improved API and has

[2018-09-03 10:53] #2797 closed

[2018-09-03 10:55] AndreyBelym commented on #2796
Hi @Lupiano, could you please tell more about your case? Do you want to drag a file from an external application (e.g. Windows Explorer, or macOS Finder), or from some place of your page?

[2018-09-03 11:05] AndreyBelym commented on #2801
Hi @dineshpaduchuri, you can use the [nth](https://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/selectors/functional-style-selectors.html#nth) method of the Selector class, or the [nth-child](https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child) CSS Pseudoclass.

E.g. if you have multiple `<div>`'s with the `d-flex` class on your page, and you need `<label>`

[2018-09-03 11:05] #2801 closed

[2018-09-03 11:06] AndreyBelym commented on #2798
Could you please share the HTML code of your page?

[2018-09-03 11:38] dmjesus89 commented on #2797
I did not know I was using a legacy version.
How do I use the latest version?
First I used "npm install testcafe -g" and I installed test cafe 0.21.1
after that I used "npm install testcafe@15.1.x" and installed testcafe 15.1.372552
remembering that I need to upload server 1337 and 1338

[2018-09-03 11:40] AndreyBelym commented on #2799
Hi @samuelsh, I've reproduced the issue. @AlexKamaev, could you please take a look at this?

[2018-09-03 12:06] dineshpaduchuri commented on #2801
Thanks!
But when there are multiple Wrapper boxes like below and need to access each Label and Span
![image](https://user-images.githubusercontent.com/42802100/44985965-e4516300-af9f-11e8-89a0-31e24c580365.png)

[2018-09-03 12:14] benjamin33 commented on #2798
Sure please rename to .html
[htmlOfKavanaMusic.txt](https://github.com/DevExpress/testcafe/files/2345463/htmlOfKavanaMusic.txt)
Thanks a lot

[2018-09-03 12:15] AndreyBelym commented on #2801
In this case you can keep the Selectors using the `nth` method, and use different class for Selectors using the CSS Pseudoclass:
[code]

Of course, you can change the class in Selectors using the `nth` method too.

[2018-09-03 12:40] Worie opened #2803 "Feature: Allow to "hold mouse for X time" before dragging"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
You cannot set the amount of time an element has to be "hold" in order to drag it. (no option for doing `hold mouse on element -> then drag`

### What is the expected behavior?
You can optionally pass a variable that'll represent amount of time which will "mousedown" the source element before starting d

[2018-09-03 12:41] AndreyBelym commented on #2798
In your case a hidden file input appears after clicking on the `.dropzone` element, check the following test:
[code]

[2018-09-03 12:44] AndreyBelym commented on #2803
Hi @Worie, thanks for the proposal, I'll post a possible workaround and post it if I get one.

[2018-09-03 12:59] AndreyBelym commented on #2797
The latest version is `0.21.1`. If you don't sure which version could be installed by NPM, use the `latest` tag:
[code]

[2018-09-03 13:03] rafaelaazevedo commented on #2773
Thanks ! I am now able to see where it is stuck:

- Chrome 68.0.3440 / Linux 0.0.0

 Persistency
  testcafe:test-run:Chrome 68.0.3440 / Linux 0.0.0:command
  testcafe:test-run:Chrome 68.0.3440 / Linux 0.0.0:command     {
  testcafe:test-run:Chrome 68.0.3440 / Linux 0.0.0:command       "type": "click",
  testcafe:test-run:Chrome 68.0.3440 / Linux 0.0.0:command       "selector": {
  testcafe:test-ru

[2018-09-03 13:38] AndreyBelym commented on #2773
@rafaelaazevedo, the #2132 is different, it's about when a Node.js process is not terminated after tests are finished. In your case tests aren't finished, because TestCafe hangs immediately after performing the first click. How much RAM does your Jenkins server have?

[2018-09-03 13:56] Lupiano commented on #2796
Hi @AndreyBelym, yes the idea is to drag a file from an external application (mainly Windows Explorer).

[2018-09-03 14:08] dmjesus89 commented on #2797
@AndreyBelym  thank you for your help

[2018-09-03 14:11] benjamin33 commented on #2798
Yep !!! Thank you @AndreyBelym for you time and help !!!

[2018-09-03 14:11] #2798 closed

[2018-09-03 14:49] rafaelaazevedo commented on #2773
The jenkins server has 4GB RAM

[2018-09-03 16:12] palpatine1991 commented on #2671
@AndreyBelym I am not sure if those two issues are representing what I am asking for.

What I am looking for is to get the CSS selector from the Selector class instance. It is sometimes useful for us when we are writing our own ClientFunctions for some features which are missing from TestCafe. In this case, the client function accepts the CSS selector and therefore we need to duplicate the selecto

[2018-09-03 16:30] AndreyBelym commented on #1709
Could you please clarify what do you mean by

Raised DOM events? Method arguments? IMO TestCafe methods have self-descriptive names like `t.click`, `t.typeText`, etc.

[2018-09-03 16:37] AndreyBelym commented on #2671
Hi @palpatine1991, I've got your point. However there are tips that can help you right now:

1.  You can access the element specified by a Selector in a ClientFunction by specifying the corresponding Selector as a [dependency](https://devexpress.github.io/testcafe/documentation/test-api/obtaining-data-from-the-client/#optionsdependencies).

2. You can wrap Selector constructor with your own functi

[2018-09-03 16:40] jiteshsojitra commented on #1709
As far as this ticket is concerned, we want to log information/actions performed by TestCafe in console, for e.g.

t.click('bar');
x.log('double click the foo');

[2018-09-03 16:42] AndreyBelym commented on #1709
You can use `console.log` or `console.error` to output something to the console.

[2018-09-03 16:59] JorgeIbarra-natgeo commented on #1186
+1 for this thread, does anyone have a suggested workaround for filtering elements only found in viewport?

[2018-09-03 17:00] JorgeIbarra-natgeo commented on #1186
+1 for this thread, does anyone have a suggested workaround for filtering elements only found in viewport?

[2018-09-03 17:02] vivekpant28 opened #2806 "Is there any way to add some kind of @Tags in testcafe tests, and we can use these tags to run different combination of tests. it will help in maintain different suite"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?

### What is the expected behavior?
some kind of tags can be added in test meta section, which can categories test while creating , later we can use these tags to run different combination of tests, like smoke, regression etc.

### How would you reproduce the current behavior (if this is a bug)?

#### P

[2018-09-03 17:04] AndreyBelym commented on #2806
Hi @vivekpant28, currently TestCafe doesn't have such feature, but there is a feature request for it: https://github.com/DevExpress/testcafe/issues/2527. So I close this issue as a duplicate of https://github.com/DevExpress/testcafe/issues/2527.

[2018-09-03 17:04] #2806 closed

[2018-09-03 17:31] claustres commented on #1186
We do that in our app so far: https://github.com/kalisio/aktnmap/blob/master/test/page-models/layout.js#L21.

[2018-09-04 05:37] dmjesus89 commented on #2797
@AndreyBelym  I try use 0.21.1 but dont have version interface in 1337 and 1338 with Control Panel

[2018-09-04 06:18] AndreyBelym commented on #2797
Sorry, I didn't understand you before, if you need graphical interface you have to stick with TestCafe Legacy.

Please note, that the Legacy package in NPM is meant to be used in Continuous Integration systems, it's not intended to be used with Control Panel and it's missing  visual recorder.  If you need Control Panel, you should download TestCafe from https://testcafe.devexpress.com.

Also you c

[2018-09-04 06:30] churkin opened #2807 "Investigate the possibility to move testcafe plugins to scoped (@testcafe/...) packages"

[2018-09-04 06:34] dineshpaduchuri commented on #2795
There were two inbound rules in firewall settings which blocked node.js hence my url is not running remotely.
I disabled those rules and later url is running remotely
Thanks!

[2018-09-04 06:34] #2795 closed

[2018-09-04 06:39] AndreyBelym commented on #2609
Hi @PriyoBh, sorry for the late response, I've reproduced the issue and will post additional detail soon.

[2018-09-04 07:00] edenadler commented on #2601
Hi @AlexKamaev. I'm not able to share the test page and file, but I found a solution to the problem. The problem was that it is only scrolling horizontally but not vertically. I can submit a pull request for it. Since #2450 is already closed, let me know what ID I should submit it with.

[2018-09-04 07:08] AndreyBelym commented on #2609
Problem is caused by the big timeout in `testcafe-hammerhead` for proxied XHRs: https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/request-pipeline/destination-request/index.js#L186

[2018-09-04 07:45] kirovboris opened #2808 "Selector chain issues"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

![image](https://user-images.githubusercontent.com/3633477/45016469-66d43400-b02d-11e8-9e6e-3820a36ec01c.png)

![image](https://user-images.githubusercontent.com/3633477/45016489-718ec900-b02d-11e8-809f-cfa6c3e59e48.png)

### What is the expected behavior?
We should close a quote for strings and output th

[2018-09-04 07:48] AlexKamaev commented on #2601
I'm happy to hear that you solved the issue. If you think that the issue is connected with #2450 you can submit your PR with its ID. I'll take a look at your PR and review it, otherwise you are free to open the separate issue and push there.

[2018-09-04 08:04] AndreyBelym commented on #2742
Hi @cullophid! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:05] AndreyBelym commented on #2080
Hi @adback03 @berrutti  @arenddeboer! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:05] AndreyBelym commented on #2639
Hi @kot-lex! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:06] AndreyBelym commented on #2711
Hi @sambegin @DaAitch! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:06] AndreyBelym commented on #2735
Hi @Lupiano! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:06] AndreyBelym commented on #2718
Hi @mwhebert! The fix is released in `testcafe@0.22.0`, you can install it with `npm i testcafe@latest` and try it on your machine.

[2018-09-04 08:15] kirovboris commented on #2367
This functionality is released in `testcafe@0.22.0`. Now fixture and test descriptors have `meta` field:
[code]

[2018-09-04 08:15] #2367 closed

[2018-09-04 09:17] #1323 closed

[2018-09-04 10:28] AndreyBelym opened #2809 "Allow to use ES6 named import for ClientFunction dependencies"
### Are you requesting a feature or reporting a bug?
Enhancement

### What is the current behavior?
You can't use named import to get a ClientFunction dependency from a module:
##### foobar.js:
[code]

##### test.js
[code]

##### Shell:
[code]

You have to use `require` to import named dependencies:
[code]
### What is the expected behavior?
You can use ES6 named import  for ClientFunction dependen

[2018-09-04 10:58] ZeleniiZmey commented on #1770
@barretvasilchik yuo made a typo: use **.disablePageReloads** instead of **.disblePageReloads**
`fixture .disablePageReloads `fixture1`
    .page `${config.Urls.blackboardLogin}`;`

[2018-09-04 11:13] Farfurix commented on #2787
I'm working on it.

[2018-09-04 11:42] karolisgrinkevicius commented on #1323
Already tried that but it seems not to be working with `testcafe@0.22.0`.

Run on:
[code]

Do you have an example with this option of working e2e tests?

[2018-09-04 11:54] miherlosev commented on #1323
@karolisgrinkevicius

`testcafe@0.22.0` doesnot include this feature. `Stop task on failed` feature will be  available in the next  TestCafe version (major, minor or alpha).

[2018-09-04 11:56] Lupiano commented on #2735
Great @AndreyBelym ! Thank you very much!

[2018-09-04 12:03] miherlosev commented on #2648
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-09-04 12:03] #2648 closed

[2018-09-04 12:03] miherlosev commented on #2595
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists.

[2018-09-04 12:03] #2595 closed

[2018-09-04 12:17] AndreyBelym commented on #2500
Working on it. Looks like that jest prevents module caching: https://github.com/facebook/jest/issues/4940, we can work around it.

[2018-09-04 12:54] AndreyBelym commented on #2557
Hi @TestAndunR, in your case assertions are not awaited - the `Array#forEach` method doesn't await results of the iterator function. Use `Promise.all` or `for..of` loop instead of the `forEach` method.

[2018-09-04 13:05] AlexKamaev commented on #2799
Hi @samuelsh
I've found that the element with class `.seekbar__knob` initially has width and height equal to 0. Since Testcafe considers elements with zero dimensions invisible, it can't initiate a drag action on an invisible element.
To overcome this, define ClientFunction and set the element's width and height inside it to 1.
Please see the example below:
[code]

[code]

[2018-09-04 13:54] edenadler commented on #2601
@AlexKamaev PR submitted https://github.com/DevExpress/testcafe/pull/2812

[2018-09-04 13:56] AndreyBelym opened #2813 "Add possibilty to use CSS pseudoclasses and pseudoelements in Selectors"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
Currently you can't create a Selector like `Selector(':active')` or `Selector('.seekbar__knob::before')` (#2799)

### What is the expected behavior?
You can create Selectors based on pseudoclasses and pseudoelements, or, at least, perform actions on them.

[2018-09-04 13:58] AlexKamaev commented on #2601
Thanks, I'll take a look

[2018-09-04 13:59] AndreyBelym commented on #2799
As I see, the problem is that the seekbar knob isn't the `<div>` element with class `seekbar__knob`, but a `::before` [pseudoelement] of the `.seekbar__knob`. It's actually a big enhancement, so I close this issue, and you can track progress using the https://github.com/DevExpress/testcafe/issues/2813 enhancement issue instead.

Also, you shouldn't calculate knob position with a ClientFunction. Th

[2018-09-04 13:59] #2799 closed

[2018-09-04 14:29] AlexKamaev commented on #2601
I've reviewed the PR and found that you toggle `scrollDirection` on every step of the cycle. However, the idea of the algorithm is to move horizontally from the left to the right and try to detect that the element is visible. If the element is not visible on the whole horizontal line, then the algorithm increases the vertical margin and so on.
If you cannot share a real page of your project, could

[2018-09-04 15:13] agoldenberg01 opened #2814 "Debugging of TestCafe code using debugger doesn't do the job - closes the browser and stops"
### Are you requesting a feature or reporting a bug?

Reporting a bug

### What is the current behavior?

Debugger allows to pause the execution and closes the browser

### What is the expected behavior?

Should be passed and allows to continue by running steps

### How would you reproduce the current behavior (if this is a bug)?

WE have created a list of different test cases with the code below;

[2018-09-04 16:11] bvasilchik commented on #1770
@ZeleniiZmey good catch. That's what I get for copy and pasting.

[2018-09-04 19:19] kot-lex commented on #2639
Works like a charm, thank you guys!

[2018-09-04 20:54] samanthablasbalg opened #2815 "User Roles doc doesn't show syntax example of preserveUrl"
### Are you requesting a feature or reporting a bug?
Requesting a feature

### What is the current behavior?
The doc for user roles has examples for every other aspect of the syntax for creating a role, but the section for `options.preserveUrl` does not. I am a bit of a js newb, so I got syntax errors trying `preserveUrl = true` and `options.preserveUrl = true` before googling it and finding a syn

[2018-09-05 04:30] rupeshmore opened #2816 "async-await / promise support for onRequest and onResponse hook methods."
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
When using the Hooks, req or response is sent before promise is resolved.

### What is the expected behavior?
Promise is resolved before the req, res is sent back.
I want to use async/await for `onRequest` and `onResponse`

### How would you reproduce the current behavior (if this is a bug)?
NA

#### Pr

[2018-09-05 09:25] Neatoro opened #2817 "Clicking on normal elements does not work"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

The click does not work on elements which have a click listener that are not a default clickable element. This seems to happen only with a frontend framework. I used VueJS but did not check whether it does not work with React or Angular.

### What is the expected behavior?

The click event is triggered.

[2018-09-05 09:29] #2817 closed

[2018-09-05 09:31] AndreyBelym commented on #2817
Hi @Neatoro, have you resolved the issue?

[2018-09-05 09:41] Neatoro commented on #2817
No Sorry I did a mistake while reproducing it. We still have an issue but not able to reproduce it in a different project by now. That is why I closed the issue, since I could not verify that the issue is not on our site.

[2018-09-05 14:02] agoldenberg01 commented on #2814
Hi @AndreyBelym ! Here are my steps:
1 - launch.json file content is attached
[launch.json.txt](https://github.com/DevExpress/testcafe/files/2353015/launch.json.txt)
 as DefExpress recommends
2 - add code line  - debugger;  - as I have stated in my posting above
3 - open of new Chrome (not incognito) and open chrome://inspect
4 - proceed to configure: - 127.0.0.1:9229 and click done
5 - leave the

[2018-09-05 15:32] AndreyBelym opened #2819 "Disable heartbeat when debugging is enabled"
### Are you requesting a feature or reporting a bug?
Enhancement

### What is the current behavior?
Browser disconnects when you pause script in browser's DevTools or stay on a breakpoint in a server debugger for more than 30 seconds.

### What is the expected behavior?
Browser mustn't be disconnected when debugging client or server scripts

### Specify your

* operating system: any
* testcafe ver

[2018-09-05 15:38] AndreyBelym commented on #2814
Hi @agoldenberg01, I can't reproduce the issue. Please note that browser can be disconnected if you stay more than 30 seconds on the same breakpoint: https://github.com/DevExpress/testcafe/issues/2819.

If you need to ask some questions, you can ask them on StackOverflow using the `testcafe` tag, I or another TestCafe team member will answer them.

[2018-09-05 16:03] agoldenberg01 commented on #2814
HI @AndreyBelym Have you followed the same steps with putting debugger; before await t and inside of the code? If it is inside of the test case code (somewhere after .expect statement) it simply doesn't allow to run at all as I mentioned in my posting - it shows an error (the hint is - declaration of statement is expected), I'm attaching the screenshot where you can see the debugger; and the next

[2018-09-05 17:05] agoldenberg01 commented on #2814
Hi @AndreyBelym We have just tried to use .debug() and it did work and stopped the script, the next step/resume were in the browser tray. So, it is working, the only thing we need to understand with .debug() how to print out the data/parameter values into the terminal. etc.It means before it stops on .debug() line we should see some data printed-out into terminal, what would be the method for that

[2018-09-05 20:07] adrianaisemberg opened #2821 "TestCafe is taking too long to fail due to browser-connectivity issue"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
When TestCafe attempts to connect to the browser - it fails.
However, it takes about 6 minutes to do so without printing any details meanwhile.

As you can see in the following output:
The first line is our last line that we print before TestCafe starts.
6 minutes after we see it failing.

How can we see wh

[2018-09-05 20:09] adrianaisemberg commented on #2821
Furthermore - when such error occurs, is it possible to fail faster rather than waiting 6 minutes?

[2018-09-06 06:59] churkin commented on #2778
Hi @raja1313,
Unfortunately, we do not have built-in functionality to check code coverage. But, I think it is a good idea, we should think about this, thank you.

[2018-09-06 07:01] churkin commented on #2814
Hi @agoldenberg01,
Thank you for your screencast. I see the problem now. Let's figure it out.
If you add `debugger` after the `await t` you'll brake the test controller call chain and will get invalid javascript:
 
[code]
 
Use the following valid code if you really want to stop test execution between actions:
 
[code]
 
We've created a `t.debug()` action to help our users debug browser behavior d

[2018-09-06 07:07] AndreyBelym commented on #2821
Hi @adrianaisemberg! When a browser is started, TestCafe waits until the browser sends a HTTP request to the TestCafe server. If browser doesn't send a request in 2 minutes for local browsers or in 6 minutes for remote and cloud browsers, TestCafe will show the ' Unable to establish one or more of the specified browser connections' error. Unfortunately this can happen by a number of reasons, but T

[2018-09-06 07:15] raja1313 commented on #2778
Hey Andrey:

Yep, Sure thing!

Cheers! Have a great day.

On Thu, Sep 6, 2018 at 12:29 PM, Andrey Churkin <notifications@github.com>
wrote:

--

*---Warm Regards,*

*Raja Ganesh.R*
Team Lead - Quality Assurance & Quality Control.
Cogzidel Technologies Pvt Ltd.

**CONFIDENTIAL NOTICE**

This e-mail and any files transmitted with it may contain PRIVILEGED or
CONFIDENTIAL information and may be read

[2018-09-06 07:43] mujan5427 opened #2822 "Cannot execute tests in mobile version of Firefox"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Firefox can't execute tests.

show these error message in terminal :

iOS :

ERROR The Firefox iOS 13.2.0 / iOS 11.4.1 browser disconnected. This problem may appear when a browser hangs or is closed, or due to network issues.

Android :

Uncaught object "[object Object]" was thrown. Throw Error instead.

[2018-09-06 08:14] miherlosev commented on #2557
I'm working on this

[2018-09-06 08:15] jiteshsojitra opened #2823 "No way to get current testname using c.ctx or c.fixtureCtx?"
I'm sorry currently i don't find any easy way or no way to return current test name. I tried controller and some internal testcafe methods but no luck. Is there any way to get current testname using c.ctx or c.fixtureCtx or controller?

For e.g.
Testcase name - "Smoke | Login to client" for:
test("Smoke | Login to client", async t => {

I'm using latest versions of testcafe and node.

[2018-09-06 08:53] hussaintamboli opened #2825 "Bootstrap's toggle button group not calling onChange event in react"
I am trying to make use of bootstrap4's toggle button group to select an option. But the `onChange` event is not getting called.

**Working sample-1:**
I ran a simple sample on Codepen with same dependencies and it works - https://codepen.io/hussaintamboli/pen/PdoVvG

**Non working sample-2 that reproduces the issue:**
But when I create an example using webpack4+bootstrap4+reactjs (and same other

[2018-09-06 09:25] AndreyBelym opened #2826 "Allow to use test and fixture names inside hooks and test bodies"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
You can't access current test and fixture name from the test code.

### What is the expected behavior?
Current test and fixture name can be retrieved by the code running in before/after hooks and the test body function.

[2018-09-06 09:33] AndreyBelym commented on #2823
Hi @jiteshsojitra, currently test and fixture names aren't stored in `t.ctx` and `t.fixtureCtx`. I've created a new issue for this proposal: https://github.com/DevExpress/testcafe/issues/2826. As a workaround, you can wrap the `test` function in another function, and store test name as property of test's body function:
[code]

[2018-09-06 09:33] #2823 closed

[2018-09-06 10:12] jiteshsojitra commented on #2823
It requires to change all the tests to include function which is not good. Any better way without changing much?

[2018-09-06 10:42] jiteshsojitra commented on #2826
Reference: https://github.com/DevExpress/testcafe/issues/2823

[2018-09-06 11:26] gregorycv commented on #2226
Hi, @Sushindhran 's solution has worked for chrome but while testing in safari and firefox there are still some issues.

Safari closes the tab, but not the browser and, in addition to that, the node process keeps running and I need to quit it with ctrl+c.

Firefox closes the browser, but the same thing with the node process occurs.

Any suggestions how to go about this?

Huge thanks!

[2018-09-06 12:01] AlexKamaev commented on #2782
@darina-techery I'm working on the issue and today your site banned me. Could you please help me restore access to the site to continue my research?

[2018-09-06 12:01] AndreyBelym commented on #2226
Hi @gregorycv, please check the `testcafe@0.22.0`, I've made some improvements to the browser process termination code in this version.

[2018-09-06 12:27] gregorycv commented on #2226
@AndreyBelym thanks for your prompt reply.
Excuse me if I am getting something wrong as I am still fairly new to GitHub and TestCafe

I am currently using TestCafe 0.22 on MacOS with Chrome 68.0.3440, Safari 11.1.1 and Firefox 61

Once TestCafe is installed and
`var processOptions = { arguments: browserId, psargs: '-ef' };`
neither of the browsers close correctly after test execution

If I change

[2018-09-06 13:36] AndreyBelym commented on #2226
The `psargs: 'aux'` options was used in `testcafe@0.21.0`, could you please check that it works on your machine? I've changed the `psargs` value to `-ef` because some users still reported the problem with the `aux` parameter, but not with the `-ef` parameter.

I've never reproduced the problem with hanging node process on macOS, so I will think about how to collect debug information in your case.

[2018-09-06 13:37] darina-techery commented on #2782
@AlexKamaev our security guys have recently blocked a bunch of IPs. They considered multiple sessions spawning as a kind of DDoS attack. I'm terribly sorry for this misunderstanding.
Can you please reach me darina (dot) sunstream (at) gmail.com and tell me your IP? I'll get you unbanned.

[2018-09-06 13:58] AlexKamaev commented on #2782
@darina-techery thanks, I've mailed it

[2018-09-06 14:00] AndreyBelym commented on #2823
Unfortunately there is no other way yet.

[2018-09-06 14:04] sergeyzenchenko commented on #2782
@AlexKamaev I've whitelisted your IP. Sorry for inconvenience :)

[2018-09-06 14:05] AlexKamaev commented on #2782
@sergeyzenchenko thanks

[2018-09-06 14:11] gregorycv commented on #2226
@AndreyBelym
Ok, so I've tried installing 0.21.0 and running my tests, as a result:
chrome works fine both browser and node process are closed and terminated
firefox browser is closed but the process is hanged
safari browser remains open (as you've explained) and the process is hanged

[2018-09-06 14:19] miherlosev commented on #2650
I'm working on this

[2018-09-06 14:22] AndreyBelym commented on #2502
I'm working on it.

[2018-09-06 15:13] edimistra commented on #2788
Thanks @churkin for pointing me to the Cucumber solution. I'll take a deeper look into it, so far my firsts impressions are that this Cucumber integration will fit our needs (writing tests before coding even starts)

[2018-09-06 15:58] darina-techery commented on #2782
I'm sharing a couple of workarounds for those who might encounter the problem before it's fixed:

1. Use a Role workaround from https://github.com/DevExpress/testcafe/issues/2195#issue-302782855 (set {preserveUrl: true}, do not use pageUrl in tests/fixtures, do not use t.navigateTo in a role itself).

2. If your application uses localStorage to authenticate user, and you populate it explicitly, yo

[2018-09-06 16:44] edimistra commented on #2788
@zabil This is amazing! Thank you very much for your contribution!

[2018-09-06 19:44] adrianaisemberg commented on #2821
Do you mean the localhost server?

[2018-09-06 21:50] andrzej-kodify commented on #2151
For anyone who is desperate to record video from Chrome (e.g. to troubleshoot headless CI) I've made this reporter https://www.npmjs.com/package/testcafe-reporter-chrome-recorder

I wouldn't recommend to use it if there's an alternative but worked for me.

[2018-09-07 02:01] samuelsh opened #2829 "Click on play button in HTML5 video player raising DOMException"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?

Test attempting to start Video playback by clicking on [play] button in HTML5 Video player control bar.
But failing on DOMException:

### What is the expected behavior?
Click on [play] should start Video Playback

### How would you reproduce the current behavior (if this is a bug)?
Please run code from tes

[2018-09-07 07:12] churkin commented on #2829
Hi @samuelsh,
I've investigated this problem and see that in your case you get the "Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first." exception. It is a browser policy limitation. To disable it, use the `--autoplay-policy=no-user-gesture-required` Chrome browser flag:
 
`testcafe "chrome --autoplay-policy=no-user-gesture-required" test.js`

[2018-09-07 07:16] churkin commented on #2788
Good work, @zabil! We will recommend your example to our users who are interested in `Gauge `.
 
@edimistra I hope @zabil's example will help you get started with `TestCafe` and `Gauge`.

[2018-09-07 07:16] #2788 closed

[2018-09-07 09:53] hussaintamboli commented on #2825
I reported here by mistake. Wanted to do it on react project. https://github.com/facebook/react/issues/13585

[2018-09-07 09:53] #2825 closed

[2018-09-07 10:54] ZeleniiZmey opened #2831 "Saucelabs error: Unexpected data in simpleCallback"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
For some saucelabs configuration getting an simpleCallback error:
[code]
I've manually updated wd module to version: wd@1.10.3
After update got another error:
[code]
### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?
Reproducible for:
[code]
Not all sauc

[2018-09-07 13:15] #2557 closed

[2018-09-07 13:31] churkin commented on #2822
Hi @mujan5427,
I've reproduced the problem. This is a bug, and we need more time to fix it.
Thank you for your patience and understanding.

[2018-09-07 14:00] Sashikus commented on #2745
Hi, i don't use Roles, but i have exactly the same issue with running tests on Firefox inside of the Docker container.

- Firefox 61.0.0 / Mac OS X 10.13.0
- testcafe v. 0.21.1
- node.js v. 10.9.0

it starts happening since i'm using function to set cookies in `beforeEach` hook

export async function setCookie() {
    const setCookie = ClientFunction(() => {
        document.cookie = "multiproxy=b

[2018-09-07 14:18] AndreyBelym commented on #2831
Hi @ZeleniiZmey! Unfortunately, I can't reproduce the issue. Could you please check in the Saucelabs Dashboard if a Saucelabs VM was created before the connection timed out? If you have access to Saucelabs Manual testing, could you also please try to start a problematic browser and [Sauce Connect](https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy) tunnel manually, and try to connect it a

[2018-09-07 15:00] #2043 closed

[2018-09-07 15:00] amirse80 opened #2832 "How to remove hostname and port (added by testcafe) from URL?"
### Are you requesting a feature or reporting a bug?
feature

### What is the current behavior?
Failing to open an internal company page because testcafe adds "http://127.0.0.1:8080/lfjAkTbDZ/" before the real URL.. http://127.0.0.1:8080/lfjAkTbDZ/**http://my.internal.page**
I must admit I added same comment in another post but that one is actually about proxy issues so that is why I would like to

[2018-09-07 15:27] Lupiano opened #2833 "Test from external module."
### Are you requesting a feature or reporting a bug?
Reporting a bug and requesting a feature.

### What is the current behavior?
We have the following configuration of a file:

fixture`Example Fixture`
	.page('example.com')
	.requestHooks(logger)
	.before(async ctx => {
		//something here.
	})
	.after(async ctx => {
		//something here.
	})
	.beforeEach(async t => {
		//something here.
	})
	.after

[2018-09-07 18:12] samuelsh commented on #2829
Great!
Thanks @churkin
How did you managed to get that exact error message, btw?
When I run this code on my machine I'm getting only "DOMException" message (as you can see from bt above), without any further explanation

[2018-09-07 18:55] bhreinb opened #2835 "Integration With CucumberJs"
### Are you requesting a feature or reporting a bug?

Feature

### What is the suggested behavior?
TestCafe should be able to run tests written using the Cucumber syntax out of the box. This includes correct error handling and support for all TestCafe features (multiple browsers, screenshots, videos, etc).

### Additional Details
<details>
<summary>Current behavior</summary>

#### How to reproduce

[2018-09-07 20:55] andrzej-kodify opened #2836 "Hover speed has no effect on scroll for emulated mobile"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

I use `t.hover(selector, { speed: 0.1 });`. When running in emulated mobile mode `chrome:emulation:device=iphone 6` the scroll to given `selector` (that is outside viewport) is instantaneous.

### What is the expected behavior?

I'd expect that it mimics users behavior where the user needs to scroll/swipe

[2018-09-07 21:52] adrianaisemberg commented on #2821
Focusing now on the connectivity issue itself rather than the 6 minutes it takes to fail.
I tried chrome, chromium, firefox, safari, headless and not, with and without concurrency.
With and without `--no-sandbox`.
The tests run on a Mac.
Everything was working fine until 3 days ago. Since then it always fail.
The problem is that it is a remote CI machine which we don't have access to except for th

[2018-09-08 00:41] davidarce commented on #2318
I have the same issue on

testcafe version : 0.21.1

[2018-09-08 21:54] cbou commented on #1207
Any news for this issue? I would like to use Testcafe but I need visual regression...

[2018-09-09 03:34] mujan5427 commented on #2822
Hi @churkin,

Thank you for your reply.

I am very happy that I can contribute to the community.

[2018-09-09 04:11] willjosefi commented on #1770
I tried to follow the steps mentioned above but without 100% success.

Seems like the solution disablePageReloads only works with a limit of 2 tests.
If i have 3 tests, when testcafe is changing from test2 to test3 there's a reload

What i tried:
- adding in the fixture: fixture.disablePageReloads
- adding in each test: test.disablePageReloads
- adding the flag: --disable-page-reloads

I'm using v

[2018-09-09 08:13] stalniy commented on #1932
any news?

[2018-09-09 19:10] stalniy commented on #1535
It's already possible with function composition :) You can use smth this:

[code]

[2018-09-09 22:17] ershwetabansal commented on #2190
Is the fix available for the open source version?

[2018-09-10 00:34] rquellh commented on #1373
I am also interested in this integration. I've tried my best to integrate Cucumber and TestCafe, but my solution loses some of the features of TestCafe in the process. If there could be an easier way it would be appreciated.

[2018-09-10 08:28] miherlosev commented on #2725
I'm working on this

[2018-09-10 08:35] kirovboris commented on #2813
Should it be here - https://github.com/DevExpress/testcafe/issues/2813 ?

[2018-09-10 09:51] AndreyBelym commented on #2833
Hi @Lupiano! It's a duplicate of https://github.com/DevExpress/testcafe/issues/2074, so I close the issue. As a workaround, you can a comment like this:
[code]
to your files.

[2018-09-10 09:59] AndreyBelym opened #2837 "Make scrolling speed configurable by changing the `speed` option"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
When a mouse action (`t.hover`, `t.click`, etc.) is executed, page is scrolled with the maximum possible speed, without taking in account the [Test Speed Option](https://devexpress.github.io/testcafe/documentation/test-api/test-code-structure.html#setting-test-speed).

### What is the expected behavior?

[2018-09-10 10:03] AndreyBelym commented on #2836
Hi @andrzej-kodify! For now it looks like a feature request for me: #2837. Could you please explain why you consider this issue as a bug? Does it cause your tests to fail or hang? Or does your page have different behavior after it was scrolled during a test?

[2018-09-10 10:09] AndreyBelym commented on #1932
Hi @stalniy, there is no such option yet, but you can use [this approach](https://github.com/DevExpress/testcafe/issues/1932#issuecomment-343050809).

[2018-09-10 10:11] andrzej-kodify commented on #2837
Hi @AndreyBelym. Since AFAIK testcafe doesn't offer scroll method right now I see now way to simulate real user scroll to element (other than writing client function) and it is vital for my use case.

On the page I'm testing there are blurred placeholders and full size images (along with some client side behaviour like on hover) get loaded and enabled only when image gets shown in viewport (mostly

[2018-09-10 10:12] andrzej-kodify commented on #2836
Hi @AndreyBelym. Since AFAIK testcafe doesn't offer scroll method right now I see now way to simulate real user scroll to element (other than writing client function) and it is vital for my use case.

On the page I'm testing there are blurred placeholders and full size images (along with some client side behaviour like on hover) get loaded and enabled only when image gets shown in viewport (mostly

[2018-09-10 10:14] AndreyBelym commented on #2190
Hi @ershwetabansal, could you please try the `testcafe@0.22.0`? We've recently fixed an issue with the `toString` method: https://github.com/DevExpress/testcafe-hammerhead/issues/1713

[2018-09-10 10:18] AndreyBelym commented on #2684
# Add possibilty to use CSS pseudoclasses and pseudoelements in Selectors](https://github.com/DevExpress/testcafe/issues/2813)
Currently you can't create a Selector like Selector(':active') or Selector('.seekbar__knob::before'), or use pseudoclasses and pseudoelements to specify the target element of an action.

[2018-09-10 10:34] ershwetabansal commented on #2190
Thanks @AndreyBelym. I will try it tonight. Hope it works. I am planning to go for the paid version if I get past all the issues while testing vue js app.

[2018-09-10 11:08] claudiocro commented on #2630
@gknapp did manage to git it to work? I have the same problem. Also i don't get the headers in the `onResponse` functions, thank for a short clarification.

[2018-09-10 11:45] Aniku2009 opened #2838 "Issue with multiple browser running. Tests are running on one browser only and instances are not closed"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
We are using TestCafe with Cucumber and pass parameters to cucumber using “world-parameters”.
My project consists from 3 feature files.
When I run tests on IE or Chrome, all works fine.

Get issues when try to use concurrent running or use more than one browser.

**package.json**
"test-ie": "./node_modules/

[2018-09-10 12:04] gknapp commented on #2630
I've not revisited this yet to implement it. It's not front of mind or clear to me the cleanest place to store state.

Could you obtain the nonce?

[2018-09-10 12:07] AndreyBelym commented on #2838
Hi @Aniku2009, `cucumber-js` doesn't support running tests in multiple browsers: https://stackoverflow.com/a/43386755/5114901

[2018-09-10 12:07] #2838 closed

[2018-09-10 12:43] AndreyBelym commented on #2829
@samuelsh, we have implemented printing stack trace of browser JS errors: https://github.com/DevExpress/testcafe/pull/2791, it will be available in the next release. I close the issue because it was resolved by specifying the additional Chrome flag.

[2018-09-10 12:43] #2829 closed

[2018-09-10 12:44] #2833 closed

[2018-09-10 12:52] ZeleniiZmey commented on #2831
Ok. Closing issue, as fixed local problem.
Just did full cleanup of npm packages, that was installed globally.

@AndreyBelym thanks for response.

[2018-09-10 12:52] #2831 closed

[2018-09-10 13:15] dmjesus89 opened #2839 "Is possible running testcafe out node server? I cant use node in my company"
### Are you requesting a feature or reporting a bug?
requesting a feature

### What is the current behavior?

N/A

### What is the expected behavior?
Running another server

### How would you reproduce the current behavior (if this is a bug)?
N/A

#### Provide the test code and the tested page URL (if applicable)
createTestCafe('localhost', 1337, 1338)
.then(tc => {
    testcafe     = tc;
    runn

[2018-09-10 14:33] bhreinb commented on #2835
***Update to this thread***

I have updated testcafe to "0.19.2" and item 1) is no longer an issue for me. However that said item 2) is a significant blocker as I can't move past version "0.19.2" because of that.

I did some updates to the sample program used to reproduce this behaviour. It is attached. Let me know if you have any questions.

[testcafe-cucumber 10Sept2018.zip](https://github.com/D

[2018-09-10 14:34] cmmv91 opened #2840 "Chrome and Safari browser instances in Testcafe crash after 500 error."
### Are you requesting a feature or reporting a bug?
Reporting a bug

### What is the current behavior?
Chrome and Safari browser instances in Testcafe crash after 500 error from POST request to the server. Issue is not happening in firefox.

### What is the expected behavior?
Browser instances should handle the error without crashing.

### How would you reproduce the current behavior (if this is

[2018-09-10 14:55] gudoy commented on #2635
We faced the same issue. After struggling a couple of hours try to find why this didn't work, I found a reference to this issue.
If you do not intend to fix this for the moment, it would be nice at least to edit the document [here](https://devexpress.github.io/testcafe/documentation/test-api/intercepting-http-requests/requestoptions-object.html) to mark the `url` prop as read-only.

[2018-09-10 14:57] AndreyBelym commented on #2835
Hi @bhreinb! What browsers do you use for testing? If you test with Chrome and Firefox, you shouldn't have problems with the page area warning on `testcafe@0.22.0`.

Also, please note that you don't have to call `t.takeScreenshot` manually for taking screenshots when an error happens in your tests. I see that you already use Screenshot on Fails feature (in the `cucumber/hooks.js` file), but if you

[2018-09-10 18:55] bhreinb commented on #1373
Yes I'm very interested in this too...I tried to integrate cucumberjs & testcafe but have found it to be seriously challenging at times :(

[2018-09-10 19:55] amirse80 commented on #2832
Hi, we are still investigating this issue but we see a pattern now and for that reason I need to rephrase my question. Maybe the extra part of URL is not problem since the issue only seem to exist on our internal pages which require login to be opened! So if we test with a page that does not require login then all works fine, the page is shown. But we cannot figure out why we get unauthorized for

[2018-09-10 20:45] #2650 closed

[2018-09-10 20:46] adrianaisemberg opened #2842 "Error: Unable to establish one or more of the specified browser connections. This can be caused by network issues or remote device failure."
TestCafe is unable to connect to the browser.
This started happening a week ago on some of our CI machines and seems like the issue is "spreading" to other CI machines as well.
Is there a known recent OS update that may start causing this?

I tried:
Chrome, Chromium, FireFox, Safari (headless and non-headless, when supported),
With and without concurrency,
With `--no-sandbox` and without.
With the

[2018-09-10 21:56] adrianaisemberg commented on #2842
When trying Safari I get this error:

`Error: Was unable to open the browser "locally-installed:safari" due to error.`
`Error: Unable to run the browser. The file at /Users/vsts/agent/2.140.0/work/1/s/ux/portal/node_modules/testcafe-browser-tools/bin/mac/open.scpt does not exist or is not executable.`

[2018-09-11 00:06] jarekb84 opened #2843 "Allow concurrent execution of fixtures"
### Are you requesting a feature or reporting a bug?
feature

### What is the current behavior?
When testcafe is running e2e's with the concurrency option set, it appears to be only running the tests under a single fixture concurrently, not all tests from all fixtures. Once those tests are done, it goes onto the next fixture and runs any tests from it in parallel.

The [Concurrent Test Execution ]

[2018-09-11 01:56] link89 commented on #2750
[testcafe-ie11-error.txt](https://github.com/DevExpress/testcafe/files/2369046/testcafe-ie11-error.txt)
@AndreyBelym Here is my result run the fixture you provide.
testcafe version: 0.22.0
ie version: 11.0.22

[2018-09-11 05:18] link89 commented on #2750
I think it has something to do with web site under test. Our web site suffers same problem, but following code for todomvc works well.
[code]

[2018-09-11 08:30] AndreyBelym commented on #2843
Hi @jarekb84, thanks for the proposal. However there is a catch with fixture hooks: I think that we can't execute a fixture hook before all tests of the previous/current fixture are done. Maybe we can detect if  fixtures in a testsuite don't have hooks, and then start fixtures concurrently.

[2018-09-11 08:49] miherlosev commented on #2726
I'm working on this

[2018-09-11 09:00] AndreyBelym commented on #2551
Closing this issue caused the `frames[i].getFuncitonName` to appear [is fixed](https://github.com/DevExpress/testcafe/issues/2653#issuecomment-408885269) in `v0.20.2`, and #2568 is closed too.

[2018-09-11 09:00] #2551 closed

[2018-09-11 09:52] AndreyBelym commented on #2842
Hi @adrianaisemberg, could you please provide the error message which you get when starting Chrome and Firefox?

[2018-09-11 10:37] AndreyBelym opened #2844 "Provide an example of a Page Model method that uses test controller actions & APIs"
### Are you requesting a feature or reporting a bug?
Enhancement

### What is the current behavior?
The example model from our [Page Model example](http://devexpress.github.io/testcafe/documentation/recipes/using-page-model.html) is too simple, it's just a set of a selector without any method that involving user actions, e.g. filling a from, authorization, etc. Users don't get example of using tes

[2018-09-11 10:37] churkin commented on #2840
Hi @cmmv91.
I've created a small example to reproduce the problem:

[code]

However, it all works fine in all browsers. Can you show me what details I am missing to see this issue?

[2018-09-11 10:51] churkin commented on #2839
Hi @dmjesus89,
Would you please clarify what you mean by "I can't use node in my company". In the simplest case, a node is just a `node.exe` file and you can use it anywhere. So, please elaborate on the issue.

[2018-09-11 11:56] dineshpaduchuri opened #2845 "Concurrent Execution definition"
### Are you requesting a feature or reporting a bug?

I have small confusion regarding Concurrent execution.
Example : I have some 10 tests(.ts files) in tests folder. And when i run below command all 10 tests will be distributed in two browsers like 5 tests in each browser and execute?
testcafe -c 2 chrome e2e\testcafe\tests\*.ts

Can you please  clarify concurrent means distributing the tests in

[2018-09-11 11:56] MargaritaLoseva opened #2846 "Tests hang up for headless browsers when --debug-on-fail option is enabled"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

If we run tests in a headless browser (Chrome headless) and with the **--debug-on-fail** option enabled, tests hang up.

[2018-09-11 13:17] AlexKamaev commented on #2782
@darina-techery
I've researched your scenario and found that the cause of the issue can be in caching. The `roles mechanism` without the `preserveUrl` option makes two requests to the login page. Both of them should be real requests to the server. However, in response to the first request, the server sends caching headers, so a browser caches the login page. Thus, the second request is not sent to

[2018-09-11 13:58] darina-techery commented on #2782
I tried my tests with this option, but the result was the same.
I captured the aforementioned occasional failure once more: app_state is set properly, but when I fetch it without navigating anywhere, it appears empty:
[code]
The next failure, which is a constant one, occurred when t.useRole was not the first command in the test. I obtained the token via REST API requests and used it to send a few

[2018-09-11 14:03] darina-techery commented on #2782
@AlexKamaev Oh, I see I still used `preserveUrl: true`. I will try `false` and let you know what happens.

[2018-09-11 14:18] cmmv91 commented on #2840
Hi @churkin,
The 500 error that causes the problem is not a UI displayed error, is just a failure on a POST request from the UI to the server. Let me know if you guys have a chance to meet or something to show you the problem.

[2018-09-11 14:32] dmjesus89 commented on #2839
Hi @churkin
Thanks, To raise the testcafe I need to start a node server with the command node "file.js" in my company the node is not homologated to be used as server

[2018-09-11 14:32] MarinaRukavitsyna commented on #2845
Hi @dineshpaduchuri
You are almost correct: the "-c 2 chrome" command runs two chrome instances. But this mode does not mean that each instance operates with 5 tests.

Normally, when you run tests, TestCafe opens and connects a single browser instance (e.g. Chrome) and runs tests one after another. When the concurrency mode is used, TestCafe opens several instances of the same browser, e.g. two in

[2018-09-11 14:32] #2845 closed

[2018-09-11 14:33] bdwain commented on #2843
Why is that not possible? Seems like the running of separate fixtures would be independent.

[2018-09-11 14:39] AndreyBelym commented on #2843
@bdwain, e.g. you use fixture hooks to create and remove test databases, Different fixtures use different test databases content, but use the same name for the databases. If we create a database in the `before` hook of fixture B before removing database in the `after` hook of fixture A (given that fixture B runs after fixture A), the database of fixture B will be destroyed while tests from the fix

[2018-09-11 14:39] darina-techery commented on #2782
@AlexKamaev I changed the role approach (now tests contain `.page()` setting, roles do not include `navigateTo`, `preserveUrl` is `false`) and used `--disk-cache-size=1` launch argument.
The tests continue to fail randomly (probably in 10% cases). I added an `afterEach` statement to each test and log the current `app_state` value in it. When a test fails, localStorage is in a non-authorized state

[2018-09-11 14:43] bdwain commented on #2843
hmmm seems to me that if i'm running with concurrency on i should not expect to share resources across fixtures. The fact that only one fixture at a time is run isn't even documented. I could understand the expectation if concurrency was off, but with it on, there's no reason to expect resources to be shared.

[2018-09-11 14:45] jarekb84 commented on #2843
@AndreyBelym could another parameter be exposed to allow you to do what I suggested instead of trying to determine if a hook exists. Our e2e's all have before/after hooks that don't step on each other's toes, so this limitation would not solve anything for my use-case.

[2018-09-11 14:47] bdwain commented on #2843
Agreed that a param would be better than trying to look for fixture hooks.

[2018-09-11 14:47] bhreinb commented on #2835
Hi @AndreyBelym

Thanks for your response. I test against a wide range of browsers, for example chrome, firefox, safari, edge & ie. I also wanted to test with opera but that seems a bit unstable for now and not a high priority compared to the others I mentioned.

In terms of that warning "Was unable to take a screenshot due to an error rejects the promise" I have narrowed down the problem to an is

[2018-09-11 14:48] stalniy opened #2848 "Testcafe doesn't properly start tested app in case if it's dev server."
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?

I'm trying to use testcafe with `-a "npm run serve"` where `npm run serve` starts dev server. And I see several issues with this:

1. When I press `CTRL+C` my dev server process is not killed when testcafe is killed. It still occupies port and I need to `kill -9` it manually
2. When I try to reach my dev s

[2018-09-11 14:51] bdwain opened #2849 "Seeing assertion failures when elements are there"
### Are you requesting a feature or reporting a bug?
Reporting a bug

### What is the current behavior?
I have some tests with assertions that check for elements existing and they are failing, but the screenshots show those elements on the page.

### What is the expected behavior?
The assertions should find the elements on the page, and there should be no timing issue because the assertion should

[2018-09-11 14:52] bdwain commented on #2849
I tried turning on dev mode to add extra logging but did not see any increased logging.

[code]

[2018-09-11 14:54] bdwain commented on #2849
Most of my tests do not use `navigateTo`. This is one of the only ones that do, and the only one where I see this kind of issue. Maybe it's related to that?

[2018-09-11 15:04] jarekb84 commented on #2843
As @bdwain mentioned, what I proposed seems like what people would expect as the default behavior.   An alternative approach would be to make my proposal the default behavior and have the parameter put the test run into `--serialFixture` execution mode. This would be a breaking change for anyone who does rely on fixtures running fully before proceeding to the next one.

[2018-09-11 16:10] AlexKamaev commented on #2782
Since the issue disappeared on my side after disabling the cache, the reason of the issue can be not only in the cache. Could you please run your tests with my packed testcafe versions? One version just logs the requests, the second version has some modifications. Could you share these logs with me?
Please follow the next steps:
1. unpack the attachement
2. modify package.json
use `"testcafe": "./

[2018-09-11 17:01] adrianaisemberg commented on #2842
As in the title:
`Unable to establish one or more of the specified browser connections. This can be caused by network issues or remote device failure`

[2018-09-11 17:59] AndreyBelym commented on #2842
I guess you start the tests using Azure Pipelines or TFS, Looks like the `vsts-agent` version that you use (`2.140.1`) was released 5 days ago. Could you try to rollback to the some previous agent version?

[2018-09-11 18:15] AndreyBelym commented on #2849
Hi @bdwain, unfortunately I can't be sure without access to your web app, but maybe there is a problem with automatic waiting mechanism after page navigation. Could you try to add the `t.wait` action before checking the problematic selector, or increase the Selector's [timeout](https://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/selectors/selector-options.html#opti

[2018-09-11 19:02] robodude commented on #2849
We've seen this issue crop up recently. At first we thought we were just setting something up incorrectly with the `requestHooks` feature, but the screenshots clearly show the element on the screen.

[2018-09-11 20:34] hdorgeval commented on #2849
Maybe this might help you: https://github.com/hdorgeval/testcafe-snippets/blob/master/say-goodbye-to-flakyness.md

[2018-09-11 21:52] bhreinb commented on #2226
@AndreyBelym
I'm seeing exactly the same that @gregorycv described above with same version. Re firefox that occurs for me when I run it headless or in regular mode.

Should this ticket be re-opened?

Btw I also see as part of that test run which may be of concern

[2018-09-11 22:02] bdwain commented on #2849
@robodude I am running tests concurrently. They are all independent though, so that would be a bug if they were somehow affecting each other.

[2018-09-11 22:11] callmeaponte commented on #1471
+1 for this.

I'm behind a corporate proxy which prevents certain third-party scripts from loading properly (such as Google Analytics, Google reCAPTCHA, etc) - since the initial response contains a login/redirect page.

The only way around this is to visit each script URL we need directly, log in and/or wait for it to redirect, and then go back to the original site we're developing for. After that

[2018-09-11 23:40] adrianaisemberg commented on #2842
@AndreyBelym I'm afraid I won't be able to do that.
What is the difference between running via the command-line versus the library?
Why does it work with one but fails with the other? (Only with Safari, otherwise they all fail)

[2018-09-12 03:49] willjosefi opened #2850 "disablePageReloads is not working correctly. Page reloads when have more than two test's"
### Are you requesting a feature or reporting a bug?
Reporting a bug

### What is the current behavior?
Seems like the solution disablePageReloads only works with a limit of 2 tests.
If i have 3 tests, when testcafe is changing from test2 to test3 there's a reload

### What is the expected behavior?
Run all tests inside a fixture without page reload

### How would you reproduce the current behavio

[2018-09-12 05:47] link89 commented on #2750
@AndreyBelym Another critical problem on IE11 is, the url generate by testcafe is incorrect! For example, the heartbeat url on IE11 is:
`http://10.32.60.135:54899/Oi7Th2mYy/http://todomvc.com/examples/react/undefined/browser/heartbeat/j2d8olI`
The expected one should be
`http://10.32.60.135:54899/Oi7Th2mYy/browser/heartbeat/j2d8olI`
It seems to me like the problem of location.origin is undefined o

[2018-09-12 07:13] AndreyBelym commented on #2750
@miherlosev, @LavrovArtem, looks like the hash symbol breaks URL parsing when used as a path element.

[2018-09-12 07:17] AndreyBelym commented on #2750
@link89, @nabond240, could you please install the `testcafe@0.22.1-alpha.1` build and try it in your environment? We've implemented printing stack traces of JS errors in browsers, so it can give precise location where the error is created.

[2018-09-12 07:43] AndreyBelym commented on #2750
Could you please check that your version of IE11 doesn't have the `origin` property in the `location` object?
![image](https://user-images.githubusercontent.com/4479386/45409726-a972bd80-b678-11e8-9fe4-b9b2ab01092c.png)

[2018-09-12 07:58] link89 commented on #2803
Hi @AndreyBelym , is there any workaround for this?

[2018-09-12 08:01] link89 commented on #2750
Here it is.
<img width="1050" alt="10_32_35_76_25001" src="https://user-images.githubusercontent.com/3314130/45410740-0c7a4980-b6a5-11e8-9c1f-3ce7d557292f.png">

[2018-09-12 08:47] AndreyBelym commented on #2689
Can't reproduce the issue without a proper example. Feel free to reopen the issue if you have an example where the problem can be reproduced.

[2018-09-12 08:47] #2689 closed

[2018-09-12 08:49] AndreyBelym commented on #2762
Hi @Elias011, sorry for the late response, could you please provide an example? Have you checked that your website is working fine on iOS wihtout TestCafe?

[2018-09-12 08:56] AndreyBelym commented on #2774
Hi @ai! Sorry for the late response. Unforunately, I can't reproduce it without access to your environment. Do you use a proxy in your network? Have you tried to configure TestCafe to use the proxy using the [proxy option](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#--proxy-host)?

[2018-09-12 08:58] AndreyBelym commented on #2591
Hi @pranshu1995, sorry for the late response, you can find my email on my GitHub profile page.

[2018-09-12 09:56] AlexKamaev commented on #2782
@darina-techery
I've discovered an interesting point. I removed request mocks just for a couple of test runs and removed the `--skip-js-errors` option. With that configuration, I was able to reproduce the issue even with the disabled cache. So, could you please allow me to disable mocks so I research the issue further?

[2018-09-12 10:00] AndreyBelym commented on #2680
Hi @rafrsr! I've discovered that this exception happens due to the new autoplay policy in Chrome: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes. Try to add the `--autoplay-policy=no-user-gesture-required` flag to the Chrome arguments, e.g.:
[code]

I close the issue because adding the flag fixed it on my machine. Feel free to reopen the issue, if you still have the prob

[2018-09-12 10:00] #2680 closed

[2018-09-12 12:39] DavidDaCosta commented on #1373
I am also interested in this integration...

[2018-09-12 13:22] Lupiano opened #2852 "Test failing makes other tests running in parallel fail"
### Are you requesting a feature or reporting a bug?
Reporting a bug.

### What is the current behavior?
When I am running my tests concurrently in more than one browser and one test fails, all the tests that are running at the same time also fail. The other tests continue its execution but the final report is this:

  1) - Error in fixture.after hook -
      Unhandled promise rejection:

      [o

[2018-09-12 14:38] Lupiano commented on #2852
I think it is related to #2546 because with -u this bug disappears.

[2018-09-12 15:14] Lupiano commented on #2796
Hello @AndreyBelym , any new regarding this? Thanks!

[2018-09-12 15:15] AlexKamaev commented on #2852
Hi, @Lupiano
You are right, the reason of the issues is in #2546. However, It is an expected and documented behavior. This mechanism is created to help developers to find uncaught errors and unhandled rejections, so if the issue occurs there is a possibility of error in the test code. The mechanism is implemented via Node's [`unhandledRejection` event](https://nodejs.org/api/process.html#process_e

[2018-09-12 15:33] C-Higgins opened #2854 "Uploading a File within a Form does not send file name"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
When a multipart form contains a file input, using this with testcafe will result in the file being sent as a blob with no file name.

### What is the expected behavior?
The file should upload as though a user uploaded it, and the server should receive the proper file metadata.

### How would you reproduce

[2018-09-12 15:46] Lupiano commented on #2852
I'm getting this:

{"type":"externalAssertionLibraryError","isTestCafeError":true,"callsite":{"filename":"[filePath]","lineNum":[someLine],"callsiteFrameIdx":6,"stackFrames":[{},{},{},{},{},{},{},{},{},{},{},{},{}],"isV8Frames":true},"errMsg":"AssertionError: Some description: expected false to be truthy"}

It is a simple assertion error on some Selector.

[2018-09-12 16:56] Lupiano commented on #2852
BTW @AlexKamaev is there a way to skip these errors by code? Thanks for your time!

[2018-09-12 19:43] jossjacobo commented on #2842
@AndreyBelym I think I am running into this issue as well and I am seeing different results depending on the vsts-agent that gets picked up from the pool. Would the only way to select the agent be to have an agent in the pool with a lower target and then pick that agent? Or is there a way to define that on my `vsts-ci.yaml` file? I've been googling for a couple of hours and their documentation is

[2018-09-13 06:31] tiny-dancer opened #2855 "Question: Test Cafe freezing on page return application/json content-type"
### Are you requesting a feature or reporting a bug?

Question, potential bug

### What is the current behavior?

Clicking a link that navigates to another page freezes test cafe.  The only resolution to this is manually clicking the back button in the test browser.  The page being frozen on returns `application/json` content

### What is the expected behavior?

If content-type is the cause, avoid

[2018-09-13 06:54] AndreyBelym commented on #2842
Hi @adrianaisemberg, @jossjacobo! Unfortunately I'm not familiar with TFS infrastructure, so I need some days to setup environment and debug TestCafe under a VSTS agent. Looks like that TestCafe has no permissions to spawn processes in VSTS environment, so it can't start any browser. I don't think that there should be no difference between running TestCafe from CLI wrapper or from your own script

[2018-09-13 06:59] churkin commented on #2840
Hi @cmmv91,
As you can see, I've returned 500 page status code from the server in my example. Is this what you are talking about?

[code]

[2018-09-13 07:00] churkin commented on #2839
Hi @dmjesus89,
Is it a technical restriction or it is related to the company policy?

[2018-09-13 07:05] AndreyBelym commented on #2796
Hi @Lupiano, sorry for the silence, I think it is technically possible to introduce a new action like `t.dragFile` which will simulate dragging a file from an OS native window. I believe that currently there is no workaround to do what you want, because the easiest way requires to subclass our current drag action class, and add payload data generating for HTML5 Drag&Drop events. It is a big featur

[2018-09-13 07:49] AlexKamaev commented on #2852
@Lupiano, thanks for your cooperation. The issue is unexpected, a simple assertion error should not cause unhandled rejection. Could I ask you to share your test file and test page or prepare a simple test, which shows the issue?
 
You can skip these errors only if you remove the listener from the process:
[code]
Still, I do not recommend using this approach, because we need to detect the reason o

[2018-09-13 07:50] AndreyBelym commented on #2855
Hi @tiny-dancer! I think it's a duplicate of https://github.com/DevExpress/testcafe/issues/1471, TestCafe can't hadle page navigation to a non-HTML page.

[2018-09-13 07:50] #2855 closed

[2018-09-13 10:50] AndreyBelym commented on #2842
@adrianaisemberg, @jossjacobo could you please clarify, do you use Microsoft-hosted agents or your own machines? If the latter, do you start your agents [interactively](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=vsts#run-interactively) or [as a service](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=vsts#run-as-a-launchd-service)?

[2018-09-13 11:30] dmjesus89 commented on #2839
is related to the company policy

[2018-09-13 12:41] Lupiano commented on #2852
Hello @AlexKamaev, currently I cannot show you the test page, and the test file is a bit complex because uses some page objects, but it's something like this:

`await t.click(reportsPage.pendingTab).expect(reportsPage.pendingNameInput.exists).ok('The "Name" input for the "Pending" table should exist').expect(...).ok(...)... and the chain continues.`

This fails because the "reportsPage.pendingTab"

[2018-09-13 12:51] Bamyan opened #2856 "touchstart event does not contain proper values in changedTouches property on android devices"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?

It is not adding touches into `event.changedTouches` array. it is always empty

### What is the expected behavior?
Should contain touches in `event.changedTouches` array as i does in non-testcafe environment

### How would you reproduce the current behavior (if this is a bug)?
call `t.click` method on elem

[2018-09-13 13:34] miherlosev commented on #2848
I'm working on this

[2018-09-13 15:23] miherlosev opened #2857 "Replace `exec` to `spawn` for running tested app"
When a tested app command (provided via the `--app` parameter) outputs a large number of log messages to `stdout` or `stderr`, it can overflow child process buffers used by the `child_process.exec` function. We should use `child_process.spawn` that doesn't have this limitation.

[2018-09-13 15:29] miherlosev commented on #2848
Hi @stalniy

I've created a separate issue for this - https://github.com/DevExpress/testcafe/issues/2857.
Your PR is welcome.

I cannot reproduce the issue with Ubuntu 16.04 using your provided steps to reproduce (`node` - 10.9.0, `@vue/cli` - 3.0.3.).
Could you please share your project?

[2018-09-13 15:41] AlexKamaev commented on #2852
@Lupiano
I'll try to reproduce the issue. Until it is fixed, please use the '--skip-uncaught-errors' option.

[2018-09-13 17:05] Lupiano commented on #2852
Sure @AlexKamaev, if you need me to help you with something just tell me. Thanks!

[2018-09-13 17:05] chheller opened #2859 "[Feature] Allow scoped reporter plugins"
### Are you requesting a feature or reporting a bug?

Feature

### What is the current behavior?

Currently, when using a reporter it must be a publicly published module, due to L111 of [src/runner/bootstrapper.js](https://github.com/DevExpress/testcafe/blob/master/src/runner/bootstrapper.js#L111).

### What is the expected behavior?

When using a privately scoped NPM module, it should be possible

[2018-09-13 17:37] nabrahamson commented on #2495
I hope it's alright to add this code snippet to this closed issue.
@Lukas-Kullmann

I've figured out a way to do this in a scripted node application using async/await. Please see the code below

[code]

Adjust the browsers array to include the browsers you want to execute your tests against. The array may be a list of strings, or arrays containing browsers to run parallel. In my case, I can reliab

[2018-09-13 19:53] jantonypdx opened #2860 "v0.22.0 on Mac regression - 'browser not closing after test' is re-occurring"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
Looks like a regression of this issue: https://github.com/DevExpress/testcafe/issues/2132

In v0.22.0 - after test completes, Chrome process remains open (in dock)

### What is the expected behavior?
In v0.20.5 - after test completes, Chrome browser closes

### How would you reproduce the current behavior (

[2018-09-13 20:14] nabond240 commented on #2750
That is correct.  This issue doesn't happen for all websites.  The TodoMVC page works correctly for me as well, and Google works. So far I've seen the issue on our web site and the login.yahoo.com page.

[2018-09-13 20:16] nabond240 commented on #2750
@AndreyBelym I will give this a shot soon and let you know the results.

[2018-09-13 20:20] AndreyBelym commented on #2860
Hi @jantonypdx, I guess it's a regression of https://github.com/DevExpress/testcafe/issues/2226. Please read [my comment](https://github.com/DevExpress/testcafe/issues/2226#issuecomment-419095793) for more details. Could you please run `ps -ef >ps-ef.log` and `ps aux >ps-aux.log` after running TestCafe, and post the `ps-ef.log` and `ps-aux.log` files?

[2018-09-13 21:41] dmjesus89 commented on #2839
@churkin it is related to the company policy

[2018-09-13 22:12] jantonypdx commented on #2860
Here you go:
[ps-ef.log](https://github.com/DevExpress/testcafe/files/2381163/ps-ef.log)
[ps-aux.log](https://github.com/DevExpress/testcafe/files/2381166/ps-aux.log)

[2018-09-13 23:35] leofavre opened #2861 "Testcafe freezes when clicking a custom element on Chrome 68"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

In the following example, `await Selector('sling-button')` works fine but Testcafe doesn't seem to handle clicking the `sling-button` custom element, causing the test to pause and the browser to freeze.

The bug happens on Chrome 68 but not on Safari 11.1.2 or Firefox 63.0b5. Note that I'm not using polyf

[2018-09-14 00:37] nabond240 opened #2862 "Cannot navigate away from YouTube pages without getting an error"
### Are you requesting a feature or reporting a bug?

Reporting a bug

### What is the current behavior?

Using locally installed version of TestCafe.
 Running tests in:
 - Chrome 68.0.3440 / Windows 10.0.0

 YouTube Test
 × testing

   1) Error on page "https://www.youtube.com/user/CBSNewsOnline":

      [object DOMException]

      Browser: Chrome 68.0.3440 / Windows 10.0.0

         2 |

[2018-09-14 00:52] nabond240 commented on #2750
@AndreyBelym I tried the npm install testcafe@0.22.1-alpha.1 on my local machine and I received an error message.  Please see attached debug log.

[2018-09-14T00_47_24_794Z-debug.log](https://github.com/DevExpress/testcafe/files/2381466/2018-09-14T00_47_24_794Z-debug.log)

[2018-09-14 02:24] samuelsh opened #2863 "Element.requestFullScreen() throws an Error when a page is tested with TestCafe"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Click on fullScreen control seems not working

### What is the expected behavior?

Click on fullScreen control will switch video player to full screen mode

### How would you reproduce the current behavior (if this is a bug)?

Following code should reproduces the issue:
[code]

      AssertionError: expec

[2018-09-14 08:14] AndreyBelym commented on #2859
Hi @chheller! Thanks for the feedback! If you use Runner API, you can pass the reporter's factory function instead of the reporter's name:
[code]

[2018-09-14 08:29] AndreyBelym commented on #2861
Hi @leofavre! Unfortunately you code misses the `index.bundle.js` JS file that creates the `<sling-button>` custom HTML element. Could you please attach its content to a comment, or point me to the library/framework that provides this button?

[2018-09-14 09:33] miherlosev commented on #2862
Hi @nabond240

I cannot reproduce the problem.
It looks like the `https://www.youtube.com/user/CBSNewsOnline` page has JavaScript errors. TestCafe handle these errors on the tested page and report about it.
Use the [--skip-js-errors](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-e---skip-js-errors) option to ignore JavaScript error handling.

[2018-09-14 09:33] #2862 closed

[2018-09-14 09:40] #2726 closed

[2018-09-14 09:52] ymor commented on #1063
I came across this issue recently when i had chained expect/asserts, however one of the expects was missing an assert.  This made the whole test pass even though the first expect + assert should have failed.

Example:
[code]

[2018-09-14 10:02] ymor commented on #2852
Hi,
I've managed to recreate this heres an example:
[code]

It only seems to occur when using chaining multiple expect asserts and when the failure does not occur in the last expect/assert.  e.g if you flip the two expects around in the example,  you won't see the unhandled promise rejection

[2018-09-14 10:32] andrzej-kodify opened #2864 "Running in tests mobile chrome emulator kills networking and system - need help with debugging"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

I'm running tests in `chrome:emulation:device=iphone 6`. After few tests first my networking dies
[code]
When that happens (and I can reproduce it on every run) dns resolve stops working, basically no network activity works.

If I don't kill testcafe immediately after few seconds everything on my Mac star

[2018-09-14 11:32] AndreyBelym commented on #2864
Hi @andrzej-kodify, have you tried to open your site in the browser directly (without TestCafe), [enable device emulation in mode in DevTools](https://developers.google.com/web/tools/chrome-devtools/device-mode/) and perform test actions manually?

[2018-09-14 12:15] mixtur opened #2865 "Error when fetch used with data-url"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

testcafe throws an error
`Uncaught TypeError: Cannot read property 'destUrl' of null`

### What is the expected behavior?

no error

### How would you reproduce the current behavior (if this is a bug)?

use fetch with data-url in tested code.
For example:

[code]

Any test will fail including empty
For ex

[2018-09-14 12:55] andrzej-kodify commented on #2864
Hi @AndreyBelym
I did tried lot's of things trying to figure out what's wrong.
1. Yes, my site does work if I just use it without testcafe or at least couldn't manually reproduce that failure (and I have 100% success rate in reproducing it after running aprox 8 tests cases in single fixture).
2. I did try to remove any logic on my side that could've caused that (like request logger). Basically I'v

[2018-09-14 13:27] miherlosev commented on #2865
Hi @mixtur

At present, TestCafe does not support calling `fetch` with data urls. I've marked this issue as enhancement.

[2018-09-14 14:07] chheller commented on #2859
Ah I see, just 2 lines up should have given [that away](https://github.com/DevExpress/testcafe/blob/master/src/runner/bootstrapper.js#L109). Thank you!

Though, could we update the docs the show that the reporter can be a function instead of a string of the [reporter's name](https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/runner.html#reporter)? That might h

[2018-09-14 14:07] #2859 closed

[2018-09-14 14:26] cmmv91 commented on #2840
Hi @churkin,
No, is not a 500 page status, but a POST request that gets a 500 error. The error I'm talking about you wouldn't be able to see it in the UI unless you had the network tab open in the developer tools. I'm working on an example so you guys can reproduce the problem.

[2018-09-14 15:04] leofavre commented on #2861
@AndreyBelym Here's a complete example:

[code]

[code]

[2018-09-14 20:12] agoldenberg01 commented on #2814
Hi @AndreyBelym

Your syntax is working for me and I appreciate very much your help!
if it is possible, please, advise how practically use this debugger if I need to see the values of some parameters, etc. in the console.

Thanks A lot again!

[2018-09-16 02:37] rpolishetti commented on #2536
I got this issue. Not throwing exception, instead testing will be continued with null value

[2018-09-16 10:36] konqi commented on #2475
If I read the code correctly from the [hammerhead repo](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/session/index.js), persisting storages is simply not implemented.
So, at the moment, persistence and rehydration of the stores must be done manually.

[2018-09-16 23:48] nabond240 commented on #2750
@link89 I'm just curious, are you going through a proxy as well when reproducing this issue?  Like I mentioned above, it seems to work fine at home, but when I'm using my job's connection, that's when I'm seeing this issue.

[2018-09-17 01:02] link89 commented on #2750
@nabond240 For me it's the problem of IE11 version. Old version of IE11's location.origin is undefined. Do you use same version of IE11 when you try it at home?

[2018-09-17 07:43] darina-techery commented on #2782
The issue is solved now. As @AlexKamaev found, the problem was caused by `redux-localstorage` app module. It overwrote localStorage state, which led to invalid app state and occasionally crashed random tests. Alex also offered a workaround to fix this:

1. Add a client function to backup local storage content:
[code]
2. If you use a custom function to set up localStorage via role mechanism, pass y

[2018-09-17 07:50] #2782 closed

[2018-09-17 08:05] AlexKamaev commented on #2475
Hi @konki
The roles mechanism is supposed to work with both cookies and storage. The storage persistence is supported, so it is not required to do it manually. The cause of @darina-techery's issue was in overriding storage by some client script. Please refer #2782 to see details.

[2018-09-17 08:51] konqi commented on #2475
@AlexKamaev Nice! Can you point me to the right place where storage persistence is implemented, because it is not working for me and I'd like to debug it.

[2018-09-17 09:15] vigneshwar-v opened #2867 "File upload not working for me"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
setfilestoupload is not working

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

have an input field with type field

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* operati

[2018-09-17 09:52] AlexKamaev commented on #2475
@konqi
In the testcafe repo, TestCafe sends a command to the browser to return storages:
 
https://github.com/DevExpress/testcafe/blob/158695b099dce51a0495b2c269449a72eb701672/src/test-run/index.js#L588
 
In the hammerhead repo, a browser returns the storages to the server to save them in the role:
 
https://github.com/DevExpress/testcafe-hammerhead/blob/9ee5ebb2e90563b8ab82cc70f608888370e6b475/sr

[2018-09-17 09:54] AndreyBelym commented on #2750
@nabond240, I don't have a proxy in my network. From what I've got, it's a bug of older IE11 versions as @link89 said. Could you please try to update your Internet Explorer installation?

[2018-09-17 10:04] #2752 closed

[2018-09-17 11:05] gregorycv opened #2868 "navigateTo throws a TypeError: n.forEach is not a function"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

using .navigateTo throws an error : Uncaught TypeError: n.forEach is not a function
I've noticed such behavior in Chrome & Firefox while Safari seems to be working fine

### What is the expected behavior?

It should navigate to the given URL

### How would you reproduce the current behavior (if this is a

[2018-09-17 11:18] miherlosev commented on #2868
Hi @gregorycv

Could you please provide a page or small example to reproduce?

[2018-09-17 11:28] miherlosev commented on #2867
Hi @vigneshwar-v

I am afraid this information is not sufficient to find the cause of the issue. Could you please provide a page or a small example so that we can reproduce it on our side?

[2018-09-17 11:31] #2727 closed

[2018-09-17 11:41] miherlosev commented on #2839
`TestCafe` is a node.js based application. It is not possible to use `TestCafe` without node.js.

[2018-09-17 11:41] #2839 closed

[2018-09-17 11:46] gregorycv commented on #2868
@miherlosev Hi, thanks for a quick reply

[code]

This time I've got some additional error description:
`TypeError: n.forEach is not a function. (In 'n.forEach(function(e,t){e&&"#"!==e[0]&&( __set$(n,t,"#"+e))})', 'n.forEach' is undefined)`

[2018-09-17 12:11] andrzej-kodify commented on #2864
Hi @AndreyBelym,

I think I've got some luck in reproducing the issue on public URL.

`node_modules/.bin/testcafe "chrome:emulation:device=iPhone 6" tests`

[code]

It seems related to video playing in chrome but possibly also somehow to testcafe triggering this problem (I wasn't able to reproduce it manually browsing).
Also the issue happens more often with mobile emulator but it's not limited (w

[2018-09-17 12:27] miherlosev commented on #2789
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-09-17 12:27] #2789 closed

[2018-09-17 12:38] miherlosev opened #2869 "Fix a missing await"
https://github.com/DevExpress/testcafe/blob/master/src/runner/browser-job.js#L30

[2018-09-17 14:11] nabond240 commented on #2750
@link89 I'm using the same PC both at work and at home.  What version of IE did you update to for it to work?

@link89, @AndreyBelym I'm using Windows10, so it should update IE automatically.  I double checked and downloaded the available windows updates, restarted my PC, and I'm still noticing the issue.  I did check the location.origin mentioned above and it's undefined for me.  I'm not sure if

[2018-09-17 15:00] miherlosev commented on #2745
@edenadler @Sashikus
I am afraid this information is not sufficient to find the cause of the issue. Could you please provide a page or a small example so that we can reproduce it on our side?

[2018-09-17 15:13] miherlosev commented on #2868
When you use a programming way, need to pass `skipJsErrors` flag to the [run](https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/runner.html#run) method.

chrome-runner.js
[code]

[2018-09-17 16:30] link89 commented on #2750
@nabond240 You should update your ie11

@AndreyBelym By the way, here is another IE11/Edge problem I found when I tried testcafe@0.22.1-alpha.1: https://github.com/DevExpress/testcafe-react-selectors/issues/119#issuecomment-421897436

[2018-09-17 16:41] AndreyBelym commented on #2750
@nabond240, I've reproduced the issue with IE 11.0.27 on Windows 10.10240. Looks like IE11 on Windows 10.10240 misses the `location.origin` fix. I will try to update IE to the latest version available, and then merge you PR if it is still reproducible.

@link89, DevExpress/testcafe-react-selectors#119 is a different issue, introduced by [this commit](https://github.com/DevExpress/testcafe-hammerhe

[2018-09-17 17:48] chrisrpatterson commented on #2842
Hello I am a Product Manager on the Azure Pipelines team.

@adrianaisemberg  and @jossjacobo We have typically seen this be an issue on mac when not running as a LaunchAgent or running interactively.  The agent update process simply replaces the binaries on disk and should not impact any configured permissions as far as launching processes is concerned.  However, if there is something we can do to

[2018-09-17 19:59] asharmab opened #2870 "TestCafe clicks on item in Last second of given selectorTimeout, although the item exists on the DOM"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

**Use Case :** I have a kebab Menu icon. I want to click on it

**Steps performed:**

Check if kebab.exists  --> this returns true
Hover over the kebab ---> Successfully hovers over the kabab
Click on kebab   ---> Here the Application waits for the element to appear for the provided selector timeout timer

[2018-09-17 22:17] bdwain commented on #2732
@AndreyBelym any update on this? The browserstack plugin is currently useless because it only supports browsers that are already on your computer. I really would like to be able to run e2es against other browser versions, and testcafe's browserstack support was one of the major reasons why i chose it.

[2018-09-17 22:19] bdwain commented on #2074
agreed with @bxt . bump. This issue really should be addressed.

[2018-09-17 22:26] bdwain commented on #2849
@AndreyBelym how can I increase my logging to help debug this issue? I think it is specific to testcafe. I noticed when recreating the issue that after calling `navigateTo`, my app has a noticeable delay that is not there when I load the url directly in the browser outside of testcafe. I also noticed no delay at all when rewriting the test to run in [cypress](https://www.cypress.io/).

Are there i

[2018-09-18 04:41] ancentz commented on #1471
Yes, this is what I'm experiencing as well. I hope you will be able to add support to Non Html Files.
https://stackoverflow.com/questions/52361644/testcafe-cant-take-screenshot-when-opening-pdf

[2018-09-18 06:16] sophalch opened #2871 "Invalid calling object in IE 11"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Test failed with "Invalid calling object" in IE 11 only. Chrome, Edge, and Firefox are fine.

1) Error on page ".../6CF134EFF8788553F5A82C19A750B4DC.cache.html":

  Invalid calling object

  Browser: IE 11.0.0 / Windows 10.0.0

     at click (C:\sp\tests\ic\tests\login.js:33:6)
     at test (C:\sp\tests\ic\

[2018-09-18 07:07] gregorycv commented on #2868
@miherlosev Amazing!
Thanks a lot!

[2018-09-18 10:03] AndreyBelym commented on #2870
Hi @asharmab! This behaviour means that the element specified by your Selector is covered by another element. If you use Chrome, you can check it by right-clicking in the target element's position, choosing `Inspect` in the menu, and check that the inspected element is the element specified by your Selector. I can help you with this check if you post HTML source of your page.

[2018-09-18 11:04] AlexSkorkin opened #2872 "The 'Tested with TestCafe' badge image is not available"
### Are you requesting a feature or reporting a bug?

Bug.

### What is the current behavior?

The badge image is not available at the specified link: https://img.shields.io/badge/tested%20with-TestCafe-2fa4cf.svg

### What is the expected behavior?

The image is available.

### How would you reproduce the current behavior (if this is a bug)?

1) Go at https://github.com/DevExpress/testcafe#badge

[2018-09-18 11:40] AndreyBelym commented on #2872
I guess we have a problem accessing the `shields.io` contents from our corporate network.

[2018-09-18 11:47] AndreyBelym commented on #2872
Confirmed network problems caused by our corporate firewall.

[2018-09-18 11:47] #2872 closed

[2018-09-18 11:51] AndreyBelym commented on #2871
Hi @sophalch! Unfortunately I can't reproduce the issue without an example? Could you please provide access to your page, or HTML code of the page which can be used to reproduce the issue?

[2018-09-18 12:05] lucianonooijen opened #2873 "Create GitLab CI recipe"
### Are you requesting a feature or reporting a bug?

Requesting a feature

### What is the current behavior?

There is only CI support for for AppVeyor, CircleCI, Travis, TeamCity, Jenkins

### What is the expected behavior?

Support for GitLab CI

### Specify your

* operating system: **Testserver: GitLab Docker Runner (latest), using image `node:8-alpine`**
* testcafe version: **-**
* node.js v

[2018-09-18 12:35] AndreyBelym commented on #2873
Hi @lucianonooijen! You can use the [official TestCafe Docker Image](https://devexpress.github.io/testcafe/documentation/using-testcafe/using-testcafe-docker-image.html) in GitLab environment. Check [this comment](https://github.com/DevExpress/testcafe/issues/2747#issuecomment-414319643) for configuration details:

I think we should add a recipe for GitLab to our docs.

[2018-09-18 13:43] hinok opened #2875 "Error: EACCES: permission denied, open '/tests/docker-test-results/res.xml'"
### Are you requesting a feature or reporting a bug?
Reporting a bug

### What is the current behavior?
I created a `docker-compose.yml` for one of my projects that pulls `testcafe/testcafe` image and I'm not able to use `xunit` to create a report from my tests.

It works on my computer but doesn't work on circleci 🤒

Error reported on circleci:

[code]

I've found a similar topic https://testcafe

[2018-09-18 14:34] lucianonooijen commented on #2873
Hi @AndreyBelym, thanks for the prompt response! What the biggest challenge is (I think), is to make it possible to test the project itself.

For example: for the project https://github.com/BytecodeBV/Bytecode-Website I want the following tests:

* All pages are working
* Contact forms are working correctly (both server-side and client-side)

This would mean the following should happen in GitLab f

[2018-09-18 14:55] bhreinb commented on #2835
Hi @AndreyBelym

Any thoughts on the above?

Ideally, I'd like to move away from I'm doing in step 1), that been creating the runner & capturing in the Before step but rather do this in the BeforeAll Step. Reason been there is a significant performance hit doing this especially when integrated with Saucelabs or Browserstack. Moving to the BeforeAll stage however introduces something else as detail

[2018-09-18 15:12] AndreyBelym commented on #2873
@lucianonooijen, you can use TestCafe's [app option](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-a-command---app-command) to start the server.

TestCafe image comes with `npm`, so you can use `npm` to install your project's dependencies and build it. If you really need `yarn`, you can install it with `npm i -g yarn`.

[2018-09-18 16:01] lucianonooijen commented on #2873
@AndreyBelym I wasn't aware of the server starting option. That will definitely come in handy!

[2018-09-18 17:05] hinok commented on #2875
I found that on macOS when I do

[code]

all newly created directories belongs to `user` where on circleci everything belogs to `root`.

<img width="1552" alt="zrzut ekranu 2018-09-18 o 18 58 40" src="https://user-images.githubusercontent.com/1313605/45703831-afcfd080-bb75-11e8-9593-81f2e36e4928.png">

![zrzut ekranu 2018-09-18 o 17 53 43](https://user-images.githubusercontent.com/1313605/45703836

[2018-09-18 17:26] adrianaisemberg commented on #2842
We eventually switched to running on Linux.

[2018-09-18 17:26] #2842 closed

[2018-09-18 17:37] rpolishetti commented on #2536
@AndreyBelym

Got your point about exceptions. But I expected error as per documents, it throws error after timeout specified with Selector API options,  when we try to select DOM element. Instead I observed like, test just continues. When I wait for visible property on Selector promise, I got the real waiting for element. I just used like below.

const elToWait = await Selector('#elementId', {tim

[2018-09-18 18:04] bhreinb commented on #2838
Hello @Aniku2009

This may be of interest to you. I use this package to run tests in parallel via cucumber (with some limitations)

https://www.npmjs.com/package/cuke-skywalker

Hope this helps.

[2018-09-18 23:15] asharmab commented on #2870
Thanks for the pointer. I figured out the hidden element. Now I am hovering over the old item and then clicking on the item covering it . Since, the item to be clicked shows up after one hovers over the item I was using earlier. Thanks a lot for your help!!

[2018-09-19 01:03] sophalch commented on #2871
Hi @AndreyBelym, this is the test script:

    import { Selector } from 'testcafe'

    fixture `Test`
      .page('contentdev-intelliconnect.wkasiapacific.com')

    test('Main page', async t => {
      await t
        .wait(3000)
        .typeText(Selector('#username'), 'testuser2018')
        .typeText(Selector('#password'), 'password')
        .click(Selector('button[type=submit]'))
        .w

[2018-09-19 07:36] churkin opened #2876 "Validate type of `Match` assertion's argument"
We should check that the argument of the `.match` aseertion is a RegExp.

[2018-09-19 08:12] TauPan opened #2877 "Using RequestLoggers (somewhat) excessively leads to "Possible EventEmitter memory leak" warning from node"
### Are you requesting a feature or reporting a bug?
A mild annoyance, not really a bug. This is probably related to #271 . I understand the behaviour is benign but I'd like get some help on how to silence the warning. ;)

### What is the current behavior?
After discovering the new feature of RequestLogger I got somewhat excited and used them to make my browser tests more stable (because I'm using

[2018-09-19 08:20] hex0cter opened #2878 "Cannot save screenshots on mobile tests"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?
When testing on iPhone, `.takeElementScreenshot` doesn't not work. Here is the error:

[code]

### What is the expected behavior?
Taking screenshots should work the same way as desktop browsers.

### How would you reproduce the current behavior (if this is a bug)?
Run any test on iPhone 7, iOS 12 with mobi

[2018-09-19 08:48] TauPan commented on #2877
Hm, I just noticed that if I mark a single test with `.only` I also get the warning with `--concurrency=8` so maybe it doesn't really depend on the number of tests running.

[2018-09-19 08:56] AlexKamaev opened #2879 "oops"

[2018-09-19 09:00] #2879 closed

[2018-09-19 09:40] AndreyBelym commented on #2875
Hi @hinok, I think it's because CirecleCI uses a fake root user to run builds. In this case, you can change the user that will be used to run using the [-u argument](https://docs.docker.com/compose/reference/run/) of `docker-compose`.
##### run.sh:
[code]

[2018-09-19 10:30] hinok commented on #2875
@AndreyBelym

This is exactly what I found yesterday. To fix permissions I had to add:

[code]

and then permission problem is fixed.

To people who find this issue in the future and also want to use `circleci`. There is another issue if you'd like to run `testcafe` with `docker-compose` but it's strictly related to `circleci` mounting folders - https://circleci.com/docs/2.0/building-docker-images

[2018-09-19 10:33] #2875 closed

[2018-09-19 15:30] aboe026 opened #2881 "Tests can't run in "InPrivate" window in Edge"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
I'm trying to get the tests to run in an "InPrivate" window in Edge by doing the following:
[code]
The tests run in an ordinary, non-"InPrivate", Edge window. Do I have the flag incorrect? I see for other browsers it is:
[code]

### What is the expected behavior?
The tests run in an "InPrivate" Edge window

[2018-09-20 10:21] bhreinb opened #2882 "Start testcafe at BeforeAll stage rather than Before stage in cucumberjs"
### Are you requesting a feature or reporting a bug?

Feature

### What is the current behavior?

Slowness running tests with testcafe integrated with cucumberjs

### What is the expected behavior?

A faster experience especially when running against saucelabs or browserstack

### How would you reproduce the current behavior (if this is a bug)?

I can attach a sample application to help reproduce

[2018-09-20 11:21] cullophid opened #2885 "Error when using Roles in headless firefox on ubuntu"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Throws and error when using roles

[code]

### What is the expected behavior?
login and continue to test

### How would you reproduce the current behavior (if this is a bug)?
running the first test using a role

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[2018-09-20 12:15] cullophid commented on #2885
Same Issue on MacOS with firefox..
Works on:
MacOS, Chrome
Windows 10, chrome, firefox

[2018-09-20 12:55] kirovboris commented on #2074
Hi @bdwain @bxt,

I agree that the current implementation can cause problems with test generators.
We decided to add an option that enables the behavior you described in the upcoming releases.
Later, when we release a major update, we will enable this behavior by default.

[2018-09-20 13:12] AndreyBelym commented on #2885
Hi @cullophid, looks like there is an exception in your JS code on the page. I need an example page or access to the real page to reproduce the issue. You can also try to enable the [Skip JS errors](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-e---skip-js-errors) option to suppress uncaught exceptions in JS code.

[2018-09-20 13:33] shariqMohammed92 opened #2886 "Getting 'Error: { type: 'uncaughtErrorOnPage' while running my suite"
### Are you requesting a feature or reporting a bug?
I have written a piece of code which is BDD integrated in javascript now when I run the code,
I am getting the following error  in test cafe:
   Error: { type: 'uncaughtErrorOnPage',
         isTestCafeError: true,
         callsite:
          CallsiteRecord {
            filename:
             '/Users/shariq/Documents/Repo/CantizConnect_UI-Auto

[2018-09-20 14:12] AlexSkorkin commented on #2881
Thank you for reaching out to us and submitting this issue.
 
The 'edge' browser alias executes the microsoft-edge command to start the browser. While in other browsers like Chrome and Firefox, their '-incognito' and '-private-window' arguments work in a straightforward way, the Edge browser requires additional tweaks to be executed in private mode.
 
You might want to check out the following thre

[2018-09-20 14:12] #2881 closed

[2018-09-20 16:10] AndreyBelym commented on #1859
Another variant of the same problem:
[code]

[2018-09-20 20:47] theredwillow commented on #1709
[code]

Console.log does not log anything for me within a test() function (in neither the browser the tests are running in, nor the terminal). Am I misunderstanding something? How are we supposed to debug what the Selector is grabbing?

[2018-09-20 21:19] Hotell opened #2887 "testcafe takes 2x more time to boot than than vanilla js when "native" typescript compilation is used"
### Are you requesting a feature or reporting a bug?

**BUG**

### What is the current behavior?

tests that are compiled "natively" within testcafe take 2x more time then precompiled with `tsc` and run on compiled vanilla js files:
![image](https://user-images.githubusercontent.com/1223799/45847367-1fd38780-bd2b-11e8-9bbf-3341c96fdcfa.png)

### What is the expected behavior?
leverage `tsc` proper

[2018-09-21 01:16] link89 commented on #1373
Is there a way that we can control the lifecycle of test controller, so that we can use testcafe more like a library than a framework? Just like web driver does.

[2018-09-21 04:56] anandxp commented on #2886
Getting "Uncaught ReferenceError: System is not defined"

Is this something related to this specific webpage. We are getting this issue on a simple testcafe studio recording on the same page

![image](https://user-images.githubusercontent.com/21304150/45861171-c732d780-bd88-11e8-9df7-4ff311c08af9.png)

URL : http://111.93.108.38:4200/landing

[2018-09-21 07:56] gregorycv commented on #1533
@AlexanderMoskovkin Hi
I was wondering if it is possible to reopen this issue as it still seems to persist.

**Are you requesting a feature or reporting a bug?**
Bug / User error

What is the current behavior?
I am using a page-model approach meaning I have my model.js file where all the selectors(buttons, iframes, input fields etc.) and a few methods(login) I need during my tests are created.
Som

[2018-09-21 10:08] #2852 closed

[2018-09-21 10:34] AndreyBelym commented on #2886
Hi @shariqMohammed92, @anandxp, this error means that you have an uncaught exception on your page. I can reproduce it without TestCafe:

![image](https://user-images.githubusercontent.com/4479386/45876015-0faabf00-bda2-11e8-8a74-9ff1190e17bf.png)

You can fix the error on your page, or clear the `Fail if a JavaScript error occurs on a page` checkbox in the [Run Configurations dialog](https://testc

[2018-09-21 10:34] #2886 closed

[2018-09-21 14:17] AndreyBelym commented on #2882
Hi @bhreinb! I think it's better to address this issue to the author of https://github.com/rquellh/testcafe-cucumber. It doesn't look like as a TestCafe's issue, but more like an issue of Cucumber integration.

Currently we don't have official cucumber integration. For now it's hard to implement proper integration with Cucumber, because TestCafe was designed as all-in-one tool (browser manipulatio

[2018-09-21 14:17] #2882 closed

[2018-09-21 14:27] AndreyBelym commented on #2877
Hi @TauPan! Unfortunately I can't reproduce the issue, could you please provide a complete example with the full test code and the test page?

[2018-09-21 14:59] bhreinb commented on #2882
Hi @AndreyBelym

Thanks for your response. Yeah it would be great if TestCafe just had the stand-alone browser manipulation subsystem. That would be useful to a-lot of users I would think.

I'm fairly sure the author of that repo can't do anything to fix this. Functionality it works per design when I have the TestCafe setup in the Before stage but way too slow. In the BeforeAll (where I should be

[2018-09-21 16:28] automation9006 opened #2888 "Unlock Page and finish button appears when Test fails"
### Are you requesting a feature or reporting a bug?
 Reporting an issue

### What is the current behavior?
 I get finish and unlock page button when my test fails

### What is the expected behavior?
 to continue for new test

### How would you reproduce the current behavior (if this is a bug)?

Just run bunch of tests in serial

#### Provide the test code and the tested page URL (if applicable)

[2018-09-21 18:15] nabond240 commented on #2750
@AndreyBelym Thanks!  Yea, the Windows version just says "Windows 10 Enterprise 2015 LTSB" for me.  It's a version that prevents you from using MS Edge, and there might be some restrictions on what you can do with IE.

[2018-09-21 20:17] edimistra commented on #1373
I tried integrating with Gauge but it looks like there's a problem with the Gauge library. Having the ability to integrate with BDD would be finding the lost ark of agile testing :)

[2018-09-22 20:27] dn1231 commented on #1373
I agree with everybody else.  It would be best if we can get this soon because the workaround looses features in testcafe.

[2018-09-22 20:36] aphofstede commented on #2194
Using @andrzej-kodify's video recorder plugin I was able to capture a screenshot, but it's just a white page. Note that it consistently halts after printing the first test name, stating:

It does not occur randomly.
Note: You can quickly set up a free test environment on https://buddy.works if you want to test out docker headless chrome issues.

[2018-09-23 03:08] subbiah2806 opened #2889 "ERROR No tests to run. Either the test files contain no tests or the filter function is too restrictive."
### reporting a bug?
I have written the test in another file and calling it below the fixture, but now I am getting this error.

ERROR No tests to run. Either the test files contain no tests or the filter function is too restrictive.

Test code

---CommonScripts.js---

const commonScripts = {
    google() {
        test('google', async t => {
            await t
                .typeText('#tsf > d

[2018-09-23 03:10] subbiah2806 commented on #2889
It works if there is atleast one test below fixture like this.

import commonScripts from './commonScripts.js';

fixture('google')
    .disablePageReloads
    .page('https://google.com');

test('wait', async t => {
    await t
        .wait(1);
});
commonScripts.google();

[2018-09-23 05:34] subbiah2806 commented on #1770
using .disablePageReloads doest prevents reloading page between tests. Page gets reloaded with state preserved.

Is there any workaround.

[2018-09-23 05:48] subbiah2806 commented on #1770
fixture
  .page `url.html`

test1()

test2()

In test1 navigates to certain page in the website.
In test2 performs actions after navigating to certain page.

But after test1 website gets reloaded, so website goes to initial page.

I don't want to reload the website after each test. Is there any way for that.

Tried both .disablePageReloads and useRoles. both preserve state on reloading but doesn't

[2018-09-23 17:18] subbiah2806 commented on #2885
import { Role } from 'testCafe' and use -e in cmd line to skip js error.

Hope it resolves

[2018-09-23 17:27] subbiah2806 commented on #1770
"@fixture griffin";
"@page https://******.com";

"@test"["gr"] = {
    '1.Click input "Account Name"': function() {
        act.click("#accountname");
    },
    "2.Press key CAPSLOCK": function() {
        act.press("capslock");
    },
    '3.Type in input "Account Name"': function() {
        act.type("#accountname", "@@@@");
    },
    "4.Press key TAB": function() {
        act.press("tab");

[2018-09-23 20:46] Foxandxss commented on #1845
No workaround for this right now? If I import code from my app (to use in tests) and that uses this feature, it fails.

[2018-09-23 22:07] bdwain commented on #2074
awesome! thanks!

[2018-09-24 00:36] ljowen commented on #2889
Seems to be an issue with the static analysis testcafe does to determine testfiles.
As a hacky work around you can try adding a comment in google.js:
`// test()`

It would be nice to be able to add an annotation to allow importing tests as modules

[2018-09-24 01:43] subbiah2806 commented on #2889
Helpful thanks

[2018-09-24 01:55] aboe026 opened #2890 "Docker Image Node Version Compile Mismatch"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
When attempting to use the `testcafe/testcafe` docker image, i'm getting the following error:
[code]

### What is the expected behavior?
I should install/build the server on the same version of node that the `testcafe/testcafe` image uses. I don't know how to find that out though.

### How would you reprodu

[2018-09-24 07:48] hiruthre opened #2891 "Unable to click onlclick action menu items..."
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?
Unable to click onlclick action menu items...

"< a class="waves-effect waves-cyan active" href="#" onclick="javascript:__fnLoadScreen('Bodm/Layout?mode=CUD');" title="User Master">< i class="mdi-action-view-carousel">< /i>User Master< /a>

### What is the expected behavior?

### How would you reproduce th

[2018-09-24 09:36] msemkowicziwanow opened #2893 "Provide more details when test cannot load a page due to corporate network security rules"
### Are you requesting a feature or reporting a bug?

Bug/Feature(??)

### What is the current behavior?

After creating and running a super simple test (which just jumps to the google main page and expects the body to be visible) browser is being open, test cafe logo is displayed but google page is not reached -  I'm getting an error 'Failed to find a DNS-record for the resource at "https://googl

[2018-09-24 09:49] AlexKamaev commented on #2891
@hiruthre
Would you please provide me with the details of the issue since I need to know how your `__fnLoadScreen` works and how the action menu items are rendered?
 
I would appreciate it if you prepare a small working example to demonstrate the issue.

[2018-09-24 09:54] jugglingthebits commented on #2873
@lucianonooijen there is already: Start the server using `.gitlab-ci.yml`, then use [wait-on](https://github.com/jeffbski/wait-on) to wait until the server is started. Then run the tests.

[2018-09-24 10:01] TauPan commented on #2877
Sadly I can't share more of the code at the moment. I might be able to figure out a minimal example with some time, but it's not a priority at the moment. So I think we should close this for the time being.

[2018-09-24 10:47] ludwigbacklund opened #2894 "Cookies not being set"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Setting cookies through a client function is not actually setting them on the correct document(?). They do not exist when trying to find them through the "Application" tab of the chrome developer tools but can be seen with ```console.log(document.cookie)```. The application does not detect the cookies at

[2018-09-24 11:05] AlexKamaev commented on #2889
@subbiah2806 @ljowen
Hi
The code analyzer requires use of the `test` method in the test file, but you can easily bypass this restriction in the following manner:
 
Create your module with some object which contains a test name and test function:
[code]
 
Import this module and call the test function from the module's resulting object:
 
[code]
It will allow structurizing your tests as you wish and

[2018-09-24 11:55] hiruthre commented on #2891
Since webpage is confidential and can't share in public.
The webpage contains the following components
1. Main URL
2. Left Menus
3. iframe (in which __fnLoadScreen URL will be load based on onclick action).

Each Menu is having onclick action with __fnLoadScreen(URL). whenever a user clicks on a menu, the system appends fnLoadScreen URL with the main URL and load the screen in an iframe.

[2018-09-24 11:58] AlexKamaev commented on #2894
Hi @ludwigbacklund
I modified your test to check it on my machine and found that cookies are saved and restored correctly. Please see the following code::

[code]
And here is console output:

[code]

In the log, I see that cookies are restored correctly.
As for the issue with the `Application tab`, cookies are not displayed at the `Application tab` because of our internal mechanisms. When you set

[2018-09-24 12:07] AlexKamaev commented on #2888
Hi @automation9006
The `Finish` button usually appears when you run tests with the `--debug-on-fail` option. Please refer the following article: http://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#--debug-on-fail
To avoid this behavior, it is sufficient to remove this option from CLI arguments (or from the `run` method options if you are using `Runner`)
 

[2018-09-24 12:44] eljenso opened #2895 "DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'testcafe|driver|Zlbvo42jY' exceeded the quota."
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
I'm trying to run a single test (marked with `test.only`) which creates a project on our website, adds a few data (images) and saves it (upload to a server).
During the upload phase, this error appears mutliple times in console:
[code]
The upload never finishes and the test never continues.

### What is the

[2018-09-24 12:49] AlexKamaev commented on #2891
I prepared a sample based on your code and was not able to reproduce the issue.
Could you please modify it to demonstrate the problem?
Test page:
[code]

Test file:

[code]

If you are unable to reproduce the issue in my sample, it would help if you prepare a simple project with test data and remove confidential information to show the problem.

[2018-09-24 12:55] ludwigbacklund commented on #2894
Thanks for the quick response. You are correct in that the cookies appear with a call to getCookie but the application is still not seeing/utilizing them. In my case there is an overlay that disappears when a cookie is set to true, which is verified to be working outside of any test framework but also in Cypress, but does not work here. I don't know if you know how Cypress works but do you think t

[2018-09-24 13:11] hiruthre commented on #2891
Alex,
I am able to click link using the selector. Since selector changes based on the menu configuration i.e. position of a menu. However onclick action is constant even though position change.. Hence I want to click menu based on onclick action attribute rather than using selector.

[2018-09-24 13:34] eljenso commented on #2895
Looks like this is an error on our side.

[2018-09-24 17:17] AlexKamaev commented on #2894
@ludwigbacklund
Could you please try to modify your test code in the following manner:

[code]
I added additional navigation to the test page to force page reloading. As I've mentioned before, testcafe has it's own mechanism to store cookies. This mechanism works on the server side so we need to reload the page to synchronize cookies.
 
Could you please try this approach?

[2018-09-24 18:10] AlexKamaev commented on #2891
If you just want to click an element by it's attribute you can use [attribute selector](https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors)
 
Thus for the button in the following example:
[code]
you can use this selector:
[code]

[2018-09-25 04:54] anandxp commented on #2886
Thanks  @AndreyBelym

[2018-09-25 08:13] ludwigbacklund commented on #2894
@AlexKamaev Thank you, that seems to work. I'm not sure if it's just for this use-case but that was not very straight forward. Might be interesting to work towards a TestCafe solution to setting cookies so force reloading is not necessary.

[2018-09-25 08:56] #2894 closed

[2018-09-25 11:01] AlexKamaev commented on #2601
I'm closing this since there was no activity here for a long time. Feel free to reopen the issue if it's still actual.

[2018-09-25 11:16] amirse80 commented on #1330
Hi, I am trying to run a test via test runner and I get the same error.
node tRunner.js chrome "C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"

I have tested many different combinations like:
1) C:\\...
2) C:\..
3) with surrounding "C:\\" and also without " "
4) I have tested with only "node tRunner.js chrome"

Regardless what I do I always get Error: Unable to find the browser.

[2018-09-25 18:42] ambrt opened #2898 "Unhandled promise rejection [object Object] in some callback functions"
* testcafe version: "^0.22.0"

I'm making test for comparing actual screenshot with file in orginal folder.

i'm reading both images in his way
[code]

Inside of `myDone` is `await t.expect(0).eql(1)` to throw error. But instead of error i get
[code]
one can catch error with await t.expect(0).eql(1).catch((err)=>{console.log(err)})
[code]

For a reproduction one can make similar problem with objec

[2018-09-26 07:52] ludwigbacklund opened #2899 "resizeWindow() stopped working after macOS update (Mojave)"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

resizeWindow does not resize window in either Chrome or Firefox

### What is the expected behavior?

resizeWindow should resize window

### How would you reproduce the current behavior (if this is a bug)?

use resizeWindow on macOS Mojave

#### Provide the test code and the tested page URL (if applicable)

[2018-09-26 08:02] AlexKamaev commented on #2898
 
It looks like you missed the 'await' keyword before calling the async function. Could you please modify your `imgCounter` object in this way?
[code]
Or, try this approach:
[code]

[2018-09-26 11:39] KristianPP opened #2900 "Click/Hover can't scroll to element and fails to click/Hover due to element visibility"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

When attempting to click on an element
[code]
The page constantly scrolls to the element then scrolls to the very top of the page. In the end due to timeout we get the  element not visible error. This happens both on click and hover.

[code]

### What is the expected behavior?

Element is scrolled to and

[2018-09-26 12:43] AndreyBelym commented on #1533
@gregorycv, likely the iframe that raises this error failed to load. I can't reproduce this without access to your website. We will provide a way to configure the iframe loading timeout in the context of https://github.com/DevExpress/testcafe/issues/2387.

[2018-09-26 12:58] AndreyBelym commented on #2194
@aphofstede, this problem can be specific to the site and the Docker container. Could you please provide the Dockerfile for the container that runs problematic tests?

[2018-09-26 13:01] AndreyBelym commented on #1770
@subbiah2806, it's not a TestCafe Studio, but the old TestCafe (15.x) test file. Old test file syntax is in legacy state, and won't get any new features. So disabling page reloads won't work with the old test file syntax.

[2018-09-26 13:03] AndreyBelym commented on #1845
@Foxandxss, unfortunately you have to compile you app to the plain JS before importing its code from TestCafe test files.

[2018-09-26 13:04] Foxandxss commented on #1845
That is problematic.

We have a complex Angular app using stuff like:

[code]

So if we try to import from testcafé any angular file (any at all) it will try to compile the entire app and fail because it won't recognize the syntax.

[2018-09-26 13:05] AndreyBelym commented on #1330
@amirse80, could you please share the code of the `tRunner.js` file?

[2018-09-26 13:30] AndreyBelym commented on #2900
Hi @KristianPP, I've discovered that we have another problem that happens on `https://adidas.co.uk`: https://github.com/DevExpress/testcafe-hammerhead/issues/1769.

We need time to fix it first before reproducing the scrolling issue. Could you please specify another website with the same scrolling behavior?

[2018-09-26 13:31] AndreyBelym commented on #2899
Hi @ludwigbacklund, I need some time for upgrading my machine to macOS Mojave, and then I'll try to reproduce the issue.

[2018-09-26 13:49] AndreyBelym commented on #2890
Hi @aboe026! It's a limitation caused by the Docker containers structure.

Since each Docker container provides an independent operating system, you have to ship all required software binaries in it. It also means that if you need to execute a binary in a container, you have to install it using container's OS package manager, or recompile it in the container.

So you can create you own Docker imag

[2018-09-26 13:49] #2890 closed

[2018-09-26 13:52] KristianPP commented on #2900
Hi @AndreyBelym  thanks for the prompt answer.
http://www.bbc.com/ is the other site but just to note here i see other fails as well.
There were a few other sites i tried but i'll need to check which elements i wanted to use.

The common part of those sites as far as i'm aware is they use reactjs or similar libraries.

Regards,
Kris.

[2018-09-26 14:16] aboe026 commented on #2890
Thanks @AndreyBelym. I've actually decided to run my app outside the context of the TestCafe image and have the tests take an environment variable to point the URL where the tests are actually running.

[2018-09-26 14:38] Bamyan opened #2902 "Disabled button with span inside triggers click event"
### Are you requesting a feature or reporting a bug?

Bug.

### What is the current behavior?

When you have disabled native button with `span` element inside, the click event is triggered in IE and Edge browsers.

### What is the expected behavior?

Click event should not be triggered when a button is disabled.

### How would you reproduce the current behavior (if this is a bug)?

1. Create a dis

[2018-09-26 15:04] Lupiano opened #2903 "Skip fixtures according to a service response"
### Are you requesting a feature or reporting a bug?
I think is neither of both. Probably it is a language limitation.

### What is the current behavior?
I have the following configuration:

[code]

### What is the expected behavior?
Inside "loadFixture" function, there is a call to a service, which response is used to define whether the fixture is skipped or not. The problem is that the execution

[2018-09-26 16:39] subbiah2806 commented on #1770
My apologies guys please provide some high level documentation on above issue.

Below is the syntax I use where .disablePageReloads doesnt work. It preserves the state, but refreshs the page between test.

I cant wrap a whole test of a website into one test.
I have 51pages and approx 8 test a page which refresh  the page 408 times. After every test I need to navigate back the page where it left ea

[2018-09-26 17:01] djbreen7 commented on #1845
Hi @Foxandxss!

Is there a specific reason that you have your testcafe code and your angular code in the same project? I believe the idea is that your testcafe tests exist in their own project and you run them against a served up or deployed app.

Forgive me if I'm confused. :) Maybe there are some unseen benefits to your approach. It just seems uncommon to me.

Regardless, I'm specifically subscr

[2018-09-26 17:13] sbenyo opened #2904 "Uncaught TypeError: e.target.hasAttribute is not a function"
### Are you requesting a feature or reporting a bug?

Bug or wrong usage

### What is the current behavior?

Trying to use an element which is the first row in a table. Selector is simple:
Select('table').find('tbody').find('tr').nth(0)

### What is the expected behavior?

Click should work and select the row

### How would you reproduce the current behavior (if this is a bug)?

Simply run the tes

[2018-09-26 17:36] Foxandxss commented on #1845
@djbreen7 That is possible but Angular projects comes with a nice folder structure & features for e2e so you can plug in testcafé in there. You don't need to touch any of the angular code and it will work perfectly.

The case is that we have an exported enumeration with paths and we would like to use them for `t.navigateTo` but we can't import it, even if the file is simple, it will try to get the

[2018-09-27 06:53] ludwigbacklund commented on #2899
Thanks, any update?

[2018-09-27 07:16] ambrt commented on #2898
Thank you  @AndreyBelym reply. Promise seem to solved problem for object getter but i still have problem with fs.

Minimal reproductions is this:

[code]
("cafe": "testcafe \"chrome:headless --no-sandbox\" ./test/e2e/object-error.js --color -s ./test/e2e/images/ -p ${FIXTURE}/${TEST}.png")

The above reproduction should fail test but it passes test with npm ELIFECYCLE error
[code]

I don't have lo

[2018-09-27 07:33] Turkirafaa opened #2905 "crypto.randomFillSync is not a function"
### Are you requesting a feature or reporting a bug?
Yes

### What is the current behavior?
TypeError: crypto.randomFillSync is not a function
    at module.exports (/var/lib/jenkins/jobs/automated-test/workspace/node_modules/nanoid/random.js:5:10)
    at module.exports (/var/lib/jenkins/jobs/automated-test/workspace/node_modules/nanoid/index.js:24:15)
    at new Role (/var/lib/jenkins/jobs/automa

[2018-09-27 08:18] stavalfi opened #2906 "Get the text conent of an element"
### Are you requesting a feature or reporting a bug?

feature

### What is the expected behavior?

I will be able to save the text content of an uneditable element to later use that for asserting. (between the time I saved and the assertion time, the text content of the element may change)

[code]

[code]

[2018-09-27 08:26] AndreyBelym opened #2907 "Firefox auto-update is not prevented"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
TestCafe can't prevent Firefox from updating even when it is started with a temporary profile.

### What is the expected behavior?
Browser's auto-updating must be disabled when Firefox is started with a temp profile.

### Specify your

* operating system: Windows
* testcafe version: 0.22.0

[2018-09-27 08:32] AlexKamaev commented on #2898
In this case, test runner does not wait when the `fs.createReadStream` callback is called. A callback is called after the test is finished. I recommend you modify the test using the `promisifyEvent` module.
[code]

This approach guarantees that test run will wait until parsing is finished.

[2018-09-27 08:40] AndreyBelym commented on #2905
@Turkirafaa, please check the Node.js version on your Jenkins machine. I guess it's lesser than `7.10.0` - the version that introduced the [crypto.randomFillSync](https://nodejs.org/api/crypto.html#crypto_crypto_randomfillsync_buffer_offset_size) function. By the way, it's a [breaking change](https://github.com/ai/nanoid/commit/8db78bad0f11da03e9fe7c707b2feac13e0f6801#diff-b195669f6653037f4481cc8d

[2018-09-27 08:44] AlexKamaev commented on #2902
I was able to reproduce the issue in Edge

[2018-09-27 09:02] ambrt commented on #2898
Thank you, that solves it.

[2018-09-27 09:02] #2898 closed

[2018-09-27 09:08] Turkirafaa commented on #2905
@AndreyBelym  Thank you so much for you'r quick response we update the Node.js version to v8.12.0
and it's working now.

[2018-09-27 09:08] #2905 closed

[2018-09-27 09:56] AlexKamaev commented on #2904
I've tried your test and it passes on a sample page.
[code]
[code]
Could you please run your tests with the [--skip-js-errors](http://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-e---skip-js-errors) option. If the test passes with this option enabled, most probably the error is in your code.

[2018-09-27 11:41] hiruthre commented on #2891
Alex, am able to click menu using attribute selector.  Thanks..

[2018-09-27 11:48] miherlosev opened #2908 "Detect outdated browsers and notify customer about it"
We need to notify customers that they run tests with outdated browser.
'Outdated browser' will be detected using a feature detection.

At first, see https://github.com/DevExpress/testcafe-hammerhead/issues/1758.

[2018-09-27 13:09] miherlosev opened #2909 "Improve a message about JavaScript error occurred on the page"
TestCafe tracks JavaScript errors occurred on the page. A test writer often doesn't know that a tested page has JavaScript errors. According to the error message provided by TestCafe, a customer cannot identify that problem is related to the tested page.

Need to extend the error message as follow (it's a draft message format):
[code]

[2018-09-27 14:50] miherlosev commented on #2732
Google Chrome automatically updates on customer computers.
It means that the most customers have the latest Google Chrome version on their computers.
This is why, TestCafe supports only the latest version of Google Chrome.
During TestCafe development, we test this tool only in [modern browsers](https://github.com/DevExpress/testcafe/blob/master/Gulpfile.js#L82).
If you need support of outdated bro

[2018-09-27 14:50] #2732 closed

[2018-09-27 14:56] #681 closed

[2018-09-27 14:56] bdwain commented on #2732
@miherlosev you forgot about tablets. I want to test on old versions of chrome because my users are on tablets that do not auto upgrade. That is what browserstack is supposed to help with, so if I can't use browserstack with testcafe on older browsers, testcafe does not support browserstack and should not claim they do.

[2018-09-27 15:04] miherlosev commented on #2732
You can use the older `TestCafe` versions with browserstack (0.17.0 and older).

[2018-09-27 15:07] bdwain commented on #2732
That's disappointing. as browserstack support was a key reason for me using testcafe. The documentation should be updated to mention that browserstack support was dropped

[2018-09-27 15:21] #2891 closed

[2018-09-27 15:27] AndreyBelym commented on #2732
@bdwain I understand your frustration and dissatisfaction about this problem, but BrowserStack support doesn't mean that we support all browsers available on the platform, You can say that you have Chinese customers with Windows XP and IE6, so TestCafe must support IE6 for declaring BrowserStack support. As I said, in our opinion BrowserStack is a cloud provider for Continuous Integration services

[2018-09-27 15:27] miherlosev commented on #2848
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-09-27 15:27] #2848 closed

[2018-09-27 15:30] miherlosev commented on #2774
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-09-27 15:30] #2774 closed

[2018-09-27 15:34] bdwain commented on #2732
Thank you for taking the time to explain. Unfortunately, the tablets we've given out to our restaurants are on an android version that locked the version of chrome, and we have no easy of of updating all of their devices to be a new android version.

I would be happy to make a PR to fix the issue. I think you posted the wrong issue link though. #2732 is this issue. I can look into the testcafe ham

[2018-09-27 15:37] AndreyBelym commented on #2591
I close this issue because of the long period of inactivity. Feel free to reopen it if you have any updates.

[2018-09-27 15:37] #2591 closed

[2018-09-27 15:52] AndreyBelym commented on #2732
I've got Chrome 55 working during the debugging session with the following changes:

1) Due to different property descriptors structure in older Chrome browsers, the following code in the [src/client/sandbox/native-methods.js:515](https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/native-methods.js#L515) file is invalid:
[code]

In Chrome 55, `win.Object.getOwnPropert

[2018-09-27 15:58] AndreyBelym commented on #2860
Hi @jantonypdx, sorry for the late response. Judging by the differences in the log files, it's really the regressed #2226. I think we have to get rid of the `ps-node` module, because it works unreliably on macOS systems.

[2018-09-27 16:19] bdwain commented on #2732
Thanks! I will try to look at that when I get a chance.

[2018-09-27 17:14] jantonypdx commented on #1520
Another use case is Visual Validation testing:
You write a Testcafe-driven workflow that visits many pages. On each page, it capture a screenshot of the full page and then sends it to a visual validation tool. This tool looks at the image & compares it to a previous "baseline" image. It then returns a "difference" score (e.g. 0.00 == images identical; 0.01+ - 100.0 == % change). You then write ass

[2018-09-27 19:12] eseceve opened #2910 "TypeError: (0 , _exportableLib.Selector)(...).withAttributte is not a function"
### Are you requesting a feature or reporting a bug?
Reporting a bug

### What is the current behavior?
[code]

### What is the expected behavior?
Return a element

### How would you reproduce the current behavior (if this is a bug)?

`npm run e2e` (`testcafe chrome tests/e2e/**.spec.js -a 'npm start'`)

#### Provide the test code and the tested page URL (if applicable)

Test code

[code]

### Spe

[2018-09-27 19:16] cullophid commented on #2885
I'll give that a try:)

[2018-09-28 07:08] ludwigbacklund commented on #2899
@AndreyBelym Did you find anything after your Mojave upgrade?

[2018-09-28 07:11] AndreyBelym commented on #2899
@ludwigbacklund, Mojave update broke my virtual machine, so I now have to fix it, likely by restoring High Sierra and installing Mojave from ESD.

[2018-09-28 08:34] amirse80 commented on #1330
@AndreyBelym, thanks for your reply. We have found the issue actually. The problem was not in testcafe for some reason not being able to open the browser. Insted it was actually a network issue. We needed to open up a port in our internal network, 1337, and then it started to work. Now I have another issue that is about the browser not being closed after a test (opened with TestCafe DISCONNECTED m

[2018-09-28 08:47] AlexKamaev commented on #2903
I think the easiest way to solve the issue is to[ create testcafe](http://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/createtestcafe) instance in your code and set the [runner object](http://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/runner.html) in your own manner. I prepared a sample example to demonstrate this approach:

[2018-09-28 08:55] #2910 closed

[2018-09-28 08:55] #2903 closed

[2018-09-28 08:56] #2889 closed

[2018-09-28 10:10] miherlosev commented on #2840
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-09-28 10:10] #2840 closed

[2018-09-28 11:00] miherlosev commented on #2861
Hi @leofavre

Thank you for completed example. I've reproduced the problem.

[2018-09-28 11:08] miherlosev commented on #2832
I will close the issue because no activity has been encountered for a long time.

[2018-09-28 11:08] #2832 closed

[2018-09-28 11:37] miherlosev commented on #2710
The `test speed` option works the same way for normal and headless browser. It's by design.

You can do it without an additional parameter. Set the 'test speed option' manually if you run browser in headless mode.
[code]

[2018-09-28 11:37] #2710 closed

[2018-09-28 12:00] amirse80 commented on #1330
Ok I have solved the non-closing browser issue as well now. If someone is intressted the solution was to add a setTimeout() just after testcafe.close() in Runner class.

setTimeout(processExit, 2000);

[2018-09-28 12:44] LavrovArtem commented on #2854
I cannot reproduce this behavior. I created a test server and tested if an uploaded file name is sent to the server.
For debugging you can download the `example.zip` archive.
The command for starting the server:
`node upload-server.js`
The command for starting the test:
`testcafe chrome test-upload.js`

[example.zip](https://github.com/DevExpress/testcafe/files/2428004/example.zip)

[2018-09-28 12:57] miherlosev commented on #2322
I'm working on this

[2018-09-28 14:12] Lupiano commented on #2903
@AlexKamaev, yes that opens us a lot of possibilities. We will have to think a big refactoring. Thanks a lot for your time!

[2018-09-29 03:39] callmeaponte commented on #2894
Any idea why setting cookies would work fine in Google Chrome, Mozilla Firefox and Internet Explorer - but not in Microsoft Edge? I'm using the same scripts listed above.

I'm not sure if this is worth opening a new ticket over, or if maybe it's just me.

[2018-10-01 05:45] honsq90 commented on #2876
I'm happy to give this a go if that's alright? Where shall I start?

[2018-10-01 07:49] AlexKamaev commented on #2894
@callmeaponte
Could you please clarify whether you have problems on the server or client side? Do you have any result after executing this method `console.log('get cookies:' + await getCookie());`? Are you using the approach with the `navigateTo` command after setting the cookies?

[2018-10-01 11:10] AndreyBelym opened #2912 "Optimize module initialization time and loading"
### Are you requesting a feature or reporting a bug?
Enhancement

### What is the current behavior?
It takes from 3 to 10 seconds on dev machines to execute `require('testcafe')`. Of course it can be worse on machines with lower CPU and disk system performances. While modules are required, it's impossible to do any other operation (e.g. show a spinner), which leads to the bad UX.

### What is the

[2018-10-01 11:16] miherlosev commented on #2678
Fixed in https://github.com/DevExpress/testcafe-hammerhead/commit/6ff79ed73b6efa4e3cb8dd76d7ddceb2ed09f862

[2018-10-01 11:16] #2678 closed

[2018-10-01 11:49] AlexKamaev opened #2913 "An error appears when test starts without defined fixture"
I missed `fixture` keyword and got
`TypeError: Cannot read property 'requestHooks' of null
at new requestHooks (D:\projects\testcafe\src\api\structure\test.js:16:42)`

[2018-10-01 14:08] ludwigbacklund commented on #2899
@AndreyBelym Any update? I feel like there would have been more noise on here if Mojave broke TestCafe, so it might just be me. I wouldn't know where to start troubleshooting this though since I get no apparent errors.

[2018-10-01 14:39] narpendranapit opened #2915 "If - Else If - Testcafe ignoring the first condition of If Else If statement even if it's true"
### Are you requesting a feature or reporting a bug?
Issue

### What is the current behavior?
Currently first statement of If Else If not being executed even if it's conditions are matched. I tried by switching the order of statements and it always fails on first condition.

### What is the expected behavior?
It should execute the first condition as well.

#### Provide the test code and the tested

[2018-10-01 14:53] AlexSkorkin commented on #2915
I created a test with a similar scenario, but my attempts to replicate this behavior were unsuccessful. Would you please clarify to what you are referring by keyword 'this'? What do you mean by 'fails on first statement'? Is there any error message when the first statement is executed?

[2018-10-01 14:54] callmeaponte commented on #2894
No worries, I've been tinkering with this all weekend and I think it was just me. I was able to get it working by moving `setCookies()` outside the `beforeEach` hook and inside the test script - where it would fire well after the page loaded  -and that did the trick.

All of the requests at our office are routed through a proxy so I suspect that was the issue...? It might have been trying to set t

[2018-10-01 16:56] jiteshsojitra opened #2916 "Can't reload page using await t.eval(() => location.reload(true)) in TestCafe (v0.23.2)"
### Are you requesting a feature or reporting a bug?
Regression bug.

### What is the current behavior?
- Page reload doesn't work and browser hangs. TestCafe leaves control at location.reload(true) or location.reload(). Tried in Chrome and Firefox both but no luck. I re-installed node modules so no caching issue, using latest packages.

### What is the expected behavior?
- Page reload should be w

[2018-10-01 19:34] bryant-sfdo opened #2917 "Unhandled promise rejection causes all test running concurrently to fail"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?

Running test with `-c 5` with chained assertions causes all test that are currently running to fail if one test fails that has chain assertions.

[code]

### What is the expected behavior?
Only the test that failed will fail and other tests that are concurrently running aren't impacted.  Probably shouldn't

[2018-10-01 19:41] bryant-sfdo commented on #2917
this is probably a dup of https://github.com/DevExpress/testcafe/issues/2852 i will close this for now and see if that change fixes the issue!

[2018-10-01 19:41] #2917 closed

[2018-10-02 05:37] AndreyBelym commented on #2913
Please take into account that we are about to remove checking for `fixture` and `test` in test files: #2470 is in the current sprint's milestone.

IMHO it's better to check in the `test` 's constuctor that there is a defined fixture.

[2018-10-02 05:51] AndreyBelym opened #2918 "t.takeElementScreenshots can't detect page area in some cases"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
The `t.takeElementScreenshot` action fails to crop the taken screenshot to the specified element's dimensions, and displays the `Can't detect page area ...` warning.

It can happen because of

- non-integer ratio between physical and love pixel sizes on HighDPI

- screen color correction that leads to chang

[2018-10-02 08:12] AlexSkorkin opened #2919 "Windows version detection is incomplete: the build number is missing"
### What is the current behavior?

Windows version is detected incompletely. The correct OS Windows version is 10.0.17134.137. However, the `browserProviderPool.getBrowserInfo` method from the `testcafe-browser-tools` package detects version as 10.0.0:

![image](https://user-images.githubusercontent.com/995726/46336280-0f78b200-c633-11e8-962f-fd2f0a3b597f.png)

![image](https://user-images.githubu

[2018-10-02 08:46] miherlosev commented on #2919
It's not a bug. TestCafe displays the version which [useragent](https://www.npmjs.com/package/useragent) module retrieves from browser's `navigator.useragent` property.

[2018-10-02 08:46] #2919 closed

[2018-10-02 09:02] miherlosev commented on #2916
I've tried to reproduce the problem with following test:
[code]

and it works fine.

Could you please provide a small example to reproduce or direct access to the tested page?

[2018-10-02 09:43] AlexSkorkin commented on #2915
Thank you for the update. Would you please clarify to what you are referring by keyword 'this'? You can figure this out by [debugging your test code](http://devexpress.github.io/testcafe/documentation/test-api/debugging.html#debugging-test-code). Is the 'webPage' page model is referenced properly? Does the selector return a proper element?

[2018-10-02 10:21] miherlosev commented on #2849
@bdwain

At present, TestCafe doesnot collect all necessary debug information in [development mode](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#--dev). We can determine the cause of problem only with a small example to reproduce or direct access to your web site. So, we are waiting for it.

@robodude
There is a separate [issue](https://github.com/

[2018-10-02 11:06] sorin-davidoi opened #2920 "0.22.1-alpha.2 broke testcafe-live"
### Are you requesting a feature or reporting a bug?

Bug.

### What is the current behavior?

Reloading a test doesn't work. Changes are picked up but the test doesn't restart (it gets stuck at `Test run is starting...`).

### What is the expected behavior?

Reloading a test in `testcafe-live` works.

### How would you reproduce the current behavior (if this is a bug)?

Run a test with `testcafe-

[2018-10-02 12:23] rpolishetti opened #2922 "Using fixtureGrep option in gulp-testcafe or on runner instance."
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

### What is the expected behavior?

We should be able to add this option as part of testcafe options in gulp task, so that we can pass a pattern code to run specific group of tests.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page UR

[2018-10-02 12:27] miherlosev commented on #2745
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-10-02 12:27] #2745 closed

[2018-10-02 12:41] AlexSkorkin commented on #2899
@ludwigbacklund  
We are looking into this issue and will let yow know as soon as we get any results. Please stay tuned!

[2018-10-02 13:51] miherlosev commented on #2871
Hi @sophalch

I've encountered the problem when loading the test page - 'Sign On Error.  Authentication Failed...' (
see this [video](https://www.screencast.com/t/MUyf9TKpQo)) .
Is it a problem with your site or do we need to perform some actions on our side (your site check location and etc.) to reproduce the issue?

[2018-10-02 13:57] miherlosev commented on #2867
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-10-02 13:57] #2867 closed

[2018-10-02 13:59] #2870 closed

[2018-10-02 14:43] miherlosev commented on #2922
You can use the [filter](http://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/runner.html#filter) option.

[2018-10-02 14:54] miherlosev commented on #2721
I will close the issue because no activity has been encountered for a long time.
Feel free to reopen the issue if the problem persists and you can provide an example to reproduce it.

[2018-10-02 14:54] #2721 closed

[2018-10-02 14:54] #2922 closed

[2018-10-02 15:11] automation9006 commented on #2888
@AlexKamaev  Thanks ! Sorted.

[2018-10-02 15:11] #2888 closed

[2018-10-02 15:21] miherlosev commented on #2756
At present, you cannot include additional scripts during your test run. There is an issue for this - https://github.com/DevExpress/testcafe/issues/1739.

If your page included the JQuery library then use this code snippet:

**test.js**
[code]

**screen_size.js**
[code]

[2018-10-02 15:21] #2756 closed

[2018-10-02 15:53] doronsever opened #2924 "Cannot run testCafe with HTTPS"
### Are you requesting a feature or reporting a bug?

BUG

### What is the current behavior?
When trying to tun testcafe using HTTPS, the browser always says:
localhost uses an unsupported protocol.
ERR_SSL_VERSION_OR_CIPHER_MISMATCH

### What is the expected behavior?
Running testcafe on HTTPS

### How would you reproduce the current behavior (if this is a bug)?

I'm trying to set up my local env

[2018-10-03 00:31] sophalch commented on #2871
Hi @miherlosev, I'm surprised you didn't get to the login screen at all. There shouldn't be anything else that need to be done.

Could you try this site instead with the credentials above?

    https://intelliconnect.wkasiapacific.com

It should redirect to the login page at:

    https://login.wkasiapacific.com/idp/SSO.saml2

Thanks

[2018-10-03 06:29] narpendranapit commented on #2915
Hi,

I have added `await t.wait(3000);` before first if statement and it's working as expected now.

But I still don't know why it's not working without it as I have "await" inside the statement as well.

Still if you can look into this and let me know why it's behaving like this will help me.

**Would you please clarify to what you are referring by keyword 'this'?**

I have created a class in tes

[2018-10-03 09:37] doronsever commented on #2924
@miherlosev this doesn't help also...
I also tried using the crt+key from browser-sync just like I'm using when running my Angular localhost on https but without success...

`testcafe  'chrome --allow-insecure-localhost' e2e/tests/analyze/ --hostname=localhost --ssl key=/node_modules/browser-sync/lib/server/certs/server.key;cert=/node_modules/browser-sync/lib/server/certs/server.crt`

[2018-10-03 09:41] miherlosev commented on #2814
At present, you cannot use a standard 'Watch' window of the VS Code or Chrome DevTools to evaluate values of `Selector` or `ClientFunction`.

But, there is a workaround.
You can write required expresssions before the `debugger` statement. Their values will be displayed in the 'Local' panel.
![image](https://user-images.githubusercontent.com/4133518/46402154-a7e06680-c707-11e8-98d4-c420ed55262c.png

[2018-10-03 09:43] miherlosev commented on #2924
Could you please provide a simple example that I can run on my computer?

[2018-10-03 09:44] doronsever commented on #2924
Sure, which example do you need?
I paste you how I run the command in the previous reponse

[2018-10-03 09:50] miherlosev commented on #2924
Application sources, test code and certificates.

[2018-10-03 10:00] AlexKamaev commented on #2920
I was able to reproduce the issue only in two cases.
1) A test does not restart if VSCode (I run tests via integrated terminal) is opened in full screen mode.
2) If I close the browser and then press Ctrl+R in terminal.
However both these cases are reproducible with the previous TextCafe version. If you able to recreate the issue without any extra conditions, could you please clarify which macOC v

[2018-10-03 10:20] miherlosev commented on #2676
@raja1313

Please specify the [timeout](http://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/selectors/selector-options.html#optionstimeout) option for the `Selector` of your button.

[code]

[2018-10-03 10:20] #2676 closed

[2018-10-03 11:04] helen-dikareva commented on #2748
Sorry for the very late response.
Take a look at the TestCafe [Programming Interface](https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/). You can use [a remote browser connection](https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/runner.html#passing-a-remote-browser-connection) but you should patch the `testcafe-cucubme

[2018-10-03 11:06] #2748 closed

[2018-10-03 11:53] sorin-davidoi commented on #2920
It seems to be related to the number of tests:
 - if I place the attached test in `demo.ts` and run it with `testcafe-live firefox demo.ts`, reloading works just fine.
 - if I place the attached test it in `tests/demo.ts` (where `tests` contains ~60 other tests, none of which have `.only`) and run it with `testcafe-live firefox tests` reload doesn't work.

[code]

macOS version: 10.13.0
Firefox ve

[2018-10-03 12:41] doronsever commented on #2924
@miherlosev I've created an empty Angular project by your request.
https://github.com/doronsever/my-tcf-ssl
Just clone it, run `npm install`
And then run your command `testcafe "chrome --allow-insecure-localhost --allow-running-insecure-content" e2e/tests/analyze/ --ssl key=./certs/localhost.key;cert=./certs/localhost.crt  --dev --hostname=localhost
`

[2018-10-03 13:00] pcieslak opened #2926 "Mac OS browser sessions not closed"
https://github.com/DevExpress/testcafe/blob/59c69eb4e6e464c4870790ae48eb3ea353a23edf/src/utils/kill-browser-process.js#L46

Can we update mentioned line to be smth like:
const processOptions = { arguments: browserId, psargs: process.platform === 'darwin' ? 'aux'  : '-ef'};

This way Mac OS will be closing browsers upon ending execution.
For reference https://nodejs.org/api/process.html#process_pro

[2018-10-03 13:35] AlexKamaev commented on #2763
Please accept my apologies for the delayed response.
 
As you correctly noticed, it is difficult for a user to click a moving button. In the same manner, TestCafe can click only a visible and not moving element (i.e., when an element does not change its position) since it emulates user behavior.
 
In your example, the button is constantly moving and TestCafe cannot determine where and when the but

[2018-10-03 13:35] #2763 closed

[2018-10-03 13:44] miherlosev commented on #2924
Ok. I am investigating the problem

[2018-10-03 13:58] miherlosev commented on #2865
The fix was published in `testcafe@0.22.1-alpha.3`

[2018-10-03 13:58] #2865 closed

[2018-10-03 13:58] miherlosev commented on #2725
The fix was published in `testcafe@0.22.1-alpha.3`

[2018-10-03 13:58] #2725 closed

[2018-10-03 14:18] miherlosev commented on #2924
Yes, it's a bug. We will fix it in the [current development sprint](https://github.com/DevExpress/testcafe/milestone/34).

[2018-10-03 14:22] doronsever commented on #2924
Great, it will also be great if you can improve the documentation on how to use it.
I would never have guessed that the right way to use the SSL params will be `--ssl key=./certs/localhost.key;cert=./certs/localhost.crt `

[2018-10-03 15:09] mixtur commented on #2865
thx

[2018-10-04 07:49] miherlosev commented on #2924
The fix is already in [PR](https://github.com/DevExpress/testcafe/pull/2927).

We have an [example](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#--ssl-options) of using the `--ssl` option  and a [help topic](https://devexpress.github.io/testcafe/documentation/using-testcafe/common-concepts/connect-to-the-testcafe-server-over-https.html) that descri

[2018-10-04 08:48] doronsever commented on #2924
I think it will be more clear how to implement it with a dedicated example. Friendly advice :)

[2018-10-04 10:06] miherlosev commented on #2864
Unfortunately, I cannot reproduce the problem with `testcafe@0.22.0`. We need another example in which we can reproduce the problem.

![image](https://user-images.githubusercontent.com/4133518/46467180-c4e36b00-c7d5-11e8-96d6-67c9eb4219a5.png)

[2018-10-04 11:10] VasilyStrelyaev opened #2929 "In Cmder for Windows, file names in the error callstack are grayed"
### Are you requesting a feature or reporting a bug?

A bug

### What is the current behavior?

When running tests from Cmder for Windows, file names in the error callstack are grayed.

![image](https://user-images.githubusercontent.com/11459924/46467548-bb0e3780-c7d6-11e8-9842-9dbea9f36fda.png)

### What is the expected behavior?

File names are displayed.

### How would you reproduce the current

[2018-10-04 11:23] AlexKamaev opened #2930 "Inform a user that a click was made on a wrong element"
When testcafe clicks an element which is overlapped by the second element, it waits for the first element to appear. If the first element do not appear during selector timeout period, then it clicks the second element.
It would be nice to inform users that a click is made on a wrong element.

[code]
[code]

[2018-10-04 11:32] AlexKamaev commented on #2763
Thanks for your feedback. I understand that click behavior can be confusing so I've created a separate ticket with a sample example #2930. We'll consider how we can improve this behavior in the context of that issue.

[2018-10-04 12:44] miherlosev commented on #2864
I don't know. I will check with OSX.

[2018-10-04 13:45] bbonczek opened #2931 "Error in fixture.beforeEach hook - Unhandled promise rejection [object Object] - not sure what it means"
### Are you requesting a feature or reporting a bug?
A feature

### What is the current behavior?
Tests fail with this error:

[code]
This error message does not really tell what is wrong.

### What is the expected behavior?
Error message should be more descriptive.

### How would you reproduce the current behavior (if this is a bug)?
Not really sure - it is randomly if we run around ~200 tests on

[2018-10-04 13:46] AlexKamaev commented on #2906
1.
You can save text content of an element for further usage. Please refer to the following article: http://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/selectors/using-selectors.html#dom-node-snapshot
 
I've prepared a sample example:
[code]
2.
You can use the SelectText command only for inputs, textareas, and contenteditable elements.

3.
Please try to modify your

[2018-10-04 13:46] #2906 closed

[2018-10-04 14:00] AlexKamaev commented on #2931
There is some unhandled promise rejection occurred in our server code or yours. Could you please install latest testcafe@alpha version via `npm i testcafe@alpha` command? If the problem still occurrs, there will be a detailed error message. Could you send it to me?

[2018-10-04 14:29] bbonczek commented on #2931
Actually nvm, I runned it with testcafe 0.22.0 again - I'll provide another log of testcafe in alpha version soon - it takes some time to run those tests ;)

[2018-10-04 18:50] ericenders opened #2933 "Try/Catch doesn't work if you have code after the catch statement"
### Are you requesting a feature or reporting a bug?
A bug

### What is the current behavior?
Try/Catch works if it is the end of the test or if there are other try/catch statements after.  The try/catch fails if there is code after the statement within that test.

### What is the expected behavior?
It is expected that you can have a try/catch anywhere within your test.

### How would you reproduc

[2018-10-04 23:53] bdwain opened #2934 "Seeing slow static asset loading"
I am having an issue running my tests and I'm just wondering if anyone has any advice on what might be wrong.

When my test loads, the browser seems to load static assets very slowly (much more slowly than if I just run my app in the browser normally). Very small assets (like a few kb) are taking up to 5 seconds to load, and it is causing my tests to timeout. The assets are loaded from a local dev

[2018-10-05 03:14] ljowen commented on #2933
Why do you want to use try catch may I ask?

[2018-10-05 03:18] moffsugita commented on #1520
I hope. `.resizeWindow` can't

[2018-10-05 08:08] AlexKamaev commented on #2933
I don't recommend this approach. Using assertions inside a try-catch block can lead to incorrect assertion processing by testcafe. I think the best way to solve the issue is to reorganize tests in the following manner:
[code]

[code]
In the second test, I replaced multiple assertions by the single one which deeply checks an expected object with many properties.

[2018-10-05 08:09] #2933 closed

[2018-10-05 08:20] miherlosev commented on #2934
Hi @bdwain

Would you please provide a screenshot of the 'Network' panel of the Firefox DevTools and mark slow asserts on it?

![image](https://user-images.githubusercontent.com/4133518/46523959-ffa9d980-c88f-11e8-843d-ad0b982e34d4.png)

[2018-10-05 09:04] bdwain commented on #2934
Sure. If you look there, the very first request takes over 5 seconds and it's just a 5 kb html file from localhost. gfr-orders-e8856f00b.css and gfr-orders-e8856f00b.js are also very slow, as are a bunch of static assets towards the bottom.

<img width="1649" alt="screen shot 2018-10-05 at 3 58 46 am" src="https://user-images.githubusercontent.com/3982094/46526151-1120c080-c853-11e8-94a8-ea937f048

[2018-10-05 09:54] moffsugita opened #2935 "IE doesn't support?"
### Are you requesting a feature or reporting a bug?

run `testcafe-live ie`

url is like `192.168.1.8`.

It is bug. others works fine. (Edge, Firefox(Mac), Chrome(Mac), safari(Mac))
[code]

### What is the current behavior?

I wrote above.

### What is the expected behavior?

run fine.

### How would you reproduce the current behavior (if this is a bug)?

(node:1152) UnhandledPromiseRejectionWarn

[2018-10-05 10:14] miherlosev commented on #2935
Hi @moffsugita

I am afraid this information is not sufficient to find the cause of the issue. Could you please provide a small example so that we can reproduce it on our side?

[2018-10-05 14:09] mkubrycz opened #2939 "tests execution pauses when browser window is not visible"
### Are you requesting a feature or reporting a bug?

Reporting a bug.

### What is the current behavior?

when running multiple tests and window of the browser is behind any other window, tests execution pauses. When I move browser window with tests back to the front, tests execution resumes.

### What is the expected behavior?

Tests shouldn't pause once started

### How would you reproduce the

[2018-10-05 14:17] AlexSkorkin commented on #2915
Hi,
Thank you for providing this information. It looks like the default selector timeout value is insufficient for your web page due to some delays on the server or your side. Instead of the wait statement, you can also tweak the [selector's timeout value](http://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/selectors/selector-options.html#optionstimeout). If this is

[2018-10-05 15:12] AlexKamaev commented on #2920
Thank you for providing this information. My attempts to replicate it, however, were unsuccessful. I can confirm that it works really slowly with more than 150 files, but it still does not fail.
I've attached my screencast illustrating my steps. Would you please review it and let me know what steps I need to perform in order to replicate the issue? https://drive.google.com/file/d/1WQlsjNSBOWu5CzC9

[2018-10-05 15:29] #1063 closed

[2018-10-05 16:34] NickCis commented on #2527
I've implemented this feature in this [PR](https://github.com/DevExpress/testcafe/pull/2841).

The `--meta JSON` (eg: `--meta {smoke: true}`) flag was introduced. Only tests whose metadata [matches](https://lodash.com/docs/4.17.10#isMatch) the provided json will be run.

[2018-10-07 02:42] nestoru opened #2940 "Allow configurable timeouts for page and XHR requests"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Any XHR that takes longer than 20 seconds will make tests depending on parsing the response fail

### What is the expected behavior?
Either the page load ltimeout or another timeout should be available to make testcafe not fail when XHR take longer than 20 seconds

### How would you reproduce the current be

[2018-10-07 12:40] Elias011 opened #2941 "Connecting to Testcafe from google app engine"
### Are you requesting a feature or reporting a bug?
Reporting

### What is the current behavior?
I can't create Testcafe runner from google app engine so my test is working good localy but
when I deploy it to google app engine, it doesn't work
I have all the things that necessary for test saved in sql databases and I'm querying from the database and send it to testcafe. But when I run the app on

[2018-10-08 11:10] VasilyStrelyaev commented on #2941
Hi @Elias011 ,
I'm not familiar with the Google App engine. We didn't use it.

Here is what the `createTestCafe` factory accepts as parameters: https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/createtestcafe.html.

What difficulties did you face when specifying them?

[2018-10-08 11:21] Elias011 commented on #2941
Hi @VasilyStrelyaev ,
thanks for your reaction.
my question is here:
[code]
What is the hostname and the port if I'm running test cafe from cloud function?
is that more cleare?
because what I'm trying to do is running the test automaticly every 24 hours by using google app engine and cron jobs

[2018-10-08 12:08] AlexKamaev commented on #2940
I've discussed the issue with my colleagues and we decided that would be useful to have public options to set the timeout, so I'll mark the issue as proposal.

[2018-10-08 12:18] eljenso opened #2942 "Add option to disable saving log messages to local storage"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
When something is logged to the browser console, testcafe will save this to local storage.
These messages can be accessed via `t.getBrowserConsoleMessages()`.
See: http://devexpress.github.io/testcafe/documentation/test-api/accessing-console-messages.html

### What is the expected behavior?
This is the

[2018-10-08 12:18] eljenso commented on #2895
See #2942 for more info.

[2018-10-08 12:18] #2895 closed

[2018-10-08 12:20] nestoru commented on #2940
@AlexKamaev Thanks for the quick turnaround. Really appreciated.

[2018-10-08 14:02] AlexKamaev commented on #2939
I've reproduced the issue

[2018-10-08 14:23] cormac-dunphy opened #2944 "ERROR Was unable to open the browser due to error."
### Are you requesting a feature or reporting a bug?

reporting a bug

### What is the current behavior?
test wont run because is 'unable to open browser'

### What is the expected behavior?
test to run

### How would you reproduce the current behavior (if this is a bug)?
try to run "testcafe chrome test.js" from the terminal

#### Provide the test code and the tested page URL (if applicable)

Tes

[2018-10-08 14:38] miherlosev commented on #2944
I am afraid this information is not sufficient to find the cause of the issue. Could you please provide a page or a small example so that we can reproduce it on our side?

[2018-10-08 15:30] LavrovArtem commented on #2934
Could you please capture a screenshot and show response headers for slow requests?

[2018-10-08 15:52] miherlosev opened #2945 "Avoid using overriden methdos in client code"
`target.getElementsByTagName('body')` -> `target.body`
`curSelectEl.getElementsByTagName('option')` -> `hammerhead.nativeMethods.getElementsByTagName.call(curSelectEl, 'option')`
and etc.

[2018-10-08 16:05] bdwain commented on #2934
Sure (one thing to note is that index.html is not so slow anymore. but the rest of the static assets are)

![screen shot 2018-10-08 at 10 56 05 am](https://user-images.githubusercontent.com/3982094/46620035-3f1f3280-cae9-11e8-917d-7e4c85e2e4b0.png)

This one had a 304 after the app refreshed in the test (but it was slow with a 200 the first time)
![screen shot 2018-10-08 at 10 57 22 am](https://us

[2018-10-09 07:49] LavrovArtem commented on #2934
Thanks for the provided information about response headers. However, the information is currently insufficient to determine the cause of the issue and find a precise solution. Please clarify the steps to replicate the issue so that we will be able to provide you with any solution.

[2018-10-09 08:04] narpendranapit commented on #2915
Thanks for assisting me with this issue. I have added another assertion before IF Else IF statements so that my code can get some more time to read the element on the security page.

[2018-10-09 08:04] #2915 closed

[2018-10-09 08:32] AlexSkorkin commented on #2899
Until now, our attempts to replicate this issue were unsuccessful. I will close the issue because no activity has been encountered for a long time. Feel free to reopen the issue if the issue persists and you can provide the exact steps to reproduce it.

[2018-10-09 08:32] #2899 closed

[2018-10-09 08:53] cormac-dunphy commented on #2944
I am running this test inside a vagrant vm would this have anything to do with why testcafe cant detect any browsers when i run "testcafe -b"

[2018-10-09 10:01] AlexKamaev commented on #2930
https://github.com/DevExpress/testcafe/issues/2861
Sometimes we cannot click on element inside a shadow root. See #2861 tests

[2018-10-09 10:08] miherlosev commented on #2944
I don't think that running your tests in a Vargant VM is the cause of the problem. Only the operation system and the list of the installed browsers can affect the work of the 'testcafe -b' command.
Would you share your Vargant VM image?

[2018-10-09 10:45] #2877 closed

[2018-10-09 11:06] jmullo opened #2946 "Test execution with concurrency or multiple browsers fails in Docker container (Linux)"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Running tests with headless Firefox & headless Chrome.

Test execution fails if c > 1.
Test execution fails if c = 1 and both browsers used.

Test execution succeeds if c = 1 and only headless Firefox used.
Test execution succeeds if c = 1 and only headless Chrome used.
Test execution succeeds with any co

[2018-10-09 11:08] cormac-dunphy commented on #2944
got it working it was because i didnt have a browser installed in the vm. thanks

[2018-10-09 12:01] miherlosev opened #2947 "Improve the 'Unable to find the browser' message of the CLI interface"
![image](https://user-images.githubusercontent.com/4133518/46667647-f0e65e00-cbd2-11e8-8966-bd2926779b75.png)

The current message has two problem:
1)`safari` is a valid browser alias (see http://devexpress.github.io/testcafe/documentation/using-testcafe/common-concepts/browsers/browser-support.html#locally-installed-browsers). On Windows OS there is no Safari.
2)Need to add a phrase about propert

[2018-10-09 12:02] dudaming commented on #1770
@AndreyBelym,

As i have read the disablePageReloads() has been release on version 0.21. However, I am using the version 0.22, when i try to call test.disablePageReloads(), it gives error that Property 'disablePageReloads' does not exist on type 'TestFn'.

Could you please help me to clarify this?

Thanks.

[2018-10-09 12:11] vivekpant28 opened #2948 "During UI automation, I found that , in few scenario page will render once particular call get completed. So instead putting wait, is there any to wait for particular request completion."
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* operating system:
* testcafe version:
* node.js version:

[2018-10-09 12:14] miherlosev commented on #2944
I am glad to hear this. I've created a separate [issue](https://github.com/DevExpress/testcafe/issues/2947) to improve the 'Unable to find the browser' message of the CLI interface.

[2018-10-09 12:14] #2944 closed

[2018-10-09 12:43] jmullo commented on #2946
Ah, only now noticed the --shm-size option. Increasing it seems to have fixed the issue.
You can remove "It usually happens when you run tests in Chromium." from the documentation, because it seems to affect Firefox as well.

[2018-10-09 13:12] miherlosev commented on #2946
Yes, you are right. It's not related to the Chromium browser.
@VasilyStrelyaev remove the "It usually happens when you run tests in Chromium." phrase from [Using TestCafe Docker Image](http://devexpress.github.io/testcafe/documentation/using-testcafe/using-testcafe-docker-image.html) topic.

[2018-10-09 13:12] #2946 closed

[2018-10-09 13:38] #2861 closed

[2018-10-09 15:09] miherlosev opened #2949 "Add 'disabled' property to the DOM Node Snapshot state"
http://devexpress.github.io/testcafe/documentation/test-api/selecting-page-elements/dom-node-state.html#members-specific-to-element-nodes

[2018-10-09 15:19] miherlosev commented on #2949
Links:
* https://github.com/DevExpress/testcafe/issues/2406#issue-322994436

[2018-10-09 16:08] bdwain commented on #2934
after further inspection, it seems the worst offender for me is a json file that i request with window.fetch, not a javascript file. That file is tiny (240 bytes). It seems different in the devtools because that file has an initiator of hammerhead.js in the devtools network tab, rather than my code.

The problem seems to be when the response is a 304 (not 200) after refresh, and not so much on ini

[2018-10-09 18:14] jcollum opened #2950 "Safari 12.0.0 / Mac OS X 10.13.6 / Testcafe 0.22: safari:headless doesn't run headless"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Safari doesn't run headless. Also the test will fail to run the browser about 25% of the time. In short when I run the command line below Safari starts up and runs the tests, even though I specified headless.

It also seems strangely dependent on having focus: sometimes tests will just stop if the browser

[2018-10-09 18:16] jcollum-nike opened #2951 "Safari 12.0.0 / Mac OS X 10.13.6 / Testcafe 0.22: safari:headless doesn't run headless"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Safari doesn't run headless. Also the test will fail to run the browser about 25% of the time. In short when I run the command line below Safari starts up and runs the tests, even though I specified headless.

It also seems strangely dependent on having focus: sometimes tests will just stop if the browser

[2018-10-09 18:17] jcollum commented on #2950
closing, reported under wrong github account

[2018-10-09 18:17] #2950 closed

[2018-10-09 23:25] bryant-sfdo opened #2952 "The Screenshot Pattern example doesn't work on Unix shells"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

Screenshots that are saved on failure with pattern provided doesn't work.

Running the following test with the following command:

test.js:

[code]

command ran:
`testcafe chrome test.js -e -S -s screenshots -p "${DATE}_${TIME}/test-${TEST_INDEX}/${USERAGENT}/${FILE_INDEX}.png"`

NOTE: the pattern was tak

[2018-10-09 23:28] ericenders opened #2953 "RequestLogger is not showing response body"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
The only response is showing the statusCode

### What is the expected behavior?
The RequestLogger should show the response body.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: N/A

Test code

 const

[2018-10-09 23:38] bryant-sfdo commented on #2952
This is what I see when running test with -p provided.
![image](https://user-images.githubusercontent.com/37118738/46704856-c0f28700-cbe1-11e8-96da-d8fcee283a3f.png)