[2016-07-04 11:47] inikulin commented on #451
I would like to not introduce `t.getLastDialogInfo()` if handler has unexpected text then you will throw from within handler.

[2016-07-04 11:50] helen-dikareva commented on #451
How to check was expected dialog or not?

[2016-07-04 12:53] #636 closed

[2016-07-04 12:53] #635 closed

[2016-07-04 12:53] #637 closed

[2016-07-04 14:12] inikulin opened #639 "Rename 'ff' browser alias to 'firefox'"

[2016-07-04 14:25] AndreyBelym commented on #639
Please, wait for https://github.com/DevExpress/testcafe-browser-natives/issues/76.

[2016-07-05 08:10] AndreyBelym opened #640 "Usage of 'testcafe' binary in the local installation mode"
According to https://docs.npmjs.com/files/folders#executables, locally installed binaries are linked to `node_modules/.bin/` directory.

So which way is more convenient to use:
`node ./node_modules/testcafe/bin/testcafe ...args`
or
`./node_modules/.bin/testcafe ...args`
?

[2016-07-05 08:25] inikulin commented on #640
Neither. For local installations it should be used from npm scripts, e.g. `{ "test" : "testcafe myfile.js" }` For all other cases use globally installed CLI

[2016-07-05 08:28] #640 closed

[2016-07-05 08:55] AlexanderMoskovkin commented on #609
I'm working on this

[2016-07-05 10:27] inikulin commented on #615
BTW, regarding text selector, after a little dog fooding I found out that it extremely useful to specify additional selector for text and then filter it's results by text, so here is how it might look like:
`Selector.byText(fn, textFilter (re or string), index)`
or
`Selector.byText(regExpOrString, subsetSelector, index)`

Here is how it will be used:
[code]

\cc @DevExpress/testcafe

[2016-07-05 10:39] AlexanderMoskovkin commented on #615
I prefer the second, because I expect the `text` argument to be first in the `byText` function. And can I write `Selector.byText('Honda')` in this case if I want to find an element by text only (without selector)?

[2016-07-05 10:40] inikulin commented on #615
Or as a third option we can have compound signature for selector:
[code]
and we will not need additional functions then.

[2016-07-05 10:46] VasilyStrelyaev commented on #615
ohh, I've nearly documented all this stuff...

okay, so I **stop updating documentation until we have a release version finalized**.

Once we finalize it, allow a few days for docs to be updated accordingly.

[2016-07-05 10:54] inikulin commented on #615
@VasilyStrelyaev What would you say about proposal?

[2016-07-05 11:47] VasilyStrelyaev commented on #615
I prefer the last one (3rd) option

[2016-07-05 12:00] inikulin commented on #615
OK, so we will have:
[code]

I'm thinking about host object for `textFilter`, `index` and `scopeVars`, so we will have:
[code]

Any ideas how to name such object?

[2016-07-05 12:02] inikulin commented on #615
I predict that question will arose about difference between `options` object and such host object (let's name it `initOptions` for now). `options` specifies optional things, selector will function without them, they just adjust some aspects of behavior. Meanwhile `initOptions` describes selector itself, it's not an adjustment of the options it's a part of selector definition.

[2016-07-05 12:32] inikulin commented on #615
One more question: how we should behave if selector `fn` returns single element and we have `index` specified? Should we throw in that case or if `index > 0` return `null`?

[2016-07-05 12:32] VasilyStrelyaev commented on #615
of if we return 3 nodes and index === 4

[2016-07-05 12:34] AlexanderMoskovkin commented on #615
I suppose it should be the same behavior if selector doesn't return any element. What we do in this case now?

[2016-07-05 12:34] VasilyStrelyaev commented on #615
I think we should return `null` if `index` > the number of returned nodes

[2016-07-05 12:36] inikulin commented on #615
It will be `null` then. Regarding `initializeOptions`: how about `filteringOptions` or `filterOptions`?

[2016-07-05 12:37] inikulin commented on #615
Or we can just completely ignore index if `fn` returns DOM node.

[2016-07-05 12:40] AlexanderMoskovkin commented on #615
I think we should not ignore this. If you write select(selector, 1), you expect that should be more than one elements with this selector on the page. If there is just one, something went wrong

[2016-07-05 12:41] VasilyStrelyaev commented on #615
em... you mean `filterOptions` will include `scopeVars`. no, I think

[2016-07-05 12:57] inikulin commented on #615
We can remove `scopeVars` from this object then.

Emm, if you specify `select(selector, 1)` it doesn't make things better either. Or we should have `index: null` by default, signaling that we don't expect any collection.

[2016-07-05 13:01] inikulin commented on #615
Or maybe I'm just over complicate things and we should just merge all options in one object?

[2016-07-05 14:32] inikulin commented on #615
@DevExpress/testcafe
Is it clear with such naming:
[code]

[2016-07-05 14:34] AlexanderMoskovkin commented on #615
I think, yes

[2016-07-05 14:57] helen-dikareva commented on #615
Will `executionOptions` contains `scopeVars` in second case?

[2016-07-05 15:00] AndreyBelym commented on #615
Looks nice. But... would not it be a little better if it would be like
`Selector(fn, scopeVars).filter(filteringOptions).with(executionOptions)`?

[2016-07-05 15:05] inikulin commented on #615
Nope, `scopeVars` is the part of selector definition

Looks interesting, but we've just discussed if it correct. E.g. `fn` may return DOM node collection without filter it will end up in selector error (because we don't allow anything except node as selector return value), so without additional `.filter` call selector is not functional. In general we should avoid such cases by enforcing correct be

[2016-07-05 15:06] VasilyStrelyaev commented on #615
As long as `index` belongs to filtering...
What if we go with
[code]

[2016-07-05 15:11] #609 closed

[2016-07-05 15:26] VasilyStrelyaev commented on #615
yeah, it brings mess to `t.select(fn, options, scopeVars, executionOptions) though

[2016-07-05 15:36] VasilyStrelyaev commented on #615
whats stops us from merging all options in... just `options`.
[code]
You may redefine them all via `with`. (we are creating a new selector anyway)
[code]
or, it hurts the ideology, we can get rid of `with` and use
[code]
instead

[2016-07-05 15:42] AndreyBelym commented on #639
Required code is merged. I didn't found any occurrences of `ff`,so @VasilyStrelyaev, please, fix the docs, or confirm that they are fine in their current state.

[2016-07-05 15:46] VasilyStrelyaev commented on #639
We sure have a full list of aliases
https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/using-testcafe/common-concepts/browser-aliases.md

[2016-07-05 15:46] VasilyStrelyaev commented on #639
So we have to update the docs

[2016-07-05 15:54] AndreyBelym commented on #639
Ok, I will fix them.

[2016-07-07 11:16] #580 closed

[2016-07-07 13:20] #601 closed

[2016-07-07 13:20] inikulin commented on #601
\cc @MargaritaLoseva @VasilyStrelyaev

[2016-07-07 13:24] VasilyStrelyaev commented on #601
I'll do it!

[2016-07-07 13:34] VasilyStrelyaev opened #647 "Docs: Update docs about reporters"
In accordance with #601

- [ ] Update screenshots for all reporters

- [ ] Update README for generator and docs where needed: reporter project should be now published via npm run publish-please, also test data structure changes a little bit

[2016-07-08 08:27] AlexanderMoskovkin opened #649 "nativeMethods.performanceNow throw an error in IE9"

[2016-07-08 08:32] AlexanderMoskovkin commented on #649
I'm working on this

[2016-07-08 08:44] inikulin opened #650 "Make screenshots paths more user-friendly"
We've discussed this with @superroma and here is the idea how we can transform screenshot paths:
`YYYY-MM-DD_HH-MM-SS/{user-agent}/{1,2,3,...}.jpg`

For errors:
`YYYY-MM-DD_HH-MM-SS/{user-agent}/errors/{1,2,3,...}.jpg`

Date is the start time of the test task. Screenshots are sequentially numbered within directories.
BTW, currently we manually escape user agent in path, I suggest to use https://ww

[2016-07-08 08:49] inikulin opened #651 "Add appropriate message if we try to make screenshot on remote browser"
If the only browser specified is remote browser or if error occurs in remote browser we need to add appropriate error message that screenshots are not available for remote browsers. Also, if run configuration contains remote browser and screenshots are enabled we need to write warning to stderr after bootstrapping about disabled screenshots.

[2016-07-08 09:34] AlexanderMoskovkin commented on #649
moved to https://github.com/DevExpress/testcafe-hammerhead/issues/670

[2016-07-08 09:34] #649 closed

[2016-07-08 12:08] #459 closed

[2016-07-08 14:32] #647 closed

[2016-07-08 15:54] churkin opened #654 "Create a platform for recorder integration"
- [x] Add ability to using third-party test runner
- [x] Add support to custom commands and client-side driver handlers
- [x] Add method to clear cookies and storages to refresh a session before playback

[2016-07-11 09:46] AlexanderMoskovkin opened #655 "Get rid of Greenkeeper"
There is no benefit for us from it now

[2016-07-12 13:30] VasilyStrelyaev opened #657 "Website: Update the design"
What we want:
- [ ] Create a second-level top menu with items from the side menu's first level:  GS, Using testcafe, test API, extending, recipes.
- [x] Fix the header.
- [x] Fix the side menu. Let it have its own scrolling.
- [x] Make the article area rubber.

[2016-07-12 15:06] AlexanderMoskovkin commented on #639
finished in https://github.com/DevExpress/testcafe/pull/645

[2016-07-12 15:06] #639 closed

[2016-07-12 20:08] georgiy-abbasov opened #658 "Press action should accept number as argument"
Previous version of testcafe was able to use this type as argument in the `press` action. We should restore this ability for existing tests support.

[2016-07-13 11:35] georgiy-abbasov commented on #658
@AndreyBelym wrote:

So we decided to notify tests owners.

[2016-07-13 11:35] #658 closed

[2016-07-14 08:52] georgiy-abbasov opened #660 "Failed test displayed as success in reports, if option `screenshotsOnFails` is enabled (legacy)"
It can be reproduced via CLI with arguments `-S -s <screenshot path>`
[code]

It happens because client sends `done` command earlier than `assertion-failed`.

[2016-07-14 08:53] georgiy-abbasov commented on #660
I'm working on this.

[2016-07-14 13:24] inikulin commented on #407
Can be implemented as plugin.

[2016-07-14 13:24] #407 closed

[2016-07-14 13:26] inikulin commented on #354
After some time it's clear what there will be no benefits from such option.

[2016-07-14 13:26] #354 closed

[2016-07-14 13:52] AlexanderMoskovkin opened #663 "Driver executes an action repeatedly if it leads to the page reloading on iOS"
Webkit based browsers on ios don't raise `beforeunload` event. They raise just `pagehide` event and it works like the same way as `unload` event. As a result some our scripts (that should be executed on `beforeunload` event) are not executed because of page unloading.

[2016-07-14 14:02] AlexanderMoskovkin opened #664 "Tests hangs if page redirect was cancelled"
The following code on the page after an action executed leads to the test hanging:

[code]

[2016-07-14 14:04] AlexanderMoskovkin commented on #655
closed by #656

[2016-07-14 14:04] #655 closed

[2016-07-14 14:06] AlexanderMoskovkin commented on #504
closed by #619

[2016-07-14 14:06] #504 closed

[2016-07-15 10:12] #615 closed

[2016-07-15 12:53] #506 closed

[2016-07-15 14:37] inikulin opened #668 "Expose `viewportWidth` to reporter plugins"
It's currently used by minimal reporter, but not exposed in plugin host

[2016-07-15 14:37] MargaritaLoseva opened #669 "Unable to take a screenshot due to some error"
On Mac, when I run a test via CLI by using the command `testcafe safari tests.js -S -s screenshots`, the report displays the message  _[was unable to take a screenshot due to some error]_.

I don't understand what error occured. And I think, we should specify the exact error in the report (if it is possible).

The same command works correctly on Windows
![screen shot 2016-07-15 at 5 25 45 pm](http

[2016-07-15 14:40] inikulin commented on #669
We need to expose whole error message here:
`[Unable to take a screenshot due to error: error message]`

[2016-07-15 14:56] inikulin commented on #669
I think we should get rid of inline messages. We will give warnings to stderr as suggested in #651. Meanwhile, if error occurs during screenshots saving we should throw test run error

[2016-07-15 14:58] inikulin commented on #669
Or, better solution: add warnings at the end of report

[2016-07-15 15:11] inikulin opened #671 "Implement test run warnings"
Warnings should appear in reports. Currently we should add warning for the following situations:
- Test directory is not specified and there was an attempt to take screenshot
- Where was an error during screenshot creation
- Attempt to take screenshot on remote browser

- [x] Move all browser manipulation logic to the browser manipulation queue
- [x] Create warnings infrastructure in test run

- [

[2016-07-15 15:11] inikulin commented on #651
Closing in favor of #671

[2016-07-15 15:11] #651 closed

[2016-07-15 15:12] inikulin commented on #669
Closing in favor of #671

[2016-07-15 15:13] inikulin commented on #669
Reopening, since this ticket also above the actual error

[2016-07-18 08:18] AndreyBelym commented on #669
The actual error was fixed in #643.

[2016-07-18 08:54] AndreyBelym commented on #671
Also, IMHO it worth to note that we need to show the full text of the error (in case of screenshot error), and maybe some ways to overcome the problem.

[2016-07-18 08:57] AndreyBelym commented on #669
The error that caused this message was fixed in DevExpress/testcafe-browser-natives#80 and #643.

[2016-07-18 15:12] inikulin commented on #431
I guess this can be implemented now?

[2016-07-18 15:13] AlexanderMoskovkin commented on #431
yes

[2016-07-18 15:14] inikulin commented on #184
I guess we can keep it as is now, since we don't have problem with them for a quite long time

[2016-07-18 15:14] #184 closed

[2016-07-18 15:15] inikulin opened #673 "We need to completely separate client legacy code from the new one and move all legacy code to separate package"

[2016-07-19 14:04] AlexanderMoskovkin opened #674 "Add legacy tests status badge to the main page"
Since they are run as smoke tests

[2016-07-20 07:28] AlexanderMoskovkin commented on #673
I'm working on this

[2016-07-20 10:32] inikulin commented on #668
Closed in #670

[2016-07-20 10:32] #668 closed

[2016-07-21 08:55] inikulin opened #678 "We need to add test run warning if browser provider doesn't support browser manipulation"
Blocking on #573. Extracted from #671

[2016-07-21 16:35] AndreyBelym opened #681 "TestCafe hangs if the specified screenshots directory contains forbidden symbols"
`mkdirp` falls into infinite recursion, if the specified path contains some forbidden symbols, e.g. `':'` on Windows. To reproduce, just try:

`node .\bin\testcafe.js remote test.js -s .\scrs:\`

[2016-07-21 16:49] AndreyBelym commented on #681
https://github.com/substack/node-mkdirp/issues/70

[2016-07-21 19:59] inikulin commented on #681
We can consider switching to another package if this one is abandoned

[2016-07-25 13:37] inikulin opened #685 "Redesign error messages"
New look:
![3](https://cloud.githubusercontent.com/assets/453071/17103219/058a8818-5286-11e6-987c-f93364cd009f.png)

- [x] New API errors
- [ ] Legacy API errors

[2016-07-25 15:00] #660 closed

[2016-07-26 10:44] helen-dikareva opened #687 "Add file name to path argument for takeScreenshot action"

[2016-07-26 12:47] AlexanderMoskovkin opened #690 "Rethink testing infrastructure (pr tests + smoke tests)"
We need to decrease travis task count to improve testing performance. Now we have to wait for a long time while travis give us a testing vm because we have too much tasks

[2016-07-26 12:54] inikulin commented on #690
First line (runs on every PR):
- Android
- FF (win)
- Chrome (win)
- IE 11
- iPhone

It would be nice to put Safari here as well if it's possible

Second line (twice a day):
- Firefox (mac)
- Chrome (mac)
- IE9
- IE10
- Edge
- Safari (?)

Also, we need some kind of reporting for smoke tests (badges are untrustable). Can we create an issue for cumulative test run results (functional + legacy) if th

[2016-07-26 12:55] inikulin commented on #690
Also, we need a way to trigger any of smoke test tasks using bot command, use case: you've fixed some issue in smoke tests and you need to get PR via particular test task

[2016-07-26 12:59] AlexanderMoskovkin commented on #690
I'll try to create some complex solution for this all, that connects our repo, testcafe-build-bot and CCTray farm. It can take some time.
But I suppose we should join travis tasks first to improve out working process right now, am I right?

[2016-07-26 13:03] inikulin commented on #690
@AlexanderMoskovkin Yeah, but at least we need some reporting as well. I'm really worried about broken smoke tasks.

[2016-07-26 13:06] AlexanderMoskovkin commented on #690
Now it's on my personal attention, but sure I'll implement something for this soon

[2016-07-27 09:24] #599 closed

[2016-07-27 10:19] #687 closed

[2016-07-27 10:30] #617 closed

[2016-07-27 12:41] inikulin commented on #671
@VasilyStrelyaev @MargaritaLoseva
Breaking changes that affects documentation:
- Error format changed, warnings added (new reporter screenshots required)
- Generator/reporter - `reportTestDone` method now accepts two args: `name` and `testRunInfo` object: https://github.com/DevExpress/testcafe/blob/master/src/reporter/index.js#L35
- Generator/reporter - `reportTaskDone` now accepts array of warnin

[2016-07-28 10:48] AndreyBelym opened #694 "Separate TestCafe CLI"
Separate CLI into a separate package `testcafe-cli`, like `gulp` does. `testcafe-cli` must be installed globally to use the CLI, and runner must be installed in project local folder.

Pros:
 - Disk space economy due to removing unneeded runner code in globally installed CLI.
 - Solved problem with reporter and browser provider plugins: we can't use locally installed plugins in global TestCafe inst

[2016-07-28 11:07] inikulin commented on #694
Not a problem actually, CLI code can still be in locally installed TestCafe, we will just perform lookup and delegate handling to testcafe package.

[2016-07-28 14:33] #685 closed

[2016-08-02 10:08] #673 closed

[2016-08-02 10:35] inikulin opened #699 "We should throw if action selector returns anything except HTMLElement or Document"

[2016-08-03 06:44] IgnatovDan opened #700 "Cannot run example test after installing testcafe"
The following error occurs:
c:\Projects>runtest.cmd

c:\Projects>"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Web\External\node.exe" "node_modules\testcafe\bin\testcafe" ie C:\Projects\example.test.js
module.js:327
    throw err;
    ^

Error: Cannot find module 'c:\Projects\node_modules\testcafe\bin\testcafe'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Modul

[2016-08-03 07:21] AndreyBelym commented on #700
Hi Dan, we changed the name of the executable file in version `0.0.24-alpha`, now it is called `testcafe.js`. So likely you need to update your `runtest.cmd` and change the way the `testcafe` is started:

"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Web\External\node.exe" "node_modules\testcafe\bin\testcafe**.js**" ie C:\Projects\example.test.js

[2016-08-03 07:38] AndreyBelym commented on #700
Oh, also since you didn't specify the version in `npm install testcafe`, it has installed `testcafe@15.1.3`. You must explicitly specify the `alpha` tag while we are in alpha stage:
[code]

[2016-08-03 10:08] inikulin commented on #700
Also, it's a bad practice to run node bins this way: you either install it globally or install it locally and run via npm scripts or programmatical API

[2016-08-03 10:21] IgnatovDan opened #701 "Test from 'Performing Actions on the Page' section fails"
I have successfully started test from the 'Creating a Test' section at https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/getting-started/index.md

[code]
But the test from the 'Performing Actions on the Page' section:
[code]

failed with the following result:
c:\Projects>testcafe ie C:\Projects\test1_2_PerformAction.js
 Running tests in:
 - IE 11.0.0 / Windows 10 0.0.0

[2016-08-03 10:58] AndreyBelym commented on #701
The test from the docs must be used with new version of the example page. It's not available online yet.

You need to check and replace selectors you are using:
[code]

[2016-08-03 11:12] inikulin commented on #701
BTW I thought we'll host new example page on GH \cc @VasilyStrelyaev

[2016-08-03 11:55] IgnatovDan commented on #700
I hope you will update the https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/getting-started/index.md topic:

Such code and docs contradiction introduces unnecessary difficulties to investigation process that can take a long time. All the 'bin', 'node_modules\testcafe' and other approaches are caused by that text in your docs.

[2016-08-03 13:55] IgnatovDan commented on #701
Thank you. I have updated my test and it passed.

I hope you will update the following text in the https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/getting-started/index.md topic:

And, I hope you will check each other script in this topic to be sure that noone will encounter difficulties at this very first stage when reviewing capabilities of your product.

[2016-08-03 17:52] inikulin commented on #700
Not sure I understand how it's related, since you have instructions about how to correctly run testcafe in the same doc.

[2016-08-04 14:33] IgnatovDan commented on #700
That doc specify this command line to install testcafe:
`npm install testcafe`
and I have encountered difficulties when running scripts from that doc after I have installed testcafe with this command line.

AndreyBelym committed that that command line should not be used and suggested another command line:
`npm install testcafe@alpha`
With this command line I have successfully finished the first te

[2016-08-04 14:46] IgnatovDan commented on #701
Anyway, I have reviewed your next test with the ' await getElementById' command and it fails with the "getElementById is not defined" error:

C:\Users\Admin>testcafe ie C:\Projects\test1.test.js
 Running tests in:
 - IE 11.0.0 / Windows 10 0.0.0

 Getting Started
 × My first test

   1) ReferenceError: getElementById is not defined

      Browser: IE 11.0.0 / Windows 10 0.0.0

          5 |    awa

[2016-08-04 14:53] inikulin commented on #701
@IgnatovDan Please, provide full source code of the test.

[2016-08-04 14:56] inikulin commented on #700
npm install testcafe

No, it's not:

npm install -g testcafe
For more information, see Installing TestCafe.

There is a `-g` flag there.

npm install testcafe@alpha
With this command line I have successfully finished the first test from that topic.

Docs are obviously designed for the release version. Release not happened yet, so meanwhile it's a requirement to  install testcafe via `npm install t

[2016-08-05 05:46] IgnatovDan commented on #701
I lost the following lines in my test:
[code]
With this code test fails with the "Cannot read property 'innerText' of null" message:

c:\Projects>testcafe ie C:\Projects\test1.js
 Running tests in:
 - IE 11.0.0 / Windows 10 0.0.0

 Getting Started
 × My first test

   1) TypeError: Cannot read property 'innerText' of null

      Browser: IE 11.0.0 / Windows 10 0.0.0

         14 |
         15 |

[2016-08-05 06:18] IgnatovDan commented on #700
I apologize for the lost '-g', it was a typo.
And, I understand that there are the 'released' and 'dev' versions, but...

I have tried the 'npm install -g testcafe' command on a clear VM with the following results:
[code]

Then, I started the first test from the GettingStarted topic:
[code]

and got the following results:
[code]

I have not encountered this difficulty when using the 'npm install -

[2016-08-05 07:34] #699 closed

[2016-08-05 08:10] inikulin commented on #700
This happens because current versions which installs by default is an old version that doesn't support new API. Once new version will be released, we will switch release tag from `alpha` to `stable` and new version will be available by this install command.

[2016-08-05 08:11] inikulin commented on #701
That's correct, this is happens because this part of the test was designed for new example page. We've already changed test code in on of PRs, so it reference new example page not the old one.

[2016-08-05 09:53] #297 closed

[2016-08-05 14:32] inikulin opened #703 "We need a contribution guide, issue and bug report templates"

[2016-08-08 08:21] #451 closed

[2016-08-08 09:12] inikulin opened #704 "We need to figure out the format for the changelog"
Changelog goes to the following mediums:

- CHANGELOG.md file
- [GitHub relese description](https://github.com/DevExpress/testcafe/releases)
- Website blog post

[2016-08-09 09:36] AndreyBelym opened #705 "Browser providers aftermath changes"
- [x] Rename `testcafe-browser-natives` (linked to https://github.com/DevExpress/testcafe-browser-natives/issues/95)
- [x] Create `yeoman` generator package
- [x] Extract `soucelabs` and `phantomjs` providers into separate packages

[2016-08-10 10:21] #207 closed

[2016-08-10 15:07] helen-dikareva opened #710 "Add 'url' to dialogInfo in dialog-tracker"

[2016-08-10 15:09] helen-dikareva opened #711 "Exclude "not-contenteditable" children from counting selection position of "contenteditable" parent"

[2016-08-10 15:33] AndreyBelym commented on #711
Looks like it will help with #422

[2016-08-10 15:36] AlexanderMoskovkin commented on #711
It's the same things. I'll close #422 in favor of this issue

[2016-08-10 15:37] AlexanderMoskovkin commented on #422
closed in favor of #711

[2016-08-10 15:37] #422 closed

[2016-08-11 09:14] #479 closed

[2016-08-11 14:19] AlexanderMoskovkin commented on #674
closed in favor of #690

[2016-08-11 14:19] #674 closed

[2016-08-12 09:18] #710 closed

[2016-08-12 10:11] inikulin opened #716 "`ReferenceError: selector is not defined` if selector promise is passed to `t.select`"
Code to reproduce:
[code]

This happens because we don't merge source selector options if derivative selector doesn't have options. Tests didn't show this error because we test passing selector promise to action and derivative selector there always created with `visibilityCheck` option.

[2016-08-12 14:26] #716 closed

[2016-08-12 15:29] AndreyBelym opened #718 "renderTemplate recursive replace"
`renderTemplate` replaces '{}' in arguments, e.g.
[code]

IMHO right behavior is
[code]

[2016-08-12 16:05] AndreyBelym opened #719 "Resize hack must be disabled in tests"
`RemoteBrowserProvider.disableResizeHack` must be called before creating browser connection in runner server tests. Currently it is changed after the code in provider checks it.

[2016-08-15 09:39] #719 closed

[2016-08-16 07:57] AndreyBelym opened #722 "2px resizing error in Firefox"
Sometimes after resizing maximized Firefox window, the resulting client size area is 2px bigger than requested. Reproduced on my machine (just one time), @inikulin's, @kirovboris'es.

[2016-08-16 08:55] AndreyBelym commented on #722
There is actually 2 issues:
1. Performing window operations while window is in transition state from a previous window operation (window open, resize, maximize). It is the reason why local resize test fails sometimes.

2. When performing calculation of resize corrections, a maximized window is resized to same client area, that in maximized state. But because the normalized window has borders(unlik

[2016-08-16 13:49] georgiy-abbasov opened #724 "Docs: add example with using "page model" pattern into recipes"

[2016-08-17 09:15] #285 closed

[2016-08-17 09:25] #718 closed

[2016-08-17 12:01] inikulin commented on #650
`{task-start-date}/{user-agent}/test{num}/{1,2,3,...}.jpg`

[2016-08-17 14:09] inikulin opened #726 "Update CLI description with highlights of browser providers mechanism"
I have a feeling that we need to mention browser providers here as well somehow: https://github.com/DevExpress/testcafe/blob/master/src/cli/argument-parser.js#L24

[2016-08-18 16:13] AlexanderMoskovkin opened #731 "Incorrect error appears if `github` module function promise rejects"
Create a test that uses the [github](https://www.npmjs.com/package/github) module.
Wrap any function from the module that fails with a `Promise` and run it.
The report contains a strange error:
`The action element is expected to be an <iframe>.`

TestCafe version is `0.2.3-alpha`

*Example*
[code]

*Report*
[code]

The `createReference` function calling fails with the following error:
[code]

[2016-08-19 12:21] #650 closed

[2016-08-19 13:12] AndreyBelym opened #733 "elegant-spinner does not work well on Travis CI"
See https://travis-ci.org/DevExpress/testcafe-browser-provider-saucelabs/jobs/153545421

[2016-08-19 16:29] inikulin commented on #733
Hmm, overall what's by design, it doesn't support CLI clean up. You will get same results with any animated output, the question is if we can handle it gracefully, e.g. disabling spinner in such envirionments. @AndreyBelym can you investigate, pls?

[2016-08-19 16:31] inikulin commented on #650
What's breaking about it?

[2016-08-22 08:22] helen-dikareva commented on #650
It's can break existent tests. Especially it concerns Legacy api tests.

[2016-08-22 08:46] AndreyBelym commented on #733
Looks like that the key is `CI` environment variable. It's not documented in Travis CI docs (but it is described in [AppVeyor docs](https://www.appveyor.com/docs/environment-variables/) ), but https://github.com/sindresorhus/ora/blob/master/index.js#L34 uses it.

[2016-08-22 08:52] inikulin commented on #733
Let's use condition from Ora

[2016-08-22 08:56] inikulin commented on #733
We have a isTTY var cli/log that enables animated spinner, we can introduce isAnimated var instead that will use condition from Ora (don't forget to give package a credit in code comment)

[2016-08-22 08:57] inikulin commented on #731
This one looks like a serious blocker, any news on it?

[2016-08-22 09:00] inikulin commented on #650
http://semver.org Guys, please read. Is screenshot path is a part of API?

[2016-08-22 09:07] helen-dikareva commented on #731
I'm working on this. I think it's not really serious, don't worry

[2016-08-22 12:33] helen-dikareva commented on #731
This behavior is caused throwing Error in module `error-stack-parser`
https://github.com/stacktracejs/error-stack-parser/blob/04b29272bff2047496b822d165f7c0b0fd211b31/dist/error-stack-parser.js#L74
The module `callsite-record` doesn't handle this scenario, but I think it should return empty or null object in this case.
Steps to reproduce in `testcafe` (error which can't be parsed by `error-stack-p

[2016-08-22 14:05] helen-dikareva commented on #731
Part with `callsite-record` fixed in `3.2.1` version

[2016-08-22 14:32] #602 closed

[2016-08-23 08:14] #733 closed

[2016-08-23 11:06] miherlosev commented on #419
1)Use `domUtils` methods from hammerhead
2)Remove dublicates from https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/dom.js (see isTextEditableElement)

[2016-08-24 08:59] #731 closed

[2016-08-24 12:21] kirovboris opened #738 "Implement possibility to pass a negative index value in Selector"
If a negative number is given, it is treated as `countElms + index` where `countElms` is the number of the elements, which correspond the selector function.

[2016-08-24 13:07] georgiy-abbasov commented on #423
At this moment natively only Firefox, unlike other browsers, doesn't fire 'click' event, if element under cursor has changed during 'mousedown' event handling.

[2016-08-26 15:30] georgiy-abbasov opened #739 "Incorrect cursor UI offset while performing action on iOS"
Reproducing on next page:

[code]

Test scenario:

[code]

![screen shot 2016-08-26 at 6 25 25 pm](https://cloud.githubusercontent.com/assets/15088565/18010869/0c8cc59c-6bbb-11e6-85ad-150415f66581.png)

If we specify `initial-scale`  in `<meta>` tag, cursor offset will be ok.

[2016-08-29 08:06] AlexanderMoskovkin commented on #739
@georgiy-abbasov is this problem of UI only? Are click event arguments (pageX, pageY etc) ok?

[2016-08-29 09:31] georgiy-abbasov commented on #739
@AlexanderMoskovkin, yes, the arguments still ok.

[2016-08-30 10:49] inikulin commented on #657
@VasilyStrelyaev I guess we can close it now?

[2016-08-30 10:50] inikulin commented on #726
ping @VasilyStrelyaev @MargaritaLoseva

[2016-08-30 11:08] VasilyStrelyaev commented on #657
You also wanted a separate top menu with top-level sections (GETTING STARTED, USING TESTCAFE, TEST API, EXTENDING TESTCAFE...)
See item 1

[2016-08-30 11:22] inikulin commented on #657
Nah, I guess it looks just fine now. Let's return to this topic if there will be necessity

[2016-08-30 11:30] MargaritaLoseva commented on #726
I've updated this 3 hours ago in this pull request - https://github.com/DevExpress/testcafe/pull/725

[2016-08-30 11:47] MargaritaLoseva commented on #290
@VasilyStrelyaev @inikulin I suppose this issue is about custom reporters. Can we close it?

https://github.com/DevExpress/testcafe/pull/378 is merged

[2016-08-30 11:48] inikulin commented on #290
I guess so

[2016-08-30 11:48] inikulin commented on #290
Implemented in #378

[2016-08-30 11:48] #290 closed

[2016-08-30 11:50] inikulin commented on #726
@MargaritaLoseva Add `closes` directive to PR name then

[2016-08-30 13:37] inikulin opened #742 "Incorrect viewport size on TravisCI and MacOS"
Seems like `getViewportSize` utility returns `0` or something like that for MacOS on Travis, see: https://travis-ci.org/DevExpress/testcafe-browser-provider-saucelabs/jobs/156214547

We need to fallback to `DEFAULT_VIEWPORT_WIDTH` in that case

[2016-08-30 13:37] AlexanderMoskovkin opened #743 "All tests in a fixture are run at the same time"
Reproduced in v0.3.0 and v0.2.3. Works fine in v0.2.1.

[code]

Report:
[code]

But should be like:
Report:
[code]

[2016-08-30 13:39] inikulin commented on #671
Closed via #692

[2016-08-30 13:39] #671 closed

[2016-08-30 14:21] AlexanderMoskovkin commented on #743
I'm working on this

[2016-08-31 09:59] AlexanderMoskovkin opened #745 "Implement test task `setup` and `teardown`"
Provide a capability to execute code before all tests started (`setup`) and after all tests completed (`teardown`).

[2016-08-31 10:37] inikulin commented on #582
Closing in favor of #287

[2016-08-31 10:37] #582 closed

[2016-08-31 11:43] helen-dikareva opened #746 "Fix screenshots path in report for tests in quarantine mode"
Due to https://github.com/DevExpress/testcafe/pull/732#issuecomment-242022126
Now if we run test in quarantine mode in screenshotBase dir will be created three dirs:
[code]
And in report will be specified last path: `{basePath}\{task-start-date}\test-1-2`.
We have two ideas to fix it:
1) specified several paths in report
2) or use for quarantine mode different way to save screenshots:
[code]
for r

[2016-08-31 11:43] helen-dikareva commented on #746
What do ypu think? @inikulin

[2016-08-31 11:58] AlexanderMoskovkin commented on #746
I prefer the second way.
When quarantine mode enabled we use the following pattern: `{task-start-date}/test-{num}/run-{num}/{user-agent}/`
When quarantine mode disabled we use: `{task-start-date}/test-{num}/{user-agent}/`

In both cases we write in the report: `screenshots: {task-start-date}/test-{num}/`

Maybe someone has some other idea?

[2016-08-31 12:00] inikulin commented on #746
Sounds good

[2016-08-31 12:04] helen-dikareva commented on #746
ok

[2016-08-31 12:32] #743 closed

[2016-08-31 12:42] miherlosev commented on #690
I think we should add perfomance tests for `testcafe`.
For example:
- average time for tests with basic actions (`click`, `type`, etc).
- average time for large test suite (full asp or devexteme test suite)
- perfomance comparison with Selenium.
What do you think @inikulin @AlexanderMoskovkin ?

[2016-08-31 12:49] inikulin commented on #690
@miherlosev Not sure we should. It's not a main pain point currently. The thing that still bothers me the most in the whole framework is still hammerhead and it's endless regressions.

[2016-08-31 12:54] miherlosev opened #747 "Use EventEmitter from hammerhead"
Code for `EventEmitter` from https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/service.js
is the dublicate of
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/utils/event-emitter.js.
Remove code for `EventEmitter` from `testcafe` and use `EventEmitter` from hammerhead.

[2016-08-31 13:09] #431 closed

[2016-09-01 08:04] kirovboris opened #749 "Provide DOM Node snapshot extensions mechanism"
I'm working on this.

[2016-09-01 08:11] #701 closed

[2016-09-01 08:11] #700 closed

[2016-09-01 08:55] #289 closed

[2016-09-01 08:55] #726 closed

[2016-09-01 12:18] kirovboris commented on #749
We decide to add ```find``` method for DOM Node snapshot. This method will be looking for dom snapshot element on the page and after that looking for element inside of found DOM element.
```find``` method should provide ```Selector``` functionality.
E.g.
[code]

[2016-09-01 15:16] georgiy-abbasov commented on #608
We decided to get rid of  ` if (e.isFakeIEEvent)` check. See https://github.com/DevExpress/testcafe/pull/748#issuecomment-244110031

[2016-09-02 09:15] #746 closed

[2016-09-02 14:39] AlexanderMoskovkin commented on #471
We have fixed frequently blinking tests so I close this. We will open a new issue (or reopen this one) if when we discover other unstable tests

[2016-09-02 14:39] #471 closed

[2016-09-02 14:42] AlexanderMoskovkin commented on #400
moved to https://github.com/DevExpress/testcafe-legacy-api/issues/13

[2016-09-02 14:42] #400 closed

[2016-09-02 14:54] AlexanderMoskovkin commented on #423
@georgiy-abbasov is working on this

[2016-09-02 16:00] AlexanderMoskovkin opened #751 "Unnecessary timeouts appeared between some action simulation"
1) It shouldn't be any timeout between mouseup and click events (in click, rightclick automations)
2) It shouldn't be any timeout between click and dblclick events (in dblclick automations)
3) Sometimes additional timeout appears between mousedown and mouseup events (it reproduced on the ASP tests. It seems it relates to long-time mousedown synchronous handlers  execution).

[2016-09-05 08:58] georgiy-abbasov commented on #547
Looks like the problem gone. I'll open this issue, if it appears again

[2016-09-05 08:58] #547 closed

[2016-09-06 11:58] georgiy-abbasov opened #754 "Test get stuck if `testName` contains more than one singlequote"
Test to reproduce:
[code]
We will get this on the client:
![2016-09-06_1450](https://cloud.githubusercontent.com/assets/15088565/18272652/931b9a00-7441-11e6-8ff4-1723e44df485.png)

[2016-09-06 12:01] inikulin commented on #754
Same applies to `fixtureName` I guess

[2016-09-06 12:28] inikulin commented on #754
Is anyone working on this? Because we need to fix it ASAP

[2016-09-06 12:29] AlexanderMoskovkin commented on #754
I'll do it soon

[2016-09-06 12:30] inikulin commented on #754
@AlexanderMoskovkin Should be fixed very easy by using RegExp with `g` flag here, instead of string: https://github.com/DevExpress/testcafe/blob/master/src/test-run/index.js#L80

But we need regression test as well

[2016-09-06 12:32] AlexanderMoskovkin commented on #754
I'm working on this

[2016-09-06 14:16] #754 closed

[2016-09-06 17:28] #663 closed

[2016-09-06 18:41] inikulin opened #760 "Docs: update README with relevant info"
Code samples in README differ from the one we have in GS, please update them with latest version. Also, I don't like names of tests on landing page and `Features` section of the README. `My test` and `My fixture` is just meh. Can we have something more realistic?

Also, @MargaritaLoseva probably will kill me =)), but after looking at this callsite
https://github.com/DevExpress/testcafe/raw/master/

[2016-09-06 18:42] inikulin opened #761 "Add missing fields to package.json"
E.g. repo, description, keywords, etc.

[2016-09-06 18:43] inikulin commented on #678
I believe it was implemented in context of browser providers? \cc @AndreyBelym

[2016-09-06 18:44] inikulin commented on #586
What's the status of this one @AndreyBelym ?

[2016-09-06 18:52] inikulin opened #762 "Docs: add README in the /docs with the TOC"
We need to create auto-generated README with TOC in `docs` dir which will make docs easily navigable on github. Also, I guess we should add remark to readme that content is better viewed on website

[2016-09-06 19:03] inikulin opened #763 "Docs: we need to highlight some features we forgot about"
We've completely forgot to mention some important features:

- Each TestCafe test runs in isolated client environment - tests doesn't share cookies or local and session storage values. So you don't need to manually clean up state before each test run.

- Automatic waiting for page loads, XHRs and element appearance (selector's wait for visible). The former already highlighted in the docs, but I gu

[2016-09-07 07:38] AndreyBelym commented on #586
See part 1 of https://github.com/DevExpress/testcafe/issues/722#issuecomment-240043450. Need to add some delays between native operations in resize hack.

[2016-09-07 07:40] AndreyBelym commented on #678
Yes, it was implemented: https://github.com/DevExpress/testcafe/blob/master/src/browser/provider/plugin-host.js#L81

[2016-09-07 08:02] AndreyBelym opened #764 "Enable AppVeyor"
For running `"local"` functional tests. It will help detect bugs like #722 and #586.

[2016-09-07 08:04] AndreyBelym commented on #586
I'm working on it.

[2016-09-07 08:05] AndreyBelym commented on #722
Working on it.

[2016-09-07 08:05] inikulin commented on #678
Closed via #573

[2016-09-07 08:05] #678 closed

[2016-09-07 08:18] inikulin opened #765 "Rename Selector `textFilter` to `text`"

[2016-09-07 08:31] VasilyStrelyaev commented on #486
Closed by https://github.com/DevExpress/testcafe-gh-page-assets/pull/17

[2016-09-07 08:31] #486 closed

[2016-09-07 08:39] VasilyStrelyaev commented on #762
'Auto-generated' - like completely automatic? A bot that regenerates it on each PR that affects the TOC at [docs/nav/nav-menu.yml](https://github.com/DevExpress/testcafe/blob/master/docs/nav/nav-menu.yml) (if it is possible at all)?

Or like semi-automatic - run a generating script locally and add the resulting `docs/README.md` to PR. Build bot can then warn you if your PR affects `docs/nav/nav-me

[2016-09-07 08:45] inikulin commented on #762
This

[2016-09-07 08:59] AndreyBelym opened #767 "Move functional testing in some desktop browsers to AppVeyor"
We can do it at least for Firefox, Chrome, IE11.

[2016-09-07 09:39] inikulin opened #769 "Get rid of npm install warnings"
We need to figure out which packages gives us update warnings and update them.
@AndreyBelym Can you take care of this, please?

[2016-09-07 10:20] georgiy-abbasov opened #770 "Investigate and extend focus behavior in click automation"
At the current moment in all browsers in some cases we call focus after mousedown on non-focusable elements:
https://github.com/DevExpress/testcafe/blob/master/src/client/automation/utils/utils.js#L43
https://github.com/DevExpress/testcafe/blob/master/src/client/automation/utils/utils.js#L53
It was expected that it is the reason of failed ASPx tests in IE, but while we were fixing this, was found,

[2016-09-07 10:21] inikulin opened #771 "Node snapshot properties shorthands for Selector"
# Feature summary
For @DevExpress/testcafe-docs
**Important:** We need to update all docs examples to use this approach.

### Shorthands
If you need to obtain just single property from snapshot you need to use two assignments:
[code]
or use awkward single-line expression which is hard to write and read due to lots of parenthesis:
[code]

This features introduces shorthands - async snapshot propert

[2016-09-07 10:36] AlexanderMoskovkin opened #772 "Run IE9, IE10 tests as smoke tests"

[2016-09-07 10:43] AlexanderMoskovkin commented on #771
Just for sure, am I understood your proposal right?
[code]
in this case `bodyWidth1 === bodyWidth2`

[2016-09-07 10:56] inikulin commented on #771
@AlexanderMoskovkin

Ehh, not sure about it =) Speaking clearly, instead of:
[code]
you'll be able to write
[code]

[2016-09-07 11:01] AlexanderMoskovkin commented on #771
got is. Looks useful

[2016-09-07 11:08] inikulin opened #773 "Docs: some API reference remarks"
- [https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/test-api/selecting-page-elements/selectors.md#return-values-dom-node-snapshots]("Return Values. DOM Node Snapshots") should follow right after [Executing Selectors]("https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/test-api/selecting-page-elements/selectors.md#executing-selectors")

- [D

[2016-09-07 11:20] miherlosev commented on #771
Can we just drop `await` keyword before Selector properties access?

[2016-09-07 11:24] VasilyStrelyaev commented on #771
looks nice

[2016-09-07 11:27] inikulin commented on #771
@miherlosev No, how you imagine that?

[2016-09-07 11:31] miherlosev commented on #771
When test code performs access to selector properties we perform sync request to client, getting result from client and execute next statement from test code.

[2016-09-07 11:31] georgiy-abbasov commented on #771
The approach is more common, as it was before. I like it

[2016-09-07 11:34] #765 closed

[2016-09-07 11:35] inikulin commented on #771
Cool cool, but I have no idea how we can perform "sync request to client"

[2016-09-07 11:37] AlexanderMoskovkin commented on #765
This comment is just for notify @kirovboris and @arubtsov about this BC.
Do you use this in your tests?

[2016-09-07 11:39] helen-dikareva commented on #771
it looks good, but we should explain in docs differece between using snapshot (not recalculate selector) and this mechanism

[2016-09-07 11:39] miherlosev commented on #771
Ok. I don't know internal implementation. It just view from the outside.

[2016-09-07 11:47] inikulin commented on #771
@miherlosev It's not about internal implementation. We use hammerhead for messaging. Does it support sync communication with client?

[2016-09-07 11:58] kirovboris commented on #771
:+1:  I like it.

[2016-09-07 11:59] VasilyStrelyaev commented on #762
@AlexanderMoskovkin, how difficult it is to upgrade the bot in such a way?

[2016-09-07 12:41] miherlosev commented on #771
Now it does not suppoeted. We can investigate it.

[2016-09-07 12:46] inikulin commented on #771
@miherlosev Where is no sync request API in modern browsers. There is sync XHR but it's extremely buggy and deprecated.

[2016-09-07 13:06] #772 closed

[2016-09-07 14:59] AlexanderMoskovkin commented on #762
It's no problem

[2016-09-07 18:18] inikulin commented on #769
ping @AndreyBelym

[2016-09-07 18:19] #762 closed

[2016-09-07 20:55] inikulin opened #780 "Update website URL in CLI help"
https://github.com/DevExpress/testcafe/blob/master/src/cli/argument-parser.js#L35

[2016-09-07 21:04] inikulin commented on #760
Also in README: `TestCafe is a simple and powerful framework for testing web sites and apps`.
`web site` should be  a one word: `website`

[2016-09-08 11:20] #780 closed

[2016-09-08 13:24] #423 closed

[2016-09-08 13:49] #773 closed

[2016-09-08 14:54] inikulin commented on #84
Closing due to the fact that it's not related to TestCafe (see build bot repo)

[2016-09-08 14:54] #84 closed

[2016-09-08 14:55] inikulin commented on #85
Planned in build bot.

[2016-09-08 14:55] #85 closed

[2016-09-08 14:56] inikulin commented on #121
I believe it's not a big deal to keep it as is, we don't have much resources. So I would like to not invest time in this feature.

[2016-09-08 14:56] #121 closed

[2016-09-08 14:57] inikulin commented on #425
Closing since it's not relevant to this repo anymore, moved to legacy API repo: https://github.com/DevExpress/testcafe-legacy-api/issues/14

[2016-09-08 14:57] #425 closed

[2016-09-08 15:15] inikulin commented on #437
@AlexanderMoskovkin Do I understand right that it was fixed by #759?

[2016-09-08 15:16] inikulin commented on #664
@AlexanderMoskovkin Do I understand right that it was fixed by #759?

[2016-09-08 15:17] inikulin commented on #669
@AndreyBelym Is it fixed?

[2016-09-08 15:17] inikulin commented on #694
We've decided to go with all-in-one approach

[2016-09-08 15:17] #694 closed

[2016-09-08 15:18] inikulin commented on #705
@AndreyBelym Can we close it now?

[2016-09-08 15:19] AlexanderMoskovkin commented on #664
it was fixed by #759

[2016-09-08 15:19] #664 closed

[2016-09-08 15:19] AlexanderMoskovkin commented on #437
it was fixed by #759

[2016-09-08 15:19] #437 closed

[2016-09-08 15:19] inikulin commented on #724
Closing in favor of #287

[2016-09-08 15:19] #724 closed

[2016-09-08 15:22] AlexanderMoskovkin opened #783 "Switch to the new `beforeunload` hammerhead event"
We can implement it once the https://github.com/DevExpress/testcafe-hammerhead/issues/667 is accomplished.
It will give better solutions for the problems described in #437, #664, #663

[2016-09-08 15:23] inikulin commented on #745
Just thought it would be better to implement global `setup` and `tearDown` functions, like global `before` and `after` in Mocha

[2016-09-08 15:25] inikulin commented on #525
Still not sure about this one. Moved to proposals until we will not get some feedback

[2016-09-08 15:29] AndreyBelym commented on #705
Implemented in #709

[2016-09-08 15:29] #705 closed

[2016-09-08 15:30] AndreyBelym commented on #669
Fixed in DevExpress/testcafe-browser-natives#80 and #643.

[2016-09-08 15:30] #669 closed

[2016-09-08 15:45] AlexanderMoskovkin opened #784 "Fix problems with ASP tests that relate to TestCafe behavior"

[2016-09-09 09:28] #761 closed

[2016-09-09 09:46] inikulin commented on #480
Not sure if we should implement it, since it's violates black-box testing paradigm. Anyway it can be implemented via `ClientFunction` by user. Closing for now, until we'll not get significant demand from users.

[2016-09-09 09:46] #480 closed

[2016-09-09 10:03] AlexanderMoskovkin commented on #245
There are some thoughts about this but there is no completed algorithm. I'd like to think out this more and write a proposed algorithm here a little later. The algorithm implementation depends on https://github.com/DevExpress/testcafe-hammerhead/issues/667 also

[2016-09-09 11:45] kirovboris commented on #749
We need the name for extending snapshot method, e.g. ```extendSnapshot```
I assume the following use:
[code]
Also should we support ```function```, ```Selector```, ...  argument for ```find``` method?
E.g. we can do:
[code]
/cc @inikulin @VasilyStrelyaev

[2016-09-09 11:50] inikulin commented on #749
I assume the following use:

It should look good in `with` method, so I guess it should be:
[code]

Yes. it should all arguments that regular selector accepts, it just has `contexNode` argument always bound to it.

[2016-09-09 11:54] inikulin commented on #749
BTW, we can alternative API:

[code]

This will add property `state` to snapshot. The good thing about this approach is that it will cooperate well with #771. We will be able to create property shortcuts for extensions.

[2016-09-09 11:59] kirovboris commented on #749
Do you mean support alternative API(1) or implement instead of written above(2). It looks a little bit superfluous? I like (1) option.
E.g.
[code]

[2016-09-09 14:01] VasilyStrelyaev commented on #749
And it also justifies the use of a noun `extensions`.

[2016-09-13 07:29] AndreyBelym opened #791 "Use MacOS on Travis CI"
We can run functional tests directly on Travis CI MacOS VMs, instead of using SauceLabs.

[2016-09-13 08:54] AlexanderMoskovkin commented on #791
awesome!

[2016-09-13 08:55] AlexanderMoskovkin commented on #791
is there a way to save a screencast for them?

[2016-09-13 09:08] inikulin opened #792 "Implement BDD interface and nested fixtures"
[code]

[2016-09-13 09:50] AndreyBelym commented on #791
It's easy enough to grab the screen with [ffmpeg](https://ffmpeg.org), but it will capture the entire screen, not the specific browser window. JFYI, SauceLabs uses it to make screencasts, but SauceLabs provides dedicated VM for each browser, so they don't face the problem with multiple browsers inside the same VM.

[2016-09-13 10:36] AlexanderMoskovkin opened #794 "Hover action is not executed if the target point coordinates are equal with default cursor position"
Now reproduces if you call t.hover() to the page position x=50 y=50

[2016-09-13 13:49] AlexanderMoskovkin commented on #751
I'm working on it

[2016-09-13 13:51] inikulin opened #798 "Redesign selector system"
I've got this idea while thinking about #795 and making API examples. Currently we have selector and snapshots. Selectors are functions that allow you retrieve node state aka node snapshot. Having a node snapshot you can retrieve other snapshots in DOM hierarchy. Moreover, we are going to add `find` method that will allow you to retrieve descendants of the element represented by snapshot. There is

[2016-09-13 14:05] AlexanderMoskovkin commented on #798
:+1: Looks good

[code]
As a see we can't get rid of dependencies in this case or we can?

[2016-09-13 14:08] inikulin commented on #798
@AlexanderMoskovkin It's synthetic example, you can just do:
[code]

But it would be nice if you add more examples, to see how they will fit into new paradigm

[2016-09-13 14:20] AlexanderMoskovkin commented on #798
an example from our documentation:
[code]

[2016-09-13 14:21] helen-dikareva commented on #798
I like it

[2016-09-13 14:24] kirovboris commented on #798
Looks good, but in my opinion ```descendant``` and ```ancestor``` to typing too long.

[2016-09-13 14:24] helen-dikareva commented on #798
may by `child/parent`

[2016-09-13 14:25] helen-dikareva commented on #798
by `child/parent` looks like we'll fin on one level

[2016-09-13 14:26] inikulin commented on #798
@helen-dikareva Correct. `Child/parent` means single level, but we'll have them as well.

[2016-09-13 14:27] AndreyBelym opened #799 "errorInEachBrowserContains doesn't work if some browsers not failed"
See here: https://github.com/DevExpress/testcafe/blob/master/test/functional/assertion-helper.js#L79. `errorInEachBrowserContains` will return `true` even if the specified error is contained in just one browser, not in all of them, 'cause it loops not over the actual tested browsers, but over the errored ones.

[2016-09-13 14:32] inikulin commented on #799
This on is a serious blocked. Is anyone working on it?

[2016-09-13 15:06] AndreyBelym commented on #799
I'm working on it.

[2016-09-13 15:48] #794 closed

[2016-09-14 11:26] inikulin opened #802 "We need to figure out `test` extensions syntax"
Some planned features require the way to attach methods to `test`, e.g. `before` or `skip`. For `skip` many frameworks use `test` postfix:

[code]

This approach is quite ergonomic since you don't need to modify test code much: just add dot and `skip`. But the problem is that our directive may have parameters, e.g. `before`. `skip` can also have parameter to specify predicate that will allow you t

[2016-09-14 11:28] inikulin commented on #798
@kirovboris What do you think? Does fits well for you selector extensions?

[2016-09-14 11:48] VasilyStrelyaev commented on #802
last time we called it `body`

[2016-09-14 11:53] inikulin commented on #802
@VasilyStrelyaev `fn` is shorter and named after the parameter we have currently

[2016-09-14 12:28] kirovboris commented on #802
The fourth option we can add ```t.skip``` action.
[code]
I like the second option because it doesn't complicating the test reading.

[2016-09-14 12:30] inikulin commented on #802
@kirovboris We can't add directive in body, since we already executing the test.

[2016-09-14 12:30] helen-dikareva commented on #802
I think first variant looks better than others, but where will be `after` after `fn` or `before`?

[2016-09-14 12:31] inikulin commented on #802
It doesn't matter, you can use the way you prefer

[2016-09-14 12:35] helen-dikareva commented on #802
can we use someting more descriptive than `fn`?
like just variant like in mocha:
[code]
Or may be `do` or may be smtng better.

[2016-09-14 12:37] inikulin commented on #802
@helen-dikareva https://github.com/DevExpress/testcafe/issues/802#issuecomment-246989277

We need to keep it somehow consistent with the existing API.

[2016-09-14 12:38] kirovboris commented on #798
If we're discussing the selector extensions, not the snapshot extension, it looks useful.
I mean this changes can't replace the snapshot extending for ```react-selectors``` plugin.

[2016-09-14 12:43] inikulin commented on #802
One more
[code]

[2016-09-14 12:43] churkin commented on #802
[code]

[2016-09-14 12:44] inikulin commented on #802
https://github.com/DevExpress/testcafe/issues/802#issuecomment-247000714

This one looks kinda good, but have problem with easy code modification

[2016-09-14 12:48] churkin commented on #802
@inikulin The last variant - the best

[2016-09-14 12:51] inikulin commented on #802
@churkin Bad thing about it is that title is separated from `test` directive

[2016-09-14 13:03] inikulin commented on #798
@kirovboris It doesn't it applies only to selector combination. Snapshot extensions looks even more meaningful with this one.

[2016-09-14 13:06] kirovboris commented on #749
In according to #798 we don't need the ```find``` method anymore.

[2016-09-15 12:30] #760 closed

[2016-09-16 07:20] #799 closed

[2016-09-16 10:29] #586 closed

[2016-09-16 10:29] #722 closed

[2016-09-16 10:29] #764 closed

[2016-09-16 12:24] inikulin opened #806 "[release] First public beta"
I'm going to release first RC for the public beta tomorrow. Do we have anything blocking?
\cc @DevExpress/testcafe

**Update**
RC was released, further steps:

- [x] Fix all found issues https://github.com/DevExpress/testcafe/milestone/12
- [x] Update all package dependencies with beta:
   - [x] https://github.com/DevExpress/gulp-testcafe (and release it)
   - [x] https://github.com/DevExpress/tes

[2016-09-16 13:24] inikulin commented on #806
@VasilyStrelyaev it doesn't relate to docs or promotional material. I'm asking about functionality things.

[2016-09-16 14:08] AlexanderMoskovkin commented on #806
@inikulin The only thing I'm worry about - it looks like legacy api compiler takes too much memory (it's about 200MB for 134 asp fixtures in my case). But I think it'll be fixed in the `testcafe-legacy-api` repository

[2016-09-19 10:15] AlexanderMoskovkin opened #809 "The process takes too much memory during legacy tests execution"

[2016-09-19 10:15] AlexanderMoskovkin commented on #809
I'm working on this

[2016-09-19 12:02] kirovboris opened #811 "Object expected on youtube.com in IE11"
[code]

[2016-09-19 12:04] kirovboris opened #812 "Implement `t.maximizeWindow`"
# Feature summary

## Browser provider API changes

### maximizeWindow (browserId)
Maximizes the browser window `browserId`.

[2016-09-19 12:15] kirovboris commented on #811
[code]

[2016-09-19 12:23] kirovboris opened #814 "Test hangs if testName contains new line symbol"
[code]

[2016-09-19 12:44] AndreyBelym opened #815 "Long loading and error on Google Sheets"
Test:
[code]

Report:
[code]

[2016-09-19 13:04] kirovboris opened #816 "Incorrect resizeToFitDevice on mac with portaitOrientation=true"
[code]

`AssertionError: expected 896 to deeply equal 960`

[2016-09-19 13:04] inikulin opened #817 "Unhandled rejection for tests that starts with `about:blank` page"
If you specify unhandled rejections handler in node:
[code]

You will get `Protocol "about:" not supported. Expected "https:".` For tests that utilizes `about:blank` page. This is happens because we missing `return` in special pages branch in Hammerhead: https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/request-pipeline/index.js#L25, so we still try to perform request for such page

[2016-09-19 13:08] miherlosev commented on #817
I will create issue

[2016-09-19 13:09] inikulin commented on #817
@miherlosev Please, cross-reference them

[2016-09-19 13:38] kirovboris opened #819 "RangeError: Maximum call stack size exceeded"
[code]

[2016-09-19 14:10] #763 closed

[2016-09-19 14:19] inikulin commented on #814
I'm working on this

[2016-09-19 14:36] miherlosev opened #821 "ServiceWorker-related script error on test execution"
### Error message
`The path of the provided scope ('/') is not under the max scope allowed ('/HyLB1_pn/https://e.mail.ru/'). Adjust the scope, move the Service Worker script, or use the Service-Worker-Allowed HTTP header to allow the scope.`

### Test for reproduce
[code]

Error in hammerhead - see https://github.com/DevExpress/testcafe-hammerhead/issues/797

[2016-09-19 14:38] AndreyBelym commented on #816
We cannot resize a window to the size bigger than the desktop size on Mac. Can you specify your Mac desktop size as well?

[2016-09-19 14:40] inikulin commented on #816
@AndreyBelym Maybe we could give warning in that case?

[2016-09-19 14:46] helen-dikareva opened #822 "Error in test run "Uncaught object "[object Object]" was thrown. Throw Error instead.""
There are no errors on page without testcafe
[code]

[2016-09-19 14:55] miherlosev opened #823 "Feature: test speed adjustment"
I want to have delay between actions.
It will be usefull for understanding an overall picture of test flow (especially for a large user scenarious).

[2016-09-19 14:59] miherlosev commented on #823
See https://support.smartbear.com/viewarticle/80861/.
It named as 'Delay between events'

[2016-09-19 15:10] AndreyBelym commented on #816
Sure!

[2016-09-19 15:52] inikulin commented on #815
Possible dup of #822

[2016-09-19 16:19] inikulin commented on #815
Dup of #822

[2016-09-19 16:19] #815 closed

[2016-09-19 16:20] inikulin commented on #822
Error occurs during selector evaluation on client: `SyntaxError: Octal literals are not allowed in strict mode.(…)`. It describes strange nature of error: we don't expect non-testcafe errors in action executor, so we send unwrapped error to server which becomes an empty object after JSON serialization.

[2016-09-19 16:21] inikulin commented on #822
Same error appeared in #815 :
[code]

[2016-09-19 16:21] inikulin commented on #822
I'm working on it

[2016-09-20 06:20] #814 closed

[2016-09-20 08:18] miherlosev opened #824 "Feature: TestCafe API IntelliSense"
see examples for another libraries:
- http://weblogs.asp.net/lduveau/getting-angular-intellisense-in-visual-studio-code
- https://www.nuget.org/packages/jQuery-vsdoc/
- https://www.npmjs.com/package/vs-react-intellisense

[2016-09-20 08:41] churkin commented on #811
@AlexanderMoskovkin
Сan't reproduce in the hammerhead, it looks like a bug in the client driver.

[2016-09-20 09:11] miherlosev opened #825 "Unhandled rejections in test runner"
![Console](https://cloud.githubusercontent.com/assets/4133518/18663808/b97071f2-7f28-11e6-9d45-bb1d33ec2dab.png)

[2016-09-20 09:58] helen-dikareva opened #826 "Test doesn't work in git hub version, but works fine in 15.1"
Error raised in hammerhead-playground, it may be cause of this behavior
[code]

[2016-09-20 10:01] inikulin commented on #826
@helen-dikareva Do you mind submitting a bug to hammerhead?

[2016-09-20 10:02] helen-dikareva commented on #826
In progress

[2016-09-20 10:19] miherlosev opened #827 "JSON.parse error during playing empty test on phantomjs"
### Test

[code]
### Log

![Console](https://cloud.githubusercontent.com/assets/4133518/18666470/abc4ba98-7f34-11e6-9487-345307a28e76.png)

[2016-09-20 10:22] inikulin commented on #827
@miherlosev It's definitely an error with hammerhead. Please, fill issue there

[2016-09-20 10:51] AndreyBelym opened #829 "IE10 crashed when testing lenta.ru"
Test:
[code]

Result:
[code]

and crash of the browser.

[2016-09-20 10:52] inikulin commented on #806
RC was released

[2016-09-20 11:04] inikulin commented on #817
Fixed in hammerhead, waiting for release

[2016-09-20 11:36] arubtsov opened #830 "TypeError in chai assertions while using CLI of locally installed testcafe"
[code]
[code]

[2016-09-20 11:45] inikulin commented on #825
I'm working on this

[2016-09-20 11:47] inikulin commented on #830
Do you run it from npm scripts?

[2016-09-20 11:47] churkin commented on #819
I'm working on this

[2016-09-20 11:52] arubtsov commented on #830
I run it from bin directory with `node testcafe chrome testname.js`.

[2016-09-20 11:53] inikulin commented on #830
@arubtsov We don't support this approach.

[2016-09-20 11:53] #830 closed

[2016-09-20 12:16] inikulin commented on #819
@churkin Is this a hammerhead issue? If so, please, fill an issue there

[2016-09-20 12:50] churkin commented on #819
https://github.com/DevExpress/testcafe-hammerhead/issues/802

[2016-09-20 12:52] AlexanderMoskovkin commented on #811
discussed with @churkin
The cause of the problem is found in testcafe-hammerhead

[2016-09-20 12:59] churkin commented on #811
https://github.com/DevExpress/testcafe-hammerhead/issues/803

[2016-09-20 15:13] miherlosev opened #833 "Add phantomjs browser to CI"

[2016-09-21 08:35] #822 closed

[2016-09-21 08:38] #825 closed

[2016-09-21 13:31] inikulin opened #834 "Docs: `elementSnapshot.hasClass` method is not described in API reference"
It returns whatever an element has given CSS class:
[code]

[2016-09-21 17:34] #834 closed

[2016-09-22 08:58] LavrovArtem commented on #829
Fixed in hammerhead, waiting for release
https://github.com/DevExpress/testcafe-hammerhead/issues/801

[2016-09-22 09:46] miherlosev commented on #821
Fixed in hammerhead. Waiting for a new version.

[2016-09-22 10:03] inikulin opened #839 "Add `selected` attribute to DOM Element snapshot"

[2016-09-22 11:37] churkin commented on #826
Fixed in hammerhead, waiting for release

[2016-09-22 11:37] inikulin opened #841 "Implement test context that will be shared between `beforeEach`, `afterEach` and test itself"
E.g. `t.context`

[2016-09-22 11:49] #829 closed

[2016-09-22 11:49] #826 closed

[2016-09-22 11:49] #821 closed

[2016-09-22 11:49] #817 closed

[2016-09-22 13:01] #839 closed

[2016-09-22 13:03] inikulin commented on #839
@VasilyStrelyaev We need to add it to the docs

[2016-09-22 15:51] miherlosev opened #7185 "Playground: add possibility to replace origin site script on fly"
It needs for debug simplification .

For example:
`playground http:<site-url.com>/jquery.min.js -to https://code.jquery.com/jquery-3.1.0.js.`

[2016-09-23 10:09] #811 closed

[2016-09-23 11:01] #608 closed

[2016-09-26 12:54] #751 closed

[2016-09-27 11:55] AlexanderMoskovkin opened #845 "Add logic to handle file downloading during test execution"
Now page unload barrier waits for 15 seconds if click on a file download link executed every time.
We will able to implement better logic when the #783 issue is implemented. But for now we can add mechanism (like we have in legacy api) to avoid unnecessary delays during tests execution

[2016-09-27 14:07] AndreyBelym commented on #802
`mocha` allows `skip` usage in the test body. When you use `this.skip()` inside a test, it throws a special exception, that aborts the test.

Also, in mocha you do not declare `before` and `after` directly in the `it` test block, you use another `describe` block.

So what's about
[code]

but it doesn't have the fancy chained look.

For chaining, I really like the @churkin's variant. If it is hard

[2016-09-27 14:14] AndreyBelym commented on #802
Or maybe even
[code]

[2016-09-27 14:14] inikulin commented on #802
It looks awkward without modifiers.

It's an option, but it's inconsistent and it's easy to shoot yourself in the leg with that approach.

Yeah, but we don't have nested fixtures yet. Also from my own experience you don't need a new fixture for some tests, you just need some test-specific teardown code and introduction of new fixture feels awkward in that case.

[2016-09-27 14:15] inikulin commented on #802
https://github.com/DevExpress/testcafe/issues/802#issuecomment-249877463 - this one looks interesting

[2016-09-27 14:18] inikulin commented on #802
[code]
Nice! But should we deprecate old API in that case? Or just force usage of the new one and change all examples in documentation to this one.
\cc @DevExpress/testcafe

[2016-09-27 14:24] inikulin commented on #802
Hmm, unfortunately with directives this looks a bit awkward:
[code]

[2016-09-27 14:50] inikulin commented on #802
@miherlosev How test will look like without directive?

[2016-09-27 17:08] inikulin commented on #802
[code]

Unfortunately it's too excessive for basic case

[2016-09-28 08:03] miherlosev commented on #802
Absolutely.

Requiments:
- possibility skip test using minimum code
- test definition should be simplest

`before`, `after` will used seldom. `skip`  will used very seldom.

So I vote for directive Directives afterwards (see https://github.com/DevExpress/testcafe/issues/802#issue-176882339)

Also I don't like syntax with ES6 string.
`fixture('grid sorting').page('http://example.com')` - it is simp

[2016-09-28 09:46] AlexanderMoskovkin opened #847 "Move automation works wrong if moving from iframe to an element requires page scrolling"

[2016-09-30 10:00] georgiy-abbasov opened #850 "Problem when moving out cursor from reloaded iframe"
We have a problem when cursor tries to move out from reloaded iframe. Common scenario is next:
1. We perform an action inside iframe, which leads to reload or redirect in iframe.
2. We switch to top window, then try to perform an action there.
3. Since the position of the cursor after reload is `{x: -1, y: -1}`, line from this position to target point doesn't intersect iframe borders, it leads to

[2016-09-30 11:00] georgiy-abbasov opened #851 "Fix emulation of click for click automation"
Click should be emulated in non-FF browsers in next case: if initial target and top element (which appears after mousedown) have common parent - it'll be target for click.

[2016-10-04 09:10] miherlosev commented on #802
In AVA test runner (https://github.com/avajs/ava) possible use any order of test modifiers.
see https://github.com/avajs/ava#chaining-test-modifiers.

I think it is a good solution.

Also I found features that we can to do in testscafe:
https://github.com/avajs/ava#test-placeholders-todo
https://github.com/avajs/ava#failing-tests

[2016-10-04 12:02] inikulin commented on #802
@miherlosev

We've obviously gonna support the same and it's irrelevant to question raised here.

https://github.com/avajs/ava#failing-tests

I might be wrong, but I find this features enforcing bad practices. I have no idea why and where they can be useful. Do you have any real life scenarios for this?

[2016-10-04 12:09] miherlosev commented on #802
See description for specified features.

[2016-10-04 12:16] inikulin commented on #802
@miherlosev I've read them, but I still don't remember that I've **ever** needed something from this. That's why I'm asking you for scenarios from your experience.

[2016-10-05 08:39] #770 closed

[2016-10-06 15:38] AlexanderMoskovkin opened #856 "The browser stays on the testing page when the test is finished"
[code]

[2016-10-06 17:21] inikulin commented on #856
@AlexanderMoskovkin Is this caused by https://github.com/DevExpress/testcafe-hammerhead/issues/838? Or it's a separate issue?

[2016-10-07 08:24] helen-dikareva commented on #856
it's another problem

[2016-10-07 13:48] VasilyStrelyaev commented on #703
So, I guess we first need to figure out the contribution rules.

And what are issue and bug report templates? I've seen a kind of check lists:

Do you mean these things?

[2016-10-07 16:21] #856 closed

[2016-10-10 11:51] VasilyStrelyaev commented on #703
a monday ping, sir

[2016-10-10 12:11] inikulin commented on #703
@VasilyStrelyaev

Contribution rules:

1. First create an issue (if there is no issue already for the given bug/functionality).  It may be functionality that unlikely will be landed or bug fix require some bikeshedding, so to avoid doing job that will not be used it's a good idea to discuss functionality and bug details with core team before submitting the PR.
2. Fork testcafe and create a branch

[2016-10-11 10:26] #850 closed

[2016-10-11 15:11] inikulin opened #861 "In Firefox <option> element has `textContent` but doesn't have `innerText`"
Can be reproduced with `examples/basic` in 'Pick option from select'

[2016-10-12 10:32] #861 closed

[2016-10-12 12:35] AlexanderMoskovkin commented on #767
done

[2016-10-12 12:35] #767 closed

[2016-10-12 12:45] AlexanderMoskovkin commented on #809
The issue occurs because `testcafe-hammerhead` takes memory during large scripts processing (creating ast etc..)

[2016-10-12 12:45] #809 closed

[2016-10-12 12:49] AlexanderMoskovkin opened #863 "Decrease timeouts in tests (action delays, xhr barrier timeouts, page unload barrier timeouts)"

[2016-10-12 13:01] AndreyBelym opened #864 "Use yarnpkg on CI"
https://yarnpkg.com/
Currently blocked by https://github.com/yarnpkg/yarn/issues/684

[2016-10-12 13:22] AlexanderMoskovkin opened #865 "Add `speed` option for actions"
# Proposal

This affects to delay between action parts (for example between mousedown and mouseup in `click`, or between each symbol typing in `typeText`), to the cursor speed. This option you can use if you need to emulate human-behavior (it can be useful for cases when your scripts work properly only if you do actions no too fast).

Now we have the following [options](https://github.com/DevExpre

[2016-10-12 13:24] inikulin commented on #865
Note that factors should multiply, so if we have `0.5` set in test controller and `0.5` for action the resulting speed should be `0.25`

[2016-10-12 13:24] inikulin commented on #865
Also I guess it should be between `0.1` and `1`

[2016-10-12 13:36] #851 closed

[2016-10-12 13:37] inikulin commented on #704
\cc @VasilyStrelyaev just to make sure that you've seen it

[2016-10-12 13:37] #704 closed

[2016-10-12 14:32] FreeSlave opened #867 "Link in repository description leads to Not Found page"
Actually there's even no gh-pages branch.

[2016-10-12 14:43] inikulin commented on #867
@FreeSlave Hi, yes it's not published yet, since we don't have official release yet. Stay tuned 📻
Meanwhile, you can use development documentation: https://github.com/DevExpress/testcafe/tree/master/docs

[2016-10-12 14:43] #867 closed

[2016-10-12 15:34] #703 closed

[2016-10-12 19:05] inikulin commented on #823
We've finally figure out how it should look like. See #865 (closing in favor of that issue).

[2016-10-12 19:05] #823 closed

[2016-10-12 19:06] inikulin commented on #812
@kirovboris Can you provide use cases, please?

[2016-10-13 07:09] #863 closed

[2016-10-13 12:07] AlexanderMoskovkin opened #872 "Functional tests hang on MS Edge 14 on Saucelabs"
It was ok on MS Edge 13

[2016-10-13 14:20] inikulin opened #875 "Selector text filter doesn't work on `document` in MSEdge 14"

[2016-10-13 14:22] inikulin commented on #872
We've found only one issue locally: https://github.com/DevExpress/testcafe/issues/875 And the fix is on it's way. It seems like that Edge 14 is just unstable on Saucelabs for some reason. Let's try to turn it on a little bit later.

[2016-10-13 15:43] #875 closed

[2016-10-13 15:49] AlexanderMoskovkin commented on #245
**Improve page unload barrier**

Now we wait for 400 ms after each action to be sure that action execution don't lead to page unloading.

We can improve this in the following way: we should wait this time only if there was one of the following page unload triggers:
 - Click on a link with src attribute
 - Form submit calling (or click on a submit button in the form)
 - Window/Document location cha

[2016-10-13 15:55] inikulin commented on #245
@AlexanderMoskovkin Can we also catch canceled events? @churkin said that it's quite complicated, but as far as I understand we can still do it in some cases? It would be nice to have that heuristics as well.

[2016-10-13 16:01] AlexanderMoskovkin commented on #245
There are a lot of scenarios, I think we can cover most commons. We'll investigate them in more detail when we are starting to implement this.

[2016-10-17 08:21] kirovboris commented on #812
I have several different sites in my test directory. For one of them i use ```t.resizeWindow```, e.g. for checking adaptive content. After that i should restore window size for another sites. Let's say window size is ```1920*1080```. After that i want to run test on the virtual machine with another screen resolution and now i should use the condition or something like that and it makes my test not

[2016-10-17 08:39] AlexanderMoskovkin commented on #845
closed in #855

[2016-10-17 08:39] #845 closed

[2016-10-17 09:05] inikulin commented on #812
So if we'll just restore size of the window to the initial (maximized) before each test run it will work for you?

[2016-10-17 09:14] kirovboris commented on #812
Yes, it sounds good.

[2016-10-17 09:22] inikulin commented on #812
OK, I'll rename the issue and move it to planned.

[2016-10-17 09:47] AndreyBelym opened #882 "Test hangs if element scroll is fractional"
Move automation fall to an endless loop, because the target point coordinates will be fractional in this case, and we use integer coordinates for the pointer current position, so they will never be equal.

[2016-10-17 09:59] inikulin commented on #882
@AndreyBelym Can you provide a test code please?

[2016-10-17 10:03] AndreyBelym commented on #882
It's related to https://isc.devexpress.com/Thread/WorkplaceDetails/T432527, I'll post a regression test and page for the test here.

[2016-10-17 11:32] AndreyBelym opened #883 "Strange 'Element is not visible' error"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Error 'Element is not visible' is shown when clicking on second div.

### What is the expected behavior?
Scroll to the second div and click on it.

### How would you reproduce the current behavior (if this is a bug)?
Run the test

#### Provide the test code and the tested page URL (if applicable)

Tested pa

[2016-10-17 12:48] #806 closed

[2016-10-17 14:46] AlexanderMoskovkin opened #886 "Fix 'testcafe-hammerhead' version in package.json"

[2016-10-18 08:47] AndreyBelym commented on #791
Looks like that Travis macOS VM's doesn't have enough performance to run 3 browsers at the same time, so to use it we need to create 3 separate tasks, one for each browser (Firefox, Chrome, Safari). Also keep in mind that total number of macOS VM's is very limited (128 at now), so it will drastically  increase tests time. By these reasons @AlexanderMoskovkin and I decided not to implement this.

[2016-10-18 08:53] AlexanderMoskovkin commented on #568
It seems the problem gone

[2016-10-18 08:53] #568 closed

[2016-10-18 10:07] helen-dikareva opened #889 "Wrong focusing child of table element"
### Are you requesting a feature or reporting a bug?

Bug
### What is the current behavior?

ASP tests are failed in new TestcCafe version `RegressionTests\GridView\ASPxGridView\ASPxCardView\T363560.test.js - Restore focus cell by click on separator cell` by two reasons:
1) wrong detection of next active element after press `tab` button
2) wrong calling focus for `body` after click on table's chil

[2016-10-18 10:07] helen-dikareva commented on #889
I'm working on it

[2016-10-18 13:10] inikulin commented on #802
So I propose:
[code]

As a new recommended test declaration syntax (we'll enforce it in the docs as well).
Please add 👍  or 👎 on this comment if you aggree or disagree so I'll be able to move it from `proposal` stage.

\cc @DevExpress/testcafe

[2016-10-18 13:22] helen-dikareva commented on #889
First problem was was associated with page's markup.

[2016-10-18 13:53] churkin opened #890 "Browser alias CLI parameter should be case insensitive"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?
testcafe Chrome ./tests

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* operating system:
* testcafe version:
* node.js vers

[2016-10-19 09:48] #890 closed

[2016-10-19 09:56] inikulin commented on #527
@AlexanderMoskovkin PivotGrid team expressed a high interest in scrolling gestures. I guess we can plan it for Sprint#2. Before figuring out final API it's worth discuss it with other teams and maybe test prototypes during development with them as well.

[2016-10-19 10:34] AlexanderMoskovkin commented on #527
ok, I'll do this

[2016-10-19 10:55] AndreyBelym commented on #883
An another example of the page:
[code]

Attempt to do a click on a div that is not on visible part of the page gives 'Element is not visible error', instead of performing scroll to the element.

[2016-10-19 12:54] kirovboris opened #897 "Support HTML5 Drag and drop"
### Are you requesting a feature or reporting a bug?

feature
### Specify your
- operating system: windows 7
- testcafe version: 0.9.0
- node.js version: 6.2.1

[2016-10-19 13:00] #886 closed

[2016-10-19 15:12] AndreyBelym commented on #883
The problem was caused by incorrect `document.documentElement.clientHeight` usage in `scrollAutomation`. This property represents height of the whole page in Chrome, not just the viewport height. The `document.body.clientHeight` must be used for this purpose in Chrome.

[2016-10-19 15:12] AndreyBelym commented on #883
Working on it.

[2016-10-20 02:14] Elric-pp opened #902 "resizeWindowToFitDevice Feature Request"
### Are you requesting a feature or reporting a bug?

feature

### What is the expected behavior?

resizeWindowToFitDevice that can simulate the viewport and the device pixel ratio would be good to test the mobile first page.

[2016-10-20 10:28] AlexanderMoskovkin commented on #865
I've updated the first post with feature proposal. What do you think about it?

\cc @inikulin @VasilyStrelyaev @DevExpress/testcafe

[2016-10-20 10:34] AndreyBelym commented on #902
Hi! Do you mean that `resizeWindowToFitDevice` must set correct `Window.devicePixelRatio` for the specified device, right?

[2016-10-20 10:41] inikulin commented on #865
@AlexanderMoskovkin I don't think we need test controller option. There should be CLI and programmatical API option. Also, min value should be `0.01`

[2016-10-20 10:41] georgiy-abbasov commented on #865
Imho, there should be  `action speed` option priority upon `testController speed` option and they should be independent. For example: we have a test where all actions should be executed quickly except one. Multiply in this case can be confusing:
[code]

[2016-10-20 10:42] helen-dikareva commented on #865
I don't really like idea to multiply factors. May be just use speed factor specified for action, if we don't have it - use factor specified for test controller.

[2016-10-20 10:43] helen-dikareva commented on #865
By default it will be slow mode? speed === 1?

[2016-10-20 10:43] AlexanderMoskovkin commented on #865
1 - fast, 0.01 - slow

[2016-10-20 10:44] helen-dikareva commented on #865
Sure, sorry

[2016-10-20 10:49] AlexanderMoskovkin commented on #865
Yes, I'm agree

[2016-10-20 10:52] kirovboris commented on #865
I think the ```speed``` option for one action is almost useless, because it's hard to support and requires to much attention for separate actions. It's almost the same as random placed ```t.wait``` actions. In my opinion, the speed option is usefull, when i want to make slower test if it's requires more time between actions or to see what's going on at during test time.

[2016-10-20 10:59] miherlosev commented on #865
I don't like idea to multiply factors too.

[2016-10-20 11:01] AlexanderMoskovkin commented on #865
For example some ASPx controls doesn't work properly when you type (or click, dblclick, drag) too fast like a robot (some script expect human-behavior with some delays between actions) . With this option you can run only several actions in slow mode but run the others fast (it will decrease tests duration)

[2016-10-20 11:04] AlexanderMoskovkin commented on #865
Can you give a real case when this may be useful. I can't

[2016-10-20 11:22] AlexanderMoskovkin commented on #865
Ok, it was discussed in private, I'll update the top post a little later

[2016-10-20 11:23] vladimirutenkov opened #903 "before & after hooks for a fixture"
### Are you requesting a feature or reporting a bug?
Requesting a feature.

### What is the current behavior?
There is no ability to run some setup/tear down code before/after all tests in a fixture.

### What is the expected behavior?
To have such the ability.

#### Provide the test code and the tested page URL (if applicable)
Test code

[code]

[2016-10-20 11:50] Elric-pp commented on #902
Yes，just act like chrome devtool. It is useful for css media query breakpoint.

[2016-10-20 12:38] AndreyBelym commented on #902
Setting the correct `Window.devicePixelRatio` doesn't look hard, but making CSS queries working with different DPR may be so. I doubt DevTools uses some browser internal  API to do the trick, but we are restricted to the standard JS APIs. We need some time for investigation, if it's possible at all, Please, stay tuned!

[2016-10-20 12:47] Elric-pp commented on #902
Thx, so far so good. 👍

[2016-10-20 12:47] #902 closed

[2016-10-20 12:50] lukasoppermann opened #904 "Add recipe on how to test static files from local file system"
Sorry, but I did not find anything in the docs. Is it not possible to test local files? Like testContent.html?

[2016-10-20 12:52] inikulin commented on #904
Hi! TestCafe requires page to be served via HTTP(S) protocol. However, you can easily serve static pages by using packages like [static-server](https://www.npmjs.com/package/static-server)

[2016-10-20 12:57] lukasoppermann commented on #904
Ahh, okay, thanks. Maybe you could add a short "how to" to the docs?

[2016-10-20 13:14] inikulin commented on #904
@lukasoppermann Sure, we have [Recipes](https://github.com/DevExpress/testcafe/tree/master/docs/articles/documentation/recipes) section for such things. Feel free to contribute or if your're busy we'll take care of it. Meanwhile, I'll convert this issue into documentation feature request.

[2016-10-20 13:17] lukasoppermann commented on #904
Thanks, I am not 100% how to do it, I would be better suited to read the recipe than to write it. 😉

[2016-10-20 13:21] inikulin commented on #904
@lukasoppermann No problem, we'll do it 😃  \cc @VasilyStrelyaev

[2016-10-20 19:43] felipenmoura opened #905 "Allow flags for browsers"
Feature Request
### What is the current behavior?

Flags are not passed to the opening browser.
### What is the expected behavior?

The browser on which the test will run, should receive the flags
### How would you reproduce the current behavior (if this is a bug)?

I'm trying to use Service Workers in the page, but they require `localhost` or `https` and _testcafe_ is currently redirecting the br

[2016-10-20 21:08] AlexanderMoskovkin commented on #905
Hi! While it doesn't work via [Command Line Interface](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html) you can use [Programming Interface](https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/) as a workaround. You can see how to specify the Path to the Browser Executable with Command Line Parameters [here](https:/

[2016-10-20 21:56] felipenmoura commented on #905
Interesting, thanks!
But in this case, I must specify both `path` and `cmd`...and defining the path is not an easy task to do if I want it to run it in many different machines (including travis, for example).
Is there a way I could say "chrome" and the flags(cmd), perhaps?

[2016-10-21 07:30] AlexanderMoskovkin commented on #905
Yes, you can use the [getBrowserInfo](https://github.com/DevExpress/testcafe-browser-tools/blob/master/API.md#async-getbrowserinfobrowser--browserinfo) function from our [TestCafe Browser Tools](https://github.com/DevExpress/testcafe-browser-tools) package. For example:
[code]

[2016-10-21 08:13] AlexanderMoskovkin commented on #245
blocked on https://github.com/DevExpress/testcafe-hammerhead/issues/879

[2016-10-21 09:28] inikulin commented on #905
I believe it's worth implementing on our side: add ability to specify browser parameters for aliases. But command line syntax requires some bike shedding.
Maybe something like:
[code]

[2016-10-21 13:38] jkswoods opened #906 "Support .GIF to record the progress of a test"
### Are you requesting a feature or reporting a bug?

Requesting a feature
### What is the current behavior?

Still screenshots
### What is the requested behavior?

Recording the progress of a test and saving it as an animated gif in a specified folder once the test is complete.
### Specify your
- operating system: macOS 10.12
- testcafe version: 0.9.0
- node.js version: 6.5.0

[2016-10-21 13:45] felipenmoura commented on #905
Thanks @AlexanderMoskovkin, will try that, then.

@inikulin I think that would be an amazing implementation (using quotes), this way we could even use two or more browsers, sending to each one, its own flags.

As for _my situation_, all I need is it to be opened in the browser as `localhost`. I noticed you start a server in my machine's IP in the given ports...do testcafe **must** open it as an IP

[2016-10-21 13:57] inikulin commented on #905
You can specify `localhost` or your machine instead of IP address via [--hostname command line option](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#--hostname-name). Initially, we've used localhost as default hostname for TestCafe server, but it had some performance problems with SauceLabs tunnel (I can't find issue references at the moment, guys c

[2016-10-21 14:07] inikulin commented on #906
Hi @jkswoods.

Great idea! We have two ways how it can be done:
1. Make screenshots on each test action. So you will end up with gif that is composed of discrete static screenshots, like slide show of test state.
2. Record full video, like screencast feature in SauceLabs.

Personally, I prefer first option. With second option you will have huge screencast files after each test run and I'm not sure

[2016-10-21 15:25] jkswoods commented on #906
I'll have to agree with you on that one. The first option does seem like the best and will work in my case.

Thanks, @inikulin!

[2016-10-24 09:54] #771 closed

[2016-10-24 13:23] inikulin opened #912 "Add the capability to perform testing in multiple browser windows"
### Are you requesting a feature or reporting a bug?

Feature
### What is the current behavior?

You can run test only in single window of the browser
### What is the expected behavior?

It's useful to run test in multiple windows to simultaneously observe results from different users perspective. E.g. we test online chat or online game. The idea is to spawn new windows in test and switch test con

[2016-10-24 14:24] #883 closed

[2016-10-24 14:27] jakearchibald commented on #912
Is the `as` method above part of the proposal, or something existing?

Note that this may need to be two profiles rather than two windows. You may even want to test multiple windows of multiple profiles.

`as(user1)` would work pretty well if `user1` were created with `new BrowserProfile()`. Since a new profile implicitly means new window, you wouldn't need `switchToWindow` until you wanted to sup

[2016-10-24 14:31] inikulin commented on #912
Hi Jake.

This is exactly what this function do, it's a part of upcoming [Roles functionality](https://github.com/DevExpress/testcafe/issues/243).

[2016-10-24 14:47] georgiy-abbasov opened #913 "Don't scroll to parent element while focusing on non-focusable element during click automation"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
If click automation is performing on element, which isn't focusable but it parent does, it scrolls to the parent element

### What is the expected behavior?
It must not scroll to focusable parent element, cause it isn't happening when we performs click natively (without TestCafe).

### How would you reprodu

[2016-10-24 20:47] derveloper opened #915 "TestCafe run fails on non ubuntu/debian systems"
### Are you requesting a feature or reporting a bug?

Reporting a bug
### What is the current behavior?

It does not run on non Ubuntu/Debian systems
It fails with

[code]
### What is the expected behavior?

It runs on any linux system e.g. on arch linux
### How would you reproduce the current behavior (if this is a bug)?

On arch linux run `testcafe path:/usr/bin/chromium *.test.js`
### Specify y

[2016-10-24 22:39] bmcminn opened #916 "t.typeText() method returns "Unexpected SyntaxError: Unexpected token <""
### Are you requesting a feature or reporting a bug?

Reporting a bug
### What is the current behavior?

When telling TestCafe to submit the login form in my application, it fails to enter the second `.typeText()` command, citing `Uncaught SyntaxError: Unexpected token <` in Chrome, and `SyntaxError: expected expression, got '<'` in Firefox.
### What is the expected behavior?

TestCafe should fill

[2016-10-25 08:34] AndreyBelym commented on #915
Hi! Thank you for the issue! Browser autodetection do not work currently on non-Debian distros, but of course `testcafe` should be able to start browsers by path. BTW we will implement different mechanism to detecting browsers soon: https://github.com/DevExpress/testcafe-browser-tools/issues/104. Until it's done you can use remote browsers as workaround.

[2016-10-25 08:59] inikulin commented on #916
Hi @bmcminn.

Unfortunately we'll not be able to reproduce the problem without a page. However, we have a few options how we can work through this issue:
- We can sign NDA, so we'll be able to debug on your page.
- We can try to determine the cause of the issue remotely, but it will require some time and assistance from your side
- If it's possible, provide a simplified page that reproduces the pr

[2016-10-25 09:26] churkin opened #917 "Add jquery-like properties to the element snapshot which are difficult to calculate manually"
`.outerWidth()` and `.outerHeight()` for example

[2016-10-25 09:30] churkin opened #918 "Add `t.debugger` action"
I want to be able to stop the test to debug:

[code]

After first clicking the test should stand on pause. During the pause, I can take any action in the browser console. To continue the test, I need to press the specifically button ("Continue test..." for example).

[2016-10-25 16:17] bmcminn commented on #916
I'm going to try and reproduce outside of my companies project. But reading the FF error response, seems like there's a JS expression happening where a rogue `<` character is being interpreted causing it to fail.

Is there a way to pause the runtime execution to help snapshot the error response? or would a utility like iron-node be sufficient for this? Still familiarizing myself with the codebase

[2016-10-25 22:39] inikulin opened #920 "Support for React component testing"
### Are you requesting a feature or reporting a bug?

Feature
### What is the current behavior?

You need to start static server and prepare markup to test React components.
### What is the expected behavior?

Add support for JSX syntax and automatically create static pages from provided markup:

_test.jsx_

[code]

[2016-10-26 10:27] #913 closed

[2016-10-26 11:31] VasilyStrelyaev commented on #865
@AlexanderMoskovkin  Taking into account the discussion, the top post doesn't seem to be up-to-date yet. Have you already decided on all the things? Can you pls update it?

[2016-10-26 11:34] AlexanderMoskovkin commented on #865
Not yet. I'll notify you

[2016-10-26 11:53] inikulin commented on #916
@bmcminn The first thing we do is try to determine which subsystem causes the bug. From you report it's more likely our [hammerhead proxy](https://github.com/DevExpress/testcafe-hammerhead).
Run the following commands:
[code]
This will open page with the input box in your default browser. Then type your website address into the input and hit the `Proxy!` button. It will open your website via hamme

[2016-10-26 17:56] jcteague opened #922 "UnhandledPromiseRejectionWarning for locally running app"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
Page is not loading and getting an error message on console
```(node:98695) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: First argument must be a string or Buffer```

### What is the expected behavior?
to load the page and run the test

### How would you reprod

[2016-10-26 18:11] inikulin commented on #922
Hi John.

Thank you for the report. Can you run
[code]
and post the output here, please?

[2016-10-26 19:30] felipenmoura commented on #905
Thank you @inikulin , I'm using it and it is working. I believe I will manage to have it published pretty soon :)
Will keep you up to date to check on ways (still working on it) to test service workers.

[2016-10-26 19:46] jcteague commented on #922
[code]

[2016-10-27 06:31] jcteague commented on #922
This must have something to do with the react app itself.  I tested against a deployed instance.  On the deployed instance, it must go through a login screen.  I changed the test to input the login screen fields and then navigate to the url that runs the react app.  The login works fine, but I get the same error after I navigate to my application.

We are using hashHistory for the react app, so it

[2016-10-27 10:57] AlexanderMoskovkin commented on #922
Hi @jcteague , thanks for your information.

It's hard to determine the cause of the problem without a page. Could you provide us a public link to your page where we can reproduce the problem? To save the confidential information (login, password), you can send it on [my email](mailto:alexander.moskovkin@devexpress.com). If necessary we can sign NDA, so we'll be able to debug your page.

Alternati

[2016-10-27 15:15] jcteague commented on #922
I'm going to close this issue. But I still think there is something here, but I can't reproduce in test project and I solved the problem in actual project.

I solved the problem by updating to react-router@3.0.0.  hashHistory does not put the additional query string key on the url, and without it testcafe will run the test.

However, I tried using the older version of react-router that does use th

[2016-10-27 15:15] #922 closed

[2016-10-28 09:01] Elric-pp opened #927 "click cannot be fired using hammer.js"
### Are you requesting a feature or reporting a bug?

bug
### What is the current behavior?

click can not be fired when using hammer.js
### What is the expected behavior?

click can be fired. Beacause in response website alaways using gesture like tap.
### How would you reproduce the current behavior (if this is a bug)?

https://jsfiddle.net/ystg8wt4/
#### Provide the test code and the tested pag

[2016-10-28 10:20] inikulin commented on #812
After some discussion, we've decided to move to the original proposal

[2016-10-28 11:51] AlexanderMoskovkin commented on #927
Hi @Elric-pp,
I've checked your scenario. It seems testcafe clicks correctly but it necessary to add the [setNativeDialogHandler](https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/test-api/handling-native-dialogs.md#dialog-handler) method to handle `alert` dialog.

I've modified your test, please check does it work on your side:
[code]

[2016-10-28 13:17] #882 closed

[2016-10-29 13:11] Elric-pp commented on #927
Hi, @AlexanderMoskovkin
It's seems to be chrome's bug.
The test is pass on safari and firefox, but fails in chrome

Chrome Vesion: Chrome 56.0.2904 / Mac OS X 10.12.0

[2016-10-30 11:01] janbaer commented on #916
I've the same problem only with trying out the sample from your readme page!

[code]

and the error will be shown here

[code]

I've used ChromeCanary for my test and I was running test cafe version 0.9.0 Do I need any specific Node version? I'm using 6.5.0 here. Thanks!

[2016-10-30 11:03] janbaer opened #930 "Uncaught SyntaxError: Unexpected token ) when trying out the sample..."
I've a problem only with trying out the sample from your readme page!

[code]

and the error will be shown here

[code]

I've used ChromeCanary for my test and I was running test cafe version 0.9.0 Do I need any specific Node version? I'm using 6.5.0 here on a MacOS system. Thanks!

[2016-10-31 08:22] AlexanderMoskovkin commented on #927
I see the test is ok in Chrome 54 (the last stable version), but it is failed in Chrome 55 (Beta channel) and Chrome 56 (Dev channel). We will investigate the issue.

[2016-10-31 10:37] AlexanderMoskovkin commented on #930
Hi Jan,
I've checked some our examples in the documentation and they work properly in Chrome Canary. Could you please provide code of the example you've run?

[2016-10-31 10:42] AndreyBelym commented on #816
## Browser provider API changes:

### canResizeWindowToDimensions(browserId, width, height)
Allows to validate the specified `width` and `height` of browser window `browserId` before the actual resize. The result is `true` if browser window can be resized to the specified dimensions, `false` otherwise.

### hasCustomActionForBrowser(browserId)
Enables feature querying for the specified browser win

[2016-10-31 10:43] AndreyBelym commented on #812
## Browser provider API changes

### maximizeWindow (browserId)
Maximizes the browser window `browserId`.

[2016-10-31 10:48] AlexanderMoskovkin commented on #930
It seems you've tried to run [this](https://github.com/DevExpress/testcafe/tree/cbf6ed6d45a31078b7034dfc3348b0db96738a70#write-test-code-using-es2016) example. It's failed on my side but with another error. Anyway this test is replaced with the [new one](https://github.com/DevExpress/testcafe#write-test-code-using-es2016) already.

[2016-10-31 13:23] helen-dikareva commented on #889
Fixed in https://github.com/DevExpress/testcafe/pull/893

[2016-10-31 13:23] #889 closed

[2016-10-31 14:03] kaihaase-wd opened #931 "Different behavior in the App and in Terminal via npm module"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
I've got a problem to run tests with your TestCafe-App (Mac and Windows) and the npm version in the terminal.

I've created a test via App and get a valid result. But when I start the test in terminal an error occurs for GET-Request:

http://172.16.20.63:51526/HJj7N6Vee/http://localhost:1340/api/v1/users/?s

[2016-10-31 14:42] AndreyBelym commented on #931
Hello @kaihaase-wd! I'm really sorry, but unfortunately, we do not support HTTP Authorization yet in npm version of TestCafe (including JWT). But we are going to implement it soon, you can check the progress here: https://github.com/DevExpress/testcafe/issues/509.

[2016-10-31 14:48] miherlosev opened #932 "Add possibility to run tests on https://crossbrowsertesting.com/"
All our concurents integrates with https://crossbrowsertesting.com/
For more details see https://crossbrowsertesting.com/integrations

[2016-10-31 15:00] #812 closed

[2016-10-31 15:00] #816 closed

[2016-10-31 15:15] AlexanderMoskovkin commented on #865
I've updated the top post. Here describes api changes. /cc @inikulin @VasilyStrelyaev

[2016-10-31 19:04] janbaer commented on #930
I just tried the new example, but with the same result:

[code]

[2016-10-31 19:52] AlexanderMoskovkin commented on #930
I've tried to run this in Chrome Canary today at it was ok. It maybe something wrong with babel modules. I'll try to investigate this tomorrow.

[2016-11-01 07:23] #931 closed

[2016-11-01 07:44] AlexanderMoskovkin commented on #930
@janbaer, It seems I've reproduced the problem. But it's gone after I reinstalled `testcafe`. I uninstalled it locally and globally and then installed it again globally:
[code]

Please try this on your side and notify me is the test works.

[2016-11-01 09:24] #245 closed

[2016-11-01 09:30] AlexanderMoskovkin commented on #784
@inikulin FYI: this task is complex and I assumed that it takes more than one sprint, so we will move it to the next sprint. Also we with @georgiy-abbasov will review today current results of the work on this task in Sprint 1 and think how we can work more effectively here.

[2016-11-01 14:10] vitalets opened #934 "How does testcafe internally works?"
hi!

this library looks great but it is not clear from readme how does it internally works.
Does it use [W3C Webdriver Spec commands](https://w3c.github.io/webdriver/webdriver-spec.html) or if not how it communicates with web pages?
I think it would be useful to add to readme.
Thanks!

[2016-11-01 16:32] AlexanderMoskovkin commented on #934
Hi @vitalets,

TestCafe doesn't use WebDriver, but it's based on a [URL-rewriting proxy] (https://github.com/DevExpress/testcafe-hammerhead). With the proxy we inject scripts that emulate user actions via DOM API. @inikulin have described [in our discussion board](https://testcafe-discuss.devexpress.com/t/why-not-use-selenium/47) what the difference between TestCafe and WebDriver-based solutions.

[2016-11-01 17:12] #915 closed

[2016-11-01 17:33] vitalets commented on #934
@AlexanderMoskovkin Thanks for the link!
Btw, how are dealing with alerts/prompts that block js thread?

[2016-11-01 17:45] janbaer commented on #930
Unfortunately it hasn't helped, after reinstalling of testcafe I got the same error with ChromeCanary. Will try it with Chrome...

[2016-11-01 18:19] janbaer commented on #930
With a fresh installed Chrome it's also working.

[code]

only with ChromeCanary it's failing

[code]

[2016-11-01 19:44] inikulin commented on #934
Hi @vitalets.

Native dialogs are handled via pre-specified handlers, see: https://devexpress.github.io/testcafe/documentation/test-api/handling-native-dialogs.html

[2016-11-01 21:33] AlexanderMoskovkin commented on #930
Is it failed in ChromeCanary with `Uncaught SyntaxError: Unexpected token )` error on the ` >  8 |        .setNativeDialogHandler(() => true)` line?

[2016-11-02 05:02] janbaer commented on #930
Yes, exactly this error I got! I also posted the complete error in a previous post and it's still the same. Can you reproduce it?

[2016-11-02 08:37] vitalets commented on #934
But do you technically do this? You overwrite `window.alert` and don't actually show dialog but store info that it was called?

[2016-11-02 09:05] inikulin commented on #934
@vitalets Correct. For other dialogs that require actions from user (like `confirm`) we also execute pre-defined handlers to decide how dialog should be handled.

[2016-11-02 09:17] vitalets commented on #934
Ok, thanks!
Also what about parallel running of tests? is it possible? Did not fond this in docs..

[2016-11-02 09:21] inikulin commented on #934
You mean parallel run in different browsers or parallelize task using different instances of the same browser? If the first one, it's already supported (e.g. `testcafe chrome,firefox` - will run tests in parallel in Chrome and Firefox). If the second one, it's possible from technical perspective, but we haven't received any requests for this feature yet. So once there will be a demand, we'll imple

[2016-11-02 09:27] vitalets commented on #934
Ok, thanks for detailed explanation!
I think we can close the issue =)

[2016-11-02 09:37] AlexanderMoskovkin commented on #930
Unfortunately no. It works on my side with exactly the same configuration. I'll do some more investigation and notify you when a have some results.

[2016-11-02 09:52] miherlosev opened #937 "Redirect doesn't occur after pressing 'Enter' in search textbox on http://google.com"
I expect that after pressing 'Enter' the redirect to search results page occured.

But it did not happen - [video](http://screencast.com/t/SbZiSvqQhfQf)

Test for reproduce:
[code]

[2016-11-02 09:55] #934 closed

[2016-11-02 10:02] AlexanderMoskovkin commented on #930
@janbaer Could you please run the test in Chrome Canary in Incognito mode. To accomplish this open the browser in Incognito mode and run the test as described in the [Remote Browsers](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#remote-browsers) article.

[2016-11-02 10:32] AlexanderMoskovkin opened #938 "Add `speed` option for test running"
# Proposal

It's a value between 0.01 and 1. (By default it's 1). 1 - max speed

## Global speed
An option for test run:

### CLI:
[code]
### [Programmatical](https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/using-testcafe/programming-interface/runner.md#run):
[code]

The options determine how fast the test will be executing. This affects to the cursor speed, delay be

[2016-11-02 10:55] miherlosev opened #939 "Add full text seach to the https://devexpress.github.io/testcafe/"
Try to look links:
https://github.com/christian-fei/Simple-Jekyll-Search
https://github.com/slashdotdash/jekyll-lunr-js-search
https://github.com/cebe/js-search

[2016-11-03 10:42] kaihaase-wd commented on #931
@AndreyBelym Thank you very much for your fast answer. We love your product, but for the integration in our stack we need the support for JWT in the npm version. When is an implementation of the support planned? We would like to support you with the integration, or is there a way to take over the source code from the app version?

[2016-11-03 11:00] AndreyBelym commented on #931
@kaihaase-wd it will be here in next few iterations, might be even just in the next one. It's about a couple of weeks, I think.

[2016-11-03 12:33] kaihaase-wd commented on #931
@AndreyBelym sounds good, let us know if we can support you.

[2016-11-03 13:08] #938 closed

[2016-11-03 14:00] dmitrykurmanov opened #943 "setFilesToUpload behaviour"
I guess we have a different behaviour between testcafe's `setFilesToUpload` and browser users.

If we try to use `setFilesToUpload` to upload same file as before, then `input[type=file] `will updates. But if we try to do it "by hand" it will not updates. It is native behavior.

You can check it in my repo: https://github.com/dmitrykurmanov/surveyjs_testcafe
cli command: `testcafe chrome tests/ques

[2016-11-03 14:04] helen-dikareva opened #944 "Dispatching of touch events doesn't work in Chrome 54 on touch monitor"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

browser  hangs on and error raised

### What is the expected behavior?

dispatching without errors

### How would you reproduce the current behavior (if this is a bug)?

run any test with mouse action (e.g. drag)

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test c

[2016-11-03 14:08] AndreyBelym commented on #943
We do not check if the value of file input is actually changed. Chrome do not raise `change` event if the currently selected file was chosen again. We raise `change` event every time, even if the new file is the already selected file.

[2016-11-03 14:31] churkin commented on #931
@kaihaase-wd We would be grateful if you could help us implement this feature.
If you are interested, I'll tell you the details, and of course, I will help you with everything.

[2016-11-03 14:47] AndreyBelym opened #945 "Test for m.youtube.com hangs in Chrome Mobile 54"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Test hangs on my Moto E with Chrome Mobile 54, but worked well with Chrome Mobile 49. It also hangs on Chrome 54 when Device Emulation is enabled. There is an error in console log:
[code]
### What is the expected behavior?
Test performs click on the search button, and search box appears on top of the page.

[2016-11-03 15:43] inikulin commented on #945
I guess it's a Hammerhead issue, @churkin can you try it via playground?

[2016-11-03 17:36] crudo opened #946 "Test hangs on AJAX request"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behaviour?

Page is not loaded. Response from server is never returned.

### What is the expected behaviour?

Page is loaded.

### How would you reproduce the current behaviour (if this is a bug)?

Run the included test.

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: https://se

[2016-11-04 04:47] janbaer commented on #930
Unfortunateley the result is the same...

[2016-11-04 11:25] MarinaRukavitsyna opened #947 "Provide API to parse response"
For example: TestCafe.GetLastResponse()

Possible scenario:
- Create an object (e.g. test the "create user" form)
- Get an ID of the created object from the server
- Remove the object by ID so that return the page to its original state
  Left objects on a page are not needed and they must be removed after testing

[2016-11-05 11:34] ganlanyuan opened #948 "Provide API to set focus on element"
### Are you requesting a feature or reporting a bug?
Feature: focus

### What is the current behavior?
Can't set focus on element.

### What is the expected behavior?
await t.focus('.my element');

[2016-11-05 18:00] kaihaase-wd commented on #931
@churkin I would like to support you. What is the most efficient way for implementation? Are there guidelines or do I have to consider anything special? Let me know how we should communicate to talk about further details, slack or mail, whatever you prefer.

[2016-11-07 07:45] churkin commented on #945
@inikulin  I'll do it

[2016-11-07 08:22] tjoskar commented on #930
I have the same problem in Chrome `Version 54.0.2840.87 (64-bit) / Mac OS X`.

If I try to run the example in firefox (`testcafe firefox tests`). Firefox nightly is started and then the cli-tool just "hangs" (nothing is happening) and if I open the dev tools in firefox I see the following error:

[code]

Chrome canary is however working fine for me.

[2016-11-07 08:43] helen-dikareva commented on #948
Hello William Lin. Thank you for your interest in TestCafe. Here is how you can focus an element using ClientFunction.
[code]
Earlier we've decided not to create a separate action for focus.
Let's discuss it again @DevExpress/testcafe

[2016-11-07 08:52] LavrovArtem commented on #946
I'm working on this

[2016-11-07 09:40] AlexanderMoskovkin commented on #946
Hi @crudo,

Thanks for the issue. We have reproduced the problem and we are working on it.

[2016-11-07 09:49] s-adachi2016 opened #949 "Demo-test-cafe is failed with proxy enviroment"
### Are you requesting a feature or reporting a bug?

feature:failed  test local enviroment with proxy

### What is the current behavior?

demo-test-cafe is tested my enviroment with proxy.

chrome started but localhost URL is unconnected and network error.

### What is the expected behavior?

I  expect that demo-test-cafe npm test is successed.

If proxy setting API is exist, please tell me proxy

[2016-11-07 10:06] AlexanderMoskovkin opened #950 "Test hangs in Firefox and js error appears on the page"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

If I try to run the example in firefox (`testcafe firefox tests`). Firefox nightly is started and then the cli-tool just "hangs" (nothing is happening) and if I open the dev tools in firefox I see the following error:

[code]

### What is the expected behavior?

Test should be passed

### Specify your

*

[2016-11-07 10:12] AlexanderMoskovkin commented on #930
Hi @tjoskar,

Thanks for your report. It seems this is another problem. I've created a separate issue for the problem in Firefox #950

[2016-11-07 10:27] AlexanderMoskovkin commented on #930
Guys, could you please check the initial issue with our new release version (it's with `alpha` tag now)? We've pushed some fixes that can help. To check it please run `npm install testcafe@alpha`

[2016-11-07 10:29] AlexanderMoskovkin commented on #950
Hi @tjoskar,

Could you please specify your Firefox version? It works well on my side.

[2016-11-07 11:23] LavrovArtem commented on #945
I'm working on this

[2016-11-07 11:34] georgiy-abbasov commented on #946
@crudo, could you please check the issue with our new release version (it's with alpha tag now) ? We've pushed some fixes that can help. To check it please run `npm install testcafe@alpha`

[2016-11-07 11:36] AlexanderMoskovkin commented on #949
Hi @s-adachi2016,

Please confirm, do you try to run tests via https://github.com/azu/demo-test-cafe module? And do you have testcafe version 0.9.0 ?

At first we need to know is it possible to open any localhost page in the browser on your machine. Let's create a simple nodejs server. Please do the following in the cmd:
1) Create a temporary dir and install `express` module:
[code]
2) Create `ser

[2016-11-07 12:24] LavrovArtem commented on #945
This error occurs without hammerhead

[2016-11-07 13:49] LavrovArtem commented on #945
@AndreyBelym let's check it on your side.

[2016-11-07 14:58] helen-dikareva opened #951 "Add 'selectedIndex' to NodeSnapshot"
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

there is no `selectedIndex` in `NodeSnapchot`, but there is `checked` property.

### What is the expected behavior?

`NodeSnapchot` should contains `selectedIndex` for `select` elements

[2016-11-07 16:17] ganlanyuan opened #952 "getChildElement(index) return element itself"
Hi,
First of all, thanks a lot for this great project!

I encountered an issue when trying to get the child element with `getChildElement()`.
[code]
Instead of getting the child element I always get the parent element itself.
Can someone help?

[2016-11-07 17:47] tjoskar commented on #930
I still can't get it to work in chrome.

This is how I reproduce the error:

1. Install testcafe@alpha
[code]

2. Create a simple test case:
[code]

3. Execute the test case in Chrome:
[code]

I'm using node `v6.6.0`.

[2016-11-07 18:07] tjoskar commented on #930
Okey, I think I found the problem. I realised that it worked if I used Chrome in incognito mode so I started to disable all my addons and found that if I disable [Augury](https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd) the test completes successfully.

[2016-11-07 18:58] ganlanyuan commented on #952
Got solution from [discuss](https://testcafe-discuss.devexpress.com/t/is-it-possible-to-use-a-selector-with-another-selector-context/61/5).

[2016-11-07 18:58] #952 closed

[2016-11-07 19:10] crudo commented on #946
@georgiy-abbasov It works like a charm. Thanks a lot!

[2016-11-07 19:13] ganlanyuan commented on #948
@helen-dikareva
Thanks a lot, it works.

[2016-11-07 19:19] AlexanderMoskovkin commented on #946
Great! I close the issue then.

[2016-11-07 19:19] #946 closed

[2016-11-07 19:22] #948 closed

[2016-11-07 19:24] AlexanderMoskovkin commented on #930
@tjoskar thanks for the detailed information. You are right, some addons can break TestСafe behavior.

[2016-11-07 19:38] janbaer commented on #930
Is there a way to start Chrome without any plugins? So this would be the fastest way to run the tests and without any side effects.

[2016-11-07 21:15] tjoskar commented on #930
It's a good question. Can one pass arguments to the browser like `--disable-extensions`, `--show-fps-counter` and so one?

[2016-11-07 21:27] inikulin commented on #930
@tjoskar It will be possible soon, see: https://github.com/DevExpress/testcafe/issues/905
Currently there is some tricky (undocumented) way to specify browser parameters, @AndreyBelym could help.
Also, I guess we should automatically disable extensions like we going to do with wizards: https://github.com/DevExpress/testcafe-browser-tools/issues/102

[2016-11-07 22:45] inikulin opened #953 "Simple test hangs up on Angular2 TodoMvc demo"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
Test hangs up. Todo list input is not rendered.

### What is the expected behavior?
Test should run.

### How would you reproduce the current behavior (if this is a bug)?
Run provided test.

#### Provide the test code and the tested page URL (if applicable)

Test code

[code]

[2016-11-08 00:42] s-adachi2016 commented on #949
Hello Alexander,

Thanks for reply.

I tryed to run https://github.com/azu/demo-test-cafe module.

Yes.

I confirmed package.json in demo-test-cafe module.

Note taht

  "dependencies": {
    "testcafe": "^0.9.0"
  }

I tryed to run a simple nodejs server and access to http://localhost:54000/ or http://(local IP :10.*.*.*):54000/.

I confirmed that Hello World! text opened.

[2016-11-08 07:57] AndreyBelym commented on #930
Hello, currently you can pass a serialized JSON object with keys `path` and `cmd` to the `path:` provider, but you have to properly escape quotes, e.g. for `bash`:
[code]

I'm implementing a simplified syntax for it in this iteration, so it's going to be soon just
[code]

[2016-11-08 08:18] AndreyBelym commented on #945
Looks like the error is not related to the bug, the test passes successfully with the error using `Mobile (no touch)` emulation mode. So likely we have problems with touch events in automations.

[2016-11-08 08:37] churkin commented on #931
@kaihaase-wd This is great news :). I will create a new issue and will try to describe how and what we need to do. I'll let you know.

Thank you.

[2016-11-08 12:01] georgiy-abbasov commented on #949
Hi @s-adachi2016

Thank you for your reply. Let's try TestCafe via [CLI](http://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html). For this, follow next steps:

1) Create the `example.test.js` file in a test directory:

[code]
2) Create a temporary dir and install TestCafe in the cmd:

[code]

3) Run the test in the cmd:

`
node testcafe chrome <path to exampl

[2016-11-08 13:01] churkin opened #955 "Add NTLM and Basic authentication support"
\сс @kaihaase-wd
Let's start with the fact that the testсafe has a core - [Hammerhead](https://github.com/DevExpress/testcafe-hammerhead). The Hammerhead already has `Basic` and `NTLM` authentication support. All we need is testcafe API extension:

1. Add a new `httpAuth` fixture directive:

[code]

which will take the object with four fields:
[code]
This can be done here: https://github.com/DevEx

[2016-11-08 13:18] churkin commented on #931
@kaihaase-wd https://github.com/DevExpress/testcafe/issues/955

[2016-11-08 13:37] inikulin commented on #509
Closing in favor of #955

[2016-11-08 13:37] #509 closed

[2016-11-08 14:32] AlexanderMoskovkin commented on #953
Should be fixed in `testcafe-hammerhead`: https://github.com/DevExpress/testcafe-hammerhead/issues/923

[2016-11-08 14:34] AlexanderMoskovkin opened #958 "[todomvc] Elements don't appear on the Dojo demo page"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Elements don't appeared on the page

### What is the expected behavior?

Elements should be available for actions

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:
http://todomvc.com/examples/dojo/
Test code

[code]

### Specify your
* testcafe version: 0.10.0

Page is

[2016-11-08 14:52] helen-dikareva commented on #958
I'm working on this

[2016-11-09 01:39] s-adachi2016 commented on #949
Hi georgiy-abbasov

Thank you for your reply.

I opened port 1337,1338 via Win7 Firewall Setting.

I tryed following command that you tell me

``
testcafe chrome test.js --ports 1337,1338
``

But test failed.

Dou you have other settings?

Please tell me firewall settings detail.

[2016-11-09 02:00] s-adachi2016 opened #959 "Testcafe-browser-provider-saucelabs plugin uses Selenium API internel ?"
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

Testcafe-browser-provider-saucelabs plugin uses Selenium API internel ?

[2016-11-09 06:54] AndreyBelym commented on #959
Hello @s-adachi2016, `testcafe-browser-provider-saucelabs` internally uses [wd.js](https://www.npmjs.com/package/wd), that is actually a Node.js Selenium  WebDriver client, but only to do the following:

  1. Start/stop the remote browser

  2. Resize the browser window

  3. Take a screenshot of the browser window

All test-related things are handled by the our [proxy](https://github.com/DevExpre

[2016-11-09 15:44] georgiy-abbasov commented on #949
@s-adachi2016, thank you for your reply.
It seems that nodejs applications don't have access to the web resources without proxy settings on your machine. Please perform the following steps to check this. Once we get the result from you, we will be able to continue the investigation of this issue.

1) Create a temporary directory:
[code]

2) Create the `request.js` file in the `test-request` direct

[2016-11-10 00:32] s-adachi2016 commented on #959
Hello AndreyBelym.

Thanks for your comment.
I see your following comment.

[2016-11-10 00:50] #959 closed

[2016-11-10 01:53] s-adachi2016 commented on #949
@georgiy-abbasov, thank you for your reply.

I tryed to following your code.

[code]

Output is following.

[code]

[code]

[2016-11-10 07:34] helen-dikareva commented on #944
I'm working on it. https://github.com/DevExpress/testcafe-hammerhead/pull/910

[2016-11-10 08:45] AlexanderMoskovkin opened #962 "[todomvc] Js-error appears on the on the AngularJS demo page in IE and FF"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Js-error appears on the page

### What is the expected behavior?

It should not

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:
http://todomvc.com/examples/angularjs_require/#/

Test code

[code]

### Specify your

* operating system: Windows
* testcafe version: 0.10.

[2016-11-10 13:28] AlexanderMoskovkin opened #963 "It's impossible to call setFilesToUpload and clearUpload for a hidden input"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

We I try to call `await t.setFilesToUpload(hiddenInput, fileName)` the test is failed with the `The element is not visible` error

### What is the expected behavior?

Test should be passed

### Specify your

* testcafe version: 0.10.0

[2016-11-10 13:52] AlexanderMoskovkin commented on #962
I'm working on this

[2016-11-11 00:41] s-adachi2016 commented on #949
I added your code for proxy setting and modify following:

[code]
Program successed.

[2016-11-11 09:10] georgiy-abbasov commented on #949
Thanks for details. We need an additional time, to investigate this.
\cc @churkin, please research it.

[2016-11-11 13:11] AlexanderMoskovkin commented on #962
Reproduced on the original page if start execute actions at once the page is loaded

[2016-11-11 13:11] #962 closed

[2016-11-14 08:46] helen-dikareva commented on #958
https://github.com/DevExpress/testcafe-hammerhead/issues/934

[2016-11-14 08:46] #958 closed

[2016-11-14 10:02] AlexanderMoskovkin opened #964 "JS-error appears on the Dart demo page"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Js-error appears on the page

### What is the expected behavior?

It should not

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:
http://todomvc.com/examples/vanilladart/build/web/

Test code

[code]

### Specify your
* testcafe version: 0.10.0

It's ok in hammerhead-pl

[2016-11-14 12:03] AlexanderMoskovkin commented on #964
I'm working on it

[2016-11-14 12:49] helen-dikareva commented on #944
Wait for update Hammerhead version

[2016-11-14 14:33] helen-dikareva commented on #950
Calling `defineProperety` and `defineProperties` for window raise error if `configurable` property is true  `TypeError: Not allowed to define a non-configurable property on the WindowProxy object`
Now it seems like feature https://www.fxsitecompat.com/en-CA/docs/2016/defining-non-configurable-property-on-window-will-throw-currently-only-on-nightly-and-developer-edition/
but it may change https://b

[2016-11-14 16:50] #798 closed

[2016-11-15 11:49] arubtsov opened #965 "navigateTo action fails silently with protocols like http*someString*://"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

No errors shown.

### What is the expected behavior?

Show ActionUnsupportedUrlProtocolError.

### How would you reproduce the current behavior (if this is a bug)?

Run provided test.

#### Provide the test code and the tested page URL (if applicable)

Test code

[code]

### Specify your

* operating syst

[2016-11-15 11:52] arubtsov commented on #965
https://github.com/DevExpress/testcafe/blob/acb782f45c886b036a5a0e8ac72c338e9370791a/src/test-run/commands/validations/argument.js#L23
`/^https?$/i` should fix the problem

[2016-11-15 12:36] inikulin commented on #965
@arubtsov We allow relative links in `navigateTo`

[2016-11-15 19:31] ClaytonAstrom opened #966 "Ember elements cause Uncaught TypeError"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

`Uncaught TypeError:  e.getAttribute is not a function`  We're unable to interact with Ember text input fields that are rendered through Ember.  We believe it's due to Ember Objects making their way through TestCafe DOM Elements filtering

### What is the expected behavior?

The test is able to interact w

[2016-11-16 00:09] georgiy-abbasov commented on #966
Hi @ClaytonAstrom.

Thank you for the report. We have reproduced the problem and we are working on it.

[2016-11-16 10:40] renancouto commented on #904
@lukasoppermann I run testcafe on local files using [http-server](https://github.com/indexzero/http-server) as a simple server and [concurrently](https://github.com/kimmobrunfeldt/concurrently) to run both processes together and kill the server before exiting.

[code]

[2016-11-16 10:51] AlexanderMoskovkin commented on #904
@renancouto Great solution, thanks!

[2016-11-16 11:24] Angelmmiguel opened #968 "Can I set a test as pending?"
### Are you requesting a feature or reporting a bug?

Feature

### What is the current behavior?

I can't write pending tests now. I only can write empty tests and see them as "Success" in the console output.

### What is the expected behavior?

I want to write some empty tests and set them as `Pending`. When I run the testCafe, I want to read "Pending" instead of "Success", like `mocha` with the

[2016-11-16 11:35] inikulin commented on #968
Hi @Angelmmiguel,

We have a `skip` feature planned: https://github.com/DevExpress/testcafe/issues/246
I believe this is pretty much the same thing. Please, let me know if this approach will work for you.

[2016-11-16 11:36] inikulin commented on #968
We also have a discussion going in https://github.com/DevExpress/testcafe/issues/802 about test flags/extensions syntax. Feel free to participate or vote for the variants that you like.

[2016-11-16 11:46] sky3d opened #969 "If a project module contains a re-exported object, the test fails"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

[code]
### What is the expected behavior?

Test passed

### How would you reproduce the current behavior (if this is a bug)?

Add the re-exporting object to the any project module

`export * from './mod'`

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: -

Test code

_

[2016-11-16 11:46] Angelmmiguel commented on #968
Hello @inikulin,

Yes, it's the same feature. I'm going to watch that issue :)

Thanks for your response!

[2016-11-16 11:49] inikulin commented on #969
The issue is caused by https://github.com/babel/babel/issues/2877. This ticket contains workaround for the issue, we can try to do it on our side. @AndreyBelym can you try workaround on our side?

[2016-11-16 11:50] AndreyBelym commented on #969
Okay, I will try it.

[2016-11-16 11:54] inikulin commented on #968
Okay, I'm closing this one then.

[2016-11-16 11:54] #968 closed

[2016-11-16 11:54] renancouto commented on #904
@AlexanderMoskovkin created a PR for that if you like: https://github.com/DevExpress/testcafe/pull/970

[2016-11-16 12:06] AndreyBelym commented on #969
Yep, the workaround works. I am creating the PR.

[2016-11-16 12:11] Angelmmiguel commented on #968
👍 @inikulin

[2016-11-16 14:33] #963 closed

[2016-11-16 16:19] georgiy-abbasov commented on #966
Waiting for solving https://github.com/DevExpress/testcafe-hammerhead/issues/942

[2016-11-16 16:23] AlexanderMoskovkin commented on #953
Fixed with https://github.com/DevExpress/testcafe-hammerhead/commit/3d567d11c04da4124e9226d155bf2291a2813bd1

[2016-11-16 16:23] #953 closed

[2016-11-16 16:24] AlexanderMoskovkin commented on #944
Fixed with https://github.com/DevExpress/testcafe-hammerhead/commit/6d2da16b173d2d31c6d7e5ff9e73fa1b23e56835

[2016-11-16 16:24] #944 closed

[2016-11-17 12:33] georgiy-abbasov opened #973 "Add extra distance to scroll automation"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

TestCafe scrolls to the edge of the element while performing an action

### What is the expected behavior?

It's need to come back to the previous behavior, when we had a small distance between the element's edge and the browser window if there was a space. Some of ASP web controls needs this distance.

#

[2016-11-17 12:33] georgiy-abbasov commented on #973
I'm working on this

[2016-11-17 16:45] #969 closed

[2016-11-18 11:45] AlexanderMoskovkin commented on #904
[done](https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/recipes/test-static-html-pages.md)

[2016-11-18 11:45] #904 closed

[2016-11-19 19:08] ryx opened #979 "Keep browser open after all tests have finished"
### Are you requesting a feature or reporting a bug?
Feature

### What is the current behavior?
It is currently impossible to keep the browser open, after all tests have finished. That makes it hard to debug clientside errors inside the tested environment.

### What is the expected behavior?
Testcafe should offer a commandline switch and/or option that causes the browser to stay open after all tes

[2016-11-21 08:06] AndreyBelym commented on #979
Hello, Rico! Thank you for your feedback. What do you think about [dedicated debugger action](https://github.com/DevExpress/testcafe/issues/918), you can add it as the last expression in the test or as additional pseudo-test, and open devtools for debugging.

[2016-11-21 08:34] ryx commented on #979
Hi Andrey, thanks for the quick response. Your proposal looks even more useful than what I had in mind. It has the same effect but allows stepping through the execution of the tests, too. Great idea!

[2016-11-21 11:13] AlexanderMoskovkin commented on #979
@ryx While the #918 is not implemented yet you can use a workaround:

[code]

The test execution will be stopped on `debugger` if developer tools in your browser are opened.

[2016-11-21 11:15] AlexanderMoskovkin commented on #979
So, I close this one in favor of #918

[2016-11-21 11:15] #979 closed

[2016-11-21 14:39] AlexanderMoskovkin commented on #287
@AndreyBelym is working on `Travis-CI with phantomjs or Chrome (you don't need SauceLabs to run test in Chrome)`

[2016-11-21 14:39] AlexanderMoskovkin commented on #287
I'm working on `"page model" pattern`

[2016-11-22 11:55] #973 closed

[2016-11-22 11:59] kirovboris opened #980 "Glob patterns in runner.src method"
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

```runner.src(...)``` method does not support glob patterns in parameters, it's inconsistent with [cli.](https://github.com/DevExpress/testcafe/blob/c4c6989b97e78a82340199daa8bb322f8ebb1775/docs/articles/documentation/using-testcafe/command-line-interface.md#file-pathglob-pattern)

### What is the exp

[2016-11-22 13:45] georgiy-abbasov commented on #951
I'm working on this

[2016-11-22 15:55] romanresh opened #981 "Allow negative integer for offsetX/offsetY options"
In my test I need to drag an element (source) to the right side of another element (target). So, I use this code:
`await t.dragToElement(source, target, { offsetX: -10 });`
but this exception occurs: "_The "offsetX" option is expected to be a positive integer, but it was -10._".

Provide the capability to set offsetX/offsetY options with negative number.

[2016-11-22 16:13] helen-dikareva commented on #981
`Offset` options define a point inside `source` element. Now we don't have `offset` options to target element, so may be we should implement it.

[2016-11-22 16:15] romanresh opened #982 "Add dragDestionationOffsetX/Y options to the dragToElement function"
Need to set destination offset for the `dragToElement` function.

In my test I want to drag an element to the right side of another element (so, I also need implementation of: https://github.com/DevExpress/testcafe/issues/981)

[2016-11-23 08:19] AlexanderMoskovkin opened #984 "TestCafe should not emulate touch events for touch monitors"
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

TestCafe switches in touch mode not only for testing in mobiles and tablets but in laptops and desktops with a monitor that supports touch events. But usually you expect to see mouse behavior when testing on a desktop.

### What is the expected behavior?

I propose to switch in touch mode in desktops

[2016-11-23 14:23] AlexanderMoskovkin opened #986 "Improve hostname detection mechanism when a machine has multiple ids"
### Are you requesting a feature or reporting a bug?

feature (based on the [forum discussion](https://testcafe-discuss.devexpress.com/t/communication-error-in-browser/83))

### What is the current behavior?

TestCafe can run the server on the ip that is unavailable by a port

### What is the expected behavior?

Check if testcafe server is available by id before run tests and choose another ip if

[2016-11-24 08:47] georgiy-abbasov opened #987 "TestCafe scroll to target element incorrectly"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

TestCafe doesn't scroll container to show target element fully while performing an action on it

### What is the expected behavior?

TestCafe should scroll container to show element fully, when it possible (element is smaller, than container)

### How would you reproduce the current behavior (if this is a

[2016-11-24 08:47] georgiy-abbasov commented on #987
I'm working on this

[2016-11-24 09:33] #951 closed

[2016-11-25 08:34] miherlosev opened #989 "Rewrite 'Programming interface' topic without async, await"
https://devexpress.github.io/testcafe/documentation/using-testcafe/programming-interface/

I copy example from documentation and it doesn't work.
It happened because `async`  and `await` keywords avalible only with flag `--harmony`.

[2016-11-25 08:46] romanresh opened #990 "Provide the filter(filterFn) method for selectors which return many elements"
This issue makes sense as additional functionality for this feature: https://github.com/DevExpress/testcafe/pull/960 .

I want to filter results of a selector like this one:
`container.child("div").filter(el => el.nextSiblingElement && el.nextSiblingElement.tagName === "TABLE")`

In my example I tried to find a DIV element before a TABLE element in the hierarchy of BootstrapGridView (it contains a

[2016-11-25 08:52] AlexanderMoskovkin commented on #990
I agree, it would be useful

[2016-11-28 06:47] #987 closed

[2016-11-28 10:26] miherlosev opened #992 "Callsite for error doesn't show when I use the programmning way"
Test code

[code]

If I use the programming run
[code]

I get the output without callsite:
[code]
If I use the command-line interface - `testcafe chrome index.js  -r spec` - all works as expeced and I get a callsite.

* testcafe version: 0.11.0-alpha
* node.js version: v 6.9.1

[2016-11-28 11:52] miherlosev opened #993 "PressKey action works wrong on the Angular2 demo page"
Test code
[code]
I expect after `pressKey('enter')` action a new item was added to a list.
But it doesn't happen.

In hammerhead-playground all works good (I checked on https://github.com/DevExpress/testcafe-hammerhead/commit/bb719bd9892ec4781fa9c3c4f9516a930ff59689 commit)

* testcafe version: 0.11.0-alpha
* node.js version: 6.9.1

[2016-11-28 12:00] miherlosev commented on #993
Same for http://todomvc.com/examples/backbone_require/

[2016-11-28 12:22] ronaldohoch opened #994 "Create Slack Reporter plugin"
Is there a Slack Integration?

[2016-11-28 13:41] miherlosev opened #995 "Add getOuterHTML() method for DomNodeSnapshot"
User story:
I get a deep property of big pageObject.
For example, `pageObject.AppContainer.FilterPanel.Filters.All`
For debug purposes I want to get `outerHtml` of the selected html elements on every step.

* testcafe version: 0.11.0-alpha

[2016-11-28 13:50] romanresh opened #996 "Firefox is not closed after test if test was stopped on the server breakpoint"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
A browser window is not closed after test execution if test was stopped (at least once) during its execution. But the test is finished correctly, all asserts are checked, and the final test report is shown in Output.

### What is the expected behavior?
Window should be closed.

### How would you reproduce t

[2016-11-28 14:02] #996 closed

[2016-11-28 16:15] AlexanderMoskovkin commented on #994
Hi @ronaldohoch,

We have not yet but it possible to implement it. What behavior do you expect from Slack Integration?

[2016-11-28 16:29] georgiy-abbasov commented on #993
I'm working on this

[2016-11-28 16:37] AlexanderMoskovkin opened #998 "Implement built-in assertions"

[2016-11-28 16:38] AlexanderMoskovkin commented on #998
closed in #974

[2016-11-28 16:38] #998 closed

[2016-11-28 18:01] ronaldohoch commented on #994
Hello @AlekseyMartynov.

I've made an example, basically, we can receive the same message we got in command, but the team receive in Slack's channel.

Unfortunately, we don't have colors in slack, but can play with emojis.

![image](https://cloud.githubusercontent.com/assets/2287371/20679709/2edd3c32-b583-11e6-9e7b-6f885fcad562.png)

[2016-11-29 09:10] georgiy-abbasov commented on #993
We need to dispatch events with `event.key` and `event.keyIdentifier` (Safari) properties when simulating keyboard events. At the current moment we have an empty values for these props - https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/sandbox/event/simulator.js#L334.
@miherlosev, i decide to make a dictionary with keyCodes as keys and key\keyIdentifier as value in the cont

[2016-11-29 10:23] AlexanderMoskovkin commented on #994
@ronaldohoch  It can be implemented as a TestCafe Reporter Plugin. We have a detailed instruction how to create it in our [Reporter Plugin](https://devexpress.github.io/testcafe/documentation/extending-testcafe/reporter-plugin/) article.
Feel free to create the plugin or if your're busy we'll take care of it.

[2016-11-29 17:31] AlexanderMoskovkin opened #1003 "The selector.parent(index) function ignores the index filter if it's 0"
[code]

The same for `child` and `sibling` functions

* testcafe version: 0-11-0-alpha1

[2016-11-29 17:31] AlexanderMoskovkin commented on #1003
I'm working on this

[2016-11-30 08:12] #1003 closed

[2016-11-30 09:10] kirovboris opened #1006 "Allow passing v8 flags to node js when using testcafe from command line"
### Are you requesting a feature or reporting a bug?

Feature

### What is the current behavior?

We can't use `testcafe <browser> <test> --debug=<port>` in CLI version for remote debugging.

### What is the expected behavior?

We should pass v8 flags to nodejs process when using cli version

### Specify your

* operating system: any
* testcafe version: 0.10.0
* node.js version: any

[2016-11-30 11:22] mkubrycz opened #1007 "Testcafe allows me to click on overlapped elements."
### Are you requesting a feature or reporting a bug?

Reporting a bug

### What is the current behavior?

When I run test trying to click button which is overlapped by another element my test passes.

### What is the expected behavior?

Test should fail to click element which is overlapped by another element as a browser user would.

### How would you reproduce the current behavior (if this is a b

[2016-11-30 11:53] #990 closed

[2016-11-30 13:17] romanresh opened #1009 "New assert API doesn't support ClientFunction as an argument in the expect function"
I can pass the Selector object to the expect function, but when I pass ClientFunction I get the following error in the output:
`AssertionError: expected [Function: __$$clientFunction$$] to deeply equal 2`

[2016-11-30 13:54] AlexanderMoskovkin commented on #1007
Hi @mkubrycz,

TestCafe works properly here. If an element (for example `Element A`) is on the page TestCafe clicks at the point where the element is placed. But if the element is overlapped by another element (`Element B`) TestCafe raises clicks on the top element (`Element B`). It maybe useful in some test cases (for example you would like to check that the element is on the page, but it's not p

[2016-11-30 14:42] AlexanderMoskovkin opened #1010 "Implement Assertions in RAW api"

[2016-11-30 14:43] AlexanderMoskovkin opened #1011 "Show 'Loading panel' in the browser during assertion execution"
like we do for Selector execution

[2016-11-30 15:08] romanresh opened #1012 "Support awaiting promises which are passed in the expect() function"
### What is the current behavior?
If I pass the promise (async function) to the expect() method, then this promise is not executed, but it's compared with parameter passed to eql(). So, I get this error: "AssertionError: expected {} to deeply equal 'Last Name'".

### What is the expected behavior?
The expect() function should execute the promise and compare result of execution.

[code]
Inside `fin

[2016-11-30 15:10] inikulin commented on #1012
@romanresh If I get it right you can simply workaround it by using:
[code]

[2016-11-30 15:10] mkubrycz commented on #1007
Thank you! That explains my problem.

[2016-11-30 15:14] georgiy-abbasov commented on #966
@ClaytonAstrom, we have fixed this in our new version (it's with alpha tag now). Please check whether the fix works with your site. To install fix, run `npm install testcafe@alpha`.

[2016-11-30 15:21] romanresh commented on #1012
Yes, I do. And I had to use this workaround. But the built-in testcafe assert functions make comparisons a few times inside timeout. They make a few requests to a browser and check results (make assertion).

But `await getHeaderText(1)` will make request only once. Moreover, it will get innerText from the selector immediately. So, `await` before `t.expect``won't make sense because the expect param

[2016-11-30 15:23] romanresh commented on #1012
I mean
[code]

[2016-11-30 15:36] ClaytonAstrom commented on #966
Looks good from my end, thanks @georgiy-abbasov !

[2016-11-30 16:23] georgiy-abbasov commented on #964
I've checked this on the current alpha version - it works properly. I'll close the issue

[2016-11-30 16:23] #964 closed

[2016-11-30 16:26] georgiy-abbasov commented on #966
@ClaytonAstrom, it's great news! Can we close the issue ?

[2016-11-30 16:27] #966 closed

[2016-11-30 16:27] ClaytonAstrom commented on #966
Done!

[2016-12-01 07:07] helen-dikareva commented on #964
Yahoo

[2016-12-01 08:45] #1007 closed

[2016-12-01 11:43] AndreyBelym opened #1016 "Incorrect window resizing after t.maximizeWindow"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
A browser window is not resized to the specified size.

### What is the expected behavior?
A browser window is resized to the specified size.

### How would you reproduce the current behavior (if this is a bug)?
Use t.resizeWindow or t.resizeWindowToFitDevice after using t.maximizeWindow

#### Provide the t

[2016-12-01 13:57] jgraup opened #1017 "Attribute Selector like jQuery `custom-tag[data-custom-foo=bar]`"
### Are you requesting a feature or reporting a bug?

Either. I may just be using this incorrectly but being new to this lib I don't see any relevant examples except for [this one](https://github.com/DevExpress/testcafe/blob/master/examples/basic/test.js#L24) -- but it's unclear how to use it without the `.click(page.macOSRadioButton)`.

### What is the current behavior?

When I try to query a cus

[2016-12-01 14:05] inikulin commented on #1017
Hi @jgraup,

I've tried to reproduce the problem on my side but failed, I've used the following test code:
[code]

Test passed without selector error in Chrome. Can you clarify which browser you are using, please?

Also, note that you can just pass a selector string to `Selector` or `t.select` and it will be a shorthand for `document.querySelector`:
[code]

[2016-12-01 14:06] miherlosev opened #1018 "Add the capability to filter elements by their visibility"
:hidden Selector - https://api.jquery.com/hidden-selector/
:visible Selector - https://api.jquery.com/visible-selector/

**Updated:**
Finally we plan to use the following syntax:
[code]

[2016-12-01 14:11] inikulin commented on #1018
These pseduo-selectors are not a part of any CSS spec and implementing them as pseudo-selectors will be quite complicated since we'll need to parse queries. We can introduce filter method instead:
[code]

Note that we can't use `visible` filter since there is a shorthand property with the same name.

[2016-12-01 14:27] #905 closed

[2016-12-01 14:49] jgraup commented on #1017
Thans @inikulin,

I apologize. The example I gave changed some variables but maybe that was a good thing. I tried the above code and it worked like it worked for you. I went back to my test and I was using int numbers instead. This does appear to be working but only if the number is in quotes.

[code]

[code]

So this issue is possibly misleading. In summary; a string value is OK while a number va

[2016-12-01 14:56] inikulin commented on #1017
This is a by design behavior of CSS selectors. According to the [spec](https://www.w3.org/TR/css3-selectors/#attribute-selectors):

So, if value in selector is not enclosed in quotes it's treated as `indentifier` and according to the spec:

[2016-12-01 15:46] jgraup commented on #1017
@inikulin - Thanks! That's good to know. I would consider this not an issue at this point. jQuery might be a little more relaxed in it's rules but good to stick to the spec.

[2016-12-01 15:46] #1017 closed

[2016-12-02 14:16] mkubrycz opened #1021 "Add <object> handling similar to <iframe> switchToIframe function"
### Feature request

### Expected behavior

I would like to access <object> elements with something like switchToObject which would allow me to interact with elements within that object.

[2016-12-02 17:47] #993 closed

[2016-12-05 14:12] romanresh opened #1025 "Add 'dependencies' parameter and `index` argument to the filter method"
This issue will help to resolve this issue: https://github.com/DevExpress/testcafe/issues/1012.
[code]

will be rewritten in the following manner:
[code]
So, the whole stack of async function can be rewritten as a Selector with complex filter. But the filter function should support `index` as a second argument and `dependencies` (ClientFunction).

[2016-12-05 14:24] romanresh commented on #1012
Closed because of this solution: https://github.com/DevExpress/testcafe/issues/1025

[2016-12-05 14:24] #1012 closed

[2016-12-06 10:06] helen-dikareva commented on #1021
The <object> tag defines an embedded object within an HTML document. It's used to
embed multimedia (like audio, video, Java applets, ActiveX, PDF, and Flash).
We do not have access to <object> contents because it's not a DOM structure. So we cannot execute actions and perform assertions with it. That's why we do not support testing of <object> contents.

[2016-12-06 15:25] AlexanderMoskovkin opened #1028 "[docs] Add info about testing in headless browsers in documentation"

[2016-12-06 15:30] AlexanderMoskovkin opened #1029 "Should hide Shadow-UI root for get elementFromPoint in iframe in IE"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Test fails with `The element that matches the specified selector is not visible` error in IE11, but it's ok in Firefox

### What is the expected behavior?

Test should be successful in all browsers

### How would you reproduce the current behavior (if this is a bug)?

run the test

#### Provide the test c

[2016-12-07 09:17] vutenkov opened #1032 "Show a "screenshots unsupported" warning before running tests"
### Are you requesting a feature or reporting a bug?
A feature.

### What is the current behavior?
When I use the --screenshots & --screenshots-on-fails flags on unsupported platforms, I get the warning "screenshots are not supported" _after_ the test run.

### What is the expected behavior?
It would be convenient to know that screenshots are unsupported _before_ running all the tests, which could

[2016-12-08 08:53] helen-dikareva commented on #927
It was fixed https://github.com/DevExpress/testcafe-hammerhead/issues/903
Please check test

[2016-12-08 08:53] #927 closed

[2016-12-08 09:02] churkin opened #1033 "Add functional tests for OAuth, OAuth 2.0"
Use
https://developers.google.com/oauthplayground/
or
http://term.ie/oauth/example/index.php

[2016-12-08 09:16] churkin commented on #1033
May be also  SAML and OpenID Connect.

[2016-12-08 11:07] AlexanderMoskovkin commented on #1028
done in #1031

[2016-12-08 11:07] #1028 closed

[2016-12-08 12:43] miherlosev opened #1038 "Add 'isMatch' assertion method"

[2016-12-08 13:34] AndreyBelym opened #1042 "Cannot start Firefox if space is contained in testcafe installation directory"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
`testcafe firefox test.js` cannot start Firefox, instead it shows an `Unable to find override.ini` error message.

### What is the expected behavior?
`testcafe firefox test.js` should start Firefox.

### How would you reproduce the current behavior (if this is a bug)?
Install testcafe into a directory that

[2016-12-08 13:35] AndreyBelym commented on #1042
Fixed by https://github.com/DevExpress/testcafe/pull/1040

[2016-12-08 13:35] #1042 closed

[2016-12-09 09:04] miherlosev opened #1045 "Add 'hasAttribute' method to DomNodeState"

[2016-12-09 11:47] miherlosev commented on #995
And `getInnerHtml` method too.
It is usefull for checking rendering that change according the user input.
For example for WYSIWYG and markdown editors.

[2016-12-09 12:25] inikulin opened #1047 "`--app-command` option"
### Are you requesting a feature or reporting a bug?

feature

### What is the current behavior?

There is no way to run tested server app and terminate it once tests finish.

### What is the expected behavior?

Provide `--app-command` option which will allow to start test server and automatically terminate it, once testing is finished, e.g.:
[code]

[2016-12-09 13:34] inikulin commented on #1047
Use (concurrently)[https://www.npmjs.com/package/concurrently] module instead.

[2016-12-09 13:42] inikulin commented on #1047
@AlexanderMoskovkin We need a recipe for this one and modify existing recipies as well

[2016-12-09 14:08] miherlosev opened #1048 "Define DomNodeSnaphot properties as immutable"
I redefine `DomNodeSnapshot` in page model object by chance.

[code]
To avoid this behaviour we should define `DomNodeSnaphot` properties as immutable.

* testcafe version: 0.11.0

[2016-12-12 13:41] #1025 closed

[2016-12-12 13:48] AlexanderMoskovkin commented on #992
Not reproduced. @miherlosev can't do it now too.

[2016-12-12 13:48] #992 closed

[2016-12-12 14:17] miherlosev opened #1051 "Add Selector.lastChild, Selector.firstChild methods"
* testcafe version: 0.11.1

[2016-12-12 14:24] inikulin commented on #1051
Once we'll have #738 implemented it will be possible to do it via `Selector('div').child(0)` and `Selector('div').child(-1)`

[2016-12-12 14:24] #1051 closed

[2016-12-13 07:43] #1029 closed

[2016-12-13 09:40] gowram opened #1053 "Is it possible to query shadow dom of Angular?"
I am not sure how to use Selector for querying shadow dom,  where as i have  working query in console as follows...

[code]
i tried same query using testcafe as ....

[code]
please let me know how to get it right.

### Specify your

* operating system: Window 8.1
* testcafe version:0.11
* node.js version: 6.9.1

[2016-12-13 09:44] AndreyBelym commented on #1053
Hello, @gowram! Currently you can't use `Selector` for querying `shadowRoot` in that manner. Instead, try to use `Selector` with a function, that returns the desired element, e.g.
[code]

[2016-12-13 11:20] gowram commented on #1053
I tried this way, but it queried till
[code]
rest got skipped, no error message as well.
i think "shadowRoot" failed to get element, is there any workaround?

[2016-12-13 12:05] AndreyBelym commented on #1053
Can you provide me the link to your page and/or the test code? I tried a page with Shadow DOM, it have worked fine for me.

[2016-12-13 13:01] georgiy-abbasov opened #1054 "Incorrect typing with enabled 'replace' option"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

TestCafe set empty string as a value and emulate 'input' event for target element before typing.

### What is the expected behavior?

Some frameworks expect, that target has first symbol of typing text at first input event. Same situation is without testcafe - there is no empty string value, when we selec

[2016-12-13 13:01] georgiy-abbasov commented on #1054
I'm working on this.

[2016-12-13 14:04] IhostVlad opened #1055 "Allow to run browser by shell script"
The current implementation most likely doesn't allow to realize start of the target browser in which it will be executed the functional tests, by means of arbitrary shell-script.

It can be used if it is necessary to launch testcafe in docker container which in the normal mode chrome doesn't allow to launch or chromium normally - instead is required a set of arguments of command line.

Preliminary

[2016-12-13 18:57] romanresh opened #1057 "Click action misses an element if its hidden under fixed element"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
See: https://getbootstrap.com/examples/navbar-fixed-top/. If before click on the "View navbar docs" hyperlink scroll was at the bottom side of the page when testcafe scrolls page to the hyperlink but it leaves hidden under the top navbar and the hyperlink remains unavailable for click.

### What is the expe

[2016-12-14 07:53] AndreyBelym commented on #1055
Hello @IhostVlad!

Actually, you can start a browser with a shell script, e.g. check a discussion here: https://testcafe-discuss.devexpress.com/t/launching-browser-in-virtual-x-mode/76/3

through
[code]

and the test url will be the second argument of the script
[code]

Also, since `testcafe@0.11.0` you can use CLI to pass browser arguments, e.g.
[code]
About first run modal dialog: have you tried

[2016-12-14 08:53] miherlosev opened #1058 "Wrong error message if file does not contain 'fixture' definition"
File contains only test definition
[code]

I peform the command `testcafe chrome index.js`.

After I get the error:
`ERROR No tests to run. Either the test files contain no tests or the filter func
tion is too restrictive.`

It is a bug because I cannot find problem using error message.

* testcafe version: 0.12.0-alpha

[2016-12-14 09:05] miherlosev opened #1059 "Tescafe exclude wrong test files from execution"
I have 3 test files:

### index.js
[code]

### index1.js
[code]

### index3.js
[code]

So, `index1.js` test file formats wrongly.
I perform the command `testcafe chrome index*.js`
After I get the report:
[code]

Testcafe hides wrongly formtted `index1.js` file from execution.
I expect that testcafe shows error message about wrongly formatted file.

* testcafe version: 0.12.0-alpha

[2016-12-14 09:09] inikulin commented on #1059
I don't get it. index1 doesn't contain any tests, why it should be executed?

[2016-12-14 10:37] inikulin commented on #1059
We need to filter out TestCafe test files somehow, because you can specify e.g. `tests/*.*.js` as a source. We treat file a TestCafe fixture if it contains `fixture` declaration and at least single `test`

[2016-12-14 10:54] inikulin commented on #939
https://www.algolia.com/

[2016-12-14 14:48] miherlosev opened #1063 "Show error message then use assertion without method"
When I run test file as

[code]
I get a green report.

Assertion inside test looks like a mistake - one forgot to write an assertion method.
For this case I want to see an error message.

* testcafe version: 0.12.0-alpha

[2016-12-14 15:28] #1054 closed

[2016-12-15 08:53] gowram commented on #1053
@AndreyBelym

It's pointing to the element successfully but click event is not happening, even i tried with wait(50000).

I have angular page which is part of Salesforce org, that's the reason I won't be able share with you?

[code]
the flow was perfect except the click, if possible can we have a call?

[2016-12-15 09:41] jinzw1993 opened #1064 "select标签测试不见了。"
hover 不能正确选择select标签的子项目。

希望获得教程

code：

import { Selector } from 'testcafe';

fixture `Getting Started`
    .page `http://www.560417.com/User/Register`;
       const fdg=Selector('#FirstID');
test('My first test', async t => {

    await t
        // .click('#FirstID')
        .hover(fdg)
        //   .click('#FirstID')
          .expect(fdg.value)
          .eql('1')
          .typeText('#userN

[2016-12-15 09:52] romanresh opened #1065 "Add the 'origin' parameter to callback function of find(), child(), parent() methods"
### Are you requesting a feature or reporting a bug?
feature

### What is the current behavior?
It's impossible to get properties of parent element inside callback function of the find(), child(), parent() methods.

### What is the expected behavior?
[code]

[2016-12-15 10:43] helen-dikareva commented on #984
After discussion about `touch-mode` option we decided just not to emulate `touch` events for touch monitors (`mouse` events'll be emulated in this case)

[2016-12-15 11:08] AlexanderMoskovkin commented on #1064
Hi @jinzw1993 ,

I see you want to select the `北京市` option in the `<select>` element. Call two clicks to do this: on for the `<select>` element and on for the `<option>` element. Here is modified test that works on my side:

[code]

Also I see there is an js-error on your page. So, to run this test with the [`skip-js-errors`](https://devexpress.github.io/testcafe/documentation/using-testcafe/comma

[2016-12-15 13:15] #1038 closed

[2016-12-15 14:45] AndreyBelym opened #1071 "Docs don't point that selectors use sets of elements in chains"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Docs are unclear about that if chained Selector has multiple matches on the first step of chain, the second filtering step will be executed on the whole set of matched elements, and the results will be merged in one set.

### What is the expected behavior?
Docs should be clear about this Selector behavior.

[2016-12-15 15:03] inikulin commented on #1047
I guess I'd like to revisit it. `concurrency` is to verbose and you need to add it to every recipe. Built-in functionality would be nice.

[2016-12-15 15:19] AlexanderMoskovkin opened #1072 "Implement scriptExecutionBarrier"
After an action the page script can send a request to the server and get some another scripts to execute. These scripts can be executed each after each (for example it can be command to execute the next script when the previous one raised the `load` event).
We should add a barrier (like xhr and pageUnload barriers) that wait while all scripts after an action are executed

[2016-12-15 15:26] #1006 closed

[2016-12-16 14:51] #984 closed

[2016-12-19 10:44] miherlosev opened #1074 "Wrong command line for 'Test Static Html Pages' recipe"
Origin
`concurrently -r -k "http-server" "http-server ./dist -p 4000 -s" "testcafe chrome ./test/acceptance/**"`

should be
`concurrently -s first -r -k "http-server ./dist -p 4000 -s" "testcafe chrome ./test/acceptance/**"`
because
- `-k` parameter doesn't have arguments
- `-s first` - we should return `testcafe ` exit code as a result and `testcafe` completed the first

Also, we can simplify com

[2016-12-19 11:57] marchugon opened #1075 "Chrome always launched in new tab on debian"
### Are you requesting a feature or reporting a bug?
This is a bug

### What is the current behavior?
With testcafe 0.11.1, a new tab is used on chrome where running tests with the command
`testcafe chrome test.js`
Even when I try to force a new window like this, testcafe stills use a new tab
`testcafe "chrome --new-window" test.js`

### What is the expected behavior?
With version 0.10.0, a new wi

[2016-12-19 12:05] marchugon opened #1076 "Firefox doesn't work with Debian"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
If I launch a test with firefox, the browser shows up, but nothing more happens. Testcafe waits something like one minute and fails with this message :

My Firefox version is 43.0

### What is the expected behavior?
Firefox should connect to nodejs instance in order to launch the test. I had no problem with

[2016-12-19 13:38] AlexanderMoskovkin opened #1078 "Increase remote browser conneciton waiting timeout"
When I run tests via the `testcafe-browser-provider-saucelabs` often TestCafe fails with the `Unable to establish` before a virtual machine on Saucelabs is ready to run tests. Especially virtual machine bootstrapping takes some more time when it's a mobile device.

[2016-12-19 13:40] AlexanderMoskovkin commented on #1076
Hi @marchugon,

Thanks for you report. It seems we've fixed this problem already, but it's not published yet. We'll publish the version with the fix soon, I'll notify you.

[2016-12-19 14:17] georgiy-abbasov opened #1079 "Wrong "key" and "keyIdentifier" properties in key events while typing or pressing a key combination"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

TestCafe provides `keyIdentfier` and `key` properties only when pressing 'Enter' key, for many others keys it doesn't provided.

### What is the expected behavior?

These properties should be provided for all symbols and with the next rule:
In Chrome with version < 54 and Safari key events provide only `k

[2016-12-19 14:18] georgiy-abbasov commented on #1079
Working on it

[2016-12-19 14:18] #981 closed

[2016-12-19 14:33] AlexanderMoskovkin commented on #1076
@marchugon, please check the both problems (#1075, #1076) on the new `alpha` version. To install it run
[code]

Please notify me does it work now?

[2016-12-19 15:09] marchugon commented on #1076
Ok for me, it worked with v0.12.0-alpha1

[2016-12-19 15:09] #1076 closed

[2016-12-19 15:09] marchugon commented on #1075
Ok for me, it worked with v0.12.0-alpha1

[2016-12-19 15:09] #1075 closed

[2016-12-20 11:54] AlexanderMoskovkin commented on #955
done in #1062
documenation added in #1027

[2016-12-20 11:54] #955 closed

[2016-12-20 14:23] miherlosev opened #1083 "Contribute 'testcafe' enviroment to the eslint"
http://eslint.org/docs/user-guide/configuring#specifying-environments

testcafe will add `test` and `fixture` globals.

[2016-12-20 14:29] VasilyStrelyaev commented on #1047
Will do the docs

[2016-12-20 14:29] VasilyStrelyaev commented on #1065
Will do the docs

[2016-12-21 09:46] #1065 closed

[2016-12-21 09:46] #864 closed

[2016-12-21 09:46] #1047 closed

[2016-12-21 09:56] VasilyStrelyaev commented on #1038
Will do the docs

[2016-12-21 09:56] VasilyStrelyaev commented on #1025
Will do the docs

[2016-12-21 12:39] miherlosev commented on #1083
I'm working on this

[2016-12-21 14:25] inikulin commented on #1083
@miherlosev Why it's done as a plugin not by contributing env directly to eslint: http://eslint.org/docs/user-guide/configuring#specifying-environments

[2016-12-21 14:47] miherlosev commented on #1083
Unfortunately, we cannot contribute `testcafe` environment directly to eslint.
All build-in environments from eslint are placed in [globals](https://www.npmjs.com/package/globals)
Phrase from description:
This module no longer accepts new environments. If you need it for ESLint, just create a plugin.

However, we can contribute `testcafe` environment to modules that agregate eslint rules and plugi

[2016-12-21 14:51] inikulin commented on #1083
Got it, thanks for explanation

[2016-12-22 08:54] miherlosev commented on #1083
https://www.npmjs.com/package/eslint-plugin-testcafe

[2016-12-22 09:07] inikulin commented on #1083
@miherlosev We need to add it somewhere to the docs

[2016-12-22 09:49] miherlosev commented on #287
Also add recipes for
 - [circleci](https://circleci.com/) (react, vue, angular)
 - [houndci](https://houndci.com/) (bootstrap)

[2016-12-22 11:00] AlexanderMoskovkin opened #1090 "TestCafe can't run tests if 'tests' argument is a directory with `node_modules`"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

[code]

Error: `Cannot find a test source file at "...\node_modules\testcafe-legacy-api\node_modules\core0js\modules\$.property-desc.js"`

### What is the expected behavior?

It was ok on the previous version

### Specify your

* testcafe version: 0.12.0-alpha2

[2016-12-22 13:54] AlexanderMoskovkin commented on #1090
I'm working on this

[2016-12-22 15:51] AlexanderMoskovkin commented on #1090
I've found the cause of the problem.

When you pass to much files to compile (> 8000 in my case) the Compiler try to read and compile all of them at the same time ([via Promise.all](https://github.com/DevExpress/testcafe/blob/master/src/compiler/index.js#L47)). As a result a `EMFILE, too many open files` error is raised [here](https://github.com/DevExpress/testcafe/blob/master/src/compiler/index.j

[2016-12-22 16:01] AlexanderMoskovkin commented on #1078
I'm working on this

[2016-12-23 07:44] AlexanderMoskovkin commented on #1090
It seems the second way doesn't work when files too much (about 30000). Also I don't think it a nice idea to try to read so much files at the same time

[2016-12-23 11:00] romanresh opened #1094 "Some input events aren't fired when a button is clicked right after typing text in an input in Firefox"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
Some input events don't fire when a button is clicked right after typing text in an input

### What is the expected behavior?
After typing text in the second input test clicks on the button and the second input clears itself. If before button click make click to any other element inside a page and then clic

[2016-12-23 12:06] #1079 closed

[2016-12-26 07:57] churkin opened #1096 "Add a flag to retrieve the available browsers"
### Are you requesting a feature or reporting a bug?
feature

testcafe --browser-list

I think it will be useful for CI and for IDE extensions.

[2016-12-26 08:21] AlexanderMoskovkin commented on #1096
Great proposal!
And .... we have this already 😃😃 :
[testcafe --list-browsers](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-b---list-browsers)

[2016-12-26 08:21] #1096 closed

[2016-12-26 12:21] miherlosev opened #1097 "Http errors after empty test execution"
Then I run an empty test
[code]

I get two http errors in browser Network tab:
- 404 `/favicon.png` (referrer - `http://172.22.7.216:50599/browser/idle/B1Dl9KRNe`)
- 404 `/browser/init-script/B1Dl9KRNe` (referrer - `http://172.22.7.216:50599/browser/idle/B1Dl9KRNe`)

Initially, I found these errors in browser Network tab.
To capture this I used the Fiddler tool.

I think we should fix these errors

[2016-12-26 12:43] #1090 closed

[2016-12-26 15:10] VasilyStrelyaev commented on #287
Working on the `using with gulp` recipe

[2016-12-27 08:33] AlexanderMoskovkin commented on #287
I've added one more idea: `Using with Grunt` (https://www.npmjs.com/package/grunt-testcafe)

[2016-12-27 09:25] helen-dikareva commented on #918
I'm working on this

[2016-12-27 09:27] #1078 closed

[2016-12-27 09:45] helen-dikareva commented on #918
![debugger](https://cloud.githubusercontent.com/assets/12034551/21496815/56763846-cc32-11e6-8486-fa8dd8d4b358.png)

[2016-12-27 19:03] solsenfinovertech opened #1101 "navigateTo() returns error"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

`.navigateTo()` always returns an `Uncaught SyntaxError: Unexpected identifier`

### What is the expected behavior?

`.navigateTo()` should navigate to the specified web page.

### How would you reproduce the current behavior (if this is a bug)?

Pretty straightforward, any test (a relative or absolute UR

[2016-12-28 03:51] #1053 closed

[2016-12-28 09:06] AlexanderMoskovkin commented on #1101
Hi Steven,

I've tried to run the following test in chrome, firefox and ie:
[code]

It works properly on my side:
![2016-12-28_1204](https://cloud.githubusercontent.com/assets/12047804/21518204/cd04cba8-ccf5-11e6-8226-0377441caa46.png)

Could you please provide the whole test to reproduce the problem.
If you run the test in chrome try to check it in the `incognito` mode to disable all extensions:

[2016-12-28 09:15] #738 closed

[2016-12-29 08:41] AlexanderMoskovkin commented on #1083
https://github.com/DevExpress/testcafe/issues/1098

[2016-12-29 08:41] #1083 closed

[2016-12-31 19:50] solsenfinovertech commented on #1101
Hi,

Yes you are correct, this test also "passes" (doesn't fail) for me:
[code]

However, this test does not "pass", gives an error "Uncaught SyntaxError: Unexpected identifier":
[code]

Apparently my syntax is just incorrect somewhere?

[2017-01-01 23:26] AlexanderMoskovkin commented on #1101
Actual documentation for the open-source TestCafe version is here: https://devexpress.github.io/testcafe/documentation/getting-started/

You can find how to ignore js-errors on the page in the [Command Line Interface](https://devexpress.github.io/testcafe/documentation/using-testcafe/command-line-interface.html#-e---skip-js-errors) article

[2017-01-02 00:08] solsenfinovertech commented on #1101
It seems that `testcafe -e ...` arg does the trick. I think this ticket can be closed!

[2017-01-02 00:08] #1101 closed

[2017-01-02 11:51] #802 closed

[2017-01-03 11:35] inikulin opened #1108 "test.before and test.after hooks"

[2017-01-03 15:29] inikulin opened #1109 "Implement `test.httpAuth` directive"

[2017-01-04 07:29] thecodejack opened #1110 "ClientFunction not working for returning large object/array"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
TestCafe keeps waiting at ClientFunction when returning object/array which is very large for following code.

[code]
gridData is expected to have around 99k objects in an array. But while running tests, tests are not going forward. It is not even throwing any error. it just waits.

### What is the expected

[2017-01-07 02:27] brettz9 opened #1111 "Node.js"
### Are you requesting a feature or reporting a bug?

Feature

### What is the expected behavior?

I'd like One Test Framework To Rule Them All, i.e., a framework I can use without modification in Node.js as well as the browser.

While your design goals may be focused on the browser, I'd think that even if you weren't interested in Node testing, your success may also hinge on it meeting a broader

[2017-01-07 13:28] WillemMali commented on #1111
You could use MochaJS this way? It has e.g. a Selenium Webdriver plugin which you can use to run your tests in real browsers.

I think the focus of TestCafe is explicitly "browser testing", and should not expand to "all testing ever".

[2017-01-09 09:24] inikulin commented on #903
I was hoping to implement this feature in current sprint, however once I've got my hands on it, it appeared that it's not as simple as it seems. Most problems are related to consistency with `fixture.beforeEach`, `test.after`, etc. hooks. Those hooks are run in *each* browser for each test run for the test, also they have a test controller object `t` provided. It seems that it's not a case for `fi

[2017-01-09 09:41] helen-dikareva commented on #903
`Setup` and `teardown` will executed once for `fixture/test` and `before.../after...` will executed each time in quarantine mode , is that right?

[2017-01-09 09:56] inikulin commented on #903
@helen-dikareva If we have a test that run in 3 browsers, `before/after` will be executed 3 times, once per each browser. `setup/teardown` will be executed only once unrelated to the number of browsers specified for the task.

[2017-01-09 10:33] inikulin commented on #1110
Hi @thecodejack,

I've tried to reproduce the issue on my side using the following code:
*index.html*
[code]

*test.js*
[code]

While test run takes some noticeable time, it's completed successfully. Is there something what I'm missing?

[2017-01-09 10:55] helen-dikareva commented on #903
ok, I see

[2017-01-09 10:56] #1009 closed

[2017-01-09 10:59] #784 closed

[2017-01-09 13:20] kirovboris commented on #903
The `teardown` handler will be run after a fixture or test passed/failed in all browsers, right?
+1 in this case. In my opinion it's still not clear, that it will be run once, e.g. if I write ```test.setup```  first time, i'll expect it will execute several times, because I'll met the famous term `setup` and will be think, that it's occur for every test run, in other words for each browser. If I m

[2017-01-09 13:38] inikulin commented on #903
@kirovboris How about `fixture.beforeAll` and `fixture.afterAll`? But `test.setup/teardown` doesn't fit in this paradigm then.

[2017-01-09 14:03] kirovboris commented on #903
From this two options (`beforeAll/afterAll` and `setup/teardown`) I prefer the second one. We already have `beforeEach` _...test_, so `beforeAll` will be associate with tests for me as well, not browsers.

[2017-01-09 14:25] inikulin commented on #903
Indeed, it has nothing to do with browsers, so it will be a correct association

[2017-01-09 14:29] thecodejack commented on #1110
This makes it failing in my PC:

[code]

[2017-01-09 14:55] miherlosev opened #1115 "Strange delay after 'pressKey' action"
See [video](http://screencast.com/t/jtYYdXFmiCtl).

Test for reproduce:
[code]

It doesn't reproduce with hammerhead playground - http://screencast.com/t/xxCgR5YHucX

* testcafe version: 0.12.0-alpha3

[2017-01-10 08:58] #246 closed

[2017-01-10 08:58] #501 closed

[2017-01-10 08:58] #841 closed

[2017-01-10 08:58] #1108 closed

[2017-01-10 08:58] #1109 closed

[2017-01-10 09:38] inikulin commented on #1074
Not relevant anymore

[2017-01-10 09:38] #1074 closed

[2017-01-10 09:58] inikulin commented on #1110
I was able to reproduce the issue. The cause of the problem is that browser runs out of memory when we try to serialize enormously large object. I guess the best option here will be a limit for the returned object size, let's just throw an error with some descriptive message.

[2017-01-10 10:24] AndreyBelym opened #1117 "Enable screenshots and resize on Linux"
TODO:
 - [x] Update `testcafe-browser-tools` to `1.2.0`
 - [x] Remove warnings
 - [x] Remove notes from docs

[2017-01-10 12:40] rafakwolf opened #1118 "using beforeEach"
### What is the current behavior?

Trying to use beforeEach to make login on my webapp...

Test code

[code]
Login occurs correctly, but, how can i navigate to "/fiel-cadastro/comunidade" after the login function is completed ?

Thanks!

### Specify your

* operating system: Windows 10
* testcafe version: last stable
* node.js version: 6.9.2

[2017-01-10 13:07] inikulin commented on #1118
Hi,

`beforeEach` is executed on the page that is specified as the start page of the fixture. So if you rearrange the order of URLs in your code:
[code]

[2017-01-10 13:49] AlexanderMoskovkin commented on #1115
I'm working on it

[2017-01-10 15:12] umaar opened #1120 "Inconsistent test results"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

* `1) TypeError: Cannot read property '0' of undefined`

Or I land on this page after a button click

* `http://10.101.115.72:53642/Hkn3vOM8x/about:error`

Or I get this error:

* The element that matches the specified selector is not visible.

### What is the expected behavior?

The test should not fail

[2017-01-10 15:23] rafakwolf commented on #1118
[code]
Thanks

[2017-01-11 04:40] AlexanderMoskovkin commented on #1120
Hi Umar,

I've reproduced the problem and we are investigating it.

[2017-01-11 06:44] AlexanderMoskovkin commented on #1118
Do you have this input on the `http://localhost:3000/#/login/` page? If you set fixture's page in the following way:
[code]

`login` will be executed on the `http://localhost:3000/#/login/` page.

[2017-01-11 07:21] churkin commented on #1120
Hi Umar,

I have investigated this problem and found out that obsoleted `framesets` (https://www.w3.org/TR/html/obsolete.html) are used on the problem page. I think this page couldn't ever work. When you succeeded in the tests, did you use `framesets` or you added them and they failed?

[2017-01-11 07:49] #749 closed

[2017-01-11 08:01] #1072 closed

[2017-01-11 13:12] inikulin commented on #1120
@churkin It's odd that we have inconsistent test results if page contains `<frameset>`, can we handle it gracefully? Also, I remember that we've discussed `<frameset>` support, but decided that this obsolete technology doesn't worth the efforts. However, since seems like it's still used in the wild maybe we can support it somehow. I don't remember if we had any technical difficulties with it?

[2017-01-11 13:25] umaar commented on #1120
Thanks everyone. @churkin ignore what I said about them succeeding previously, it was unrelated tests that were passing.

Just to be clear, the page I execute the tests on is `http://genomemedicine.biomedcentral.com/` and I am clicking on a hyperlink which takes you to a page which `<framesets>`. I have no desire to test the page with `<framesets>`. Maybe there's a workaround here? Really, the goa

[2017-01-11 13:46] churkin commented on #1120
@umaar @inikulin  Guys, I need some time to assess the cost of `framesets` support

[2017-01-11 13:49] umaar commented on #1120
@churkin thanks very much. Sorry to be annoying because I agree, `<frameset>` is very old and it would be a shame for you to have to write hacks to support it.

Idea: Don't break so early on just because a `<frameset>` page has been navigated to. If the developer writing a test doesn't need to query the DOM, then nothing needs to break. All I want to do is check the URL and nothing else.

[2017-01-12 09:03] inikulin commented on #1120
I guess we can provide such limited support by injecting runtime scripts into the first frame of a frameset (and perform HTML instrumentation only for it). Shouldn't be hard to implement. @churkin what do you think?

[2017-01-12 09:08] pilyugin opened #1122 "Wrong script in documentation (Test Static Html Pages recipe)"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
There are some mistakes in recipe ([Test Static Html Pages](https://devexpress.github.io/testcafe/documentation/test-api/test-code-structure.html)) which says to run this script:
[code]
But it does not work properly.

**1. `http-server` will be run with default settings**
This document ([Test Static Html Pa

[2017-01-12 09:35] AlexanderMoskovkin commented on #1122
Hi Alexey,

Thanks for your report!

We've found these mistakes too and we've already updated our recipes in the repository (#1069). You can actual recipes [here](https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/recipes/index.md). They will be updated on the site when the next testcafe version (0.12.0) is released.

We've implemented this feature (#1047) in 0.12.0 tha

[2017-01-12 09:35] #1122 closed

[2017-01-12 11:08] #1115 closed

[2017-01-12 14:16] churkin commented on #1120
@umaar We have created small fix that will allow you to test problem page https://github.com/DevExpress/testcafe-hammerhead/issues/1009

[2017-01-12 16:11] pedroscaff opened #1125 "Set custom headers for authentication"
### Are you requesting a feature or reporting a bug?
feature

Hi all,

I would like to be able to set custom headers such as authentication tokens, I tried to find a way to do it but I couldn't. If there is a way to do it I would love to know how otherwise I would make this feature request and also contribute as well, but I would need some light to where to look at.

We use TestCafe as a primary t

[2017-01-12 21:32] beatscode opened #1126 "Screenshot extension"
I would like to implement some sort of hook or extension to take a screenshot everytime there is a url change. If the application goes from a.html to b.html I would like to take a photo of b.html with a filename corresponding to the page url. Is this possible? If so where would I start?

[2017-01-13 07:15] AlexanderMoskovkin commented on #1126
Hi Alex,

I don't see a way how it can be done with the current testcafe version, this requires some additional implementation in our API.
Could you please tell us why do you need it? How are you going to use it in your project? With this information, we do our best to find a solution for you.

[2017-01-13 07:35] churkin opened #1127 "Add the `--debug` flag to CLI API"
This flag should passes on `--inspect` and `--debug-brk` to the testcafe and opens new chrome instance with debugger.

[2017-01-13 08:32] AlexanderMoskovkin commented on #1125
Hi Pedro,

Thank you for your cooperation.
It is technically possible to implement this, but it requires careful consideration of the API for this. But I'm wondering what is your scenario that requires this feature? From what I gather, you would like to avoid some user login script adding in each test. And with this token in the header, the server will give a response like for the registered user.

[2017-01-13 10:12] kirovboris opened #1128 "Test does not wait page loading, if execute server specific actions"
I've encountered with the following situation:
My page listens events from server.
I'm executing the actions which causes server events in the `beforeEach` method, it's file watcher in my case.
Since we execute any server logic code in `beforeEach` / `test`, it not to waiting page load, I get in previous test event from the following test.

As I know this implementation was created for the handlin

[2017-01-13 12:07] klepek42 opened #1130 "Corrupted PDF files when using a printing function withing TestCafe"
### Are you requesting a feature or reporting a bug?

A bug.

### What is the current behavior?

Creating PDF documents via TestCafe results in corrupted PDF files.
Doing the same steps without TestCafe (Open Source version) or with TestCafe (paid version) results in valid PDF documents.

When comparing both PDF documents it gets clear that the PDF documents (in TestCafe) are corrupted because of

[2017-01-13 13:14] mokone91 opened #1133 "ERROR Unable to establish one or more of the specified browser connections"
### Are you requesting a feature or reporting a bug?
bug

### What is the current behavior?
when I launch test with nightmare (using testcafe-browser-provider-nightmare) i get
`ERROR Unable to establish one or more of the specified browser connections. This can be caused by network issues or remote device failure.`

I use amazone EC2 instance,
also i open some ports from amazon console, and runt t

[2017-01-13 13:18] churkin commented on #1120
@umaar I've released new 0.12.0-alpha5 version of testcafe, you can try it right now.

[2017-01-13 13:33] pedroscaff commented on #1125
Hi Alexander,

Unfortunately that is not the scenario. In our case TestCafe just loads a page and takes a screenshot, the login is inside the javascript code. I would like to login, get the token and add it to the headers before running the tests.

Thanks,
Pedro.

[2017-01-13 13:49] umaar commented on #1120
@churkin @inikulin wow! That's very kind of you. I'll try it out!

[2017-01-13 13:54] AlexanderMoskovkin commented on #1125
Unfortunately we haven't completely understand your scenario.
Is the login script executed in the browser? How is it executed, via some requests to your server?
Or the login script executed on the server-side (node.js) before tested webpage opening?

Is your tested project public (open-source)? If yes, we can take a look at it.

[2017-01-13 13:55] AndreyBelym commented on #1133
Hello, Eldar! Likely it's because the `nightmare` browser requires an X11 display server on Linux, which is not enabled by default on Amazon EC2. You have to install and run Xvfb; required commands depend on a distribution that you use in your instance. E.g. for Debian-based distros, including Ubuntu, it is like:
[code]

[2017-01-13 15:41] pedroscaff commented on #1125
Hi,

everything is executed on the browser! It makes a request to the server and the server gives the authorization tokens. It is unfortunately not open-source, I can't really share the code, but it is a fairly simple scenario, just retrieving auth tokens and setting headers correspondingly.

Thanks,
Pedro.

[2017-01-13 15:53] pedroscaff commented on #1125
Hi,

everything is executed in the browser! The auth tokens are set on the xhr request, and it doesn't work when running with TestCafe (401 unauthorized), so I guess the requests are changed somehow by TestCafe. But it would also be possible to make the requests with node.js and set the headers before the tests.

Thanks,
Pedro.

[2017-01-13 18:16] beatscode commented on #1126
I'm trying to map the different views in the application to another set of logs. I'd like to sync screenshots to the logs I have which are segmented by url. I could augment my scripts to to do this I was just curious if I could implement a hack locally.

[2017-01-13 18:33] dzannotti opened #1134 "Server responses with status 222 unexpectedly when window.fetch() is called in Chrome"
### Are you requesting a feature or reporting a bug?
Reporting a possible bug

### What is the current behavior?
Some requests in chrome seem to return 222 from the proxy and no json content, however the same tests work correctly in firefox and safari. There don't seem to be major differences investigating curl differences which sort of leads me to believe it's a chrome fetch related issue

### Wh

[2017-01-13 19:49] AlexanderMoskovkin commented on #1125
Thanks  for the clarification. Do you use some type of [standart authentication types](https://blog.risingstack.com/web-authentication-methods-explained/) (maybe JSON Web Token) or it's a custom implementation?

TestCafe should work in this case, it seems it's some issue on our side. Is it possible to share your tested page for us to be able to reproduce the problem?

[2017-01-13 22:05] vitvad opened #1135 "Questions: "Failed to find DNS-record for resource at https://www.google.com""
Hi,
I decide to try this test framework and got this error.
Same with you test page. I'm in corporate network with some firewall restrictions, but both pages are available if I try it in browser. Maybe you have any idea what could be wrong?
Sorry if this such silly report.

Test code

[code]

### Specify your

* operating system:
Win 7
* testcafe version:
0.11.1
* node.js version:
6.9.1

[2017-01-14 12:52] georgiy-abbasov commented on #1135
Hello Vitaly !
Thank you for reply. Specify, please, has your browser special network settings like proxy or not ? Is TestCafe added to your firewall exceptions ?

At first we need to know, whether node.js has the access to the network. Run next steps, please:

1) Create a temporary directory:

[code]

2) Create the `request.js` file in the `test-request` directory:

[code]

3) Run `request.js` vi

[2017-01-15 21:00] LavrovArtem commented on #1130
Hi @klepek42.

Thanks for your cooperation. I reproduced your problem. I will fix it, but we don't support PDF documents. After the opening of your document you can't test it.

[2017-01-16 08:30] AndreyBelym commented on #1134
Hello, Daniele! Please, can you give us some more information about your issue: the Chrome version, your test code and the tested page URL or source code?

[2017-01-16 09:42] mokone91 commented on #1133
Hi Andrey,
It works!!

I use "xvfb-run" to run this tests,

Thanks!

[2017-01-16 09:42] #1133 closed

[2017-01-16 10:26] AlexanderMoskovkin commented on #1134
@dzannotti, Also It possible that some chrome extension breaks test running. Please try to run it in the `incognito` mode:
`testcafe "chrome --incognito" your-test.js`

[2017-01-16 10:36] #1111 closed

[2017-01-16 10:37] #1064 closed

[2017-01-16 11:25] georgiy-abbasov opened #1136 "Test hangs if target element width\height is fractional"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

Testcafe gets stuck with infinite move automation, when performs an action with negative offsets on an element, which has fractional number as width or height. ~It appears only in IE.~ It's actual for the most of browsers.

### What is the expected behavior?

To prevent getting stuck TestCafe, fractional

[2017-01-16 12:17] AndreyBelym opened #1137 "Inputs should not be cleared after reloading in Firefox"
### Are you requesting a feature or reporting a bug?
Bug

### What is the current behavior?
Inputs in Firefox remain their values and check states after the page reloading, but it will be cleared after reloading the page during a test with TestCafe. It happens because Firefox implements autocomplete for all input types by default, but TestCafe disables it by using `autocomplete="off"` attribute.

[2017-01-16 13:14] AlexanderMoskovkin commented on #1117
closed in #1131

[2017-01-16 13:14] #1117 closed

[2017-01-16 13:38] georgiy-abbasov commented on #1136
After running tests it was found, that the problem is actual for the most of browsers, so title changed.

[2017-01-16 13:39] AlexanderMoskovkin commented on #1126
Thanks for clarification. For now TestCafe doesn't provide functionality to add such hook.
I'm not 100% sure that this is what you need, but maybe the following approach will be useful for you:
[code]

Or maybe the following:
[code]

The second solution looks not pretty but maybe it'll ok for your task

[2017-01-16 14:05] AlexanderMoskovkin opened #1138 "Onclick event handler is not executed when TestCafe clicks on the div"
### Are you requesting a feature or reporting a bug?

bug (converted from the [discussion](https://testcafe-discuss.devexpress.com/t/click-on-a-div-element-with-an-onclick-handler-supported/110/7))

### What is the current behavior?

An error `Click occured outside the div!!!` is raised during test execution (see the test)

### What is the expected behavior?

Test should be passed

#### Provide th

[2017-01-16 14:34] AlexanderMoskovkin commented on #1138
@AndreyBelym please take it

[2017-01-16 14:35] AndreyBelym commented on #1138
Okay

[2017-01-16 17:16] georgiy-abbasov opened #1140 "Testcafe hangs when moving out cursor from reloaded iframe"
### Are you requesting a feature or reporting a bug?

Bug

### What is the current behavior?

TestCafe hangs and throw no error, when we try to move out cursor from reloaded iframe, [which isn't under cursor](https://github.com/DevExpress/testcafe/blob/master/src/client/automation/playback/move.js#L139).

### What is the expected behavior?

To prevent TestCafe hanging we shouldn't emulate `mouseov

[2017-01-16 20:30] nosovk opened #1141 "new feature - docker"
It would be great to run testcafe tests inside docker, to allow executing on a docker hosts with other tests.

Now there is requirement to launch testcafe on a system with locally installed browsers.

Would be nice to have some predefined docker images with different browsers to launch tests without installing chrome\firefox etc on a server.

[2017-01-17 07:05] #1136 closed

[2017-01-17 08:44] AlexanderMoskovkin commented on #1141
Hi Konstantin,

Thanks for the idea, it looks interesting. We need to do some research to make a decision.

[2017-01-17 18:26] dzannotti commented on #1134
Hi Thanks for the support, trying to put together a repro. It's definitely not extensions breaking (as it has the same behaviour in incognito/on ci. The weird thing is the 222 http codes from the testcafe proxy

[2017-01-18 12:09] mkubrycz opened #1147 "Can't test React components with Storybook"
### Are you requesting a feature or reporting a bug?

bug

### What is the current behavior?

In our project we use [React Storybook](https://github.com/storybooks/react-storybook) and we can't run tests for it with testcafe. When trying to run tests against storybook's server we keep getting this error:
[code]

![screen shot 2017-01-18 at 12 28 29](https://cloud.githubusercontent.com/assets/17340

[2017-01-18 13:08] AlexanderMoskovkin commented on #1134
Could you please provide us URL to your tested page or create a simple example to reproduce the problem on our side?

[2017-01-18 13:13] #1140 closed

[2017-01-18 16:23] rafakwolf commented on #1118
I'm trying this way too...

[code]

[2017-01-18 23:33] StarpTech opened #1149 "Readme sample does not work"
### Are you requesting a feature or reporting a bug?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

Result:

[code]

### Specify your

* operating system: Windows 10
* testcafe version: 0.11.1
* node.

[2017-01-19 04:02] AlexanderMoskovkin commented on #1149
Hi @StarpTech,
Thanks for noticing that. It's a typo in the `constains` word, it should be [`contains`](https://devexpress.github.io/testcafe/documentation/test-api/assertions/assertion-api.html#contains). I've fixed it.

[2017-01-19 04:02] #1149 closed

[2017-01-19 07:50] #1138 closed

[2017-01-19 08:06] AlexanderMoskovkin commented on #1118
Thanks for clarification.

Could you please provide us URL to your tested page or create a simple example to reproduce it on our side? A screencast that shows the test execution also can be helpful.

Or you can try to debug it on your side with the following steps:
- add `debugger;` before the `typeText` action in the following manner:
[code]

- run the test. Open developer tools once the browser

[2017-01-19 09:07] StarpTech commented on #1149
Oh,  thanks it was very late :)

Am 19.01.2017 05:02 schrieb "Alexander Moskovkin" <notifications@github.com

[2017-01-19 09:51] churkin commented on #1147
@mkubrycz I'm researching it now

[2017-01-19 12:02] rafakwolf commented on #1118
At the moment, i can't provide the URL, because it is a dev application...

But, for some more info, it is an AngularJS 1.6 app...
in my opinion my login page is not all renderized yet, when the testcafe looks for componentes in the DOM tree...

thanks for now