[2015-07-14 12:51] inikulin opened #17 "Replace `quarantineMode` option with the `quarantineThreshold`"

[2015-07-21 08:33] inikulin opened #20 "We should use 'spec' reporter as default"

[2015-07-22 15:30] inikulin opened #22 "Switch to testcafe-browser-natives."
Use it for the browser open/close, installations scan. Rename `src/browsers` to `src/browser-connection`

[2015-07-31 19:23] inikulin commented on #22
Closed via #23

[2015-07-31 19:23] #22 closed

[2015-08-04 14:07] AlexanderMoskovkin opened #25 "Reorganize client-side scripts"
Split scripts to:
- core.js (or testcafe_core.js)
- runner.js (or testcafe_runner.js)
- ui.js (or testcafe_ui.js)

Each module has documented API. Modules are available via a global variable in `window`.

/cc @inikulin

[2015-08-04 14:12] inikulin commented on #25
Since we will preserve dirs structure in FS we will have:
`core/index.js`
`ui/index.js`
`runner/index.js`

Meanwhile, they will be mapped to the another names by assets manager:
https://github.com/superroma/testcafe-phoenix/blob/master/src/index.js#L24

[2015-08-04 18:48] inikulin opened #27 "Create gulp-publish task"
The task should build sources before publishing and ensure that the NPM user is logged as `devexpress`. Then it should execute `npm publish`. It can perform additional checks, e.g. what CHANGELOG is updated, latest travis build is passing, etc.

[2015-08-05 08:15] AlexanderMoskovkin opened #28 "Move qunit tests runner to a new repository"

[2015-08-05 09:19] inikulin opened #29 "Update eslint to v1.0.0"

[2015-08-05 09:27] inikulin commented on #29
We have eslint/eslint#3226 now. Waiting for fix. :weary:

[2015-08-05 20:11] inikulin opened #30 "Get rid of await*"
`await *` didn't make it: https://github.com/tc39/tc39-notes/blob/master/es7/2015-07/july-30.md#64-advance-async-functions-to-stage-2 :disappointed: So, most likely it will be removed in the future versions of Babel.

Instead of
[code]
use
[code]

\cc @churkin @AlexanderMoskovkin Please, check the presence of this syntax in the hammerhead and browser-natives.

@kirovboris @AndreyBelym @LavrovArtem

[2015-08-06 13:13] #30 closed

[2015-08-06 13:32] inikulin commented on #17
**NOTE**: we need to setup functional tests first

[2015-08-06 17:05] inikulin opened #33 "Browser job completion mechanism is incorrect."
There are two ways which leads to the job completion:

1. All job's test runs are finished.
2. Job's task was aborted

In the first scenario browser requests status an we query job in the front of the queue for the next test run. If job doesn't contain pending test runs any more it returns `null` and raises `done` event. `done` event handler in the `BrowserConnection` removes job from the queue. B

[2015-08-06 20:05] inikulin commented on #33
Thinking of this more I think we have all control flow messed up currently.
I propose following changes:

1.  `BrowserJob` should be considered `done` not then it's `nextTestRunUrl` getter is triggered and `testRunQueue` is empty. Instead we should have `pendingTestRunCount` variable which is initially equals to the `testRunQueue.length` and gets decremented once `BrowserJob` raises `test-run-done

[2015-08-06 21:40] inikulin opened #34 "Setup AppVeyor for the server tests"
In addtion to Travis it would be nice to have [AppVeyor](http://www.appveyor.com/) tests for server, so will be able to test Windows specific things. @AlexanderMoskovkin Is it possible to teach our bot accumulate test results from both Travis and AppVeyor?

[2015-08-07 07:23] kirovboris commented on #33
I think it's definitely more clearly and has more semantics.

[2015-08-07 09:24] AlexanderMoskovkin commented on #34
I'll research this

[2015-08-07 09:30] AlexanderMoskovkin commented on #34
In fact we have no browser-specific server tests now. We will can reopen the issue if necessary.

[2015-08-07 09:35] inikulin commented on #34
@AlexanderMoskovkin it's not about browser-specific, but Windows-specific things in our code. Let's keep it open for now.

[2015-08-07 09:39] AlexanderMoskovkin commented on #34
sure, it was a misprint

[2015-08-07 10:10] #20 closed

[2015-08-07 12:12] AlexanderMoskovkin commented on #33
The last variant looks nice.

[2015-08-10 09:26] inikulin opened #37 "Remove `es7.classProperties` from the code base."

[2015-08-11 07:25] #33 closed

[2015-08-11 12:37] inikulin opened #38 "Stack traces for the client errors."
We can't do it currently since we need to remove stack frames related to our code (especially,  Hammerhead). But this task is complicated by the fact that stack formats differs from browser to browser. However there are some libraries what unifies stack traces.

[2015-08-21 12:49] inikulin opened #42 "`build` gulp task should always run `lint` task"

[2015-08-25 10:11] inikulin commented on #28
Closed via superroma/testcafe-hammerhead#41.

[2015-08-25 10:11] #28 closed

[2015-08-25 15:18] #29 closed

[2015-08-25 15:21] inikulin opened #44 "Switch to the NPM version of the hammerhead"
Requires superroma/testcafe-hammerhead#25 resolution

[2015-08-28 14:31] inikulin opened #47 "Get rid of 'jobOwnerToken' and 'jobUid' in the code"
As a continuation of the superroma/testcafe-hammerhead#65 we need to remove `jobUid` and `jobOwnerToken` from the client code and replace it with the `sessionId`. We need to do that for the tests and server (if we have anything there) as well.

[2015-08-31 10:32] inikulin commented on #44
#47 is blocking

[2015-09-01 11:20] inikulin opened #48 "Implement tty-dectorator for test errors, plug-in decorators and formatter into reporters"
- [x] We should pass user-provided `errorDecorator` to the `format`, currently it's called `formatter` in the runner and reporter
- [x] If `decorator` is not provided fallback to the `tty` or `plain-text` decorators (depends on the type of the output stream)
- [x] Put decorators into the `decorators` dir in the sources
- [x] Consider moving `src/test-error` content to the `src/reporters/errors`
-

[2015-09-01 13:56] inikulin commented on #48
And we should add special comment (see: https://github.com/superroma/testcafe-phoenix/blob/master/src/runner/test-run/command.js#L1) to all files which will be used by the client as well (e.g. `type.js`)

[2015-09-01 17:02] AlexanderMoskovkin opened #50 "Refactor client scripts (move scripts to ES6)"
1) Linting (scripts and tests)
2) Constants (const keyword, new naming format)
3) Classes (use where possible, any object which has state now or init method or something like this should be turned into the classes and instantiated there necessary)
4) Arrows
5) Promises (get rid of the async module and callbacks)

[2015-09-01 17:03] AlexanderMoskovkin opened #51 "Move any logic from task templates to the scripts"

[2015-09-01 17:04] AlexanderMoskovkin opened #52 "Some of QUnit tests should be replaced with functional tests"

[2015-09-01 17:05] AlexanderMoskovkin opened #53 "Implement QUnit CI"

[2015-09-01 17:06] AlexanderMoskovkin opened #54 "Add a suffix to css rules via Hammerhead"
Now we do it in the gulp task

[2015-09-01 17:06] inikulin commented on #50
We need to get rid of callbacks as well and use promises instead

[2015-09-02 07:49] AlexanderMoskovkin opened #55 "Test DXperience demos"
We can check that the module works with this

[2015-09-02 07:50] AlexanderMoskovkin opened #56 "Get rid of jQuery in scripts"
- [x] Get rid of util jquery functions using
- [x] Get rid of jquery using for create, select  and manipulate with dom-elements
- [x] Get rid of jquery binding for 'ready' and 'load' events
- [ ] Use Sizzle for getting of elements for actions
- [ ] Get rid of jquery

[2015-09-02 07:51] AlexanderMoskovkin opened #57 "Get rid of shared constants"
use error types from https://github.com/superroma/testcafe-phoenix/blob/master/src/test-error/type.js,
test run service message commands from https://github.com/superroma/testcafe-phoenix/blob/master/src/runner/test-run/command.js,
worker commands from https://github.com/superroma/testcafe-phoenix/blob/master/src/browser-connection/command.js

[2015-09-02 14:08] AndreyBelym opened #58 "Review rules after upgrading eslint to 1.x"
From [Migrating to 1.0.0](http://eslint.org/docs/user-guide/migrating-to-1.0.0.html):
The most important difference in v1.0.0 is that all rules are off by default. When using --init, your configuration file will automatically include the following line:
[code]
This setting mimics some of the default behavior from 0.x, but not all.
These rules are no longer on by default, so you should review your

[2015-09-02 14:43] inikulin commented on #58
We need this for the browser-natives as well

[2015-09-02 14:45] AlexanderMoskovkin commented on #58
Yes, @AndreyBelym have created issues for all our projects

[2015-09-02 14:49] #25 closed

[2015-09-03 13:35] AlexanderMoskovkin opened #60 "Get rid of Javascript Executor"

[2015-09-03 14:27] #58 closed

[2015-09-04 14:13] #60 closed

[2015-09-11 09:17] #57 closed

[2015-09-15 20:48] inikulin opened #64 "We need to rethink client (once again)"
There are couple of things I don't like in our client right now and which we should rethink before new API implementation:
- Create concept of `autowait` which will include current `action-barrier` code, page loads etc. and make it optional
- I don't understand current responsibilities of the `client/runner/runner.js`, currently it looks like a god-object and existence of the `test-iterator` makes

[2015-09-15 21:00] inikulin opened #65 "Add node v4 test configuration"

[2015-09-16 11:31] AlexanderMoskovkin opened #66 "Get rid of the old browser inactivity detection mechanism"

[2015-09-16 11:37] inikulin commented on #66
NOTE: It's quite important to do that ASAP, because long tests will cause browser disconnection right now, since we've removed old ping mechanism.

[2015-09-16 13:02] inikulin commented on #66
@AlexanderMoskovkin Refactor shared browser-related functionality into `src/client/browser/index.js` as we discussed. And move idle page code to `src/client/browser/idle-page`

[2015-09-16 14:56] AlexanderMoskovkin commented on #66
We should not go to the Idle page between tests now. I'll do it with this refactoring

[2015-09-18 10:12] inikulin opened #68 "We need to figure out coloring for the errors in reports."
We need some kind of spike project which will generate message for all errors in context of different reporters to figure out best coloring for the `ttyDecorator`.
\cc @kirovboris @VasilyStrelyaev

[2015-09-18 14:14] AlexanderMoskovkin commented on #47
FYI: we have `jobUid` just in the client-tests. We will get rid of this and close the issue after hammerhead will be published in npm

[2015-09-21 08:12] AlexanderMoskovkin opened #70 "Client-side refactoring: use `hammerhead` instead of `hammerheadAPI`"

[2015-09-21 10:45] AlexanderMoskovkin opened #71 "Use `es6-promise` module for the promises"
It's necessary to use the same module with the `Promise` class on the client and server sides. The `promise` module have no implementation for the client-side

[2015-09-22 09:26] AlexanderMoskovkin opened #72 "Incorrect runner behavior when tests list is empty"
1) `runner.src([]).run()` - should not open a browser until all tests are not compiled. Because if compilation fails we end up with the hanging open local browser connections.
2) `runner.src(someTests).filter(()=>false).run()` - runner crashes with a js error now

[2015-09-22 09:43] #66 closed

[2015-09-23 10:26] AlexanderMoskovkin opened #75 "Tests requires cache doesn't work properly"
When several test files from the `runner.src(files)` argument require the same file, Compiler reads this file for each test file (but should read it once, save it to the cache and then read from the cache).
It occurs because of Compiler process all files in parallel.

[2015-09-23 10:33] AlexanderMoskovkin opened #76 "Implement Functional CI"

[2015-09-23 10:58] AlexanderMoskovkin opened #77 "Create 'dev' build option"

[2015-09-23 13:13] inikulin opened #78 "Don't allow es6-promise pollute `window` in client scripts"
see: https://github.com/superroma/testcafe-hammerhead/blob/master/Gulpfile.js#L135

[2015-09-24 09:38] inikulin opened #80 "Let test fail on first failed assertion?"
Is it really usable to keep test running if assertion is already failed?

Pros:
- Simplify our code (no more fatal/non-fatal errors)
- Cleaner reports
- Possibly faster test runs

Let's discus \cc @churkin @AlexanderMoskovkin @kirovboris @miherlosev @LavrovArtem @arubtsov @AndreyBelym  @VasilyStrelyaev @MargaritaLoseva

[2015-09-24 10:29] kirovboris commented on #80
I think we should do it. If assertion failed, the page has unexpected state and next actions doesn't make sense.

[2015-09-24 10:37] AlexanderMoskovkin commented on #80
I don't like it. Usually you have several assertions in the one step after some actions. For example if I have 5 assertions I would like to now they all are failed after one test run (not after 5 runs). Especially it's actual during test creating. It's actual for CI also. It takes more time to run tests and I would like to see all the problems after just one run.
Have you seen this approach in oth

[2015-09-24 10:53] kirovboris commented on #80
Anyway failed assertion is the same error like failed action. We can check the start of action, e.g. click the button, but only assertion can check - is it working or no. We should not separate fatal/non-fatal errors.

[2015-09-24 10:55] inikulin commented on #80
@AlexanderMoskovkin Yep, actually nearly **all** frameworks follow this approach. More likely first assertion will show you what's going wrong and often other fails occurs because of "avalanche" effect. Haven't seen useful multiple failed assertions yet, IMO it's just pollutes the output.

[2015-09-24 11:06] MargaritaLoseva commented on #80
Сan we create the Stop on error option? If the option is enabled, test execution ends if an error occurs.

[2015-09-24 11:14] helen-dikareva opened #81 "Implement possibility to skip some test/tests depends on browser"

[2015-09-24 11:17] helen-dikareva opened #82 "Implement possibility to set expected assertion count in test"
Something like expect(assertion_count)

[2015-09-24 11:50] inikulin commented on #81
Currently we think it would be nice to have something like this in new API:
[code]

There `browserInfo` contains UA string, alias and version.

[2015-09-24 11:55] AndreyBelym commented on #80
Some frameworks stops execution after failed assertion(using default assertion mechanism), examples are [JUnit](http://stackoverflow.com/questions/10221891/continuing-test-execution-in-junit4-even-when-one-of-the-asserts-fails), [Visual Studio Team System](https://social.msdn.microsoft.com/Forums/en-US/e36fde7e-0d2b-43f2-92dd-de04e3bfb370/continuing-test-execution-after-an-assert-fails?forum=vstst

[2015-09-24 14:28] #42 closed

[2015-09-24 15:02] inikulin commented on #48
Closed via #45 and #63

[2015-09-24 15:02] #48 closed

[2015-09-24 15:03] inikulin commented on #34
I don't think we need it. Closing for now.

[2015-09-24 15:03] #34 closed

[2015-09-25 09:33] AlexanderMoskovkin opened #84 "Build bot should add a warning to a pr if it doesn't content the close issue directive in the description"

[2015-09-25 09:41] AlexanderMoskovkin opened #85 "Support the 'release' issue"
Build bot should recognize the issue with a special 'release' title and create a comment in the issue with list of issues closed after the last release and the guide 'what you should do before release'

[2015-09-28 11:34] inikulin commented on #76
Closed in favor of #52

[2015-09-28 11:34] #76 closed

[2015-09-28 13:32] inikulin commented on #68
Now then we have design viewer let's work on this issue \cc @kirovboris @MargaritaLoseva @VasilyStrelyaev @churkin @AlexanderMoskovkin @AndreyBelym @arubtsov @LavrovArtem

[2015-09-28 13:43] inikulin opened #86 "`xunit` and `json` reporters should always use plain-text decorator"

[2015-09-28 13:48] inikulin opened #87 "Word wrapping is broken in reporters in Windows TTY"
![1](https://cloud.githubusercontent.com/assets/453071/10137123/ae19c020-6600-11e5-8401-d9dfa5517fca.png)

[2015-09-29 09:51] inikulin commented on #27
Release seems like a more complex, so it better be performed manually via check lists generated by bot. So, closing in favor of #85

[2015-09-29 10:02] AlexanderMoskovkin commented on #85
Some updates:
- the issue will have the `release` label;
- bot should create a comment with the checklist 'what should you do before release';
- bot should create a comment with list of issues closed after the last release;
- bot should create a link to regenerate the list of the issues

[2015-09-29 11:46] #87 closed

[2015-09-29 12:01] inikulin opened #90 "Error message should have indent with the length of it's prefix"
![2](https://cloud.githubusercontent.com/assets/453071/10163343/f6aba370-66ba-11e5-996f-75f3220035cf.png)

[2015-09-29 12:48] AlexanderMoskovkin commented on #25
test

[2015-09-29 13:03] inikulin commented on #85
* Bot should suggest version number based on list (reading package json and analyzing API MODIFICATION LEVEL labels)
 * Issues list should contain information about API modification level
 * Bot should create warning comment if commit in PR doesn't have `closes/fixes/fix` directives
 * Bot should create comment which warns about missing `API MODIFICATION LEVEL` label once the issue gets closed. It

[2015-09-29 13:29] inikulin opened #92 "Enable `master` branch protection once we move to the organization repo"
https://help.github.com/articles/about-protected-branches/

[2015-09-29 19:42] inikulin opened #93 "Implement browser idle page UI"

[2015-09-30 11:06] #86 closed

[2015-10-01 09:56] AlexanderMoskovkin commented on #85
- when an issue with the `documentation required` label is closed Bot should open a new issue ('Create documentation for ...') and assign it to the chief technical writer ( @VasilyStrelyaev for now)
- when the `release` issue is opened Bot should create a checklist with opened `documentation` issues

[2015-10-01 09:58] inikulin commented on #85
@AlexanderMoskovkin We need also task which will ping developer if label is not set (like for the API modification level labels)

[2015-10-01 10:01] #78 closed

[2015-10-01 10:14] AlexanderMoskovkin commented on #85
updated the previous comment

[2015-10-05 08:34] #37 closed

[2015-10-05 11:16] #90 closed

[2015-10-05 11:19] inikulin commented on #68
Now, then all report-related bugs are fixed we need to resolve this one \cc @VasilyStrelyaev @MargaritaLoseva

[2015-10-05 12:04] inikulin opened #98 "Prevent caching of heartbeat and connection routes of the browser connection gateway"

[2015-10-05 12:45] #71 closed

[2015-10-05 15:20] VasilyStrelyaev commented on #68
Sure, let me play around with colors a bit

[2015-10-05 15:24] inikulin commented on #68
@VasilyStrelyaev You can change them in https://github.com/superroma/testcafe-phoenix/blob/master/src/reporters/errors/decorators/tty.js FYI

[2015-10-05 15:25] VasilyStrelyaev commented on #68
yep, thx, I figured it out

[2015-10-05 15:25] inikulin commented on #68
@VasilyStrelyaev Possible chalk styles can be found here: https://github.com/chalk/chalk

[2015-10-05 15:27] VasilyStrelyaev commented on #68
that's what I've also figured out =)

[2015-10-05 16:50] VasilyStrelyaev commented on #68
Try this one
https://gist.github.com/VasilyStrelyaev/7f9388870eb92d4432ee

[2015-10-05 16:51] VasilyStrelyaev commented on #68
not so good with <strong> (I can't figure how to show it yet)

[2015-10-05 17:04] inikulin commented on #68
Drag and drop images to the comment text area to insert them

[2015-10-06 09:23] VasilyStrelyaev commented on #68
oh, cool!
then, I have more than one to choose from
1)
![image](https://cloud.githubusercontent.com/assets/11459924/10304758/c8a72aca-6c24-11e5-8bc9-eedae10ab594.png)
2)
![image](https://cloud.githubusercontent.com/assets/11459924/10304797/02686f3a-6c25-11e5-9211-c736ad978ff5.png)

[2015-10-06 09:26] inikulin commented on #68
@VasilyStrelyaev Please, get the latest version, it has fixed formatting. I like the second though.

[2015-10-06 09:34] inikulin commented on #68
We need to separate errors somehow. I've added highlighting (locally for now) of the user agent string to achieve this. Here are couple of examples in shitty windows cmd and cmder (because I was too lazy to switch between mac and win machines :tired_face:)

**1.**
![win1](https://cloud.githubusercontent.com/assets/453071/10305026/5eff2030-6c26-11e5-9e43-06f764918a1a.png)
![term1](https://cloud.git

[2015-10-06 09:37] inikulin opened #100 "Don't escape step code strings"
AFAIK we need this only for the Studio, so let pass this functionality to the decorators (and don't do it in the default decorators
![escape](https://cloud.githubusercontent.com/assets/453071/10305106/ee1a922c-6c26-11e5-9ef0-0cca90a85f52.png)
)

[2015-10-06 10:05] inikulin opened #101 "Remove fixture path from Runner.filter() arguments"
You can filter them before passing to `.src()`

[2015-10-06 10:11] inikulin commented on #68
@VasilyStrelyaev Can you paste here tty code for your second sample?

[2015-10-06 10:51] VasilyStrelyaev commented on #68
https://gist.github.com/VasilyStrelyaev/affda1394c2b3589a62f

[2015-10-06 11:08] #44 closed

[2015-10-06 11:08] #47 closed

[2015-10-06 11:08] #70 closed

[2015-10-06 11:12] inikulin commented on #68
How about this one:
![term3](https://cloud.githubusercontent.com/assets/453071/10307071/51bebe86-6c34-11e5-8990-88dc1834d89a.png)
![win3](https://cloud.githubusercontent.com/assets/453071/10307074/52c61aa4-6c34-11e5-946a-74d3e4ae9e22.png)

[2015-10-06 11:24] inikulin commented on #68
Increased spaces, removed styling for step name

![term4](https://cloud.githubusercontent.com/assets/453071/10307242/f802e23a-6c35-11e5-9867-64cc4dde25f6.png)

[2015-10-06 11:28] inikulin commented on #68
Grayed user agent, but doesn't looks like errors for me
![term5](https://cloud.githubusercontent.com/assets/453071/10307300/792bcc5a-6c36-11e5-8336-6d08ef7a891e.png)

[2015-10-06 11:32] inikulin commented on #68
Minimal reporter:
![term6](https://cloud.githubusercontent.com/assets/453071/10307369/0a477a90-6c37-11e5-9b8a-62d128f1ad09.png)

[2015-10-06 11:43] #98 closed

[2015-10-06 12:37] #68 closed

[2015-10-06 13:17] inikulin opened #104 "Enable screenshots functionality"

[2015-10-06 14:04] inikulin opened #105 "Implement command line interface"
So, I would like to start bikeshedding regarding CLI. Here is how I see it:
[code]

Regarding configurations: the idea is what you can save commonly used configuration with some alias, e.g.:
[code]

Then this configuration will be saved to the `.testcaferc` file in the root of the project.
Optionally you can use `-gc` flag. In that case configuration will be saved to the global configuration file

[2015-10-06 14:15] inikulin commented on #105
Additional questions:
should we use `-f` flag as a primary source of the files to run, or it should be used as the filter instead, so e.g. by default all `.js` files from `test` dir will be run and flag just filters found files. And which dir we should use by default: `test`, `test/functional`, `test/automation`, `test/testcafe` or use search in all of them?

[2015-10-06 14:23] miherlosev commented on #105
looks good.
I think we need use the following syntax:
`testcafe run`  - run all files in all configurations from the current directory
`testcafe run -f test/**/*.js` - run all found files in all configurations

[2015-10-06 14:40] AlexanderMoskovkin commented on #85
- when the `release` issue is opened Bot turns on the `code freeze` mode. It add warnings to all new pull requests. (Optional) We should merge only pull requests with a `pre-release` label during the `release` issue is opened
- when the `release` issue is closed Bot send a comment to all pull requests about that
- Bot adds the release version to closed issues when the `release` issue is closed

[2015-10-06 14:50] inikulin commented on #105
@miherlosev You've missed the idea of configuration. You can't run tests in all configurations, you need to choose one. Configurations are flexible: it can contain just information about browsers, so you need to specify files to run, or it can contain just file paths, and you need to specify browser to run in. It just the way to save some set of options and give it an alias.

[2015-10-06 14:59] miherlosev commented on #105
ok.
`testcafe run` - run all files in default configurations from the current directory

[2015-10-06 15:02] inikulin commented on #105
@miherlosev So, `-f` should work as filter?

[2015-10-06 15:02] inikulin commented on #105
But which files we should run? All files in `test` directory? I bet there will be unit tests as well.

[2015-10-06 15:07] AlexanderMoskovkin commented on #105
The configuration approach is quite clear for me.

Maybe the `--files` flag should be required? I can't find the answer for the question 'which files we should run by default'. I think it's specific for different projects

[2015-10-06 15:08] helen-dikareva commented on #105
Now -f  for --files and -f for --fgrep
And I think shortcuts for
-g, --grep <pattern>           only run tests matching <pattern>
-f, --fgrep <string>           only run tests containing <string>
-fg, --fixture-grep <pattern>  only run fixtures matching <pattern>
-ff, --fixture-fgrep <string>  only run fixtures containing <string>
is not really easy to confuse

[2015-10-06 16:15] inikulin commented on #105
TODOs:
 - ports and hostname options
 - remote browser connections option
 - warn if hostname is not specified but remote browser connection is used

[2015-10-07 10:12] VasilyStrelyaev commented on #105
I like the configurations and they are clear enough to me. And quite useful, I should say.
Not sure that the `--files` flag used as a filter is something I could figure without reading the docs. Maybe it's because I'm totally unexperienced with CLIs. But still it's +1 to @AlexanderMoskovkin from me.
And, finally, regarding what @helen-dikareva noticed.
Does this look better?
`
    -g, --grep <patt

[2015-10-07 10:18] inikulin commented on #105
What about making configurations even more flexible and allow to combine them, e.g.:
I have configuration for browsers and reporter:
[code]
and configuration for target tests
[code]

The I can use them the following way:
[code]
Please, let me know what do you think

[2015-10-07 10:54] AlexanderMoskovkin commented on #105
I like the idea, but will it be clear what the option value will be applied if some option will be in several configurations?

[2015-10-07 13:29] inikulin commented on #105
I would like to summarize our discussion (both here and in person).

1. We decided to get rid of configuration concept. The reasons are:
  - It's not clear how merger options from multiple configurations: it's make sense to override in some cases (reporters, flags) and merge them in case of test files and browsers. This kind of disambiguation will be a reason for user confusion.
  - It's not clear

[2015-10-07 13:39] VasilyStrelyaev commented on #105
lgtm so far

[2015-10-07 13:47] VasilyStrelyaev commented on #105
Shouldn't we add an browser alias to run a task against all installed browsers?
I feel like that's a rare scenario but there's going to be a couple of folks who request it...

[2015-10-07 13:49] inikulin commented on #105
@VasilyStrelyaev It's not a big deal to support:
[code]

[2015-10-07 13:58] AndreyBelym commented on #105
It's more conventional to use `-v` as shortcut for `--version`. I can't remember any other CLI tool, that uses big V, except  Mocha. And our other shortcuts  have small letters first, so `-V` looks out of order a bit.

[2015-10-07 14:03] inikulin commented on #105
@AndreyBelym I'll be happy too, but AFAIK it's not configurable in `commander` which I would like to use.

[2015-10-07 14:11] AlexanderMoskovkin commented on #105
one question,
`-s, --screenshots <path>           enable screenshots and save them to the <path>`
if the options is not set we don't save screenshots even when act.screenshot used?

[2015-10-07 14:23] inikulin commented on #105
@AlexanderMoskovkin AFAIR we've decide to not make screenshots if screenshot path is not provided. We need to decide how to include screenshots in the report BTW, I remember we've got conversation about it with @kirovboris , but I don't remember the conclusion. Anyway, we'll resolve it context of #104

[2015-10-07 14:58] inikulin commented on #105
Some additions:
 - quarantine mode
 - don't fail on JS errors

[code]

[2015-10-07 15:27] AlexanderMoskovkin commented on #72
@inikulin What we should do if specified fixtures contain no tests (or filter reject all the tests)? I suppose we should raise the error similary to the testSourcesNotSet case.

[2015-10-07 15:54] AlexanderMoskovkin commented on #53
We are ready to implement the issue but we have green tests only in 4 browsers now: ff, chrome, ie11, ie10.
- MSEdge: one failed test (because of the hammerhead bug. We will create an issue for that)
- ios (safari, ipad, ios): about 5 failed tests
- ie9: several failed tests
- android: 2 failed tests

We can implement the issue now and add just 4 browsers to qunit-harness settings. Then we create

[2015-10-07 20:24] inikulin commented on #53
I like the first option: get things up and running now at least in 4 browsers, then create separate issues for each browser.

[2015-10-08 08:27] VasilyStrelyaev commented on #105
nice

[2015-10-08 12:31] LavrovArtem opened #108 "Add eslint rules for the arrow syntax"
[code]
see: superroma/testcafe-hammerhead#173

```babel/arrow-parens``` requires https://github.com/babel/eslint-plugin-babel

[2015-10-08 12:36] inikulin commented on #108
@LavrovArtem Seems like you've used another rules, e.g. `babel/arrow-parens`. Moreover it's requires plugin.

[2015-10-09 08:18] inikulin commented on #101
We will need it for the studio to support run via multiselect - files may contain fixtures with the same name. So, closing this.

[2015-10-09 08:18] #101 closed

[2015-10-09 10:19] inikulin commented on #105
A little updated: ports via single option, remotes now specified via browser list (we can have no alises specified, but browser list is required):
[code]

[2015-10-09 14:19] VasilyStrelyaev commented on #105
ok then, if we need to get rid of two-letter flags:
[code]

[2015-10-12 06:23] AlexanderMoskovkin opened #110 "Fix QUnit tests in MS Edge browser"
One test hangs because of the `testcafe-hammerhead` bug ([see on saucelabs](https://saucelabs.com/tests/6413e77d6b50426785f0340275228622))
@helen-dikareva please, create an issue for the `testcafe-hammerhead` with the problem description

[2015-10-12 06:24] AlexanderMoskovkin opened #111 "Fix QUnit test in IE9"
https://saucelabs.com/tests/8554d8721f1740deaef15483f202379b

[2015-10-12 06:25] AlexanderMoskovkin opened #112 "Fix QUnit tests in Android browser"
https://saucelabs.com/tests/fb5739b4a4484cc3a3aa8deffdd1a946

[2015-10-12 06:27] AlexanderMoskovkin opened #113 "Fix QUnit tests in iOS browsers (Safari, iPhone, iPad)"
It seems, problems are the same in all the browsers

https://saucelabs.com/tests/8679452a63474586af2d33eed02a589e
https://saucelabs.com/tests/e7498fd2bde04c80b7e77be44254436a
https://saucelabs.com/tests/5213d7175e8345bc8424ebd2a8e3d5c3

[2015-10-12 08:02] AlexanderMoskovkin commented on #113
I've just found a strange thing for me in [hammerhead browser utils](https://github.com/superroma/testcafe-hammerhead/blob/master/src/client/utils/browser.js#L46).
The `isWebKit` property returns false for `Safari`. It seems some our tests are false because this.

I've found the commit (before the repo was moved to github) by @miherlosev with this change (`!isSafari` flag was added to the `isWebKi

[2015-10-12 08:36] inikulin commented on #105
Thinking of this recently I came to the following set of options:
[code]

It's close to the @kirovboris ideas. IMHO we will have more memorizable flags. `grep` covers contains-functionality anyway. Please, let me know what do you think?
\cc everyone

[2015-10-12 08:39] AndreyBelym commented on #105
Cool, I like it.

[2015-10-12 08:41] VasilyStrelyaev commented on #105
flags are better this way, yeah

[2015-10-12 08:42] AlexanderMoskovkin commented on #105
nice

[2015-10-12 08:43] kirovboris commented on #105
I like it too

[2015-10-12 08:46] miherlosev commented on #105
good

[2015-10-12 10:53] #65 closed

[2015-10-12 10:54] #53 closed

[2015-10-13 12:04] AlexanderMoskovkin opened #114 "The error is appeared when the outStream argument is not set in runner.reporter"
The `Cannot read property 'isTTY' of null` error is appeared

[2015-10-13 12:37] inikulin commented on #114
Odd, base reporter should fall back to the `process.stdout` if `outStream` is not specified

[2015-10-13 12:44] #75 closed

[2015-10-13 12:53] AlexanderMoskovkin commented on #114
Commented in the PR

[2015-10-13 13:00] #114 closed

[2015-10-14 14:05] AlexanderMoskovkin commented on #55
I've run the tests locally. They are success after the https://github.com/superroma/testcafe-phoenix/pull/117 fixes.
Only ASPxUploadControl tests are failed because of https://github.com/superroma/testcafe-hammerhead/issues/193 and https://github.com/superroma/testcafe-hammerhead/issues/195

The next steps are:
- [ ] create a task with this tests on our farm
- [ ] wait for the hammerhead upload is

[2015-10-15 14:43] #72 closed

[2015-10-16 11:09] inikulin commented on #108
I'm working on this.

[2015-10-16 11:51] inikulin opened #119 "Rename `error.code` to `error.type`"

[2015-10-16 12:02] inikulin opened #120 "Hammerhead errors are not handled correctly by reporter"
We need to wrap hammerhead errors, before passing them to reporter

[2015-10-16 12:02] inikulin commented on #120
I'm working on this.

[2015-10-16 12:57] kirovboris opened #121 "Implement the building sprite file from icons, like in testcafe-studio repository."

[2015-10-19 06:17] #120 closed

[2015-10-19 06:17] #108 closed

[2015-10-19 09:30] AlexanderMoskovkin commented on #55
I'm working on this

[2015-10-19 09:31] AlexanderMoskovkin commented on #104
I'm working on this

[2015-10-19 09:55] AlexanderMoskovkin opened #123 "TestCafe runner should not stop the task until local connection browsers are not closed"

[2015-10-19 12:26] inikulin opened #125 "Let `Runner.browser()` accept browser paths"

[2015-10-20 09:48] AlexanderMoskovkin opened #126 "Idle-page reloads repeatedly if the system has hostname in uppercase"
We should call `.toLowerCase()` [here](https://github.com/superroma/testcafe-phoenix/blob/master/src/client/browser/index.js#L38)

[2015-10-20 13:48] AlexanderMoskovkin opened #127 "Reporter failes when a failed assertion contains html markup"
Reporter fails with an error in the following situation:
[code]

In you compare jQuery objects `eq($(div1), $(div2));` reporter writes:
[code]

[2015-10-20 14:03] inikulin commented on #127
\cc @kirovboris Seems like in this case diffs fails

[2015-10-21 10:04] inikulin opened #128 "We should disable coloring in CLI if stdout is not a TTY"

[2015-10-21 11:29] AndreyBelym commented on #123
I'm working on it

[2015-10-21 11:56] #105 closed

[2015-10-21 15:33] AlexanderMoskovkin commented on #104
@inikulin @VasilyStrelyaev please check it and write your opinion regarding the issue:

- we have the following API for screenshots:
[code]

- we don't make any screenshot if `path` is not set

When `screenshotPath` is set:
- `act.screenshot()` in the step:
we save the screenshot to the `{screenshotPath}/{testRunId}/{userAgent}/{stepName}.png` file, for example: `screenshots/1445437598847/Chrome 4

[2015-10-21 15:51] VasilyStrelyaev commented on #104
1) A postfix probably - to preserve the sort order in case steps are numbered? `3.My third step - Fail.png` ? And, yeah, `Fail`, not to confuse with JS errors that can be skipped and all... Agree?
2) I like it. Although, if the test fails on page load, we will have no more screenshots... But, for clarity, we probably should add ` - Page Load`
3) Can it somehow affect the gallery in Control Panel /

[2015-10-21 15:56] VasilyStrelyaev commented on #104
With `@`, hm?

[2015-10-21 15:57] VasilyStrelyaev commented on #104
Or enclose the OS name in brackets

[2015-10-21 15:59] VasilyStrelyaev commented on #104
Why do I use `act.screenshot(filePath)` anyway?
I have the screeshot overwritten each time,,, Strange...

[2015-10-22 08:42] AlexanderMoskovkin commented on #104
It's actual for CI. The typical scenario is: save screenshots during test run on the testing machine (it's maybe a virtual machine), compare them with original images then clear them or save to some storage

[2015-10-22 08:44] AlexanderMoskovkin commented on #104
The studio will works with screenshots as before

[2015-10-22 08:48] inikulin commented on #104
Wrong. You will just specifiy the root dir for your screenshots. Then for each test run dir with the unique ID will be created. So, nothing will be overwritten

[2015-10-22 09:03] inikulin commented on #104
@VasilyStrelyaev @AlexanderMoskovkin Well, if you explicitly specify the path to the screenshot, then it's uniqueness is your burden now. I don't see any problem here.

[2015-10-22 12:15] AlexanderMoskovkin commented on #104
Guys, one more question about reporting with screenshots. We should add screenshot path to errors and to a test that contains `act.screenshot` actions.
So, what do you think about the following reports?
[code]

Should we highlight the `Screenshot:` label and screenshot path with a specific color?

[2015-10-22 12:37] inikulin commented on #104
1)Let's move all error screenshots to the `errors` dir in the test screenshot path, so you will not need to add suffix for them
2)In report just give the path to the test screenshots dir

E.g.:
[code]

[2015-10-22 12:50] AlexanderMoskovkin commented on #104
1) Which option:
`screenshots-path/errors/{testId}/{userAgent}/file.png`
 `screenshots-path/{testId}/errors/{userAgent}/file.png}`
 `screenshots-path/{testId}/{userAgent}/errors/file.png` ?

2) I like it

[2015-10-22 12:53] inikulin commented on #104
screenshots-path/errors/{testId}/{userAgent}/file.png
screenshots-path/{testId}/errors/{userAgent}/file.png}
screenshots-path/{testId}/{userAgent}/errors/file.png ?

I like the third one

[2015-10-22 14:43] VasilyStrelyaev commented on #104
Cool!

[2015-10-27 11:11] #93 closed

[2015-10-28 11:33] AlexanderMoskovkin commented on #113
ping @churkin @miherlosev
What do you think?

[2015-10-28 11:45] AndreyBelym opened #131 "Refactor browser connections monitoring"
Create a separate module that allows to monitor multiple connections at the same time.

Proposal by @inikulin:

[2015-10-28 11:50] miherlosev commented on #113
I think we need to rename `isWebKit` to `isChrome`.
We support only chrome and safari. We don't support other webkit-based browsers

[2015-10-28 11:52] inikulin commented on #113
@miherlosev How about Opera?

[2015-10-28 11:56] AndreyBelym commented on #131
I'm working on it.

[2015-10-28 11:58] AlexanderMoskovkin commented on #113
we have `isOpera` and `isOperaWithWebKit` flags. But `isWebKit` is true for Opera too. So, it's confusion. We should set to rights here.

[2015-10-28 12:05] miherlosev commented on #113
I think we need to drop support Opera with old non-webkit engine, remove `isOpera` and rename `isOperaWithWebKit` to `isOpera`.
If we support all webkit-based browsers then need to revert my change (`!isSafari` for `isWebKit` check)

[2015-10-28 12:11] inikulin commented on #113
Let's do this

[2015-10-28 12:13] inikulin commented on #113
Stop, here is the deal: currently only Safari uses WebKit. Chrome, Opera and Yandex Browsers uses Blink - fork of WebKit which is currently is quite distinct from WebKit.

[2015-10-28 12:13] inikulin commented on #113
Gosh, that's why I'd like to see feature detection instead of this flags.

[2015-10-28 13:02] helen-dikareva opened #132 "TestRunning waits for cancelled xhrs"
T233907

[2015-10-28 13:09] helen-dikareva opened #133 "Click on an 'option' element does not trigger the 'change' event in the 'select' element with optgroups"
T280587

[2015-10-28 13:12] helen-dikareva opened #134 "The focus event's handlers are not called after a click on an iframe's contenteditable body"
T235186

[2015-10-28 13:18] helen-dikareva opened #135 "An error occurs when we try to call 'window.setTimeout' for a removed iframe (in the document.ready event handler in IE11)"
T279846

[2015-10-28 13:20] helen-dikareva opened #136 "Tests that employ the focus functionality fail when run in several browsers"
T285078

[2015-10-28 13:31] helen-dikareva opened #137 "The last hovered element is not saved between move actions"
T286582

[2015-10-28 13:40] helen-dikareva opened #138 "We need to avoid scrolling that happens during the click action in IE and Safari after the element's parent with 'tabIndex' is focused"
T292365

[2015-10-28 13:52] helen-dikareva opened #139 "The 'Find next focusable' mechanism (Tab key) doesn't skip elements with 'display=none' in IE and Firefox"
T297258

[2015-10-28 13:56] helen-dikareva opened #140 "We ignore browser dialogs that occur during the delay between steps"
T297711

[2015-10-28 13:57] AlexanderMoskovkin opened #141 "Add Chrome and Firefox MacOS browsers to the SauceLabs browse matrix"
https://github.com/superroma/testcafe-hammerhead/issues/158

[2015-10-28 13:59] AlexanderMoskovkin opened #142 "Move to testcafe-hammerhead v.2.x.x"

[2015-10-28 14:00] helen-dikareva opened #143 "TestCafe can't reproduce a click on the 'area' element in Firefox"
T299665

[2015-10-28 14:11] helen-dikareva opened #144 "Document elements with 'overflow=hidden' should be considered non-scrollable"
T303226

[2015-10-28 15:01] AndreyBelym commented on #132
I'm working on it

[2015-10-28 16:47] inikulin opened #146 "Browser idle page doesn't send heartbeat"
BTW, we should merge `src/client/browser/idle-page/idle-page.js` and `src/client/browser/idle-page/index.js`.

[2015-10-28 16:48] inikulin commented on #127
ping @kirovboris

[2015-10-28 16:48] inikulin commented on #100
ping @kirovboris

[2015-10-28 16:58] inikulin commented on #142
@AlexanderMoskovkin NOTE: we should close #110 and #54 in context of this. #54 requires some additional work on testcafe side BTW

[2015-10-29 07:28] helen-dikareva commented on #133
I'm working on this.

[2015-10-29 07:57] kirovboris commented on #127
This error causes on client side, reporter mustn't receive html markup, we have to escape html in src/client/runner/api/assertions.js.

[2015-10-29 07:58] kirovboris commented on #100
Ok, i'll fix it ASAP.

[2015-10-29 07:59] inikulin commented on #127
\cc @AlexanderMoskovkin

[2015-10-29 08:28] #123 closed

[2015-10-29 08:35] #132 closed

[2015-10-29 08:53] #133 closed

[2015-10-29 09:14] AlexanderMoskovkin commented on #127
I'll research the issue soon. It works with the 15.1 version, and there were no changes on client in this mechanism. We should understand why it was working before and how it should work now

[2015-10-29 09:23] inikulin commented on #127
@AlexanderMoskovkin There were changes on server side, now we use HTML for templates markup. So, HTML content should be escaped to be presented as the text

[2015-10-29 09:24] inikulin commented on #127
It could be easily done with:
[code]

[2015-10-29 10:39] kirovboris commented on #127
It works with the 15.1, because i had made the escaping all markdown messages on the server side. It was necessary for markdown module. There were some problems with rendering html.

[2015-10-29 11:20] inikulin commented on #142
**NOTE:** There was a breaking change - jsProcessor is not available anymore in Hammerhead API.
Therefore you shouldn't use `jsProcessor.PROCESS_SCRIPT_METH_NAME` in testcafe code. In tests you can use `hammerhead.get()` to reach them. There is only one production code usage: jsProcessor.PROCESS_SCRIPT_METH_NAME. But it can be replaced with
[code]

[2015-10-29 12:03] helen-dikareva commented on #134
I'm working on this.

[2015-10-29 12:03] helen-dikareva commented on #135
I'm working on this.

[2015-10-29 12:24] helen-dikareva commented on #135
It's dublicate of https://github.com/superroma/testcafe-phoenix/issues/136

[2015-10-29 12:24] #135 closed

[2015-10-29 13:09] helen-dikareva commented on #138
It's already fixed https://github.com/superroma/testcafe-hammerhead/pull/56

[2015-10-29 13:10] #138 closed

[2015-10-30 09:40] helen-dikareva commented on #140
I'm working on this

[2015-10-30 09:51] helen-dikareva commented on #143
I'm working on this

[2015-10-30 12:50] helen-dikareva commented on #144
I'm working on this

[2015-10-30 12:57] AlexanderMoskovkin opened #153 "The gulp build is failed with npm@3.x.x"
It's impossible to require 'less@1.3.3' and 'gulp-less@2.4.0' in the same time because of the dependence confusing related to the `gulp-less` module. We can get rid of the `less@1.3.3` module after the https://github.com/superroma/testcafe-phoenix/issues/142 issue closed

[2015-10-30 13:02] AlexanderMoskovkin opened #154 "Restore the nodejs "stable" version in the .travis.yml"
We have to change the `stable` version to `4` because of https://github.com/superroma/testcafe-phoenix/issues/153. We can restore it when the https://github.com/superroma/testcafe-phoenix/issues/142 issue will be closed.

[2015-10-30 13:22] #153 closed

[2015-10-30 13:30] helen-dikareva commented on #143
We'll fix it after https://github.com/superroma/testcafe-phoenix/issues/142

[2015-11-03 07:40] #140 closed

[2015-11-03 07:41] #134 closed

[2015-11-03 07:42] #144 closed

[2015-11-03 10:25] #100 closed

[2015-11-03 13:17] #136 closed

[2015-11-05 11:36] inikulin opened #160 "Uncaught error in JSON.parse which brakes test task"
Run this test:

[code]

Test fail will be reported correctly, however after this error occurs in `JSON.parse` within Hammerhead (can't be reproduced in HHM) and task frozes.

[2015-11-05 11:37] inikulin opened #161 ""Wait for element" progress bar is not shown"

[2015-11-05 11:40] inikulin opened #162 "Remote browser stops on the last page of the test run once task is finished"
If you use remote browser for the testrun via `testcafe remote some-test.js` then test is completed remote just frozes on the last page of the test run. I suppose this happens because we terminate process before remote goes to the idle page. However, I think we should wait till remote rich the idle page and shown disconnection status there.

[2015-11-05 14:20] helen-dikareva commented on #127
I'm working on this

[2015-11-05 17:00] inikulin commented on #125
I guess we should just update `browser-natives`? \cc @AlexanderMoskovkin @AndreyBelym

[2015-11-05 17:04] inikulin commented on #17
I believe with new API tests will be quite stable and as pure statistical tool current approach is good enough. So, closing.

[2015-11-05 17:04] #17 closed

[2015-11-05 20:32] inikulin opened #163 "APIv2 discussion"
This is a general place for the APIv2 discussion. I'll move proposals from wiki to here. Any suggestions/ideas/proposals are welcome.
\cc @DevExpress/testcafe

[2015-11-05 20:33] inikulin commented on #163
# Assertion system

## Use only async assertions
To increase stability I suggest to get rid of sync assertions. With new powerfull assertion system
where will be no need for them. We will continiously execute assertion condition until it will not be met
or timeout will not happen (3sec by default). This is the only possible consensus beetween stability
and speed. E.g.:

[code]

You can use custom

[2015-11-05 20:33] inikulin commented on #163
# Fixture before/after/beforeEach/afterEach

E.g.:
[code]

[2015-11-05 20:33] inikulin commented on #163
# Roles

Use roles to observe results or perform actions from different user perspectives. Also, it's a solution for
the forms authentication problem. Role initialization will be executed once per task on first demand and can be shared among tests and fixtures. Technically role saves created cookies and storages state. When we switch role in tests and if it's not initialized yet then initializatio

[2015-11-06 07:31] AlexanderMoskovkin commented on #125
As I see not just this. We should also replace
`var browserInfo   = installations[alias.toLowerCase()];`
with something like
`var browserInfo = browserNatives.getBrowserInfo(alias)`
[here](https://github.com/superroma/testcafe-phoenix/blob/master/src/runner/bootstrapper.js#L35)

[2015-11-06 12:19] inikulin commented on #125
I'm working on this

[2015-11-06 12:47] inikulin commented on #128
We should correctly determine as well: compare stream with `stdout` and `stderr` and check `tty.isatty(num)`. E.g., with current implementation colors doesn't work in WebStorm

[2015-11-06 14:11] inikulin opened #166 "Task hangs up if error occurs during compilation with legacy compiler"

[2015-11-06 17:27] inikulin commented on #163
# Waits
Autowaits are enabled by default.

*Disable all:*
[code]

*Enable all*:
[code]

*Optional*:
[code]

*Forced (fails test if not occure), default timeout 3sec:*
[code]

[2015-11-09 09:20] inikulin opened #167 "Move legacy compiler to the separate optional package"

[2015-11-09 10:05] inikulin commented on #126
i'm working on this

[2015-11-09 10:15] inikulin opened #168 "Highlight browser list in reporters"

[2015-11-09 10:38] #127 closed

[2015-11-09 11:48] #126 closed

[2015-11-09 11:53] #92 closed

[2015-11-09 12:50] inikulin commented on #128
Arghh, wrong ID in commit was used

[2015-11-09 12:50] inikulin commented on #125
Closed via #165

[2015-11-09 12:50] #125 closed

[2015-11-09 12:52] AlexanderMoskovkin opened #171 "Finish the repo transfer"
including renames:
`superroma` -> `DevExpress`
`testcafe-phoenix` -> `testcafe`

[2015-11-09 14:39] #171 closed

[2015-11-09 15:02] #139 closed

[2015-11-10 07:25] #146 closed

[2015-11-10 07:26] #137 closed

[2015-11-10 11:25] #161 closed

[2015-11-10 12:04] AndreyBelym commented on #119
I'm working on it.

[2015-11-10 12:10] inikulin commented on #168
I'm working on this

[2015-11-10 12:23] inikulin opened #174 "Get rid of es6-promise lib"

[2015-11-10 13:05] inikulin commented on #128
I'm working on this

[2015-11-10 13:10] #119 closed

[2015-11-10 13:18] AndreyBelym commented on #162
I'm working on it.

[2015-11-11 08:35] inikulin opened #177 "Allow running all test in the working dir via CLI"
Once we will have new compiler infrastructure, which will allow us automatically determine test files we should make `<file-or-glob>` parameter optional. By default we should perform lookup in `test` directory

[2015-11-11 11:43] AndreyBelym opened #178 "Do not use real files in Task termination tests"
Because of https://travis-ci.org/testcafe-build-bot/testcafe/jobs/90497694: BrowserConnection gets disconnected before test file has been read.

[2015-11-11 13:51] #178 closed

[2015-11-11 14:32] helen-dikareva opened #180 "We should check if the progress panel exists when TEST_FAILED_EVENT fires"
E.g. for this test:
[code]

[2015-11-12 07:19] #128 closed

[2015-11-12 07:19] #168 closed

[2015-11-12 07:22] #180 closed

[2015-11-12 08:34] inikulin commented on #166
I'm working on this

[2015-11-13 09:48] inikulin opened #184 "All tests which involves heavy mocking should be converted to the functional tests"
Candidates:
- Runner - Task termination tests
- Reporter tests

[2015-11-13 12:00] inikulin commented on #77
By default we should build and run tests in release configuration, unless `--dev` flag is not specified.

[2015-11-13 13:48] helen-dikareva commented on #110
I'm working on this

[2015-11-13 13:48] helen-dikareva commented on #54
I'm working on this

[2015-11-13 13:49] helen-dikareva commented on #142
I'm working on this

[2015-11-13 13:59] #166 closed

[2015-11-13 19:04] inikulin commented on #142
@helen-dikareva List of breking changes: https://github.com/DevExpress/testcafe-hammerhead/issues?q=is%3Aissue+label%3A%22API+MODIFICATION+LEVEL%3A+breaking+changes%22+is%3Aclosed

You can find notes regardings breaking changes in comments.

[2015-11-16 10:42] kirovboris commented on #163
# Conditional statements

I suggest to use next syntax:

[code]

```if(func)```, ```elif(func)``` parameter is function, which will used as condition of statement.

[2015-11-16 11:01] churkin commented on #163
Looks harmoniously

[2015-11-16 12:52] inikulin commented on #160
Any news on this?

[2015-11-16 12:54] helen-dikareva commented on #160
It's done, but wait for some commits from @AlexanderMoskovkin

[2015-11-16 13:22] AlexanderMoskovkin commented on #160
we'll fix it when the https://github.com/DevExpress/testcafe/pull/130 issue is closed to avoid merging problems. https://github.com/DevExpress/testcafe/pull/130 is close to be closed =)

[2015-11-16 14:52] churkin commented on #163
How are we going to report about forgotten endif?

[2015-11-16 15:02] inikulin commented on #163
@churkin Should we?

[2015-11-16 15:05] churkin commented on #163
@inikulin  I think this is a potential error when the number of `if` does not match the number of `endif`

[2015-11-16 15:05] inikulin commented on #163
Well, we can raise error then.

[2015-11-16 15:19] churkin commented on #163
Oh, we have to build a virtual logical tree and catch structure errors. Also with loops, if we will implement them.

[2015-11-16 15:21] inikulin commented on #163
@churkin we will need virtual control flow tree anyway

[2015-11-16 15:26] churkin commented on #163
@inikulin I was hoping we greatly simplify the analysis of the test code structure with the new API.

[2015-11-16 15:30] inikulin commented on #163
Tree will be built in runtime via API calls, syntax analysis will not be involved

[2015-11-17 10:21] #104 closed

[2015-11-17 11:36] inikulin commented on #174
Blocking on #142

[2015-11-17 11:47] AlexanderMoskovkin opened #186 "The durationMs field value in the test report is incorrect"
/cc @inikulin
In fact we write the `endTime` value to the `durationMs` field because of the `reportItem.startTime` is `null`. Here are reports of a simple test run:
json
[code]
xunit
[code]

[2015-11-17 11:51] inikulin commented on #186
I don't get it. How that's possible?

[2015-11-17 11:58] inikulin commented on #186
Got it. `test-run-start` is not raised by `BrowserJob`

[2015-11-17 12:51] inikulin commented on #113
@miherlosev Any progress on this?

[2015-11-17 13:06] miherlosev commented on #113
I think we need to revert my changes (https://github.com/DevExpress/testcafe/issues/113#issuecomment-147323077).
Then we need to create separate issue for feature detection instead of browser detection

[2015-11-18 09:08] helen-dikareva opened #188 "Uncomment assertion in qunit test after update on MS Edge browser version on Sauce Labs"
key-press-simulator-shortcuts-test.js
test^ 'press shift+home in input'

[2015-11-18 09:12] AlexanderMoskovkin commented on #188
Test is fixed on the latest MSEdge build version. But on Sauce Labs just the 20.10240 version is available now. We have to wait for the update

[2015-11-19 13:58] AndreyBelym commented on #111
I'm working on it.

[2015-11-23 07:54] #111 closed

[2015-11-23 09:15] inikulin commented on #186
I'm working on this

[2015-11-23 11:31] #186 closed

[2015-11-23 13:08] inikulin opened #192 "Get rid of CLI `--report-path` parameter"
Write non-reporting data to the `stderr`. This will allow us to get rid of `--report-path`, because we'll be able to use streaming. Use chalk's color detection.

[2015-11-25 13:46] AndreyBelym commented on #112
I'm working on it.

[2015-11-26 10:11] VasilyStrelyaev commented on #163
Let's try to make assertions grammatically consistent.

If we stick to the *expect smth to* phrase, we would have to add a lot of wording:

`.to.eql(value), .to.eql(func), .to.eql.stored(), .to.eql.element(selector), ... `- deep equality
`.to.be.true` - boolean true equality
`.to.be.false` - boolean false equality
`.to.be.null` - null equality
`.to.be.undefined` - undefined equality
`.to.be.NaN` -

[2015-11-26 12:14] #192 closed

[2015-11-26 12:16] helen-dikareva commented on #188
https://github.com/DevExpress/testcafe/pull/187/files#diff-81b2ac50068bd4a9ca12caedf8146fb8R740

[2015-11-26 12:21] #142 closed

[2015-11-26 12:39] helen-dikareva commented on #110
Closed by https://github.com/DevExpress/testcafe/pull/187

[2015-11-26 12:39] #110 closed

[2015-11-26 12:40] helen-dikareva commented on #54
Closed by https://github.com/DevExpress/testcafe/pull/187

[2015-11-26 12:40] #54 closed

[2015-11-26 15:31] AlexanderMoskovkin opened #195 "The UNKNOWN_ERROR raised when test file is not existed"
Just try to run the following code:
[code]

As a result:
[code]

I suppose we should have something like the `Specified file is not found` error?

/cc @inikulin

[2015-11-26 15:34] inikulin commented on #195
I'll take a look tomorrow

[2015-11-27 08:21] AlexanderMoskovkin opened #196 "Implement report plugins system"
As we (with @inikulin) discussed before `xunit` and `nunit` reports have the differences. So we should implement the `nunit` reporter

[2015-11-27 09:37] inikulin commented on #196
I suggest to implement mechanism for the reporter plugins. It's already implemented in API, we need to figure out how to do this for the CLI.

[2015-11-27 09:49] AndreyBelym commented on #112
This issue depends on DevExpress/testcafe-hammerhead#294.

[2015-11-27 11:00] #160 closed

[2015-11-27 11:01] #143 closed

[2015-11-27 11:03] helen-dikareva commented on #113
I'm working on this

[2015-11-27 11:50] inikulin commented on #195
I'm working on this.

[2015-11-27 12:17] AlexanderMoskovkin commented on #55
The tests run successfully in Chrome, IE11, Firefox and MSEdge on our farm, so I close the issue

[2015-11-27 12:17] #55 closed

[2015-11-27 13:00] #195 closed

[2015-11-27 13:00] AlexanderMoskovkin commented on #141
Closed in the https://github.com/DevExpress/testcafe/pull/199 pull request

[2015-11-27 13:00] #141 closed

[2015-11-27 13:31] #154 closed

[2015-11-27 13:48] AndreyBelym commented on #131
Things we learned after some discussion:
* There are two kinds of connections: local and non-local. When finishing test runner, we must wait until local connections are closed. Also we need to wait for non-local connection going to idle state, if it isn't shared with other runners.

* Local connections must be closed when an exceptions occurs or test is done.

* They belong exclusively to a test r

[2015-11-27 13:52] AndreyBelym commented on #162
The issue has become a duplicate of #131.

[2015-11-27 13:52] #162 closed

[2015-11-28 10:49] helen-dikareva commented on #113
All problems are not related to definition of 'isWebKit' or 'isSafari' was solved

[2015-11-30 09:33] helen-dikareva commented on #113
We'll push required changed after testcafe-hammerhead update. @miherlosev

[2015-11-30 10:06] inikulin commented on #77
I'm working on this

[2015-11-30 13:00] #77 closed

[2015-12-01 07:59] kirovboris opened #204 "Module name in package.json"
We have to specify the "name" directive in package.json. Otherwise we can't install testcafe via npm as github dependency.
/cc @inikulin

[2015-12-01 11:19] #204 closed

[2015-12-01 11:20] inikulin commented on #196
I'm working on this.

[2015-12-01 17:56] inikulin opened #207 "Implement browser provider plugin system"

[2015-12-02 10:19] inikulin opened #208 "Refactor async server tests that uses Promises"
Mocha supports promises out of the box now, so you can write:
[code]
instead of:
[code]

[2015-12-02 12:17] AlexanderMoskovkin opened #209 "Move to testcafe-hammerhead v.3.x.x"
https://github.com/DevExpress/testcafe-hammerhead/pull/310

[2015-12-02 13:17] #209 closed

[2015-12-02 15:04] inikulin opened #211 "Let' unify errors."
Currently we have `Error` objects if we `throw` and plain strings in `error` events. This may cause a confusion. Let's simplify things and always use `Error`

[2015-12-03 11:21] AlexanderMoskovkin opened #212 "Test run failed when the test_config.json has the BOM symbol"
Check also files with helpers and wrappers

[2015-12-03 11:21] AlexanderMoskovkin commented on #212
I'm working on this

[2015-12-03 11:35] inikulin commented on #27
We need `publish` which will rely on build and perform `npm publish`, at least to not forget build things before publishing

[2015-12-03 14:37] #131 closed

[2015-12-03 15:05] AndreyBelym opened #214 "React "onChange" event doesn't fire"
Originally created by @arubtsov

Paragraph element in following sample should reflect user input.

https://gist.github.com/arubtsov/a50fb167c38357de98d4
https://gist.github.com/arubtsov/9580b0e446922bdcb8fc

[2015-12-04 13:12] #212 closed

[2015-12-04 23:55] inikulin commented on #211
@DevExpress/testcafe Can someone else take care of this?

[2015-12-05 00:00] AndreyBelym commented on #211
Ok, I'll do it.

сб, 5 дек. 2015, 2:55, Ivan Nikulin <notifications@github.com>:

[2015-12-05 00:01] inikulin commented on #211
@AndreyBelym thanks!

[2015-12-07 10:32] AndreyBelym commented on #214
I'm working on it.

[2015-12-07 14:47] AndreyBelym commented on #214
Depends on DevExpress/testcafe-hammerhead#318.

[2015-12-07 15:29] #112 closed

[2015-12-07 18:04] inikulin commented on #113
Is there any pending blocking changes in hammerhead left?

[2015-12-08 08:02] helen-dikareva commented on #113
No, to facilitate merging I'll push it after first part of https://github.com/DevExpress/testcafe/issues/56 which almost ready

[2015-12-08 14:23] georgiy-abbasov opened #216 "TestCafe.close() issue"
The process is still hanging after the gulp task is finished.

To reproduce this issue, create a gulp task that:
1. Creates TestCafe, a TestCafe runner instance and a browser connection.
2. Establishes the browser connection (for example, opens connection.url in the local browser)
3. Closes TestCafe.

After closing TestCafe and finishing the task, the node process is still hanging for about 2 minu

[2015-12-08 14:24] inikulin commented on #216
We need to unref all timers used

[2015-12-08 14:25] inikulin commented on #216
Just use unref for hearbeat timeouts (and other timeouts, if we have them): https://nodejs.org/api/timers.html#timers_unref @DevExpress/testcafe can someone take care of this?

[2015-12-08 14:46] AlexanderMoskovkin commented on #216
I'll do

[2015-12-09 08:49] helen-dikareva opened #217 "Fix Qunit tests for latest Google Chrome (47.0.2526.73)"

[2015-12-09 10:58] helen-dikareva commented on #217
I'm working on this

[2015-12-09 13:13] helen-dikareva commented on #217
Fix done, we're waiting for chrome 47 version on sauce labs

[2015-12-09 14:10] #27 closed

[2015-12-09 14:10] #196 closed

[2015-12-09 14:16] inikulin commented on #208
I'm working on this

[2015-12-09 14:38] inikulin commented on #207
**Documentation notes**
Document `PluginHost` API: helper methods, chalk, moment.
Document custom error decorator.
Document `noColors` option.

[2015-12-10 10:46] inikulin commented on #174
I'm working on this

[2015-12-10 11:25] #208 closed

[2015-12-10 13:05] AndreyBelym commented on #214
The issue in `hammerhead` was just fixed, so this issue can be closed after publishing a next version of `hammerhead`.

[2015-12-10 13:07] AndreyBelym commented on #211
I'm working on it.

[2015-12-10 13:09] inikulin commented on #214
@churkin Any plans for release?

[2015-12-10 13:49] #211 closed

[2015-12-10 13:52] #174 closed

[2015-12-10 14:02] kirovboris opened #223 "Implement the selectors for React js components"

[2015-12-10 14:04] kirovboris opened #224 "Implement testcafe browser provider for the electron(atom shell) applications testing"

[2015-12-11 12:26] #217 closed

[2015-12-11 13:09] georgiy-abbasov commented on #52
After the research we have an interface that we are going to implement for functional tests running.

/cc @inikulin Is it all ok?

[Implement functional harness](https://github.com/AlexanderMoskovkin/testcafe-phoenix/pull/1#issuecomment-163663119)

[2015-12-11 13:12] inikulin commented on #52
@georgiy-abbasov Yay, looks like a long reading. I'll review on Monday if you wouldn't mind? Need a clear head for this.

[2015-12-11 13:12] inikulin commented on #52
@georgiy-abbasov Can you ping me then, please?

[2015-12-11 13:18] georgiy-abbasov commented on #52
@inikulin, ok, we will discuss it together on Monday.

[2015-12-11 13:33] inikulin commented on #167
I'm working on this

[2015-12-11 13:52] AlexanderMoskovkin commented on #52
@georgiy-abbasov Please write here the comments where we describe the interface you've written about.  Don't force guys to look at our working long issue. Put the main things to this issue

[2015-12-11 14:25] georgiy-abbasov commented on #52
####  testcafe-functional-harness

Allows to run functional tests in local browsers or on SauceLabs.

##### What it's doing
1) Start server for test pages.
2) Open the specified browsers (locally or on SauceLabs).
3) Run mocha tests.
4) Close the browsers and stop the server after the tests.

##### Install:
`$ npm install testcafe-functional-harness`
##### Usage:

[code]

[2015-12-11 14:25] georgiy-abbasov commented on #52
#### TestCafe

##### Gulpfile.js

[code]

#### test/functional/harness.js

##### What it's doing:
1) Create testcafe instance from the sources.
2) Exports testcafe and browsersInfo for test-runner.
3) Run tests via testcafe-functional-harness.
#### test/functional/test-runner.js
##### What it's doing:

1) Provides the runTests function that runs testCafe tests via the testCafe instance from harnes

[2015-12-11 14:30] inikulin commented on #52
[code]
BTW, maybe we can get rid of this part:
[code]
By encapsulating it in `runTests`, e.g.:
[code]

Also, maybe if test name is explicitly specified we could return just this test's error, so it will be:
[code]
What do you guys think?

[2015-12-14 07:15] AlexanderMoskovkin commented on #52
I suppose, it'll be useful. @georgiy-abbasov let's implement this. If we specify the test name, `err` - it is a string with an error. It we specify just fixture - it's a dictionary like now.
The `shouldFail` flag I like too

[2015-12-14 13:34] AndreyBelym commented on #214
Fixed in `testcafe-hammerhead@3.1.2`.

[2015-12-14 13:34] #214 closed

[2015-12-15 12:26] kirovboris opened #228 "Allow to disable word wrapping for the formatError in the report plugins"
/cc @inikulin

[2015-12-16 08:38] #167 closed

[2015-12-16 11:00] inikulin commented on #228
I'm working on this

[2015-12-16 11:57] #228 closed

[2015-12-16 12:35] AndreyBelym opened #232 "Module `pify` must be a production dependency"
Now we have it in devDependencies.

[2015-12-16 12:38] inikulin commented on #232
Fixed in #231

[2015-12-16 12:38] #232 closed

[2015-12-18 15:03] AndreyBelym opened #234 "Value of a <select> element must be updated before emitting 'change' event in IE and Edge"

[2015-12-21 07:37] #234 closed

[2015-12-21 10:58] #113 closed

[2015-12-21 11:05] AlexanderMoskovkin opened #236 "TestCafe hangs when a test fails in the quarantine mode"
[here](https://github.com/DevExpress/testcafe/blob/master/src/runner/browser-job.js#L49) is the cause of the problem. The arguments of the `_createTestRun` function were changed.

@inikulin Server tests require a lot of mocking in this situation. Do we need them now or will we be waiting for functional tests?

[2015-12-21 11:13] inikulin commented on #236
@AlexanderMoskovkin you can write functional test already

[2015-12-21 11:16] AlexanderMoskovkin commented on #236
sure, I mean we can write the test now and push it later with functional harness?

[2015-12-21 11:16] inikulin commented on #236
Yep

[2015-12-21 14:32] inikulin opened #238 "Implement APIv2 compiler"
- [x] Move `TestRun` and `ERROR_TYPE` to `src/legacy`
- [x] Basic compilation with new API
- [x] Tagged templates for `fixture` and `page`
- [x] 'testcafe' lib injection
- [x] Legacy fixture compilation
- [x] New TestRun for new API

[2015-12-21 16:03] AlexanderMoskovkin commented on #236
closed with https://github.com/DevExpress/testcafe/pull/237

[2015-12-21 16:03] #236 closed

[2015-12-22 19:21] inikulin opened #239 "Refactor automations, make them Promised-based, unify their API to serve as the basic building blocks for both API versions"

[2015-12-22 19:23] inikulin opened #240 "APIv2: Implement user actions"
Notes:

- Should accept extended selector (Sizzle), isomorphic functions, isomorphic function results
- Should throw about missing `await` if it's fullfiled without listeners

TODO:

- [x] .click
- [x] .rightClick
- [x] .doubleClick
- [x] .drag
- [x] .dragToElement
- [x] .hover
- [x] .takeScreenshot
- [x] .navigateTo
- [x] .pressKey
- [x] .selectText
- [x] .selectTextAreaContent
- [x] .selectEdita

[2015-12-22 19:24] inikulin opened #241 "APIv2: Implement hybrid functions and `t.eval()`"
- [x] Implement owner test run lookup
- [x] Implement basic functionality
- [x] Errors
   - [x] Hybrid fn is not a function (Globals API Error)
   - [x] Context test run not found (Globals API Error)
   - [x] `async/await` code restricted (Globals API Error)
   - [x] Execution error (~~blocked on strict flow in driver~~)
- [x] Implement `bindTestRun` method
- [x] `t.eval` (~~blocked on execution e

[2015-12-22 19:25] inikulin opened #242 "APIv2: Implement assertions"

[2015-12-22 19:27] inikulin opened #243 "Implement user roles"
# Roles

Use roles to observe results or perform actions from different user perspectives. Also, it's a solution for
the forms authentication problem. Role initialization will be executed once per task on first demand and can be shared among tests and fixtures. Technically role saves created cookies and storages state. When we switch role in tests and if it's not initialized yet then initializatio

[2015-12-22 19:28] inikulin opened #244 "APIv2: Implement frame switching"
- [x] `t.switchToIFrame(selector)`
- [x] `t.switchToMainWindow()`

[2015-12-22 19:29] inikulin opened #245 "Implement new autowaits system"
We need better heuristics for page unloads: currently we always wait at least a second after the action. We've discussed this in person, @AlexanderMoskovkin can you write down proposed algorithm here, please?

[2015-12-22 19:31] inikulin opened #246 "Implement `test.skip`, `fixture.skip`, `test.only` and `fixture.only`"
Update reporters for `skip`:
  - [x] spec
  - [x] list
  - [x] minimal
  - [x] xunit
  - [x] json
  - [x] generator

[2015-12-22 19:32] inikulin commented on #81
Closing in favor of #246

[2015-12-22 19:32] #81 closed

[2015-12-22 19:32] inikulin commented on #64
We are rethinking now =))

[2015-12-22 19:32] #64 closed

[2015-12-22 19:34] inikulin commented on #51
No need for this with new API

[2015-12-22 19:34] #51 closed

[2015-12-23 08:04] AlexanderMoskovkin commented on #239
I'm working on this

[2015-12-24 07:57] helen-dikareva opened #248 "JQuery selectors that returs elements by value of attribute contains URL don't work"
[code]

[2015-12-24 09:14] AlexanderMoskovkin opened #249 "CLI TestCafe crashes when the test contains test cases"
It seems the error is in the reporter (I've tried with `json` and default reporters)
Run any test with `test cases` from the CLI:
[code]

I'll research this a little later if nobody takes it

[2015-12-24 10:06] helen-dikareva commented on #248
It's dublicate of https://github.com/DevExpress/testcafe-hammerhead/issues/340

[2015-12-24 10:06] #248 closed

[2015-12-25 08:58] georgiy-abbasov commented on #249
For now we know the reason of this problem.
[The problem relates to the `testcafe-browser-natives` module](https://github.com/DevExpress/testcafe-browser-natives/issues/58)

[2015-12-25 08:58] #249 closed

[2015-12-29 14:38] AndreyBelym opened #253 "TestCafe terminates when idle page has not finished loading"
Sometimes TestCafe terminates before  remote worker has finished loading of the idle page. It happens because we are emitting `idle` event just before idle page is rendered on the server. So we must wait until idle page is send to client.

[2015-12-29 15:02] AndreyBelym opened #255 "TestCafe server throws an exception if inIFrame target is not found"
By some reason when client raises `emptyIFrameArgument` error it doesn't set `relatedSourceCode` property. Server throws an exception in function `getStepCode`, and hangs until browser is disconnected by heartbeat timeout.

[2015-12-30 10:54] AndreyBelym opened #257 "TestCafe server throws an exception if globalWaitFor failed"
When globalWaitFor is failed, there is no err.relatedSourceCode, so server throws an exception in `getStepCode`.

[2015-12-30 11:02] AndreyBelym opened #258 "Blacklist 'useStrict' in Babel"
Strict mode disallows usage of `callee.caller`. So if a function traverses call stack with `callee.caller`, and TestCafe functions are strict-mode functions, an exception will be thrown. Unfortunately, we have  that nasty kind of a function in DevExpress ASP.Net controls, so we need to disable strict mode in Babel transform options.

[2015-12-30 12:45] inikulin commented on #258
Don't forget about regression test for this one

[2015-12-30 13:15] AndreyBelym opened #260 "Timeout of 25s is too small for `hanged` XHRs"
The [Large Database Demo](https://demos.devexpress.com/ASPxGridViewDemos/DataBinding/LargeDatabase.aspx) uses a long-polling XHR to wait until a database is created on a server. It takes approx. 50s to create it, so hammerhead aborts the XHR. It leads to a test hanging, because demo page doesn't receive response from server.

[2015-12-30 14:49] AndreyBelym commented on #260
Wrong project, it's  DevExpress/testcafe-hammerhead#347.

[2015-12-30 14:49] #260 closed

[2016-01-11 10:06] #253 closed

[2016-01-11 13:47] #258 closed

[2016-01-11 14:05] inikulin commented on #238
I'm working on this

[2016-01-11 14:07] inikulin opened #262 "APIv2: Implement `beforeEach`, `afterEach`"
Test cases:

| beforeEach | test | afterEach |
|----------|----|---------|
|    fail    | skip |    skip   |
|     run    | fail |    run    |
|     run    |  run |    fail |

- Should run `beforeEach` and `afterEach` for all tests in fixture

[2016-01-11 14:08] inikulin opened #263 "APIv2: Figure out duplex server-client communication protocol"

[2016-01-12 09:56] inikulin opened #265 "Switch to Babel 6"
Surprises :tada: :

- [x] Runtime is inserted in the client code despite the `.babelrc` settings.
**Solved:**  The issue was caused by the fact that we disabled runtime only in the `src/client`. `pinkie` module required from `node_modules` so it's used global config instead of  the `src/client/babelrc` (for some reason it's worked fine in babel5). The solution is to move config to `src`, so `node_

[2016-01-12 09:56] inikulin commented on #265
I'm working on this.

[2016-01-12 09:57] inikulin commented on #238
Blocked on #265

[2016-01-12 12:11] AlexanderMoskovkin commented on #257
@georgiy-abbasov is working on this

[2016-01-12 12:11] AlexanderMoskovkin commented on #255
@AndreyBelym is working on this

[2016-01-12 12:22] AndreyBelym commented on #255
Thanks!

[2016-01-12 14:52] #255 closed

[2016-01-13 11:15] AndreyBelym opened #270 "Add API to allow cancellation of a running test"
Implement method `cancel()` for a `Promise`, returned by `Runner.prototype.run`, that will interrupt a test like in a critical error situation:  aborts a task and close browser connections.

[2016-01-13 11:15] AndreyBelym commented on #270
I'm working on it.

[2016-01-13 12:02] #56 closed

[2016-01-13 12:08] #257 closed

[2016-01-13 12:12] AlexanderMoskovkin commented on #263
I'm working on this

[2016-01-13 12:36] AlexanderMoskovkin commented on #163
# New APIv2.1

## Fixture defenition
[code]

or

[code]

## Test, actions and assertions
[code]
## Hybrid functions
[code]

## Roles
[code]

[2016-01-13 14:04] georgiy-abbasov opened #271 "Node shows warning 'Possible memory leak' during run of few tests ."
To reproduce this issue, run next steps:
1. Create TestCafe, a TestCafe runner instance and a browser connection.
2. Establish the browser connection (for example, open connection.url in the local browser or call method ``establish()`` )
3. Run chain
[code]
at least 11 times (simultaneously or sequentially, it doesn't matter).

[2016-01-13 14:16] inikulin commented on #271
This is because of default `EventEmitter` subscribers limit (see: https://nodejs.org/api/events.html#events_emitter_removelistener_event_listener). It's not a big deal to disable this warning. On the other hand, I wonder which emitter shows warning, because everything was designed to avoid big number of subscribers for the emitter. So this require investigation.

[2016-01-13 14:30] georgiy-abbasov commented on #271
I'm working on this.

[2016-01-13 14:39] AlexanderMoskovkin commented on #271
It seems the cause of the problem is [here](https://github.com/DevExpress/testcafe/blob/master/src/runner/browser-set.js#L35). We add a listener for both events (idle and closed) but just one is raised. So, maybe we should remove the second event listener when the first event is raised. @georgiy-abbasov is investigating this

[2016-01-13 14:41] inikulin commented on #271
Need to `cancel` subscriptions once `race` is resolved (see: https://github.com/inikulin/promisify-event)

[2016-01-13 14:47] AlexanderMoskovkin commented on #271
yes, we have a working solution yet. But we've found the same issue in the other place and will resolve it

[2016-01-13 15:19] inikulin commented on #163
I think we should restrict usage of the global `test`, `fixture`, `beforeEach`, etc. only to the test file and don't inject them to the globals on the project level, So, any module that will be require by test file will not be able to declare tests. Meanwhile, things like `Hybrid` and `Role` can be declared and used anywhere, but on the other hand they don't represent the minimal test harness. So,

[2016-01-14 09:15] AlexanderMoskovkin commented on #163
I like this way

[2016-01-14 09:35] miherlosev commented on #163
1)I prefer the following variant:
[code]
2)If Hybrid function executing on client maybe we will name it as `Client` of `ClientCode`.
3)Frame switching is good.
I think we should rename `switchToMain` -> `switchToTop` and add `switchToParent`.
(simular as `window.top` and `window.parent`)
4)Script injection.
I think that name is not clear.
I should be `injectClientScript`, `injectClientScriptForFra

[2016-01-14 09:45] inikulin commented on #163
@miherlosev

Both will be available

I think we should rename switchToMain -> switchToTop and add switchToParent.
(simular as window.top and window.parent)

`top frame` may have different meaning depending in which frame you are currently. Meanwhile. we have only one `main` frame

I think that name is not clear.
I should be injectClientScript, injectClientScriptForFrames, injectClientScriptForPage

[2016-01-14 10:56] #271 closed

[2016-01-14 11:13] AlexanderMoskovkin commented on #163
We need to add native dialogs handling api (`alert`, `confirm`, `prompt`, `beforeUnload`). Will it be look like an action?

[code]

[2016-01-14 11:21] inikulin commented on #163
@AlexanderMoskovkin sure. But I'd prefer to not use predictive model like we had before:
[code]

[2016-01-14 11:22] AlexanderMoskovkin commented on #163
Yeah, i mean the same

[2016-01-14 16:43] VasilyStrelyaev opened #277 "Need the publish task for docs"
Use `gulp-gh-pages` for that. Prompt before publishing.
Do when the docs are ready and it's safe to try it (there is an option for dry run in `gulp-gh-pages` - but do you trust it?).

[2016-01-14 16:49] VasilyStrelyaev commented on #277
And, yeah, consider using  https://github.com/SBoudrias/Inquirer.js/ for prompting

[2016-01-14 17:41] inikulin commented on #163
Guys, just found fundamental issue with our current concept of Hybrid functions.

**The problem:**
Currenlty we just declare Hybrid functions somewhere and execute them without passing them any test run context. So we don't know in which Hammerhead session given Hybrid function should be executed. It became even worse if we think about calling Hybrid function from fixture dependency.

**The soluti

[2016-01-15 07:36] churkin commented on #163
I vote for the first variant

[2016-01-15 07:56] AlexanderMoskovkin commented on #163
I suppose it's critical to distinguish hybrid and common function declarations, so I choose the first.

[2016-01-15 07:58] inikulin commented on #163
I vote for first as well, since it's also looks better in the action calls:
[code]

vs

[code]

However, it's still sucks =(( I was hoping we could create something better

[2016-01-15 08:03] inikulin commented on #163
Well, actually there is a "black magic" way to keep old syntax, without passing `t` explicitly. We can wrap testrun-fn with the function with special name that will contain test run ID. When in Hybrid fn we can traverse up callstack using v8 StackTrace API to determine the test run.
*What's cool about it*: we can keep the old syntax.
*What's not cool*:
- it's may be fragile,
- we will need to intr

[2016-01-15 08:05] miherlosev commented on #163
I prefer the second variant:
[code]
Because for this variant we directly declare that we call hibrid function in the specified test context.
Also it is simular to http://api.qunitjs.com/QUnit.test.

I think for actions we need to create build-in selector instructions:
[code]

[2016-01-15 08:06] churkin commented on #163
I am categorically against mixing hybrid and common functions

[2016-01-15 08:09] churkin commented on #163
The hybrid function is not very obvious concept for a beginner, do not complicate the interface even more

[2016-01-15 08:14] kirovboris commented on #163
I like the first variant too, but i think 'hybrid function'  is still a complicated conception for novice. The term  'hybrid' doesn't associate with the call function on the client side.

[2016-01-15 09:27] #265 closed

[2016-01-15 10:32] AndreyBelym opened #278 "Misprinted ‘this’ in client\runner\step-iterator.js"
Misprint located in [client\runner\step-iterator.js:584](https://github.com/DevExpress/testcafe/blob/master/src/client/runner/step-iterator.js#L584), must be `iterator` for sure. Though it seems to have no impact, `this` points to `window` in that case, that's not nice.

[2016-01-15 10:45] AndreyBelym opened #279 "Current step number is not incremented sometimes when switching to another page"
When client sends `setActionTargetWaiting` service message, and page switching occurs at the same time, sometimes message comes to server after task script was rendered, that leads to execution of last passed test step on a new page. Likely it's because we send message asynchronously.

[2016-01-15 11:10] AndreyBelym opened #280 "Hammerhead aborts XHRs by 25s timeout"
Cause is in DevExpress/testcafe-hammerhead#347.

[2016-01-15 11:51] inikulin opened #282 "Setup greenkeeper.io for automatic PRs on `hammerhead` and `browser-natives` updates"
Use it for built-in reporter updates as well.

See: http://greenkeeper.io/
How to disable it for some deps: https://github.com/greenkeeperio/greenkeeper/issues/47#issuecomment-146474309

We might need it for some other important deps (Babel I guess)

[2016-01-15 14:33] #278 closed

[2016-01-15 14:33] VasilyStrelyaev opened #283 "Docs: a Getting Started tutorial required"

[2016-01-15 14:35] VasilyStrelyaev opened #284 "Docs: Command line interface reference required"

[2016-01-15 14:36] VasilyStrelyaev opened #285 "Docs: Test framework reference required (API v2.1, as we say)"
BTW, can I actually say *test framework reference*...

[2016-01-15 14:37] VasilyStrelyaev opened #286 "Docs: API reference required"

[2016-01-15 14:38] VasilyStrelyaev opened #287 "Docs: some recipes would be quite useful (discussion)"
- [x] Travis-CI + SauceLabs (#775)
- [x] AppVeyor
- [x] Travis-CI with phantomjs or Chrome (you don't need SauceLabs to run test in Chrome)
- [x] Using with Gulp
- [x] Using with Grunt
- [x] Testing on Remote Computers and Mobile Devices
- [ ] Debugging
  - [x] Visual Studio Code
  - [ ] WebStorm
  - [x] Chrome Dev Tools
- [x] "page model" pattern (#724)
- [x] circleci (react, vue, angular)
- [x]

[2016-01-15 14:39] VasilyStrelyaev opened #288 "Docs: Reporter plugin mechanism must be described"

[2016-01-15 14:40] VasilyStrelyaev opened #289 "Docs: Browser provider plugin mechanism must be described"

[2016-01-15 14:44] VasilyStrelyaev opened #290 "Docs: Report test utils should be documented"
Whatever this is... I was just writing down...

[2016-01-15 15:25] inikulin commented on #286
Let's call it "Using TestCafe programmatically" to avoid confusion with the actual test API. With current approach this shouldn't be a common demand to use this thing BTW.

[2016-01-15 15:27] VasilyStrelyaev commented on #286
I thought of *test API* as *test framework*

[2016-01-15 15:29] VasilyStrelyaev commented on #286
To me, API is how you interact with TestCafe from the outside, while tests do this "from the inside".
That's why I was thinking of "TestCafe API" and "Test Framework"
@inikulin

[2016-01-18 14:38] VasilyStrelyaev commented on #286
Anyway, *Using TestCafe programmatically* (i.e., *How to use TestCafe programmatically*) is a name for a how-to topic, a recipe, while we need a name for a reference section.

So, as long as we don't want anything to be confused with *Test API*, that's what my first thought is:
![image](https://cloud.githubusercontent.com/assets/11459924/12393988/348cfb5c-be0a-11e5-9696-9634c4c8c484.png)

@inikuli

[2016-01-18 14:44] VasilyStrelyaev commented on #286
other names, like Test Structure, Assertions, Hybrid Functions, Roles, Reporter Plugins, Browser Provider Plugins, Report Test Utils are just for clarity here - don't take them serious

[2016-01-18 14:45] VasilyStrelyaev commented on #286
...or take, if you can come up with a better name right away

[2016-01-18 15:11] inikulin commented on #286
@VasilyStrelyaev `TEST API` missing `Actions`. ` Report Test Utils` is the part of the `Reporter Plugins` and I'm not sure if it's need dedicated section, since there will be `pluginTestUtils` which are used for plugin testing, so it will be described in context of the plugin creation. `EXTENDING TESTCAFE` should include `Selector extensions` as well.

[2016-01-18 15:21] VasilyStrelyaev commented on #286
@inikulin Ok, thx, updated the TOC
And since we are here to discuss the reference - I guess this time the section names are ok...

[2016-01-19 11:21] #270 closed

[2016-01-19 12:25] AlexanderMoskovkin opened #291 "Add 'Uncaught js error handling' functional tests"

[2016-01-19 12:27] AlexanderMoskovkin opened #292 "Add functional tests for native dialogs handling"

[2016-01-19 12:28] AlexanderMoskovkin opened #293 "Add functional tests for upload"

[2016-01-19 12:29] AlexanderMoskovkin opened #294 "Add functional tests for shared code using"

[2016-01-19 12:30] AlexanderMoskovkin opened #295 "Add regression functional tests"

[2016-01-21 13:00] VasilyStrelyaev opened #297 "Docs: add a landing page"

[2016-01-22 11:54] AndreyBelym commented on #279
I'm working on it.

[2016-01-22 12:35] AndreyBelym opened #301 "No 'trim' in hammerhead.utils"
`hammerhead.utils.trim` was added in `testcafe-hammerhead` by commit [2326fec](https://github.com/DevExpress/testcafe-hammerhead/commit/2326fec8a54ceaa87c98de2a3ae14071624df965#diff-c4d47be494321bcb7989fbc811500f53R77) and since then it is used in `testcafe` [here](https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/key-char.js#L7) and [here](https://github.com/DevExpress/test

[2016-01-22 12:36] AndreyBelym commented on #301
I'm working on it.

[2016-01-22 12:55] AlexanderMoskovkin commented on #301
We will fix this in context of the 'update `testcafe-hammerhead` version' issue, so, I'm closing this

[2016-01-22 12:55] #301 closed

[2016-01-25 13:05] inikulin opened #305 "Implement error reporting for the new compiler"
- [x] Implement source-frame package
- [x] Refactor TestCafe errors
- [x] File reading error
- [x] Stack clean-ups (flagged)
- [x] Compilation error (require, babel, runtime error) (perform stack clean up, show stack in CLI)
- [x] Globals errors (incorrect args, etc.) (record callsites, show stack in CLI)
- [x] CLI support

[2016-01-26 13:41] VasilyStrelyaev commented on #277
Unfortunately, GitHub Pages engine disables all custom Jekyll plugins for safety reasons.
So, if we want to go with automatic anchor links (which I'm going to implement via a plugin), we need to build the website locally and then push it to gh-pages instead of pushing Jekyll sources

[2016-01-26 13:58] inikulin commented on #277
We have task for this already, so it's not a big problem I think

[2016-01-26 14:07] VasilyStrelyaev commented on #277
yep, I just post this as a reminder

[2016-01-26 14:37] #291 closed

[2016-01-27 09:46] #238 closed

[2016-01-27 11:01] inikulin commented on #305
I'm working on this.

[2016-01-27 13:12] VasilyStrelyaev opened #311 "Docs: Make links work when browsing the docs from the GitHub repo"

[2016-01-27 13:14] VasilyStrelyaev opened #312 "Docs: Generate anchors from headers and add a way to copy links to them"

[2016-01-27 15:02] #216 closed

[2016-01-29 11:32] AlexanderMoskovkin opened #315 "Unexpected end of input error appears during the `gulp build` task"
Sometimes the following error appears when the `gulp build` task is running:
[code]

This appears when the `lint` task reads the `package.json` file while the `update-greenkeeper` task is rewriting it.
I propose to use the `fs.writeFileSync` method instead of async version in the `update-greenkeeper` task to avoid this problem and possible collisions with some other task

[2016-01-29 11:46] inikulin commented on #315
Sounds good to me

[2016-01-29 13:33] MargaritaLoseva opened #317 "The Aliases topic"
We need to create a separate topic about aliases and reference to it from the CLI (Browser List) and the programmatical API sections.

[2016-01-29 13:35] inikulin commented on #317
I guess it should be blocking for both pending docs PRs

[2016-01-29 14:21] #315 closed

[2016-02-01 09:35] AlexanderMoskovkin opened #319 "Use 'pinkie@2.0.1'"
The https://github.com/floatdrop/pinkie/pull/13 pr breaks the `pinkie` module in a browser. It was released in the `v2.0.2`. So, we should use the `2.0.1` version.
We can revert this after the https://github.com/floatdrop/pinkie/issues/14 is fixed

[2016-02-01 09:54] #319 closed

[2016-02-03 14:55] georgiy-abbasov opened #326 "Sometimes browsers are hanging on their idle pages during test execution."
It happens when client send service message 'fatal-error', and this deferred object is true:
[TestRun-legacy](https://github.com/DevExpress/testcafe/blob/master/src/legacy/test-run/index.js#L106).

We need some time to investigate this problem.

[2016-02-03 15:13] #279 closed

[2016-02-03 17:39] #326 closed

[2016-02-03 17:41] georgiy-abbasov commented on #326
Looks like the issue duplicated

[2016-02-04 09:17] AlexanderMoskovkin commented on #326
Fixed with #313

[2016-02-04 09:50] AndreyBelym opened #328 "BrowserConnection and BrowserJob interoperation issue in quarantine mode"
When a test fails in quarantine mode, browser goes to idle page, and server hangs.

*Short version:*
We need to refactor how `browserConnection` removes `browserJob` from its `jobQueue`.

*Long version:*
For simplification, let's assume that a `browserConnection` has an one `browserJob` in `jobQueue`, and the `browserJob` has an one `testRun` in `testRunQueue`.

Whats going on when you start test

[2016-02-04 09:56] inikulin commented on #328
Yap, this whole thing is quite fragile. Do you have any ideas about how we can make things better and bulletproof?

[2016-02-04 09:59] AndreyBelym commented on #328
Maybe we need to remove `browserJob` from `jobQueue` when it emits `done`, or when `browserJob.popNextTestRunUrl` returns `null`.

[2016-02-04 10:12] inikulin commented on #328
AFAIK there were some problems with this options already

[2016-02-04 13:35] AndreyBelym opened #329 "Missing errors raised on beforeunload event"
If you have unexpected beforeunload dialog, or expected beforeunload dialog did not appear, no error will be reported since [my last commit](https://github.com/DevExpress/testcafe/commit/f0043dcee3d7db526edff9943e98c96450230103), which changed the way we handle error occuring on beforeunload event: instead of sending it to server and embedding in `task.js` template, it is saved in `TestContextStor

[2016-02-04 13:55] #286 closed

[2016-02-04 14:05] VasilyStrelyaev commented on #317
Fixed by #322

[2016-02-04 14:05] #317 closed

[2016-02-04 15:17] VasilyStrelyaev commented on #163
So, which is the final variant?

[2016-02-04 15:24] inikulin commented on #163
@VasilyStrelyaev initial, without any context. But it's still doubtable and require further research

[2016-02-08 11:10] AlexanderMoskovkin commented on #293
Need to add a new test for the https://github.com/DevExpress/testcafe-hammerhead/pull/403 fix /cc @miherlosev

[2016-02-08 11:12] miherlosev commented on #293
3 functional tests will be added:
1)upload for added element
2)upload for replaced element (Node.replace child method)
3)upload for removed element.

[2016-02-09 07:16] AndreyBelym commented on #280
Fixed in hammerhead.

[2016-02-09 07:16] #280 closed

[2016-02-09 11:35] georgiy-abbasov opened #336 "Incorrect error message while uploading non-existing files."
Before now, when we tried to upload non-existing files, their names figured in error message.
For now, name for invalid file replaces with null.
[Error message](http://content.screencast.com/users/GeorgeZA/folders/Jing/media/c4acb238-68be-4dba-94c6-6790946aef19/2016-02-09_1358.png)

[2016-02-09 14:19] helen-dikareva opened #337 "Fix logic for getting elementFromPoint to raise event in automations"
May be we should not get sended to action element instead of topElement if elementFromPoint method returs null.

[2016-02-09 14:22] AlexanderMoskovkin commented on #337
We don't handle in automations the situation If an action target element is out of the screen (position: absolute, left: -100px) and raise event for this element or skip it silently. We should raise an error in this case because in fact we can't run automation for such element

[2016-02-09 15:46] #336 closed

[2016-02-10 10:24] AlexanderMoskovkin opened #340 "Fix unstable /fixtures/runner/api/press-test.js (qunit)"
It seems the tests fails frequently on OS X and Linux:

https://travis-ci.org/testcafe-build-bot/testcafe/jobs/108036003
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/108037862
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/108047688
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/108055300
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/108238796

[2016-02-10 13:19] georgiy-abbasov opened #341 "Incorrect progress bar filling while uploading a file through non-existing element"
When we try to upload a file using a non-existent element, the progress bar doesn’t fill up while waiting for the element to appear.
[Screencast](http://screencast.com/t/MjQvIFzo)

[2016-02-10 14:23] AlexanderMoskovkin commented on #282
done

[2016-02-10 14:23] #282 closed

[2016-02-10 14:54] georgiy-abbasov commented on #341
After some research it was found out, that css on test pages can extend testcafe-client-ui properties, so, it was a problem with the test page.

[2016-02-10 14:55] inikulin commented on #341
It's bug in our stylesheets then

[2016-02-10 14:58] AlexanderMoskovkin commented on #341
@inikulin the issue reproduced if add the following style rule on the page:
[code]
We can fix it but it looks unreal. We can create a lot of such cases:
[code]
etc..

[2016-02-10 15:01] inikulin commented on #341
I don't get it. We have a generic reset rule. Why we can't add
[code]
to it?

[2016-02-10 15:04] AlexanderMoskovkin commented on #341
we can

[2016-02-10 15:09] inikulin commented on #341
awesome :smile:

[2016-02-16 07:51] #340 closed

[2016-02-16 08:30] helen-dikareva commented on #340
We fixed it in https://github.com/DevExpress/testcafe/pull/342

[2016-02-16 11:17] AlexanderMoskovkin opened #349 "Update `testcafe-hammerhead` to v6.0.0"
There is a breaking change in the https://github.com/DevExpress/testcafe-hammerhead/issues/410 PR. We should modify our code according to this.

[2016-02-16 11:31] AlexanderMoskovkin commented on #239
@helen-dikareva Please create here a checkbox list with all automations and check refactored automations

[2016-02-16 11:59] helen-dikareva commented on #239
- [x] scroll
- [x] move
- [x] press
- [x] rclick
- [x] drag
- [x] hover
- [ ] select
- [ ] click
- [ ] dblclick
- [ ] type

[2016-02-16 13:53] #329 closed

[2016-02-16 14:05] georgiy-abbasov commented on #349
I'm working on this.

[2016-02-16 15:25] #328 closed

[2016-02-17 09:19] #349 closed

[2016-02-17 11:25] #294 closed

[2016-02-17 13:01] inikulin opened #353 "Improve TestCafe CLI"
- [ ] Custom error highligting (to add our ERROR prefix)
- [ ] Get rid of this workaround: https://github.com/DevExpress/testcafe/blob/master/src/cli/argument-parser.js#L85
- [ ] Multiline option descriptions (see: https://github.com/tj/commander.js/pull/208)

We need to fork and make some work with Commander to achieve this.

[2016-02-17 13:02] inikulin opened #354 "Implement `--testcafe-full-traces` option for the debugging purposes"
This one will disable stack filtering for our errors

[2016-02-17 13:52] AndreyBelym opened #355 "Unescaped relatedSourceCode breaks reporter when decorating an error"
If `relatedSourceCode` containts `<` and `>` symbols, a text between them will be treated as a HTML node when reporter parses and decorates error text. Likely there will be no suitable template in decorator to handle the text, so an exception will be thrown. So we need to escape `relatedSourceCode`.

E.g: an assertion from `ASPTests.Regression.HtmlEditor` that is passed to `relatedSourceCode`:
[co

[2016-02-17 14:05] AndreyBelym commented on #355
I'm working on it.

[2016-02-17 19:23] inikulin opened #356 "I have some questions regarding our functional testing"
Ok, I was not quite attentive to what's going on with our functional testing. Looking at it currently I have some questions:

1. https://github.com/DevExpress/testcafe/blob/master/test/functional/fixtures/runner/uncaught-js-errors/uncaught-js-errors-test.js#L35 - why `runTests` resolves with error?
2. https://github.com/DevExpress/testcafe/blob/master/test/functional/fixtures/runner/uncaught-js-er

[2016-02-18 08:41] AlexanderMoskovkin commented on #356
These tests should fail when the `skipJsErrors` option is disabled, but they should success when the option is enabled. So, we should change tests names. /cc @georgiy-abbasov

[2016-02-18 08:43] AlexanderMoskovkin commented on #356
4 . Why quarantine mode tests are not inside runner directory? BTW, I don't think we need runner directory` for now. We can start with the plain dir structure for now.

Sure we can. @georgiy-abbasov please do this

[2016-02-18 09:18] AlexanderMoskovkin commented on #356
As i remember we discussed this when `functional-harness` was implementing. @georgiy-abbasov please describe details of this here

[2016-02-18 09:22] AlexanderMoskovkin commented on #356
I guess we can. We will discuss this with @AndreyBelym in private

[2016-02-18 11:39] AndreyBelym opened #357 "Perform escaping of errors in templates"
While fixing #355, I've found that we are escaping [diff description in utils](https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/dom.js#L324), that are used by assertions and actions, and [step name in runner](https://github.com/DevExpress/testcafe/blob/master/src/client/runner/runner.js#L151). In order to fix #355, I will need to escape diffs in assertions, and `relatedSour

[2016-02-18 11:50] kirovboris commented on #357
The relatedSourceCode is always a string. We can't detect whether it's html or string with brackets on the templates side.

[2016-02-18 11:53] inikulin commented on #357
@kirovboris Related source code is always a js-code. So we can always escape it before inserting into template (since template is HTML)

[2016-02-18 11:58] AndreyBelym commented on #357
Just the fun fact: can you find a tag in an expression below? `parse5` can :)
[code]
Shame, no spoilers here, but tag is `<x-x>`.
What is more interesting, that it's a valid JS expression after all.

[2016-02-18 12:04] kirovboris commented on #357
@inikulin, @AndreyBelym
I agree. Let's implement html escaping in the templates.

[2016-02-18 12:06] AlexanderMoskovkin commented on #357
I agree too

[2016-02-18 12:07] AndreyBelym opened #358 "Refactor quarantine mode tests"
Quarantine mode auxiliary server must be merged into main functional test server.

[2016-02-18 12:26] inikulin commented on #357
@AndreyBelym Yap, any character except whitespace, `>` and `/` is perfectly valid in HTML5 tag name: https://github.com/inikulin/parse5/blob/master/lib/tokenizer/index.js#L767

[2016-02-18 13:51] VasilyStrelyaev opened #360 "Docs: implement automatic testing for broken links"

[2016-02-18 13:58] VasilyStrelyaev commented on #360
https://www.npmjs.com/package/broken-link-checker

[2016-02-19 10:46] AndreyBelym commented on #358
I'm working on it.

[2016-02-24 12:30] AndreyBelym opened #365 "MoveAutomation is endless if end point coordinates are fractional"
Sometimes [_getTargetClientPoint](https://github.com/DevExpress/testcafe/blob/master/src/client/runner/automation/playback/move.js#L349) returns fractional coordinates in Firefox. In this case a condition in [_isMovingFinished](https://github.com/DevExpress/testcafe/blob/master/src/client/runner/automation/playback/move.js#L275) never becomes true.

[2016-02-24 13:54] #357 closed

[2016-02-24 13:54] #355 closed

[2016-02-24 14:48] #305 closed

[2016-02-24 15:07] inikulin commented on #177
I'm working on this

[2016-02-25 11:05] inikulin opened #367 "Test hangs up till the browser connection termination if the tested server is not running"
Just run in TestCafe dir:
[code]

[2016-02-25 12:22] #177 closed

[2016-02-25 13:30] inikulin opened #369 "CLI docs missing `-v, --version` option description"

[2016-02-25 14:03] VasilyStrelyaev commented on #163
We have the capability to pass a stored value as the *expected* argument, which does make sense.
But does it make sense to use a stored value as the *actual* argument?

[2016-02-25 14:03] inikulin commented on #163
@VasilyStrelyaev we don't have stored values in the APIv2. You can just use plain vars now

[2016-02-25 14:05] VasilyStrelyaev commented on #163
Where can I see an updated version of APIv2?

[2016-02-25 14:19] inikulin commented on #163
# New API (25/2/2016)

## Fixture defenition
[code]

or

[code]

## Test, actions and assertions
[code]
## Hybrid functions
[code]

## Roles
[code]

## Frame switching
[code]

## Script injection
[code]

## Assertions
All assertions are **async** and chainable:
[code]

### L-value
`expect(value)` - value,
`expect(hybridFunction)` - hybrid function return value,
`expect.element(selector)` - element

[2016-02-25 14:41] VasilyStrelyaev commented on #163
Cool!
Notice no `beforeEach`, `afterEach`, `page`... No waits or autowaits...
Actions won't change from what I gather...

[2016-02-25 14:47] inikulin commented on #163
- Added `page`, but semantics has changed.
 - `beforeEach`, `afterEach` - not sure if we'll be able to finish them for the first version.
 - waits and autowaits - are in discussion and not sure if we'll be able to finish them as well. For now it will work as it worked before (autowaits always enabled).
 - Actions won't change in general, but they now accept regular functions, Hybrid functions, ele

[2016-02-25 17:24] inikulin commented on #263
Ok, I've kinda figured out how we can do thing right. Ping me tomorrow, pls

[2016-02-25 18:03] inikulin opened #370 "CLI: Globally installed testcafe should call locally installed version under hood"
This approach is used by mocha, grunt, etc. This way will be able to avoid version conflicts.

[2016-02-26 08:49] georgiy-abbasov commented on #356
1. This was done for pretty print if test unexpectedly fails.

Comparsion:
[`runtests` without `then`](http://content.screencast.com/users/GeorgeZA/folders/Jing/media/8f9348f1-1099-4780-9524-bdc299cc3c66/2016-02-26_1132.png)
[`runtests` with `then`](http://content.screencast.com/users/GeorgeZA/folders/Jing/media/7dafbe33-e851-408c-ab5b-f7bc6964bb10/2016-02-26_1131.png)

[2016-02-26 09:57] inikulin commented on #356
@georgiy-abbasov You should not sacrifice integrity and correct usage of tooling to achieve pretty printing in the edge cases.

[2016-02-26 10:16] AndreyBelym commented on #367
Caused by DevExpress/testcafe-hammerhead#446.

[2016-02-26 10:29] inikulin commented on #354
Blocking on #353

[2016-02-26 14:54] AndreyBelym commented on #367
DevExpress/testcafe-hammerhead#447 fixed it for me. @inikulin, please check it on your side.

[2016-02-26 14:55] georgiy-abbasov commented on #356
@inikulin, we discussed first and second paragraphs with @AlexanderMoskovkin, and found complexity.

[code]

We can refuse `shouldFail` argument, in that case "should fail" tests might look like this:
[code]
What do you think ?

[2016-02-26 14:59] inikulin commented on #356
I don't get it, so, what's the problem?

[2016-02-26 15:00] inikulin commented on #367
@AndreyBelym we need to update hammerhead first and then close the issue.

[2016-02-26 15:02] georgiy-abbasov commented on #356
`runTests` method always rejects when `shouldFail` option enabled. And it resolves and rejects, when `shouldFail` option disabled. Different behavior, i mean. It's ok ?

[2016-02-26 15:06] inikulin commented on #356
Well, it's says it should fail and... it fails. What's wrong with it?

[2016-02-26 15:12] AndreyBelym opened #372 "'mousemove' event sent to wrong element during dragging"
`act.drag(element1, element2)` always sends `mousemove` events to `element1`, even if `element1` is n't actually dragging. This behavior appeared after refactoring, and it breaks ASP test on [Calendar demo](https://demos.devexpress.com/ASPxEditorsDemos/ASPxCalendar/Features.aspx).

Test uses following code to select days cells from 1 to 15:
[code]
Client code is listening to `mousemove` events on

[2016-02-29 07:44] georgiy-abbasov commented on #356
@inikulin, nothing, just made sure.

[2016-02-29 08:38] AlexanderMoskovkin opened #373 "Wrong IE11 version detection during functional testing on saucelabs"
it's detected as IE 7.0.0
(for example, see https://travis-ci.org/testcafe-build-bot/testcafe/jobs/111745475, https://saucelabs.com/tests/b2e64119e5f346259b0b776f940872d2)

[2016-02-29 09:23] #370 closed

[2016-02-29 09:36] inikulin opened #374 "Refactor report errors for the APIv2"
- [x] Move report-related errors code to `errors/test-run` and the runtime errors code to `errors/runtime`
- [x] Prefix all legacy API errors and categories with `legacy`, move them to `legacy/reporter/errors`
- [x] Use`LegacyTestRunError` type for legacy API errors and delegate processing to the legacy templates
- [x] Introduce `TestRunErrorFormattableAdapter`
- [x] Redesign error decorator so it

[2016-02-29 10:21] inikulin commented on #374
I'm working on this.

[2016-02-29 15:26] #284 closed

[2016-02-29 15:32] inikulin commented on #284
@MargaritaLoseva Why close?

[2016-02-29 15:33] inikulin commented on #284
Can you link PR that closes it here, pls?

[2016-02-29 15:42] MargaritaLoseva commented on #284
https://github.com/DevExpress/testcafe/pull/304

[2016-02-29 16:40] AndreyBelym opened #379 "Get rid of 'isInputWithoutSelectionPropertiesInFirefox'"
We don't need this workaround, because [the related bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1003741) was fixed in Firefox 31. The method was removed in `testcafe-hammerhead` - https://github.com/helen-dikareva/testcafe-hammerhead/commit/68efea1ed3718a3e9a7adb3bc20f63b88cdc9cc6, but it's still used in `testcafe` code. That causes tests to fail: https://travis-ci.org/testcafe-build-bot/tes

[2016-03-01 11:28] AndreyBelym opened #384 "Wrong 'testcafe' installation is used by CLI"
I have my primary working folder `D:\testcafe-phoenix`, in which I've cloned the repo. I run tests by executing `node bin\testcafe ...` in `D:\testcafe-phoenix`.

For some reason I also have an another copy of `testcafe` in `D:\node_modules\testcafe`. Now, after [commit about using locally installed version](https://github.com/DevExpress/testcafe/commit/8d2fc4aecc6222a7b093a5aa1995d850191ee907) wa

[2016-03-01 11:39] inikulin commented on #374
This is currently blocking on the new API implementation

[2016-03-01 11:54] inikulin commented on #384
I'm working on it

[2016-03-01 11:54] #358 closed

[2016-03-01 12:47] georgiy-abbasov commented on #356
Cause we started work to refactor functional tests, i want to ask tech writers. \cc @VasilyStrelyaev, \cc @MargaritaLoseva

We have different test naming, for example:
[Should success](https://github.com/DevExpress/testcafe/blob/master/test/functional/fixtures/runner/uncaught-js-errors/uncaught-js-errors-test.js#L40)
[Should be successful](https://github.com/DevExpress/testcafe/blob/master/test/fu

[2016-03-01 12:49] inikulin commented on #356
@georgiy-abbasov There are 3 options here and it feels like 1 doesn't belong here. Am I wrong?

[2016-03-01 13:02] VasilyStrelyaev commented on #356
@georgiy-abbasov
*Should success* is not a correct phrase at all
*Should be successful* seems too long
*Should pass* is ok. Let's stick to it if we want our tests to be named uniformly.

[2016-03-01 13:07] VasilyStrelyaev commented on #356
I didn't get the second question.
[code]
This name looks pretty. If it's not correct as to whether the test fails or not, we should change the first two words accordingly, choosing between *should fail* and *should pass*.

Is there a different problem

[2016-03-01 13:23] georgiy-abbasov commented on #356
Ok, let it be 'Should pass when performing click action on the missing element with the shouldFail option enabled'. In that case i have false sense, that test pass only because shouldFail option enabled.

[2016-03-01 13:24] inikulin commented on #356
Aaah, I've finally got it. You've messed it up. But in different way this time

[2016-03-01 13:26] inikulin commented on #356
When we say `Should pass` or `Should fail` we talk about underlying **tescafe test**, not the mocha test. Is it clear?

[2016-03-01 13:28] georgiy-abbasov commented on #356
Yes, we mean testcafe behavior.

[2016-03-01 13:33] inikulin commented on #356
BTW `shouldFail`is the helper flag, it shouldn't leak to the test name. It should be just:
`Should fail when performing click action on the missing element`

[2016-03-01 13:42] AlexanderMoskovkin commented on #356
Here should be `skipJsError` TestCafe option instead of `shouldFail`. And we should have two tests like this:
`Should fail if <condintion>`
`Should pass if <condintion> when 'skipJsError' is enabled`

[2016-03-01 14:01] georgiy-abbasov commented on #356
@AlexanderMoskovkin, thanks, that's correct, because TestCafe doesn't have option `shouldFail`, it's

[2016-03-01 14:12] inikulin commented on #356
Why close?

[2016-03-01 14:12] AlexanderMoskovkin commented on #356
Why? We haven't fix this yet

[2016-03-01 14:14] georgiy-abbasov commented on #356
Clicked wrong button, sorry.

[2016-03-01 14:26] georgiy-abbasov commented on #356
@VasilyStrelyaev, should we use `if` instead of `when` ?

Should pass if \<condintion\> when 'skipJsError' is enabled

[2016-03-01 14:36] VasilyStrelyaev commented on #356
interchangeable in this context

[2016-03-02 09:25] inikulin commented on #384
After thinking about it more I believe it should be a by design behavior. Imagine I have a project with the tests in the `test` dir. I do `cd ./test && testcafe chrome ./*.js`. I should use local testcafe anyway which is in `../node_modules/testcafe` relative to this dir.

[2016-03-02 09:25] #384 closed

[2016-03-02 12:52] #356 closed

[2016-03-03 14:16] inikulin opened #388 "Error reports about uncaught javascript error contains proxied URL"

[2016-03-03 14:17] inikulin commented on #388
I'm working on this

[2016-03-03 16:03] inikulin commented on #388
`_onFatalError` rewrites `err.pageUrl` with the proxied URL for the screenshots: https://github.com/DevExpress/testcafe/blob/master/src/client/runner/runner.js#L142

[2016-03-04 09:58] #388 closed

[2016-03-04 11:39] AlexanderMoskovkin opened #390 "Test-run should not response to the aborted client request"
Blocked by https://github.com/DevExpress/testcafe-hammerhead/pull/457/files

[2016-03-04 11:46] #293 closed

[2016-03-04 12:00] AlexanderMoskovkin commented on #390
It seems it works properly

[2016-03-04 12:00] #390 closed

[2016-03-04 12:31] inikulin commented on #263
## Handling page error
- Send `about:page-error` and add pending error (this is blocking on DevExpress/testcafe-hammerhead#339)
- Then if error was not handled use standard `done` mechanism

## Client driver
- Create `src/client/driver` lib.
- Driver waits page ready event and sends `ready` hanging message to test run
- Once it get's message it executes appropriate automation/assertion
- Save `exe

[2016-03-04 13:07] helen-dikareva opened #391 "Update to the testcafe-hammehead v7.0.0"
We'll do it in https://github.com/DevExpress/testcafe/pull/383
And after that we shoud remove comment test 'testcafe functions should not be in strict mode (GH-258)'

[2016-03-09 10:57] inikulin commented on #240
# .click

 - [ ] Create command class
-  [ ] Create API method
-  [ ] Implement and test option validation
-  [ ] Implement client command execution
-  [ ] Add functional tests for client command execution

[2016-03-09 13:52] VasilyStrelyaev commented on #163
does "deep equality" relate to both value and element?

[2016-03-09 15:12] inikulin commented on #163
@VasilyStrelyaev elements are equal if they are the same element.

[2016-03-09 16:06] georgiy-abbasov opened #394 "Sometimes a browser hangs during functional tests execution."
Example:
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/114795182

Browser hangs with next error in console:
http://screencast.com/t/mCNz3qyWLSmk

At that moment another browser after test run redirecting to the idle page of hanging browser.

[2016-03-10 11:51] helen-dikareva opened #395 "Fix ASPxperienceDemos tests after merge clickAutomation refactoring"

[2016-03-11 07:54] #395 closed

[2016-03-11 13:51] VasilyStrelyaev commented on #163
no `expect(hybridFunc)` so far?

[2016-03-11 14:14] inikulin commented on #163
`expect(val)` works with raw values. So it will examine hybrid functions as plain JS object. To convert hybrid function in the selector you will need to pass it to `expect.element()`

[2016-03-14 09:25] miherlosev opened #398 "DomUtils refactoring"
In the testcafe`s`domUtils`there are full or partial dublicates of functions from`testcafe-hammerhead`.
For example:

Testcafe
https://github.com/DevExpress/testcafe/blob/master/src/client/core/utils/dom.js
`getFocusableElements`
`isSelectElement`
`isTextarea`
`getParents`
`isDocumentRootElement`

Hammerhead
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/utils/dom.js
`get

[2016-03-18 09:06] AlexanderMoskovkin opened #399 "Test hangs if an iframe is removed after an action in it"
([T353743](https://www.devexpress.com/Support/Center/Question/Details/T353743))

[2016-03-18 09:48] georgiy-abbasov opened #400 "Client service messages are still coming after the session has been closed"
Sometimes the client sends service messages after the session has been closed. For example:
'get-and-uncheck-downloading-flag',
'done',
'native-dialogs-info-set'

[2016-03-18 09:51] AlexanderMoskovkin commented on #400
It leads to a js-error in the browsers but doesn't take effect on test because it's finished yet

[2016-03-18 10:36] AlexanderMoskovkin commented on #399
It is fixed in the github repo yet, so I will just add a test for this

[2016-03-18 11:09] inikulin commented on #399
You mean `already`?

[2016-03-18 11:55] AlexanderMoskovkin commented on #399
Yes

[2016-03-21 08:10] #399 closed

[2016-03-21 12:55] VasilyStrelyaev commented on #163
Seems that `t.alwaysInject` is more like `t.injectEverywhere`, isn't it?

[2016-03-21 13:15] inikulin commented on #163
@VasilyStrelyaev this one is still debatable. I'm starting to think that we should use this syntax instead:

[code]
\cc @DevExpress/testcafe
What do you guys think?

[2016-03-21 13:26] VasilyStrelyaev commented on #312
closed by DevExpress/testcafe-gh-page-assets#1 and #359

[2016-03-21 13:26] #312 closed

[2016-03-21 13:33] kirovboris commented on #163
I like this way. Also I think an alias should be the second argument, because it isn't always required.

[2016-03-21 13:35] inikulin commented on #163
@kirovboris how you will access helper without alias?

[2016-03-21 13:40] kirovboris commented on #163
E.g. if i want to prepare loaded site in a certain way - set start sizes or change css or someone else.

[2016-03-21 13:45] kirovboris commented on #163
Anyway these preparing can be completed with beforeEach methods later.

[2016-03-21 14:07] VasilyStrelyaev commented on #163
Oh, changes arrive so fast... :(

makes sense to me

[2016-03-22 09:36] VasilyStrelyaev commented on #163
So, you can pass a hybrid function as a selector, or you can pass a regular function that will be wrapped to become hybrid, right?

[2016-03-22 09:37] VasilyStrelyaev commented on #163
And, BTW, is introduction of `body()` connected with `useClientHelper` or is it a separate topic?

[2016-03-22 10:01] inikulin commented on #163
@VasilyStrelyaev it's separate thing. We will need to introduce test-local chains for setups/teardowns, skip functionality, etc. E.g.:
[code]

[2016-03-22 11:10] VasilyStrelyaev commented on #163
So, the main purpose of them is to override fixture-level setups and teardowns?
Which can be achieved by using a flag to skip the latter. However, this way we'll have local setup/teardown logic mixed with test code, which you think is not ok?

[2016-03-22 11:11] VasilyStrelyaev commented on #163
What about https://github.com/DevExpress/testcafe/issues/163#issuecomment-199717730

[2016-03-22 11:19] inikulin commented on #163
@VasilyStrelyaev

Nope. Test may require additional logic. And it's used for `skip` and `useClientHelper` as well. And possibly many other things in the future.

[2016-03-22 11:21] inikulin commented on #163
Yes. I'm still not sure if it's quite clear, BTW. You can pass:
- string selector
- hybrid function call result
- hybrid function (auto-invoke)
- regular function (auto-transform to hybrid and auto-invoke)

[2016-03-22 11:39] VasilyStrelyaev commented on #163
One more thing.
I'm not sure if my js skills allow me to say it properly, so I'll use an example.
It's about closures in hybrid functions

I suspect that
[code]
won't work, while
[code]
used to?

[2016-03-22 11:41] inikulin commented on #163
@VasilyStrelyaev Yap. You need to introduce arg:
[code]

[2016-03-22 11:53] VasilyStrelyaev commented on #163
Okay.
Now...
Do we expect users to study DOM element descriptors returned by hybrid functions, or just use them as tokens to pass to actions/assertions?

[2016-03-22 12:15] inikulin commented on #163
@VasilyStrelyaev More likely we will allow them to study descriptors. We need to discuss descriptor content first.

[2016-03-22 14:44] inikulin opened #407 "Implement TAP reporter"

[2016-03-22 14:46] inikulin opened #408 "TypeScript compiler"
Make TypeScript first class citizen by automatically compiling `.ts` files like we do with ES6. This can be  done (and more likely should) as standalone plugin.

[2016-03-23 16:09] georgiy-abbasov commented on #394
Fixed in [testcafe-hammerhed issue #484](https://github.com/DevExpress/testcafe-hammerhead/issues/484).
Waiting for update of testcafe-hammerhead version in package.json.

[2016-03-24 11:11] georgiy-abbasov commented on #373
"Display intranet sites in Compatibility View" option is enabled in Internet Explorer on SauceLabs side, so it sends user agent like:
Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E)

[2016-03-24 15:21] inikulin commented on #50
I think we can close it for now.

[2016-03-24 15:22] #50 closed

[2016-03-24 15:24] inikulin commented on #188
I guess it can be resolved now?

[2016-03-24 15:28] AlexanderMoskovkin commented on #188
They have `MS Edge 13.10586` now. I suppose it should be ok for us. I'll check

[2016-03-24 15:43] georgiy-abbasov opened #414 "Runner skips InIframe step if the page inside an iframe is reloaded before a target element appears"
The step number is not decremented if the page inside an iframe is reloaded while waiting for an action target to appear. TestContextStorage's property `` 'actionTargetWaiting'`` isn't used when the test step runs inside an iframe.

[2016-03-25 09:32] #369 closed

[2016-03-25 10:42] inikulin opened #415 "Implement TestController"
- [x] Refactor command
- [x] Move command options tests to server
- [x] Implement basic interface
- [x] Pass it to runner
- [x] Implement action execution
- [x] Implement options validation (#420)
- [x] Implement chaining
- [x] Test `t.click()`
  - [x] Execution
  - [x] Options validation
  - [x] Selector validation
- [x] Test controller
  - [x] Chaining
  - [x] Callsites correctness in chained ca

[2016-03-29 10:51] #188 closed

[2016-03-29 11:39] georgiy-abbasov opened #418 "Browsers hang during the test execution, when trying to perform an action after redirecting in an iframe"
The reason of this behavior is infinite move automation that occurs when action performing.

[2016-03-29 14:51] #292 closed

[2016-03-30 06:54] miherlosev opened #419 "Use domUtil methods from Hammerhead"
replace code

``` javascript```
element.tagName && element.tagName.toLowerCase() === '<tagName>'
[code]

[2016-03-30 10:15] inikulin opened #420 "Implement action options validation"
- [x] Move client options to single file
  - [x] Implement assignment from object in ctor and test it
  - [x] Implement error for the incorrect option type
  - [x] Write formatter test for this error
  - [x] Implement option validation and write tests for it

[2016-03-30 13:54] #420 closed

[2016-04-01 14:17] AndreyBelym opened #422 "Filter ShadowUI in content editable"
If a `document.body` has a `contenteditable` attribute, then its selection may contain ShadowUI root. We need to filter child elements when creating a selection in [content-editable utils](https://github.com/DevExpress/testcafe/blob/a7e94ce4b0765dbf2b055e1f859e32b16e4f25b0/src/client/core/utils/content-editable.js).

Discovered on [ASPxHtmlEditor Custom CSS Demo](http://demos.devexpress.com/ASPXHT

[2016-04-01 14:54] AndreyBelym opened #423 "Wrong emulation of 'click' event if target element was changed during 'mousedown' or 'mouseup'"
By now we just don't emulate `click` event if target element was changed during `mousedown` (and following `blur` and `focus`). Target element is an element returned by `document.elementFromPoint` for the point in which we need to perform a 'click' action event. We check this condition before emulating `mouseup`.
But looks like rules are more complex:

 1. If changed element is contained in origin

[2016-04-01 15:07] AndreyBelym opened #424 "Active iframe window doesn't consider itself as active if it was reloaded"
When an iframe is reloaded by changing location or submitting a from, it's `contentWindow` will be reinitialized, but it will  be the same window object from top page view (`iframe.contentWindow` before reload === `iframe.contentWindow` after reload). So after iframe reloading it will be still considered as active by top window, but doesn't be considered as active from inside. It leads to infinite

[2016-04-01 15:09] AlexanderMoskovkin commented on #424
the same as #418

[2016-04-01 15:09] #424 closed

[2016-04-01 15:22] AndreyBelym opened #425 "Unexpected alert in step with handleAlert if alert occurs before step code exectuion"
Alert can be raised in time between next step started and `handleAlert()` was executed. In that case 'Unexpected alert` error will be raised, because we check expected alerts count when user-code calls `window.alert()`. Maybe we need to perform this check when the step is finished.

Example from '\ASPxFileManagerAndUploadDemos\FileManager\Client Side Events':
[code]

[2016-04-05 09:24] #414 closed

[2016-04-05 09:24] #418 closed

[2016-04-05 11:07] #391 closed

[2016-04-05 11:08] #239 closed

[2016-04-05 11:12] helen-dikareva opened #428 "Update hammerhead to v8.0.0"

[2016-04-05 11:12] helen-dikareva commented on #428
I'm working on this

[2016-04-05 12:56] AndreyBelym commented on #379
Closed by #383ю

[2016-04-05 12:56] #379 closed

[2016-04-06 11:10] AlexanderMoskovkin opened #431 "Replace all timeout/interval function with hammerhead.browserNatives analogues"
We can completely implement this when https://github.com/DevExpress/testcafe-hammerhead/issues/519 is implemented and published

[2016-04-06 14:14] helen-dikareva opened #433 "A test gets stuck if iframe remove your parent during step execution"
Bug from SC https://isc.devexpress.com/Thread/WorkplaceDetails/T353743

[2016-04-07 09:28] VasilyStrelyaev commented on #311
Both DevExpress/testcafe-gh-page-assets#2 and #426 are merged, so I close this issue.

[2016-04-07 09:28] #311 closed

[2016-04-07 11:40] AlexanderMoskovkin opened #436 "Input event is not raised during typing in a content editable element"
(T336834)

[2016-04-07 11:40] AlexanderMoskovkin commented on #436
I'm working on this

[2016-04-07 12:50] georgiy-abbasov opened #437 "Test fails with "RangeError: Maximum call stack size exceeded" message when we perform action click on download link."
Appearance: https://travis-ci.org/testcafe-build-bot/testcafe/jobs/121397666#L1215

Looks like consequence of [testcafe-hammerhead-issue-521](https://github.com/DevExpress/testcafe-hammerhead/issues/521)

[2016-04-07 13:09] #372 closed

[2016-04-07 14:16] helen-dikareva opened #439 "Add 'not fractional' validation for 'number' options"

[2016-04-07 14:27] inikulin commented on #439
What does this mean? Is this should be done in context of some automation?

[2016-04-07 14:29] inikulin commented on #437
I don't get it. How it could be a consequence of #521 when #521 is not fixed yet?

[2016-04-07 14:31] inikulin commented on #437
Is this test run in some PR. If yes, in which one?

[2016-04-07 14:40] helen-dikareva commented on #439
I think we just need add this check in 'positiveNumber' validator src\test-run\commands\options.js

[2016-04-07 15:11] AlexanderMoskovkin commented on #437
@inikulin It seems this issue will be resolved after #521 is fixed.
The problem was detected after a regression test was added  here https://github.com/DevExpress/testcafe/pull/429 ([tests report](https://travis-ci.org/testcafe-build-bot/testcafe/jobs/121397666#L1216))
We should investigate this, so we've create this ticket for that.

[2016-04-07 15:24] inikulin commented on #437
So why we need this one if we have DevExpress/testcafe-hammerhead#521?

[2016-04-07 15:28] AlexanderMoskovkin commented on #437
We removed this failed test from #429 to merge it. We need this issue to don't forget to add the test when the hammerhead issue is fixed

[2016-04-07 19:30] #341 closed

[2016-04-11 08:51] #295 closed

[2016-04-11 08:55] AlexanderMoskovkin opened #441 "Implement test-run commands"
- [x] click
- [x] rclick (call it rightClick)
- [x] dblclick (call it doubleClick)
- [x] press (pressKey)
- [x] select (selectText, selectTextInArea, selectEditableContent)
- [x] type (typeText)
- [x] drag (drag, dragToElement)
- [x] hover
- [x] uploadFile
- [x] clearUpload
- [x] wait
- [x] waitForElement
- [x] takeScreenshot
- [x] resizeWindow
- [x] navigateTo

[2016-04-11 08:59] AlexanderMoskovkin commented on #441
I and @helen-dikareva are working on this

[2016-04-11 09:08] AlexanderMoskovkin commented on #441
I'm working on drag now

[2016-04-11 11:12] AndreyBelym commented on #367
Fixed since `testcafe-hammerhead@6.0.1`.

[2016-04-11 11:12] #367 closed

[2016-04-11 11:23] helen-dikareva commented on #441
I'm working on `rclick` now

[2016-04-11 11:51] #436 closed

[2016-04-11 12:48] AlexanderMoskovkin opened #442 "Implement screenshots creating"

[2016-04-11 13:46] helen-dikareva commented on #441
I'm working on `dblclick` now

[2016-04-11 14:29] helen-dikareva commented on #441
I'm working on `hover` now

[2016-04-11 14:52] georgiy-abbasov opened #444 "Incorrect behavior of running functional tests with attributes 'SKIP' and 'ONLY'."
Irrelevant tests shouldn't run in browsers, but they do. Attributes affect only final report.

[2016-04-12 08:50] helen-dikareva commented on #441
I'm working on `type` now

[2016-04-12 11:25] georgiy-abbasov commented on #394
Fixed via [Type automation refactoring commit](https://github.com/DevExpress/testcafe/commit/5f8627e9304792824b8d5c4ec0a9220c63ef5e76#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R46 ) - testcafe-hammerhead updated to `^7.0.0`

[2016-04-12 11:25] #394 closed

[2016-04-12 12:23] inikulin commented on #240
I'm working on this.

[2016-04-12 12:23] inikulin commented on #415
I'm working on this

[2016-04-13 10:01] georgiy-abbasov commented on #425
Blocked by [testcafe-hammerhead-issue-199](https://github.com/DevExpress/testcafe-hammerhead/issues/199)

[2016-04-13 11:57] georgiy-abbasov commented on #373
Functionality for disabling this option has been added in `saucelabs-connector` `0.1.1`, so we need just update version of this package

[2016-04-13 12:34] AndreyBelym commented on #425
Now I can not reproduce the original issue, but it looks that I've found the reason of the problem.
Test page:
[code]

Test itself:
[code]
As a result:
[code]
despite `handleAlert()` in step 1.

If `alert` is called on timeout big enough for `stepIterator` to call `globalWaitFor`, and before `globalWaitFor` will call callback, it will rise an error. Also I think that `globalWaitFor` behavior may b

[2016-04-13 13:06] AndreyBelym commented on #365
The problem is caused by specifying fractional `dragOffsetX` and `dragOffsetY`. For the new API we need to implement a validation for offsets: #439. For the legacy API we decided to round offsets in `drag`, `click` and `select` automations.

[2016-04-13 13:06] AndreyBelym commented on #365
I'm working on it.

[2016-04-13 13:36] AndreyBelym commented on #365
Found that `offsetX` and `offsetY` is already rounded by `getOffsetOptions` (https://github.com/DevExpress/testcafe/blob/master/src/client/runner/utils/mouse.js#L52). So we need to round `dragOffsetX` and `dragOffsetY` only.

[2016-04-13 14:01] inikulin commented on #241
- [ ] Implement basic functionality with test run lookup in the stack chain
- [ ] Structured clone for results
- [ ] DOM-nodes serialization
- [ ] Action parameter

[2016-04-13 14:09] AndreyBelym opened #450 "Incorrect error message when validating number for NaN"
When validating a property that must be a number (e.g. `offsetX`) for `NaN` value, the error message will be:
`Action option offsetX is expected to be a number, but it was number.`
instead of expected:
`Action option offsetX is expected to be a number, but it was NaN.`

It's because of `number()` validator ([here](https://github.com/DevExpress/testcafe/blob/ff3a7e506d8d91201054f394929d8e1c440ac9f5

[2016-04-13 14:09] AndreyBelym commented on #450
I'm working on it.

[2016-04-13 18:28] inikulin opened #451 "APIv2: Implement native dialogs handling"

[2016-04-14 10:33] #415 closed

[2016-04-14 14:31] inikulin commented on #241
I'm working on this

[2016-04-14 16:04] georgiy-abbasov opened #454 "Runner doesn't wait, until iframe DOM elements are loaded, if we run an action in iframe in an obsolete manner."
Appearance: https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123040263#L1262

If we try to replace [this step](https://github.com/DevExpress/testcafe/blob/master/test/functional/fixtures/regression/prevent-real-action/testcafe-fixtures/index.test.js#L6) with "modern manner", i.e.
[code]
test will be stable in that case.

[2016-04-14 19:36] inikulin commented on #263
Closed in #263

[2016-04-14 19:36] #263 closed

[2016-04-15 09:03] georgiy-abbasov opened #455 "Mocha timeout shouldn't affect browser opening in functional tests."
Example: https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123027023

If timeout expired and not all browsers are opened, process still alive despite gulp task error.

[2016-04-15 09:40] inikulin commented on #262
I'm working on this

[2016-04-15 10:54] helen-dikareva commented on #441
I'm working on `select` now

[2016-04-15 14:23] AlexanderMoskovkin commented on #441
I'm working on `press` now

[2016-04-15 15:14] AlexanderMoskovkin opened #458 "Implement action target waiting timeout option"

[2016-04-15 17:29] inikulin opened #459 "CLI doesn't lookup for .testcafe files if dir specified as source"

[2016-04-18 13:24] inikulin commented on #52
I guess we can close it now, since we use functional testing heavily to cover functionality.

[2016-04-18 13:24] #52 closed

[2016-04-18 13:27] inikulin commented on #223
I guess it shouldn't be part of `testcafe` package and should be implemented as external helper

[2016-04-18 13:27] #223 closed

[2016-04-19 06:59] AlexanderMoskovkin opened #460 "Tests hangs sometimes in IE11 when a js-error appeared on page load"
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/124008762

[2016-04-19 06:59] AlexanderMoskovkin commented on #460
I'm working on this

[2016-04-19 08:56] AlexanderMoskovkin opened #462 "Implement es-next api actions"
- [x] click
- [ ] rclick (call it rightClick)
- [ ] dblclick (call it doubleClick)
- [ ] press
- [ ] select (selectText, selectTextInArea, selectEditableContent)
- [ ] type
- [ ] drag (drag, dragToElement)
- [ ] hover

[2016-04-19 08:59] inikulin commented on #462
We already have issue for this

[2016-04-19 09:00] inikulin commented on #462
https://github.com/DevExpress/testcafe/issues/240

[2016-04-19 09:00] AlexanderMoskovkin commented on #462
yep, I see now

[2016-04-19 09:01] #462 closed

[2016-04-19 09:01] #262 closed

[2016-04-19 09:02] AndreyBelym commented on #240
I'm working on .rightClick now.

[2016-04-19 09:29] #365 closed

[2016-04-19 09:29] #439 closed

[2016-04-19 09:29] #450 closed

[2016-04-19 11:12] AndreyBelym commented on #240
I'm working on **.doubleClick** now.

[2016-04-19 11:41] AndreyBelym commented on #240
Working on **.hover** now.

[2016-04-20 09:06] helen-dikareva commented on #458
I'm working on it

[2016-04-20 11:53] AlexanderMoskovkin opened #466 "Check browser aliases from CLI parameters before tests compiling"

[2016-04-20 11:54] AndreyBelym commented on #466
I'm working on it.

[2016-04-20 12:30] AndreyBelym opened #468 "Implement specifying browser paths through 'path:' prefix"
Require a user to add `path:`  prefix when specifying a browser path in the CLI.

What we have now:
`.\testcafe chrome,ie,C:\Firefox\firefox.exe test.js`

What it should be:
`.\testcafe chrome,ie,path:C:\Firefox\firefox.exe test.js`

Or, for if path contains spaces:
`.\testcafe chrome,ff,path:"C:\Program Files\Internet Explorer\ie.exe" test.js`
`.\testcafe chrome,ff,path:'C:\Program Files\Internet

[2016-04-20 12:31] AndreyBelym commented on #468
Working on this.

[2016-04-20 12:48] AndreyBelym commented on #468
Need to be careful with `,`: it may be contained in paths on Unix. Tested on MacOS and Ubuntu.

[2016-04-20 12:53] georgiy-abbasov commented on #454
After discussion with @AlexanderMoskovkin we decided to leave as is. Waiting for loaded iframe was just side effect of obsolete runner behavior, and cause has been eliminated while refactoring.

[2016-04-20 12:53] #454 closed

[2016-04-20 12:57] #373 closed

[2016-04-20 13:20] AlexanderMoskovkin opened #469 "Fix "[Raw API] Click action" test hanging in IE"
test name: `Should wait for the page load barrier to finish after an action`

https://travis-ci.org/testcafe-build-bot/testcafe/jobs/124314491

[2016-04-20 13:22] #460 closed

[2016-04-20 13:34] VasilyStrelyaev commented on #277
Before building the website, this task should check that the local Jekyll is > 3.0
(we happen to use extensionless permalinks)

[2016-04-20 13:58] inikulin commented on #468
I guess we should enforce  `"` for path then

[2016-04-20 14:14] georgiy-abbasov opened #471 "Fix unstable qunit tests."
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123972863#L1183
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123978257#L1183
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123984540#L1181
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/123990910#L1183

They are mostly ios and android tests, but it can be os x test.

[2016-04-21 14:29] #433 closed

[2016-04-21 15:26] #444 closed

[2016-04-22 10:03] #428 closed

[2016-04-22 10:56] AlexanderMoskovkin commented on #471
one more:
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/124983050#L1186

[2016-04-22 11:23] georgiy-abbasov commented on #471
At the current moment most falling tests are (descending on occurence):

###### Content-editable (/fixtures/runner/content-editable/api-actions-content-editable-test/index-test.js)

Test: difficult inverse select
message: Timeout is exceeded
expected: true
actual: false

Test: $startElement and $endElement
message: Timeout is exceeded
expected: true
actual: false

Test: without args
message: Timeo

[2016-04-22 11:30] AndreyBelym commented on #471
I've seen this test failing frequently before:
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/124989990#L1188
###### Press (/fixtures/runner/api/press-test.js)
Test: B253200 - TestCafe doesn't emulate browsers behavior for press "enter" key on the focused HyperLink editor (link with javascript)
message: Timeout is exceeded
expected: true
actual: false

[2016-04-22 11:33] georgiy-abbasov commented on #471
Thanks @AndreyBelym, i updated comment above.

[2016-04-25 09:35] AndreyBelym commented on #240
Working on **.drag** and **dragToElement** now.

[2016-04-25 14:28] #288 closed

[2016-04-25 14:29] inikulin opened #479 "Redesign test run UI"
Implement status bar at the bottom of the page which will replace `Loading page...` screen and waiting element modal popup and add additional test run info. Status bar will become nearly completely opaque on hover (if you want to observer the page below it):
![image](https://cloud.githubusercontent.com/assets/453071/14787216/282e6cc6-0b0b-11e6-8451-7066799f373a.png)

[2016-04-25 14:31] inikulin opened #480 "APIv2: `t.cookies.get()`, `t.cookies.set()`, `t.cookies.delete()`"

[2016-04-25 14:33] inikulin opened #481 "Provide the capability to access browser information from test code"
Make browser information available in the test controller - add the `t.browserInfo` property.

There are various use cases for this feature, including conditional test actions and assertions:

[code]

[2016-04-26 13:53] AndreyBelym commented on #240
Working on **.type** nowю

[2016-04-26 13:58] AndreyBelym commented on #240
According to our documentation for 15.1:

**act.upload**
_Uploads a file or a set of files._

`act.upload( target, path )`
_This action uploads an individual file._

_Use the following variant of the user action to implement the uploading of multiple files at once._
`act.upload( target, paths )`

_If you need to imitate the browser's behaviour when a user clicks the Cancel button, use the followin

[2016-04-26 14:00] inikulin opened #485 "Add ability to specify test timeout via CLI option and `fixture.testTimeout()` and `test.timeout()`"

[2016-04-26 14:28] VasilyStrelyaev opened #486 "Docs - Add Google Analytics to the Website"

[2016-04-26 14:36] #458 closed

[2016-04-26 14:43] inikulin commented on #240
This is something new to me. What does this mean? \cc @churkin @AlexanderMoskovkin

[2016-04-26 14:49] AlexanderMoskovkin commented on #240
this is from our [15.1 documentation](http://testcafe.devexpress.com/Documentation/API_Reference/Test_Fixture_API/User_Actions/#actupload)
As a understand it just reset input's state to initial (when was no selected files for upload)

[2016-04-26 15:00] inikulin commented on #240
Let's call it `clearUpload` or smthg like this then.

[2016-04-26 15:01] inikulin commented on #240
I still thinking about renaming `upload` to `setUpload`. Not quite sure though

[2016-04-26 15:18] AlexanderMoskovkin opened #487 "Driver: send js-error on the page as a result of command execution"
now we send it with a separate message

[2016-04-26 15:18] AlexanderMoskovkin commented on #487
I'm working on this

[2016-04-26 15:21] AlexanderMoskovkin opened #488 "Driver: improve messaging protocol"
Client driver and the server side should ensure the message has reached its destination

[2016-04-27 10:26] #455 closed

[2016-04-27 15:00] #466 closed

[2016-04-27 15:00] #468 closed

[2016-04-27 15:10] #277 closed

[2016-04-27 16:08] georgiy-abbasov opened #497 "Get rid of using "browserUtils.isOpera" method"
This method is unavailable for now (from testcafe-hammerhead 8.1.0)

https://github.com/DevExpress/testcafe-hammerhead/pull/509

[2016-04-28 09:05] VasilyStrelyaev commented on #163
We are really waiting for the final API design to be posted here.

[2016-04-28 09:07] VasilyStrelyaev commented on #163
It may have sounded harsh, but API is the main thing still to be documented.

[2016-04-28 09:18] inikulin commented on #163
Okey dokey =)

[2016-04-28 09:27] AndreyBelym commented on #441
I'm working on **uploadFile** now.

[2016-04-28 09:27] inikulin opened #501 "Implement `test.page(url)`"
Add ability to specify instant startup page for particular test, without necessity to call `t.navigateTo`

[2016-04-28 09:33] AlexanderMoskovkin opened #502 "Repare saucelabs browser-matrix for client tests"
now it shows the result for desktop browsers or mobile browsers only but should show for both

(i've broken it in #478)

[2016-04-28 09:47] helen-dikareva opened #503 "Add element availability timeout option to command line interface"

[2016-04-28 09:59] inikulin commented on #503
We need docs both for the option in programmatical interface and for this one \cc @VasilyStrelyaev

[2016-04-28 10:12] #497 closed

[2016-04-28 12:03] AlexanderMoskovkin opened #504 "Split functional tests for legacy and new api into different tasks"

[2016-04-28 15:20] VasilyStrelyaev opened #506 "Website - we need an Example page"

[2016-04-29 12:14] #487 closed

[2016-04-29 12:21] #503 closed

[2016-05-04 08:40] helen-dikareva commented on #441
I'm working on `wait` and `waitElement` now

[2016-05-04 10:00] helen-dikareva commented on #163
What should be `wait` and `waitForElement` parameters?
Should `waitForElement(selector, [timeout])` has `timeout` as required parameter or not?

[2016-05-04 10:17] inikulin commented on #163
`waitForElement` has default timeout that is equal to the one that specified via `elementAvailabilityTimeout`, it also has optional `elementAvailabilityTimeout` second argument, which will override global option

[2016-05-04 10:36] helen-dikareva commented on #163
And what about `wait` command? We still need predicate for it?

[2016-05-04 11:05] inikulin commented on #163
No, `wait` will just wait for the specified amount of time. We need to introduce `waitForCondition` action for the predicate I guess.

[2016-05-04 11:08] helen-dikareva commented on #163
Where predicate will be evaluated: on server or on client?

[2016-05-04 11:09] inikulin commented on #163
On client of course. But `waitForCondition` has some caveats: it should be executed correctly if it's interrupted by page load. We will need to implement similar machinery for Hybrids and it will require some significant amount of work to be done. So I suggest to postpone `waitForCondition` implementation for now.

[2016-05-04 11:20] inikulin opened #509 "Implement `fixture.httpAuth` and `test.httpAuth`"
Add API for HTTP basic and NTLM authenticaion

[2016-05-04 11:20] helen-dikareva commented on #163
ok, thanks for your clarification

[2016-05-04 12:24] helen-dikareva commented on #441
I'm working on `navigateTo` now.

[2016-05-05 10:57] AndreyBelym commented on #207
I'll put here my thoughts about all the stuff, and update it as more will come out :smile:

###### A BrowserProvider plugin
- must be a package with name `testcafe-provider-${pluginName}`. `pluginName` serves as id of the provider.

- should export classes with following interface:
[code]
###### A BrowserDescriptor object
- plain JS key-value object with required key `id`. Any other properties may

[2016-05-05 11:09] inikulin commented on #207
I'm not sure I understand how `Browser` class should be implemented. E.g. if I make saucelabs plugin and I have 50 browser there should I implement 50 classes with that interface?

It's a little bit inconsistent and complicated.

Maybe?:
[code]

[2016-05-05 11:12] inikulin commented on #207
Also the issue with the class approach is that you need to pass `Browser` base class somehow and user should not forget to extend their class with provided class. That's why we choose plain object + mixin approach for reporters. It would be nice to have it here as well: just export object and testcafe wil mixin stuff in in it

[2016-05-05 11:13] AndreyBelym commented on #207
Nope, you implement a class, that starts a tunnel to Sauce, and starts a browser by specified capability string. Then `testcafe` create 50 instances of this class with different capability strings.

[2016-05-05 11:45] inikulin commented on #207
Maybe `listAvailableAliases`. Since we use term `alias` for run configurations. Then plugin creates browser instance via `open` which returns instance `id`

[2016-05-06 09:59] #360 closed

[2016-05-06 12:59] AlexanderMoskovkin commented on #469
fixed in #500

[2016-05-06 12:59] #469 closed

[2016-05-09 17:29] inikulin opened #520 "Docs: need to describe that `Runner.run()` promise is cancellable"

[2016-05-11 09:26] inikulin opened #523 "APIv2: Hybrids - we need to figure out behavior on page unloads"

[2016-05-11 09:29] inikulin opened #524 "APIv2: Use structured clone-like algorithm for Hybrid's result and arguments serialization"
- [x] Implement replicatior library with basic types serialization
- [x] Rename `ExecuteHybridFnCommand` to `ExecuteClientCodeCommand`
- [x] Use replicator for Hybrid results and arguments
- [x] Hybrid functions and functions as parameters
- [x] Function as return value

[2016-05-11 09:30] inikulin opened #525 "Improve missing `await` tracking system"
- [ ] Handle cases then error can be caused by missing `await`, e.g.:

[code]

Place missing await error before the actual error in report, because it may give a hint about a cause of actual error.
- [ ] Handle missing awaits for ClientFunctions
- [ ] Handle missing awaits for Selector
- [ ] Handle missing awaits for Selector snapshot shorthand properties and methods

[2016-05-11 09:44] inikulin commented on #523
\cc @DevExpress/testcafe I still don't have a good idea about what we should do if page unload occurs during Hybrid execution. There are two options here:
- [ ] On page load return undefined as hybrid result, since it was not able to complete on given page
- [ ] Re-execute hybrid on new page

Also I think we should use some part of the already machinery for the actions (do not send results on unlo

[2016-05-11 09:48] #241 closed

[2016-05-11 09:52] kirovboris commented on #523
I think re-executing hybrid on new page can hide problems in a test, so i prefer the first way.

[2016-05-11 09:57] inikulin commented on #523
Yes, but what if hybrid execution happens at the moment of some buffer-redirect page (like on gmail login) and returns `undefined`. It will be quite confusing.

[2016-05-11 10:04] kirovboris commented on #523
In this case user doen't understand at which moment the hybrid is executing. It's confusing me too. And what does mean result of hybrid on buffer-redirect page if we have calculated it?

[2016-05-11 10:07] inikulin commented on #523
We logged in on gmail. Out barriers triggers next action which is Hybrid execution. We execute hybrid. During login gmail redirects through number of pages and at this moment we execute hybrid - user receives undefined result.

[2016-05-11 10:09] inikulin commented on #523
Also, it's not correct semantically to have function result affected by side effects. If function has determined behavior (it's code) it's result should always be consistent within this determined behavior.

[2016-05-11 10:12] kirovboris commented on #523
Probably, we should raise the test error in this case. Isn't it?

[2016-05-11 10:14] inikulin commented on #523
Well, the more we discussing it the more I like the second option. We trying to make user to not care about page transitions and side effects, right? And then he executes hybrid and receives error because of page load.

[2016-05-11 10:14] miherlosev commented on #523
I think that behaviour should be customizable.
If redirect expected then we should execute hybrid on the next page.
If not then we shoue raise the error.

[2016-05-11 10:15] AndreyBelym commented on #523
Can we put a barrier, that prevents a page from changing the location, on `beforeunload` event, when a Hybrid execution start, and change the location after it is finished?

[2016-05-11 10:16] VasilyStrelyaev commented on #520
I guess using the `stop()` function and cancelling individual tasks are both valid scenarios?

[2016-05-11 10:17] inikulin commented on #523
Hybrid functions is an observation action - it's shouldn't affect page state

[2016-05-11 10:17] inikulin commented on #523
If redirect expected then we should execute hybrid on the next page.
If not then we shoue raise the error.

Too complicated.

[2016-05-11 10:18] inikulin commented on #523
Also, it doesn't solve issue with buffer-redirect pages. I don't want state of buffer-page, I need state of the page once I've logged in

[2016-05-11 10:21] kirovboris commented on #523
I afraid of unpredictable result of hybrid. If buffer page loads significant time i will have differrent results on every test machine, in continuous integration etc.

[2016-05-11 10:22] inikulin commented on #520
`Runner.stop()` cancels all task produced by runner. By cancelling `Runner.run()` promise you cancel individual task.

[2016-05-11 10:22] AndreyBelym commented on #523
If you aware of buffer pages in your app, you can just wait, or check the location of current page, return null and try again.

[2016-05-11 10:27] inikulin opened #527 "Implement touch gestures actions"
- `t.pullUp`,
- `t.pullDown`,
- `t.swipeRight`,
- `t.swipeLeft`.

 Which will gracefully degrade to scrolling on devices without touch support.

[2016-05-11 10:35] AndreyBelym commented on #523
As it looks for me, Hybrids execution will be far more predictable, if we will just execute in place where we are now. If we can not finish it, we should just to inform the user about the incident. Maybe throw an error, or introduce a status code.

[2016-05-11 10:39] inikulin commented on #525
Blocked on #524 because it will introduce new machinery by passing hybrid results to action

[2016-05-11 10:41] inikulin commented on #523
But it breaks the paradigm we use for actions. I don't understand why we allow it for actions, but don't allow it for hybrids. Also, what about Hybrids passed as action selectors? In that case they will have different behavior which is yet again inconsistent

[2016-05-11 10:42] AlexanderMoskovkin commented on #523
What if hybrid function executing leads to page location changing? If we will re-execute it after redirect it'll be an endless loop.

[2016-05-11 10:43] inikulin commented on #523
I like this argument.

[2016-05-11 10:45] inikulin commented on #523
So, in case of page unload we need to throw `Client code execution was interrupted by page change` error?

[2016-05-11 10:47] AndreyBelym commented on #523
Looks like it conflicts with

[2016-05-11 10:48] AndreyBelym commented on #523
BTW I feel like that Hybrids are far more powerful to restrict them for observation use only.

[2016-05-11 10:48] inikulin commented on #523
@AlexanderMoskovkin can you take care on this issue, since you have the best knowledge of the action-related driver code.

[2016-05-11 10:49] AlexanderMoskovkin commented on #523
sure

[2016-05-11 10:49] AlexanderMoskovkin commented on #523
So, we don't allow to change a page location via a hybrid function?

A customer can write anything in a function, we should process this correct

[2016-05-11 10:50] inikulin commented on #523
Well, in functional testing **good** test shouldn't perform any actions by code, it should use user emulated actions. I think we should stick with paradigm that Hybrids should be use **primarily** for the observation. Otherwise we need to treat them as actions and e.g. they should be rejectable by page errors (but I believe it's not what you expect in most cases).

[2016-05-11 10:56] AlexanderMoskovkin commented on #523
Agree

[2016-05-11 10:56] VasilyStrelyaev commented on #520
I understand what they do, I just wanted to make sure that we expect users to use both.
Thanks!

[2016-05-11 11:39] VasilyStrelyaev commented on #520
Does such an example make sense?

[code]

[2016-05-11 11:40] VasilyStrelyaev commented on #520
I was just trying to imagine what can trigger the cancel...

[2016-05-11 11:41] VasilyStrelyaev commented on #520
pardon
[code]

[2016-05-11 11:51] inikulin commented on #520
I'd rather go with example like this:

[code]

[2016-05-11 12:04] VasilyStrelyaev commented on #520
emm.... I was thinking of something more real-life but if it looks too complicated...
Maybe we'll have a real-life sample in **Receipts**.

[2016-05-11 12:16] inikulin commented on #520
This doesn't look like a real life example for me. Also I have no idea how it will be adopted by users. We use it to cancel task in the studio, I'd rather describe the possibility of doing so without any premise. I believe it will be really uncommon scenario, so it shouldn't go to recipes. We need just to mention that we have such API

[2016-05-11 12:31] VasilyStrelyaev commented on #520
ok, got it

[2016-05-11 13:00] inikulin commented on #524
I'm working on this

[2016-05-11 13:52] VasilyStrelyaev commented on #506
I feel like we will need some help with the Example page. Ideas and technical matters.
\cc @DevExpress/testcafe

[2016-05-11 13:54] VasilyStrelyaev commented on #506
First, I assume that we can technically borrow the existing Example page. Despite it's MVC while our GitHub pages website is static. Cause this page does not make much use of MVC currently.

[2016-05-11 13:55] #520 closed

[2016-05-11 13:56] VasilyStrelyaev commented on #506
But we may probably want something more. For instance, something that includes `contentEditable` elements.

[2016-05-11 14:01] inikulin commented on #506
I guess we can not care much about page looking as a real page. Moreover we can have multiple example pages. E.g. copy existing one for getting started (I don't think we need any server-side functionality for it). When we can create some additional example pages for specific actions, e.g. to illustrate contentEditable typing we can just create single page with some popular online editor embedded o

[2016-05-11 14:40] VasilyStrelyaev commented on #506
OK, sounds good.

BTW, is there a fast way to copy a page?

[2016-05-11 14:47] inikulin commented on #506
Yes:
- Open HTML markup in editor of your choice.
- Set focus to the editor window
-Use the following key combination: <kbd>CTRL</kbd>+<kbd>A</kbd>, <kbd>CTRL</kbd>+<kbd>A</kbd>
- Create destination file in your editor
- Focus to it's window
- Press <kbd>CTRL</kbd>+<kbd>V</kbd>
- Decorate it with your CSS
...
- PROFIT!

[2016-05-12 09:04] AlexanderMoskovkin commented on #527
Let's clarify new actions api and it's behavior

[code]

The things to discuss:
1) `t.mouseDown(selector, clickOptions || mouseOptions);`
Should we have the `caretPos` option here like in the `click` command?

 I suppose, yes, because mouseDown leads to the element focusing (and set selection for editable elements)

2) Should `t.mouseUp` have arguments? If no - it's just raise mouse up event on th

[2016-05-12 09:55] inikulin commented on #527
Let's postpone mouse events discussion for now, since I think they are not quite important and we don't need them in MVP. The more important is `t.scroll` which is often used e.g. in mobile devices. What kind of scroll actions should we have:
`t.scrollDocumenToTop`,`t.scrollDocumenToBottom` or should it have selector? Should we have `t.scrollToElement` version or `t.scroll` with offset?

[2016-05-12 09:58] helen-dikareva commented on #527
1) I vote for t.mouseDown(selector, clickOptions);
2) t.mouseUp without arguments
3) i think we should support native behavior for combination of simple actions
4) `move` looks more attractive

[2016-05-12 10:03] helen-dikareva commented on #527
I think `t.scrollDocumenToTop,t.scrollDocumenToBottom` insufficiently reusable variants.
I think we should have command `t.scrollToElement` because `t.scroll` looks like we should scroll element itself

[2016-05-12 10:05] inikulin commented on #527
I don't agree. The most common scenario people asked for is to scroll down the document e.g. to load additional comments/items in live feed.

[2016-05-12 10:06] helen-dikareva commented on #527
Let's call it `t.scrollDocument` and send offsets to it

[2016-05-12 10:07] miherlosev opened #530 "Use hammerhead's native clearTimeout and clearInterval methods"
Replace in code:
[code]
to

[code]

[2016-05-12 10:09] inikulin commented on #527
I just thought we don't need scroll action at all. What we need is touch device gestures: `t.swipeUp`, `t.swipeDown`, `t.swipeRight`, `t.swipeLeft`

[2016-05-12 10:37] AlexanderMoskovkin commented on #530
Duplicate: https://github.com/DevExpress/testcafe/issues/431

[2016-05-12 10:37] #530 closed

[2016-05-12 11:40] georgiy-abbasov commented on #471
Found next behavior in IOS:
If safari just opened the page and we have called window.scrollTo () method, the page will scroll to specified coords, then to the top position, then to last scroll position (if we were on this page before) and after this all it will scroll again to our specified position. If we have immediatly called window.scrollTo() method  several times after page has been opened an

[2016-05-12 14:28] helen-dikareva commented on #441
I'm working on `takeScreenchot` now.

[2016-05-12 15:17] inikulin commented on #441
Isn't `uploadFile` already implemented?

[2016-05-12 15:18] AlexanderMoskovkin commented on #441
it's not merged yet #508

[2016-05-13 09:45] miherlosev opened #532 "Remove unused field `xhrBarrier.passed`"

[2016-05-13 09:49] miherlosev opened #533 "Remove qunit test 'barrier - Skip TestCafeClient requests'"
see more details in https://github.com/DevExpress/testcafe-hammerhead/issues/577

[2016-05-13 11:08] AlexanderMoskovkin commented on #532
https://github.com/DevExpress/testcafe/blob/master/src/client/core/xhr-barrier.js#L23

[2016-05-13 13:38] miherlosev commented on #532
Also remove the `xhrBarrier._removeXhrFromQueue` method.
https://github.com/DevExpress/testcafe/blob/master/src/client/core/xhr-barrier.js#L49

[2016-05-13 15:38] #532 closed

[2016-05-13 16:21] inikulin commented on #442
Closed in favor of #441

[2016-05-13 16:21] #442 closed

[2016-05-16 14:44] AlexanderMoskovkin commented on #523
I'm working on this

[2016-05-17 10:14] VasilyStrelyaev commented on #506
Had to make it from the ground up and... managed to create such a thing so far:
[http://strelyaev-w8:8080/testcafe/example/](http://strelyaev-w8:8080/testcafe/example/)

Is it okay and I'm calling the designer - or did I do it wrong?

[2016-05-17 10:23] inikulin commented on #506
What do you mean by that?

[2016-05-17 10:57] VasilyStrelyaev commented on #506
If it's ok, I'll ask the designer to improve the visual part (mostly, the layout) and then open a PR.

[2016-05-17 11:04] inikulin commented on #506
Unfortunately, I can't access your URL from home

[2016-05-17 11:04] VasilyStrelyaev commented on #506
Even using VPN?

[2016-05-17 11:06] miherlosev commented on #506
Try http://strelyaev-w8.corp.devexpress.com:8080/testcafe/example

[2016-05-17 11:06] VasilyStrelyaev commented on #506
okay then, we'll get back to it later...
does anyone else have something to say?

[2016-05-17 11:22] inikulin commented on #506
I don't have VPN here

[2016-05-17 11:44] AlexanderMoskovkin commented on #451
I'm working on this

[2016-05-17 12:13] miherlosev commented on #506
http://strelyaev-w8.corp.devexpress.com:8080/testcafe/example is public url.
It will work without VPN

[2016-05-17 12:27] helen-dikareva commented on #441
@inikulin In context of `takeScreenchotCommand` we decided to implement taking screenshots on fails. What do think should we take screenshots for errors are raised on server (error in test code, including assertion errors) or not?

[2016-05-17 12:45] AlexanderMoskovkin commented on #471
Adding to the previous comment: it's reproduced only on saucelabs virtual machines with ios device emulators. It's **not** reproduced on macbook and browserstack

[2016-05-17 13:58] inikulin commented on #441
idk, let's bikeshed

[2016-05-17 15:14] helen-dikareva commented on #441
Let's discuss @DevExpress/testcafe

[2016-05-17 15:16] #488 closed

[2016-05-18 08:06] #523 closed

[2016-05-18 08:25] inikulin opened #542 "APIv2: t.waitForCondition(fn)"

[2016-05-18 08:26] inikulin commented on #441
Moved `waitForCondition` in separate ticket: https://github.com/DevExpress/testcafe/issues/542 We don't need it in MVP

[2016-05-18 11:46] helen-dikareva commented on #441
I'm working on `resizeWindow`

[2016-05-18 12:22] AlexanderMoskovkin commented on #441
I don't know too what we should do in this case, I propose to discuss it together in the office and take a decision.

[2016-05-18 12:22] helen-dikareva commented on #441
We decided to implement two command
`t.resizeWindow(widht, height)
t.resizeWindowToFitDevice(device, [orientation])`
like in testcafe-browser-natives https://github.com/DevExpress/testcafe-browser-natives/blob/master/API.md
Is it ok?

[2016-05-18 13:00] AlexanderMoskovkin commented on #451
There are different cases with native dialogs, so I'd like to discuss how we should process them. Here is my opinion (below are cases that we can meet in tests):

**1) Alert dialog appears on page load (before any command executing)**
(`page loaded` - `alert appeared` - `click command started` - `click command done`)
Alert is not a result of click action, so I suppose we should process it in the t

[2016-05-18 13:04] inikulin commented on #451
Looks legit.

[2016-05-18 13:09] helen-dikareva commented on #451
I agree on all points.
And now we can take into account sequence of dialogs handlers (like this `t.click().handleAlert().handlePrompt()`) In previous version we didn't do it.

[2016-05-18 13:25] AlexanderMoskovkin commented on #451
yep

[2016-05-18 13:29] AndreyBelym commented on #451
Looks nice.
There is some questions though.

1) What if `alert` is raised after some action, but with a significant delay? (e.g. file uploading). Obvious solution is to use `wait` action here, so we should write like:
`t.click().wait().handleAlert()`
right?

1.a) What if delay between `click` and raising `alert` is variable, and `alert` may be raised both between `click` and `wait`, and during `wa

[2016-05-18 13:37] inikulin commented on #451
`t.click().wait().handleAlert()`

No need for this. We either have next action or end of test. In both cases we will fail with unhandled alert.

[2016-05-18 13:38] AlexanderMoskovkin commented on #451
1 - Nice question. I suppose we should ignore `wait` in this case. In other words `t.click().wait().handleAlert()` and `t.click().handleAlert().wait()` is the same for us. Otherwise it may be too complicated.
@inikulin do you mean the same?

[2016-05-18 13:38] inikulin commented on #451
Well, you should. It's like you don't care about ordering of actions

[2016-05-18 13:39] inikulin commented on #451
Why?? We should fail on `wait` with `handleAlert` callsite. You have unhandled dialog.

[2016-05-18 13:46] AlexanderMoskovkin commented on #451
- `click command started` - `alert appeared` - `click command done`
[code]

- `click command started` - `click command done` - `1 sec delay` - `alert appeared`
[code]

ok?

[2016-05-18 13:48] AndreyBelym commented on #451
OK, I'll describe situation. It's exactly how it goes on ASPxDemos. Test page is file manager.
1) Test selects a file for upload, and clicks 'Upload button'.
2) File takes some time to upload.
3) Test tries to upload the same file again.
4) Duplicate file takes some time to upload.
3) Server checks the duplicate file's name, and rejects it because a file with the same name was already uploaded. Pa

[2016-05-18 13:48] inikulin commented on #451
But, I think no. We've discussed previously that `wait` actions are observational actions. So, I guess we should make exception for them

[2016-05-18 14:05] AlexanderMoskovkin commented on #451
As I understand, it should be
`t.select().select().wait().handleAlert()`

[2016-05-18 14:08] inikulin commented on #451
I guess we will wait for 10 seconds by default for the dialog to appear, like we have with action elements?

[2016-05-18 14:14] AlexanderMoskovkin commented on #451
If we have `t.click().handleAlert().click()` - we are waiting for 10 seconds between clicks or until alert dialog is appeared. It's ok for me

But what the final decision for the `wait` action?

unfortunately I didn't get it, could you please describe it with an example (like I did above)?

[2016-05-18 14:15] AndreyBelym commented on #451
Also, what's about allowing user to check handled dialog message?

[2016-05-18 14:18] AlexanderMoskovkin commented on #451
I had one of two requests for this since we've released the first TestCafe version. I suppose, we can implement this

[2016-05-18 14:23] inikulin commented on #451
I suggest `t.handleAlert(string)` and `t.handlerAlert(regularExpression)` to check text.

[2016-05-18 14:24] inikulin commented on #451
If 10 seconds exceeds after the first click and dialog doesn't appear - we fail, right?

[2016-05-18 14:26] AlexanderMoskovkin commented on #451
yep

[2016-05-18 14:28] inikulin commented on #451
Sounds good to me

[2016-05-18 15:25] VasilyStrelyaev commented on #240
That was the right state of mind. I just realized that `uploadFile` simply populates the input... well, there's not too much of upload...

[2016-05-18 15:30] VasilyStrelyaev commented on #240
`populateUpload` as an option

[2016-05-19 16:55] georgiy-abbasov commented on #471
Found next behavior on Android simulator platform:
Overriding native dialog method, like in example below, will provoke native environment to call overriden method. It brings to raising unexpected dialog error, and the tests, where we check that an error wasn't raised, fail.
[code]

[2016-05-23 08:45] #502 closed

[2016-05-23 10:40] georgiy-abbasov opened #547 "Sometimes browsers open nonexistent page during functional tests execution."
Example:
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/126326393

https://saucelabs.com/tests/a3ae19ee18474d3b9e3bdab99253ac3c ([screenshot](https://assets.saucelabs.com/jobs/a3ae19ee18474d3b9e3bdab99253ac3c/0002screenshot.png))
https://saucelabs.com/tests/1fb29c24fe544387990b49b53ba94ed3 ([screenshot](https://assets.saucelabs.com/jobs/1fb29c24fe544387990b49b53ba94ed3/0002screenshot.png))

[2016-05-23 11:33] georgiy-abbasov commented on #547
I'm working on this.

[2016-05-23 15:22] AlexanderMoskovkin opened #549 "Prevent real actions during test execution"
We should prevent any actions from keyboard and mouse during tests execution to avoid unexpected results.

[2016-05-23 15:25] AlexanderMoskovkin opened #550 "Prevent real actions during test execution"
We should prevent any actions from keyboard and mouse during tests execution to avoid unexpected results.

[2016-05-23 19:54] inikulin commented on #550
I thought we have this functionality already. Or it only works with old API?

[2016-05-23 19:55] #550 closed

[2016-05-23 19:55] inikulin commented on #549
I thought we have this functionality already. Or it only works with old API?

[2016-05-24 10:37] AlexanderMoskovkin commented on #549
It works only with old API. We should add it to the driver

[2016-05-24 11:37] AlexanderMoskovkin commented on #437
The related `testcafe-hammerhead` issue was fixed, now we can resolve this issue. But we've found one more issue with click on a download link. `pageUnloadBarrier` works incorrectly after a click on the download link is performed. Let's fix it in the context of this issue. /cc @georgiy-abbasov

[2016-05-24 11:38] AlexanderMoskovkin commented on #437
In fact, any test brakes after click on a download link now, so I move this issue to the `MVP` milestone

[2016-05-24 12:51] AlexanderMoskovkin commented on #244
I'm working on this

[2016-05-24 13:23] AlexanderMoskovkin commented on #244
Do we leave the old behavior with js-errors in iframes?

When we are in the main window context or in a same-domain iframe context:
- if an error occurs in the main window we fail the test with the error
- if an error occurs in any same-domain iframe we fail the test with the error
- if an error occurs in any cross-domain iframe we ignore it

When we are in a cross-domain iframe context:
- if an e

[2016-05-24 14:13] inikulin commented on #244
Yep

[2016-05-24 14:54] georgiy-abbasov commented on #437
I'm working on this.

[2016-05-24 15:12] AlexanderMoskovkin commented on #244
I'd like to ensure one more detail. What the command should be failed if there is no an iframe with the specified selector, `switchToIframe` or the next action command in the iframe.
What we choose:
[code]
or
[code]

I prefer the first

[2016-05-24 15:14] inikulin commented on #244
`switchToIframe` itself. It's like action error, we fail action if selector doesn't exists.

[2016-05-25 09:59] VasilyStrelyaev commented on #240
Is anyone receiving?

[2016-05-25 10:24] inikulin commented on #240
???

[2016-05-25 11:13] VasilyStrelyaev commented on #240
@inikulin coulc you please scroll up a bit

[2016-05-25 11:48] inikulin commented on #240
Maybe `setFilesToUpload`?

[2016-05-25 11:53] VasilyStrelyaev commented on #240
sounds good

[2016-05-26 07:03] AlexanderMoskovkin commented on #240
So, if we change `uploadFile -> setFilesToUpload`, what about `clearUpload`. We leave it as is?

[2016-05-26 08:13] VasilyStrelyaev commented on #240
Meaning "clear the upload object"... I, personally, don't mind.

[2016-05-26 12:04] inikulin commented on #437
@AlexanderMoskovkin why it's in APIv2 MVP? Is this somehow completely breaks any API? Or it's just a severe bug? If later - it's shouldn't be in MVP milestone

[2016-05-26 12:05] AlexanderMoskovkin commented on #437
It's a severe bug

[2016-05-26 12:52] inikulin commented on #437
I'll take it from the milestone then. For server bugs we just use important label.

[2016-05-27 12:32] AndreyBelym opened #559 "IE cuts the page url if it is assigned to title"
Since the release of `testcafe-browser-natives@0.11.0` we use general approach when searching for IE windows, and do it by enumerating window titles. It caused failures of screenshot functional tests, because we are still putting page URLs to the window title, and unfortunately IE cuts them if they are too long. As an example for the screenshot test
url was
`http://127.0.0.1:2000/sj5drnbq/http://l

[2016-05-27 12:43] helen-dikareva commented on #559
I agree of course, because too long page Urls will provide us problems in future, not only for functional tests

[2016-05-27 12:54] inikulin commented on #559
As far as I remember we've discussed to use `browserWindowId` in context of browser providers. Maybe we will switch to it now? TestRun id is intrinsic thing of `testcafe` it's not quite good to use it in utility library which browser-native will become.

[2016-05-27 13:14] AndreyBelym commented on #559
That's fine, except I thought that this is urgent. In that case fix for this issue will be delayed until browser providers will be merged.

[2016-05-27 14:12] inikulin commented on #559
OK, let's go with test run id for now

[2016-05-27 14:12] helen-dikareva commented on #559
ok

[2016-05-30 09:44] helen-dikareva commented on #479
![status-bar](https://cloud.githubusercontent.com/assets/12034551/15645841/688c4a04-2663-11e6-97f2-0b86ff4c833c.png)

Designer proposed to implement status indicator similarly like in google-design
https://www.google.com/design/spec/components/progress-activity.html

What do you think?

[2016-05-30 09:53] inikulin commented on #479
I like it. I guess we will use determinate indicator for elements waiting and indeterminate  for page loads.

[2016-05-30 10:29] AlexanderMoskovkin commented on #479
I like it too

[2016-05-30 11:14] helen-dikareva opened #563 "Make default offsets for mouse actions equal to the center of element"
Test without offsets
`t.click('#element')`
should click on the center (like in previous API)

[2016-05-30 11:44] helen-dikareva commented on #479
Last question about appearance when just test in progress.
Should we show grey line instead of progress bar? I think no.
What about text: "Test in progress..." ?

[2016-05-30 11:47] inikulin commented on #479
What guide lines tell about?

[2016-05-30 12:10] VasilyStrelyaev commented on #479
Why not?
`Test in Progress...` if we use title capitalization. I'm not sure...
Compare:
`Test in Progress...` `Loading Web Page...`
`Test in progress...` `Loading web page...`

After all, Google suggests that we use sentence capitalization everywhere except buttons. Which is the most common practice nowadays, from what I notice.

[2016-05-30 12:11] VasilyStrelyaev commented on #479
And yeah, no bar for test in progress

[2016-05-30 12:14] VasilyStrelyaev commented on #479
Apple doesn't, but...
![image](https://cloud.githubusercontent.com/assets/11459924/15649303/32b1ca2e-2679-11e6-92f9-081cbd5372ea.png)

I don't like being addressed by a Title

[2016-05-30 12:25] inikulin commented on #549
Moving from MVP milestone. It's not preventing us from releasing a product.

[2016-05-30 12:31] AlexanderMoskovkin commented on #240
We take a decision to rename `uploadFile` -> `setFilesToUpload`, and leave `clearUpload`. If all agree with this, @georgiy-abbasov please take care of this

[2016-05-30 12:44] inikulin commented on #240
I agree

[2016-05-30 13:40] inikulin opened #564 "Hybrid without `await` hits inner test run assertion"
Reproduction code:
[code]

`TestDoneCommand` added right after `ExecuteHybridFunction` and triggers inner assertion. We shouldn't enable `await` tracking for hybrids to enable `Promise.all` for them (which is perfectly makes sense for observation), so we will `executionChain` from `TestController` to `TestRun` instead.

[2016-05-30 15:05] #559 closed

[2016-05-31 10:22] #549 closed

[2016-05-31 15:52] inikulin opened #567 "Implement action error recovery"
[code]

[2016-06-01 07:55] AlexanderMoskovkin opened #568 "The `Should restart waitFor action after redirect` test hangs up in FF somethimes"
https://travis-ci.org/testcafe-build-bot/testcafe/jobs/134207975

[2016-06-01 10:01] #563 closed

[2016-06-01 13:21] inikulin commented on #564
closed via #566

[2016-06-01 13:21] #564 closed

[2016-06-01 13:22] inikulin commented on #567
Was erroneously closed by #566

[2016-06-01 13:59] inikulin commented on #524
Ok, I would like to discuss how element descriptor will look like. Here are descriptors for different node types.

### Element
[code]

### CommentNode
[code]

### CommentNode
[code]

### DocumentFragment
[code]

### Document
[code]

\cc @DevExpress/testcafe

[2016-06-01 14:15] AlexanderMoskovkin commented on #524
It looks complete for me, I just was thinking about `id` and `className` for elements, but we can get it from `attributes`.

[2016-06-01 14:16] georgiy-abbasov commented on #524
@inikulin, what about property `hasFocus` or `isFocused` for Element ?

[code]

[2016-06-01 14:17] inikulin opened #571 "APIv2: Implement `select`, `selectNth`, `selectAll`, `selectByText` built-in hybrids"
Will provide the easy way to obtain element descriptors.

[2016-06-01 14:19] inikulin commented on #524
Added `focused` property and `hasClass` function

[2016-06-01 14:20] AlexanderMoskovkin commented on #524
I'm not sure we should add the `focused` property because a dom element doesn't have any property like `focused` or `isActive`. You always can check this via  `Hybrid(() => document.activeElement)` that returns an element. But if you want, you can add)

[2016-06-01 14:22] inikulin commented on #524
Well, it doesn't have `width` property as well, but we add it to simplify things

[2016-06-01 14:24] inikulin commented on #524
BTW, I wonder if we should add `textContent` and `innerText` properties. Difference described here: https://developer.mozilla.org/en/docs/Web/API/Node/textContent

[2016-06-01 14:30] georgiy-abbasov commented on #524
@AlexanderMoskovkin, i think it's easier
Using this
[code]
instead of
[code]

[2016-06-01 14:36] AlexanderMoskovkin commented on #524
These are not completed examples, it should be like the following:
[code]

So, there is no any difference =)
But I'm not against of the `focused` property publishing

[2016-06-01 14:37] inikulin commented on #524
@AlexanderMoskovkin it makes sense if you want to assert various properties of element. So you will end up with two hybrids and two hybrid calls.

[2016-06-01 14:38] AlexanderMoskovkin commented on #524
@inikulin I have a question, what the `text` property returns. It works the same way as `textContent` ?

[2016-06-01 14:38] churkin commented on #524
What about `innerHTML` ?

[2016-06-01 14:39] churkin commented on #524
I often faced with this property in tests

[2016-06-01 14:41] inikulin commented on #524
I guess it should be more like `innerHTML` - ignore invisible nodes and `<script>` and `<style>` elements content. I guess we need `textContent` in addition

[2016-06-01 14:42] inikulin commented on #524
Can be really huge chunk of data. And I can't figure out common usage scenarios from the top of my mind

[2016-06-01 14:46] churkin commented on #524
@inikulin I just open our aspxperience tests:

[code]

[2016-06-01 14:46] inikulin commented on #524
BTW, should we have `computedStyle` and `style` properties?

[2016-06-01 14:48] inikulin commented on #524
@churkin This is an example of lazy poorly written test. It doesn't checks particular changes (e.g. new button appeared), but just checks for any markup changes. You can always create hybrid for `innerHTML`. But it's really bad usage example.

[2016-06-01 14:50] inikulin commented on #524
BTW, do we filter hammerhead attributes set on element in sandbox?

[2016-06-01 14:50] churkin commented on #524
@inikulin I agree, it's bad. But even we do it :)

[2016-06-01 14:51] inikulin commented on #524
@churkin I'd rather not add it to descriptor - too huge overhead for each element

[2016-06-01 14:52] churkin commented on #524
@inikulin

Of course

[2016-06-01 14:52] inikulin commented on #524
I mean both. AFAIK in old version we had only computed styles in recorder

[2016-06-01 14:53] churkin commented on #524
I vote for both at the same time

[2016-06-01 14:54] inikulin commented on #524
BTW, I guess we need `Location` object descriptor as well

[2016-06-01 14:54] inikulin commented on #524
@churkin https://github.com/DevExpress/testcafe/issues/524#issuecomment-223017242?

[2016-06-01 14:59] miherlosev commented on #524
https://github.com/DevExpress/testcafe-hammerhead/blob/master/src/client/utils/dom.js#L339

[2016-06-02 09:57] inikulin commented on #524
BTW, do we need additional properties (or subclass with addtional properties) for inputs? Like `value`, `checked`, etc.?

[2016-06-02 15:19] helen-dikareva commented on #451
Now we decided to give up ideas of:
1) check the order and number of dialogs
2) check the dialogs' text

We decided to introduce the concept that dialog is always the result of action.
In this case if you have a dialog appearing during page loading (before the first step was running) you should use `t.navigateTo()` as first step in test. The only way we can process dialogs.

Information about dial

[2016-06-02 15:24] inikulin commented on #451
It should be:
[code]

[2016-06-02 15:39] inikulin commented on #451
And I guess it should be `handleDialogs` instead of `dialogHandlers`

[2016-06-02 19:51] inikulin commented on #524
Just figured out that pure Hybrids concept bring us back to situation then we have action argument which can't be awaited. E.g.:
[code]

What we can do:
### Option 1
Introduce special kind of hybrid: `Selector`. Forbid elements as return values in regular hybrids with appropriate message: `if you want to return DOM nodes use Selector`. Selector will behave like hybrids, but will expect `null` or D

[2016-06-03 07:05] kirovboris commented on #524
I dislike the third option, because:
1. It waits extended time if element doesn't exist on page.
2. It's unclearly and can causes unstable tests.

First and second options are ok for me, but ```Selector``` hybrid function looks redundant.
The main point - I want to have the full control on my test and avoid "magical ways", when i don't understand how it works. Also similar machineries can cause la

[2016-06-03 10:25] inikulin opened #574 "APIv2: implement `Selector` hybrids"
Unlike hybrids `Selector` returns element descriptor object. Selectors and their results can be used as action selectors. By default it will use our waiting heuristics for element to appear in the DOM. Selectors can return DOM node or `null`. If you want immediate value, you can use `.now` postfix of selector:
[code]

- [x] Throw if hybrid returns DOM node
- [x] `Client code` -> `Hybrid function c

[2016-06-03 10:31] inikulin commented on #574
## Node descriptors

### Element
[code]

### CommentNode
[code]

### TextNode
[code]

### DocumentFragment
[code]

### Document
[code]

[2016-06-03 10:32] inikulin commented on #524
We've done here. Selector functionality and node descriptor discussion moved to #574

[2016-06-03 10:32] #524 closed

[2016-06-03 12:12] VasilyStrelyaev commented on #451
even `handledDialogs`

[2016-06-03 12:14] VasilyStrelyaev commented on #451
I wonder if we could add a server-side `onHandled` that's called after the handling - purely for assertions
[code]

[2016-06-03 12:14] AndreyBelym opened #575 "MS Edge fails to open an url with NetBIOS hostname"
Maybe it is just issue with our network only, but Edge just shows "Hmm, we can't reach this page" when starting from command line(through `microsoft-edge://` protocol) if the page url has NetBIOS name as the hostname. I've tried to discuss the issue with M$ a year ago: https://social.technet.microsoft.com/Forums/en-US/06ae1597-6c28-4fd2-95ac-f52df6c72d34/microsoft-edge-doesnt-open-pages-via-micros

[2016-06-03 12:18] inikulin commented on #575
Bad, can we ping them once again about this issue?

[2016-06-03 12:20] AndreyBelym commented on #575
I will try it again. The second bad news is that you cannot access a machine via NetBIOS name through Saucelabs tunnel.

[2016-06-03 14:13] VasilyStrelyaev commented on #574
Regarding `waitForElement`...
Let's assume I'm using a Hybrid to return a value I need to assert. What if I need to wait for a particular element in order to calculate that value? What if this element is invisible?
I may need `waitForElement` as well as `waitForElementVisible`- right?

[2016-06-03 14:18] inikulin commented on #574
BTW, interestin question: should regular hybrids accept element descriptors as arguments?

[2016-06-03 14:19] inikulin commented on #574
Should selector accept element descriptors?

[2016-06-03 14:21] inikulin commented on #574
Or both should accept, but descriptors will not be converted back to actual DOM nodes?

[2016-06-03 14:36] VasilyStrelyaev commented on #574
@DevExpress/testcafe ?

[2016-06-06 09:29] VasilyStrelyaev commented on #574
Doesn't accepting element descriptors duplicates the `dependencies` mechanism for Hybrids - in a sense?

[2016-06-06 09:34] VasilyStrelyaev commented on #574
And just to confirm - `t.eval` produces a regular Hybrid, doesn't it?

[2016-06-06 09:49] AlexanderMoskovkin commented on #574
I'm not sure for now what is better, but just have a question. If we send an element descriptor to the Selector, what is it on the client, a dom-element or a snapshot of the element?
In other words:
[code]

[2016-06-06 10:00] inikulin commented on #574
@AlexanderMoskovkin This is exactly what I've asked https://github.com/DevExpress/testcafe/issues/574#issuecomment-223592034
idk

[2016-06-06 10:17] AlexanderMoskovkin commented on #574
Oh yes, I understood your comment in the wrong way.

I'm inclined to don't allow to send an element descriptor as an argument. If we allow this we have some unclear things:
1) the question asked above
2) what if the element is not on the page

I think it's better to send Selector as an argument in this case. As I understand the following is allowed:
[code]

[2016-06-06 10:55] AlexanderMoskovkin opened #577 "Update testcafe-browser-natives to v0.12.0"
https://github.com/DevExpress/testcafe-browser-natives/pull/68

[2016-06-06 10:59] inikulin commented on #574
We can implicitly execute descriptor's selector if it's passed as argument

[2016-06-06 11:51] VasilyStrelyaev commented on #574
What about `t.eval`? https://github.com/DevExpress/testcafe/issues/574#issuecomment-223911488

[2016-06-06 11:52] inikulin commented on #574
@VasilyStrelyaev Yes. For selectors we will have `t.select`

[2016-06-06 12:42] #337 closed

[2016-06-06 12:45] VasilyStrelyaev commented on #451
@DevExpress/testcafe so what about `onHandled` ?

[2016-06-06 13:02] inikulin commented on #451
Let's not do this in MVP

[2016-06-07 13:58] helen-dikareva commented on #577
I'm working on this

[2016-06-08 09:30] kirovboris opened #580 "Eslint: add rule for linebreak style"
I faced with problem when install from npm on mac os x - ```bin\testcafe``` file contaned the newlines in windows style.

[2016-06-08 12:07] MargaritaLoseva opened #582 "Docs: Continuous Integration topic required"

[2016-06-10 12:05] AlexanderMoskovkin commented on #441
All commands are implemented

[2016-06-10 12:05] #441 closed

[2016-06-10 12:09] AlexanderMoskovkin commented on #240
actions implementing done.
A couple of questions about the first comment

I suppose it'll be implemented in the #574 issue?

This is implemented already, am I right?

/cc @inikulin

[2016-06-10 12:18] inikulin commented on #240
Yes to both questions. We can close it now

[2016-06-10 12:19] #240 closed

[2016-06-13 14:47] inikulin opened #584 "`resizeWindowToFitDevice` should have options object as second argument"
Instead of:
[code]

it should be

[code]

It should be Options object with property validation mechanism. We've already discussed it in https://github.com/DevExpress/testcafe/pull/543#discussion_r65533925

[2016-06-13 14:55] inikulin opened #585 "We don't have functional tests for `takeScreenshot` and `resizeWindow` agument errors"

[2016-06-13 14:59] inikulin commented on #585
Also, in `resizeWindow` test initial window is not restored correctly: we store initial sizes in global vars, but tests runs in parallel in different browsers, so initial sizes get overwritten. I suggest to save initial values in dictionary there user agent is a key. You can obtain user agent using ClientFunction both to query and write to dictionary.

[2016-06-13 15:00] inikulin opened #586 "`resizeWindow` functional tests fails locally if browser initially not maximized"

[2016-06-14 13:21] #283 closed

[2016-06-14 16:33] #584 closed

[2016-06-14 16:33] #585 closed

[2016-06-15 09:53] AndreyBelym commented on #586
Did #589 fixed that? I cann't reproduce it now.

[2016-06-15 10:13] helen-dikareva commented on #586
I think it fixed, I could not reproduce too after https://github.com/DevExpress/testcafe/pull/589

[2016-06-15 10:35] AndreyBelym opened #591 "Key pressing doesn't work in ASP Test"
`act.press` doesn't work in `ASPxGridViewDemos/Accessibility/KeyboardSupport` test. I've found that the issue is contained in #551.

[2016-06-15 13:15] inikulin commented on #586
Unfortunately I can't check at the moment (started big new feature in my master :tired_face: ).

[2016-06-15 13:43] inikulin opened #594 "Implement raw API functionality"
- [ ] Roles
- [ ] ClientFunctions
- [ ] Selectors
- [ ] Computable assertion arguments
- [ ] Callsites in compiler and actions
- [ ] `fixture.before`, `fixture.after`

[2016-06-15 16:26] georgiy-abbasov opened #595 "Rename `t.uploadFile` to `t.setFilesToUpload` (including server API)"

[2016-06-16 11:08] georgiy-abbasov opened #599 "Incorrect callsite line in error report on node v0.10.41"
If we try to run this test on node v0.10.41 and on any stable version (i had node v5.7.0), we will get error reports with different callsite lines.
[code]

[node v0.10.41](http://screencast.com/t/SZmMMPrB2Kv) - line 9
[node v5.7.0](http://screencast.com/t/P8suNx2rIwW)   - line 7

If run this test, error reports will be same.

[code]
[node v0.10.41](http://screencast.com/t/92lp85Irbg) - line 7
[nod

[2016-06-16 11:23] inikulin commented on #586
Nope, still reproduces (unstable) on my side. First test in the fixture fails, no matter which fails it is. I assume it need to resize at least once to pass correctly.

[2016-06-16 11:34] inikulin commented on #599
The problem is that `source-map-support` package can't produce correct callsites for the compiled code. Here is what we can do:

- [ ] First of all create **server** regression test to check that our changes works

### The good
- [ ] Try update Babel
- [ ] Try update `source-map-support`
- [ ] Submit bug to babel and/or `source-map-support`
- [ ] Try disable `retainLines` but we will have issue wi

[2016-06-17 08:37] #577 closed

[2016-06-17 10:47] inikulin opened #600 "Unify errors rendering"
It's common that runtime errors are wrapped with test run errors. In that case we don't have nice formatting for error messages. We need to unify rendering mechanism somehow.

[2016-06-17 10:54] georgiy-abbasov commented on #599
I've opened task with this issue on the Babel tracker
https://phabricator.babeljs.io/T7436

[2016-06-17 11:09] #244 closed

[2016-06-17 11:11] inikulin commented on #374
@AlexanderMoskovkin I think we can move `Update reporters with new errors test data`-part to separate issues, because it's not MVP-blocking.

[2016-06-17 11:13] AlexanderMoskovkin commented on #374
ok, I'll do this

[2016-06-17 11:14] AlexanderMoskovkin commented on #374
` Update generator-testcafe-reporter with new decorator and test data` - the same?

[2016-06-17 11:32] inikulin commented on #374
Yep

[2016-06-17 11:36] AlexanderMoskovkin opened #601 "Update reporters and reporter generator with new decorator and test data"
- [x] Update reporters with new errors test data
  - [x] spec
  - [x] list
  - [x] minimal
  - [x] json
  - [x] xunit
- [x] Update `generator-testcafe-reporter` with new decorator and test data

(cloned from #374)

[2016-06-17 13:44] inikulin opened #602 "We need RAW API functional tests for iframe switching"

[2016-06-17 14:30] #595 closed

[2016-06-20 08:18] #591 closed

[2016-06-21 12:44] AlexanderMoskovkin opened #608 "Fix typo in the page-unload-barrier"
https://github.com/DevExpress/testcafe/blob/9950f6bc253b07c0f8e8bed730a2d98f8f5dc74f/src/client/core/page-unload-barrier.js#L42

`e.isFakeIEBeforeUnloadEvent -> e.isFakeIEEvent`

[2016-06-21 12:47] AlexanderMoskovkin opened #609 "Skip js-errors on the page if the skipJsErrors option is set to true"

[2016-06-21 13:33] #374 closed

[2016-06-22 15:04] georgiy-abbasov commented on #599
I've opened PR with workaround to discuss this problem in Babel repository.
https://github.com/babel/babel/pull/3545

[2016-06-23 08:51] inikulin opened #612 "Let's rename elementTimeout and elementAvailabilityTimeout to selectorTimeout"
\cc @VasilyStrelyaev @helen-dikareva @AlexanderMoskovkin

[2016-06-23 11:23] VasilyStrelyaev commented on #612
Good idea! I'm totally ok with that.

[2016-06-23 11:51] helen-dikareva commented on #612
We use `elementAvailabilityTimeout` also for waiting for establishment connection with child driver link (during `switchToIframe` command https://github.com/DevExpress/testcafe/blob/master/src/client/driver/driver.js#L203) and for waiting for browser dialog during `hadleAlert` (and etc.) command

[2016-06-23 12:04] inikulin commented on #612
Well, for iframe it's still a selector. For browser dialogs - it's wrong, because browser dialog is not an element

[2016-06-23 12:08] helen-dikareva commented on #612
Do we need tunable timeout for dialogs?

[2016-06-23 12:13] inikulin commented on #612
Well, I guess so, but I think as `timeout` option for the appropriate functions.

[2016-06-23 12:14] inikulin commented on #612
Not sure if we need global option for this, since unlike selectors this is something that you will not use very often.

[2016-06-23 14:57] inikulin commented on #571
Closing in favor of select text in #574

[2016-06-23 14:57] #571 closed

[2016-06-23 14:57] inikulin commented on #542
Can be easily implemented by users on top of ClientFunction.

[2016-06-23 14:57] #542 closed

[2016-06-23 14:59] inikulin commented on #242
We've decided to not use custom assertion system

[2016-06-23 14:59] #242 closed

[2016-06-23 15:00] inikulin commented on #163
Nothing to discuss left here. Any further API discussion should be continued in the appropriate issues.

[2016-06-23 15:00] #163 closed

[2016-06-23 15:02] inikulin opened #615 "Rework selectors to support selection by text and n-th element selection"
Seems like we will need to use a little bit different machinery for this one to make it work in raw API (dedicated factory and executor)

**Update**
*Final API* (see discussion below):
`Selector(fn, options)`
`ClientFunction(fn, options)`
`t.select(fn, options)`
`t.eval(fn, options)`
`selector.with(options)`
`clientFunction.with(options)`

`options` are:
`dependencies` - functions and variables us

[2016-06-23 18:07] inikulin commented on #82
Not doing assertions system

[2016-06-23 18:07] #82 closed

[2016-06-23 18:08] inikulin commented on #80
Not implementing custom assertion system. Test fails on first assertion

[2016-06-23 18:08] #80 closed

[2016-06-23 18:49] inikulin opened #617 "Add more browsers for functional testing"
At first we need to split old API and new API tests. And run tests for new API in all browsers. Also, maybe we could skip running client tests if code in `client` is not affected by PR?

[2016-06-23 18:54] inikulin commented on #617
Or as better idea: extract both client and functional tests for old API and run them on daily basis as smoke tests, e.g. 2 times a day, like we do for health monitor. The task is quite important, because we need to test our stuff in all browsers before release.

[2016-06-24 09:02] AlexanderMoskovkin commented on #612
I'm agree with that all

[2016-06-24 09:05] AlexanderMoskovkin commented on #617
a nice idea, I'll do this

[2016-06-24 09:44] AlexanderMoskovkin commented on #617
I'm working on this

[2016-06-24 09:52] AlexanderMoskovkin commented on #617
- [ ] Separate tests:
 - Legacy client tests
 - Client tests
 - Legacy functional tests
 - Functional tests

- [ ] Run functional tests in the next browsers
 - [ ] (Win 10) Chrome, Firefox, IE11
 - [ ] (OS X) Safari
 - [ ] (OS X) Chrome
 - [ ] (OS X) Firefox
 - [ ] Android simulator
 - [ ] iPad simulator
 - [ ] iPhone simulator

[2016-06-24 09:55] AlexanderMoskovkin commented on #617
@inikulin Please check browsers list above. Do we need run functional tests in IE9,10

[2016-06-24 10:23] inikulin commented on #617
Ideally we should test in all browsers for which we declare support

[2016-06-24 13:16] #612 closed

[2016-06-24 15:09] georgiy-abbasov commented on #608
I'll do this in the context of https://github.com/DevExpress/testcafe/issues/437

[2016-06-27 08:57] inikulin commented on #600
I've decided to simplify test run errors rendering instead, it looks much better:
- [ ] Highlight UA with red color
- [ ] Remove `<code>` wraps for error messages, use "`" instead

[2016-06-27 08:57] inikulin commented on #600
I'm working on this

[2016-06-27 11:07] #574 closed

[2016-06-27 11:09] inikulin commented on #601
I'll take care of this

[2016-06-27 14:24] #600 closed

[2016-06-28 13:17] inikulin commented on #601
To tech writters:

- [ ] Update screenshots for all reporters and publish versions with new screenshots in README to npm.

- [ ] Update README for generator and docs where needed. From the top of my mind you will need to go through the `publish-please` installation steps on project creation. Also reporter project should be now published via `npm run publish-please`

[2016-06-29 10:35] AlexanderMoskovkin opened #628 "Can't click on an "option" element"

[2016-06-29 10:59] inikulin commented on #615
`t.selectByText(regExpOrString, n = 0)`
`SelectorByText(regExpOrString)` or `Selector.byText(regExpOrString)`

Nth element selector:
`t.selectNth(selector, n =0, deps, opts)` or we can just add additional parameter to `t.select`

\cc @DevExpress/testcafe What do you guys think?

[2016-06-29 12:52] kirovboris commented on #615
```Selector.byText(regExpOrString, n = 0)```
```Selectron.nthOfType(selector, n = 0, deps, opts)```

[2016-06-29 12:54] VasilyStrelyaev commented on #615
`t.select`
`t.selectByText`
`t.selectText`

Which is the odd-one-out?

[2016-06-29 12:59] inikulin commented on #615
We've decided to rename `t.select` so we have:
`t.selectNode`
`t.selectNodeByText`

[2016-06-29 13:18] inikulin commented on #615
OK, so we have:
`Selector.byText(regExpOrString, idx, scopeVars)`
`Selector.nthOfType(fn, idx, scopeVars)`

`t.selectNodeByText(regExpOrString, idx, scoperVars, opts)`
`t.selectNthOfType(fn, idx, scoperVars, opts)`

[2016-06-29 13:19] VasilyStrelyaev commented on #615
One more:
`Selector` -> `SelectFunction` (like `ClientFunction`)
+ `SelectByTextFunction`

[2016-06-29 17:10] #628 closed

[2016-07-03 08:33] AlexanderMoskovkin opened #632 "Can't execute any action if window.self is overriden"

[2016-07-03 10:16] #632 closed

[2016-07-04 08:32] inikulin opened #635 "If file contains more than one fixture, second fixture name is not shown in report"

[2016-07-04 08:33] inikulin opened #636 "Compiler filters are too restrictive, e.g. `fixture(someVar)` is not considered as a fixture"

[2016-07-04 09:33] inikulin opened #637 "Test file can't locate our babel-runtime if testcafe is not installed in the files node_modules lookup scope"

[2016-07-04 09:44] inikulin commented on #637
I'm working on this

[2016-07-04 10:12] helen-dikareva commented on #451
So, now we have new idea. Let's discuss @DevExpress/testcafe
We'll have overridable dialog handler for all dialog types, we can set it in any time in test.
E.g.:
[code]
Should `setAlertDialogHandler` and `setBeforeUnloadDialogHandler` be without argument?
If dialog appears and we don't have handler for it we should raise error.
And we should have something like that for checking raised dialog:
`{t

[2016-07-04 10:44] AlexanderMoskovkin commented on #451
I suppose a `setDialogHandler` function should get a `ClientFunction` as an argument.
And maybe `setDialogsHandler` functions should be synchronous?

[2016-07-04 10:59] inikulin commented on #451
It's should accept client function as well, because we need to check their text

We should have the same machinery as for selectors: if regular functions is passed - try to convert it to client function.

How you will pass handler to client after page load then?

[2016-07-04 11:26] VasilyStrelyaev commented on #451
As far as I understand, the only way to check text is outside of the handler - via `t.getLastDialogInfo()`.
The handler is just to return the value to close the dialog with. Although it can depend on the text.

So, I can't imagine what a handler would do in `setAlertDialogHandler` and `setBeforeUnloadDialogHandler `